@charset "utf-8";

/* =========================================================
　◆archive
========================================================= */
.archive #Gallery { padding-top: 120px; }
#Gallery #Gallery_inner .pc { display: block;}
#Gallery #Gallery_inner .sp { display: none;}
#Gallery #Gallery_inner .movie_area .titile_area:nth-child(2) { margin-bottom: 7px; }
.archive #Gallery #Gallery_inner .sub_titile { font-family: 'AlternateGothicCom-No2'; font-size: 30px; margin-bottom: 5px;}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul{}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li{width: 225px;float: left;margin: 0 20px 40px 0;}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li:last-child{margin-right: 0;}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area{margin-bottom: 7px;position: relative;overflow: hidden;width: 225px;height: 126.283px; cursor: pointer;}
.pc_gallery_btn { width: 172px; margin: 50px auto 40px; }
.sp_gallery_btn { display: none; }
@media screen and (max-width: 768px){
	/* =========================================================
　◆Gallery
========================================================= */
.archive #Gallery{padding: 20px 0 30px;}
.archive #Gallery #Gallery_inner{width: 90.625%;margin: 0 auto;}
#Gallery #Gallery_inner .sp { display: block;}
#Gallery #Gallery_inner .pc { display: none;}
.archive #Gallery #Gallery_inner .gallery_titile{ font-size: 36px; width: 100%; margin-bottom: 9px;}
.archive #Gallery #Gallery_inner .movie_area{}
.archive #Gallery #Gallery_inner .movie_area .titile_area{ font-size: 27px; margin-bottom: 7px;}
.archive #Gallery #Gallery_inner .movie_area .sub_titile { font-size: 25px; margin: 20px auto 10px;}
.archive #Gallery #Gallery_inner .movie_area .movie_list{}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul{}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li{ float: none; width: 100%; margin-bottom: 20px;}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li:nth-child(even){}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area{ width: 100%; height: auto; padding-top: 56.12903225806452%;}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area img,
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area iframe{ width: 100%; height: auto; position: absolute; top: 0; left: 0;}
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area iframe{ height: 100%; }
.archive #Gallery #Gallery_inner .movie_area .movie_list ul li .movie_text{ font-size: 20px;}

.archive #Gallery #Gallery_inner .photo_area{ width: 100%;}
.archive #Gallery #Gallery_inner .photo_area .titile_area{ font-size: 27px; margin-bottom: 7px;}

.archive #Gallery #Gallery_inner .photo_area .photo_list{}
.archive #Gallery #Gallery_inner .photo_area .photo_list.show{ width: 100%;}
.archive #Gallery #Gallery_inner .photo_area .photo_list ul{}
.archive #Gallery #Gallery_inner .photo_area .photo_list ul li{}
.archive #Gallery #Gallery_inner .photo_area .photo_list ul li:nth-child(6n){}
.archive #Gallery #Gallery_inner .photo_area .photo_list ul li.show{ float: none; width: 100%; height: auto;}
.archive #Gallery #Gallery_inner .photo_area .photo_list ul li img{ width: 100%;}
.archive #Gallery #Gallery_inner .photo_area .photo_list_btn{ padding-top: 31.4px;}
.archive #Gallery #Gallery_inner .photo_area .photo_list ul li a{}
.archive #Gallery #Gallery_inner .photo_area .photo_list_btn a{}
.archive #Gallery #Gallery_inner .photo_area .photo_list_btn a.show{}
.pc_gallery_btn { display: none; }
.sp_gallery_btn { display: block; margin: 30px auto 40px; }
.sp_gallery_btn img { margin: 0 auto; max-width: 100%; max-height: 80px; }

}
