@charset "utf-8";

a:hover span.img_png,
a:hover .model_img img.PC { display:block; filter: alpha(opacity=80) !important; }
/* =========================================================
　◆Header
========================================================= */
.pc_head_nav li a img { display:none;}
.pc_head_nav li.head_btn_01 a { background-image:url(../images/pc_head_nav_01_off.jpg); width:116px; height:30px; }
.pc_head_nav li.head_btn_02 a { background-image:url(../images/pc_head_nav_02_off.jpg); width:127px; height:30px; }
.pc_head_nav li.head_btn_01 a:hover { background-image:url(../images/pc_head_nav_01_on.jpg) !important; }
.pc_head_nav li.head_btn_02 a:hover { background-image:url(../images/pc_head_nav_02_on.jpg) !important; }


 /* =========================================================
　◆Footer
========================================================= */
/*gn調整分*/
/*
#Global_area .view_all a { width:98px !important; height:40px !important; background-image:url(../images/globalnet_btn_ie8_off.png); display:block; margin:0 auto;}
#Global_area .view_all a:hover { background-image:url(../images/globalnet_btn_ie8_on.png);}
#Global_area .view_all a img { display:none;}
*/

#Global_area #Global_area_inner .global_map .area_icons li a { width:82px; height:82px; display:block;} 
#Global_area #Global_area_inner .global_map .area_icons li.area01 a { background-image:url(../images/globalnet_icon_01_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area02 a { background-image:url(../images/globalnet_icon_02_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area03 a { background-image:url(../images/globalnet_icon_03_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area04 a { background-image:url(../images/globalnet_icon_04_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area05 a { background-image:url(../images/globalnet_icon_05_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area06 a { background-image:url(../images/globalnet_icon_06_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area07 a { background-image:url(../images/globalnet_icon_07_off.png); }
#Global_area #Global_area_inner .global_map .area_icons li.area01 a:hover { background-image:url(../images/globalnet_icon_01_on.png) !important; }
#Global_area #Global_area_inner .global_map .area_icons li.area02 a:hover { background-image:url(../images/globalnet_icon_02_on.png) !important; }
#Global_area #Global_area_inner .global_map .area_icons li.area03 a:hover { background-image:url(../images/globalnet_icon_03_on.png) !important; }
#Global_area #Global_area_inner .global_map .area_icons li.area04 a:hover { background-image:url(../images/globalnet_icon_04_on.png) !important; }
#Global_area #Global_area_inner .global_map .area_icons li.area05 a:hover { background-image:url(../images/globalnet_icon_05_on.png) !important; }
#Global_area #Global_area_inner .global_map .area_icons li.area06 a:hover { background-image:url(../images/globalnet_icon_06_on.png) !important; }
#Global_area #Global_area_inner .global_map .area_icons li.area07 a:hover { background-image:url(../images/globalnet_icon_07_on.png) !important; }
#Global_area #Global_area_inner .global_map .area_icons li a img { display:none;}


#Pickup_bnr li a { width:465px; height:247px; display:block;}
#Pickup_bnr li.pickup_01 a { background-image:url(../images/foot_bnr_01_ie8_off.jpg) !important;}
#Pickup_bnr li.pickup_02 a { background-image:url(../images/foot_bnr_02_ie8_off.jpg) !important;}
#Pickup_bnr li.pickup_01 a:hover { background-image:url(../images/foot_bnr_01_ie8_on.jpg) !important;}
#Pickup_bnr li.pickup_02 a:hover { background-image:url(../images/foot_bnr_02_ie8_on.jpg) !important;}
#Pickup_bnr li.pickup_02 { float:right;}
#Pickup_bnr li a img { display:none;}

 /* =========================================================
　◆Cont
========================================================= */
.pc_btn li a  span.img_png img { display:none; }
.pc_btn li.pc_btn_001 a { width:160px; height:60px; background-image:url(../../images/mainvis_btn_01_off.png) !important; display:block;}
.pc_btn li.pc_btn_002 a { width:160px; height:35px; background-image:url(../../images/mainvis_btn_02_off.png) !important; display:block;}
.pc_btn li.pc_btn_001 a:hover { background-image:url(../../images/mainvis_btn_01_on.png) !important;}
.pc_btn li.pc_btn_002 a:hover { background-image:url(../../images/mainvis_btn_02_on.png) !important;}
.pc_btn li.pc_btn_010 a { width:160px; height:35px; background-image:url(../../images/mainvis_btn_10_off.png) !important; display:block;}
.pc_btn li.pc_btn_010 a:hover { background-image:url(../../images/mainvis_btn_10_on.png) !important;}


.app_btn li a span.img_png img { display:none; }
.app_btn li.app_btn_001 a { width:150px; height:49px; background-image:url(../../images/mainvis_btn_03_off.png) !important; display:block;}
.app_btn li.app_btn_002 a { width:149px; height:49px; background-image:url(../../images/mainvis_btn_04_off.png) !important; display:block;}
.app_btn li.app_btn_001 a:hover { background-image:url(../../images/mainvis_btn_03_on.png) !important;}
.app_btn li.app_btn_002 a:hover { background-image:url(../../images/mainvis_btn_04_on.png) !important;}
.navwrap .slide_btn .slide_backbtn .pc_btn span.img_png img,
.navwrap .slide_btn .slide_nextbtn .pc_btn span.img_png img { display:none;}
.navwrap .slide_btn .slide_backbtn .pc_btn { width:36px; height:36px; background-image:url(../../images/prev_off.png) !important; display:block;}
.navwrap .slide_btn .slide_nextbtn .pc_btn { width:36px; height:36px; background-image:url(../../images/next_off.png) !important; display:block;}
.navwrap .slide_btn .slide_backbtn .pc_btn:hover { background-image:url(../../images/prev_on.png) !important;}
.navwrap .slide_btn .slide_nextbtn .pc_btn:hover { background-image:url(../../images/next_on.png) !important;}

.entry_item .app_box li span.img_png img,
.entry_item .app_box.phev_box span.img_png img { display:none;}
.entry_item .app_box li.app_btn001 a { width:151px; height:49px; background-image:url(../../images/pc_app_btn_01_off.png) !important; display:block;}
.entry_item .app_box li.app_btn002 a { width:149px; height:49px; background-image:url(../../images/pc_app_btn_02_off.png) !important; display:block;}
.entry_item .app_box.phev_box a { width:300px; height:50px; background-image:url(../../images/pc_app_btn_03_off.png) !important; display:block;}
.entry_item .app_box li.app_btn001 a:hover { background-image:url(../../images/pc_app_btn_01_on.png) !important;}
.entry_item .app_box li.app_btn002 a:hover { background-image:url(../../images/pc_app_btn_02_on.png) !important;}
.entry_item .app_box.phev_box a:hover { background-image:url(../../images/pc_app_btn_03_on.png) !important; display:block;}

#Models #Models_inner .entry_models>ul>li>a .model_img { background: #000; }

#Movie .movie_thumb.PC { width: 630px; height: 354px; background-image:url(../../images/pc_movie_thumb_off.jpg) !important; display:block; }
#Movie .movie_thumb.PC:hover { background-image:url(../../images/pc_movie_thumb_on.jpg) !important; display:block; }
#Movie .movie_thumb.PC img { display: none; }