@charset "utf-8";

/* =========================================================
　◆Link Style
========================================================= */
a:link    { color: #0033cc; text-decoration: underline; }
a:visited { color: #0033cc; text-decoration: none; }
a:hover   { color: #0033cc; text-decoration: none; }
a:active  { color: #0033cc; text-decoration: none; }


/* =========================================================
　◆Basic
========================================================= */
html { -webkit-text-size-adjust:none; }
body {font:13px/1.231 "Alternate Gothic","helvetica","Arial"; color:#000; width:100% !important; background: #1E1E1E; }
img { max-width: 100%; height: auto; width /***/:auto; vertical-align:top; display:block; }
img.rollover2 { filter:alpha(opacity=100) !important;-moz-opacity:1.0 !important;opacity:1.0 !important;}
.disnon { display: none; }
#Wrap { max-width:1440px; min-width:960px; width:auto; margin: 0 auto; background: #FFFFFF; }

/* =========================================================
　◆Fonts
========================================================= */ 
@font-face{ font-family: Helvetica; src:local('Helvetica'); src: url() format("opentype"); font-style: normal;} /* Helvetica */

@import url("//hello.myfonts.net/count/2b0763");
@font-face { font-family: 'AlternateGothicCom-No2';src: url('../fonts/2B0763_0_0.eot');src: url('../fonts/2B0763_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B0763_0_0.woff') format('woff'),url('../fonts/2B0763_0_0.ttf') format('truetype');}


/* =========================================================
　◆Head
========================================================= */
#Head { width: 100%; height: 80px; background: #FFFFFF; position: fixed; z-index: 1000; top: 0; max-width:1440px; min-width:960px;　}
#Head #Head_inner { width: 960px; margin: 0 auto; padding-top: 26px; position: relative; }
#Head #Head_inner h1.logo { font-family: 'AlternateGothicCom-No2'; margin-left: 62px; }
#Head #Head_inner h1.logo a { color: #333333; text-decoration: none; font-size: 32px; line-height: 1.0; }
#Head #Head_inner h1.logo a span { color: #E50012; }
#Head #Head_inner .pc_head_nav { position: absolute; right: 0px; top: 27px; width: 243px; height: 30px; }
#Head #Head_inner .pc_head_nav li { display: inline; float: left; }
#Head #Head_inner .pc_head_nav li a { display: block; }
#Head #Head_inner .logo_ci { position: absolute; width: 44px; height: 51px; left: 0px; top: 15px; }
#Head #Head_inner .logo_ci a { display: block; position: relative; }
#Head #Head_inner #Gnav_btn { display: none; }
#Head #Head_inner .logo_ci object,
#Head #Head_inner .logo_ci img { pointer-events: none; width:44px; height:51px; }
#Head #Head_inner .logo_ci a img.linkimg { width: 100%; position: absolute; left: 0; top: 0; }


/* =========================================================
　◆SNS
========================================================= */
#pc_Sns_area { display: block; position: absolute; right: 255px; top: 30px; }
#pc_Sns_area li { display: inline; float: left; }
#pc_Sns_area li.sns_fb { width: 50px; margin-right: 8px; height: 20px; *margin-right: 0px; overflow:hidden;}
#pc_Sns_area li.sns_fb iframe { height: 35px; border: none; overflow: hidden; }
#pc_Sns_area li.sns_tw { width: 60px; height: 20px; margin-right: 8px; }
#pc_Sns_area li.sns_gplus { width: 32px; height: 20px; }

#sp_Sns_area { display: none; }


/* =========================================================
　◆Main
========================================================= */
/* Cont */
#Cont { background-color:#fff;}


/* =========================================================
　◆Global_area
========================================================= */
/*gn調整分*/
#Global_area { width: 100%; background: url(../images/globalnet_bg.jpg) center center no-repeat; max-height: 660px; -webkit-background-size: cover; background-size: cover; border-bottom: 5px solid #E60014; }
#Global_area_link { display:block; width:100%; }
#Global_area a { text-decoration:none; }
#Global_area #Global_area_inner { width: 960px; margin: 0 auto; padding: 59px 0 59px; position: relative; }/* 20150917 編集 */
#Global_area #Global_area_inner .global_tit { margin-bottom: 40px; text-align: center; font-size: 60px; line-height: 1.0; color: #FFFFFF; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

/* 20150917 map_area */
#Global_area .map_area { width: 100%; }
#Global_area .map_area_inner { width:803px; height:401px; margin:0 auto; background:url(../images/globalnet_map.png) center top no-repeat; position:relative; }
#Global_area .map_area_inner .north_america { position:absolute; top:106px; left:80px; }
#Global_area .map_area_inner .latin_america { position:absolute; top:246px; left:175px; }
#Global_area .map_area_inner .europe { position:absolute; top:102px; left:370px; }
#Global_area .map_area_inner .africa { position:absolute; top:200px; left:371px; }
#Global_area .map_area_inner .middle_east { position:absolute; top:156px; right:223px; }
#Global_area .map_area_inner .asia { position:absolute; top:101px; right:134px; }
#Global_area .map_area_inner .oceania { position:absolute; top:246px; right:83px; }
/* 20150917 map_area */

/*#Global_area #Global_area_inner .global_map .area_icons {}
#Global_area #Global_area_inner .global_map .area_icons li { width: 82px; position: absolute; height:82px; }
#Global_area #Global_area_inner .global_map .area_icons li.area01 { left: 428px; top: 67px; }
#Global_area #Global_area_inner .global_map .area_icons li.area02 { left: 156px; top: 100px; }
#Global_area #Global_area_inner .global_map .area_icons li.area03 { left: 693px; top: 100px; }
#Global_area #Global_area_inner .global_map .area_icons li.area04 { left: 573px; top: 130px; }
#Global_area #Global_area_inner .global_map .area_icons li.area05 { left: 469px; top: 209px; }
#Global_area #Global_area_inner .global_map .area_icons li.area06 { left: 748px; top: 247px; }
#Global_area #Global_area_inner .global_map .area_icons li.area07 { left: 265px; top: 247px; }
#Global_area #Global_area_inner .global_map .area_icons li a { display: block; }*/

/*gn調整分*/
#Global_area #Global_area_inner .view_all { width:125px; margin:0 auto; text-align: center; }/* 20150917 編集 */
/*#Global_area #Global_area_inner .view_all a { width: 125px; height: 54px; display: block; }
#Global_area #Global_area_inner .view_all a img { width: 125px; height: 54px; }*/

/* =========================================================
　◆Pickup_bnr
========================================================= */
#Pickup_bnr { padding: 40px 0; background: #EEEEEE; }
#Pickup_bnr #Pickup_bnr_inner { width: 960px; margin: 0 auto; }
#Pickup_bnr #Pickup_bnr_inner li { width: 465px; display: inline; float: left; -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4); box-shadow: 0px 0px 2px rgba(0,0,0,0.4); }
#Pickup_bnr #Pickup_bnr_inner li.last { float: right; }
#Pickup_bnr #Pickup_bnr_inner li a { display: block; }
#Pickup_bnr #Pickup_bnr_inner li a img { width: 465px; height: 247px; }
.mac #Pickup_bnr #Pickup_bnr_inner li a img { background: url(../images/transparent_bg.png) 0 0 repeat; }

/* =========================================================
　◆Foot
========================================================= */
#Foot { width: 100%; background: #333333; } 
#Foot #Foot_inner { width: 960px; margin: 0 auto; padding: 11px 0 10px; }
#Foot #Foot_inner .foot_description { margin-bottom: 13px; padding-bottom: 12px; border-bottom: 1px solid #585858; }
#Foot #Foot_inner .foot_description p { color: #666666; font-size: 12px; line-height: 1.4; }
#Foot #Foot_inner .foot_link { display: inline; float: right; }
#Foot #Foot_inner .foot_link li { display: inline; float: left; }
#Foot #Foot_inner .foot_link li.last { margin-left: 12px; }
#Foot #Foot_inner .foot_link li a { font-size: 12px; line-height: 1.0; color: #999999; text-decoration: none; }
#Foot #Foot_inner .foot_link li a:hover { text-decoration: underline; }
#Foot #Foot_inner #Copy { font-size: 12px; line-height: 1.0; color: #999999; display: inline; float: left; }