@charset "utf-8";
/* =========================================================
　◆　Responsive CSS
========================================================= */

/* screens default
***************************************/
.SP { display:none; }
.SP_inline { display:none; }
.PC { display:block; }
.PC_inline { display:inline; }
.PC_absolute { position:absolute; }

/* screens smaller than 1280
***************************************/
@media screen and (max-width: 1440px){
#Wrap { width: auto; margin: 0 auto; background: #FFFFFF; }
}

/* screens smaller than 960
***************************************/
@media screen and (max-width: 960px){

#Head #Head_inner h1.logo object,
#Head #Head_inner h1.logo embed { width: 90px; height:22px; }
#Head #Head_inner .logo_ci object,
#Head #Head_inner .logo_ci embed { pointer-events: none; }

/* =========================================================
　◆Pickup_bnr
========================================================= */
#Pickup_bnr { padding: 40px 0; background: #EEEEEE; }
#Pickup_bnr #Pickup_bnr_inner { width: 100%; margin: 0 auto; }
#Pickup_bnr #Pickup_bnr_inner li { width: 48.3%; }
#Pickup_bnr #Pickup_bnr_inner li a { display: block; background: #000000; }
#Pickup_bnr #Pickup_bnr_inner li a img { }


/* =========================================================
　◆Foot
========================================================= */
#Foot { }
#Foot #Foot_inner { width: 100%; }
#Foot #Foot_inner .foot_description { margin-bottom: 15px; padding-bottom: 7px; border-bottom: 1px solid #585858; }
#Foot #Foot_inner .foot_description p { color: #666666; font-size: 12px; line-height: 1.4; }
#Foot #Foot_inner .foot_link { display: inline; float: right; }
#Foot #Foot_inner .foot_link li { display: inline; float: left; }
#Foot #Foot_inner .foot_link li.last { margin-left: 12px; }
#Foot #Foot_inner .foot_link li a { font-size: 12px; line-height: 1.0; color: #999999; text-decoration: none; }
#Foot #Foot_inner .foot_link li a:hover { text-decoration: underline; }
#Foot #Foot_inner #Copy { font-size: 12px; line-height: 1.0; color: #999999; display: inline; float: left; }
}

@media screen and (min-width: 769px){
#Gnav { display: block !important; }

}
/* screens smaller than 768
**************************************/
@media screen and (max-width: 768px){
.SP { display:block; }
.SP_inline { display:inline; }
.PC { display:none; }
.PC_inline { display:none; }
.PC_absolute { position:static; }
#Wrap { position: relative; z-index: 1; min-width:0; }
#Main_inner{ padding-top: 50px; }

/* old_android */
.old_android #Main_inner { padding-top: 0; }

.movie_sp_wrap{ position: relative ; margin:0px ; padding-top: 0px ; padding-bottom: 57% ; overflow: hidden ; }
.movie_sp_wrap iframe { position: absolute ; top: 0 ; left: 0 ; height: 100% ; width: 100% ; }

/* =========================================================
　◆Head
========================================================= */
#Head { width: 100%; height: 50px; background: #FFFFFF; position: fixed; z-index: 1000; -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.4); -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.4); box-shadow: 0px 1px 2px rgba(0,0,0,0.4); max-width: none; min-width: 0; }
#Head.active { -webkit-box-shadow: 0px 2px 4px rgb(0, 0, 0); -moz-box-shadow: 0px 2px 4px rgb(0, 0, 0); box-shadow: 0px 2px 4px rgb(0, 0, 0); }
#Head #Head_inner { width: auto; margin: 0 auto; padding-top: 8px; position: relative; }
#Head #Head_inner h1.logo { width: 114px; height: 30px; padding-top: 0px; margin-left: 55px; }
#Head #Head_inner h1.logo a { display: block; font-size: 18px; }
#Head #Head_inner .logo_ci img { pointer-events: none; width:25px; height:29px; display: block; }
#Head #Head_inner .pc_head_nav { display: none; }
#Head #Head_inner .logo_ci { position: absolute; width: 25px; height: 29px; left: 15px; top: 10px; }
#Head #Head_inner .logo_ci a { display: block; }
#Head #Head_inner #Gnav_btn { display: block; width: 50px; height: 50px; position: absolute; right: 0; top: 0; }

/* old_android */
.old_android #Head { position: relative; }


/* =========================================================
　◆SNS
========================================================= */
#sp_Sns_area { display: block; border-bottom: 1px solid #D2D2D2; }
#sp_Sns_area_inner { width: 90.625%; margin: 0 auto; padding: 3.125% 0; }
#sp_Sns_area .share_txt { display: inline; float: left; line-height: 20px; }
#sp_Sns_area .share_btn { display: inline; float: right; }
#sp_Sns_area li { display: inline; float: left; }
#sp_Sns_area li.sns_fb { width: 50px; margin-right: 19px; height: 20px; *margin-right: 0px; overflow:hidden;}
#sp_Sns_area li.sns_fb iframe { border: none; overflow: hidden; }
#sp_Sns_area li.sns_tw { width: 60px; height: 20px; margin-right: 17px; }
#sp_Sns_area li.sns_gplus { width: 32px; height: 20px; margin-right: 15px; }

#pc_Sns_area { display: none; }

/* =========================================================
　◆Global_area
========================================================= */
#Global_area { /*max-height: 610px;*/ max-height: none; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; background-image: none;/*background-image: url(../images/sp_globalnet_bg.jpg);*/ }/* 20150917 編集 */
#Global_area #Global_area_inner { width: 90.625%; max-height: 610px; margin: 0 auto; padding: 8% 4.6875% 10% 4.6875%; position: relative; background-image: url(../images/sp_globalnet_bg.jpg); -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; }/* 20150917 編集 */
/*.iphone #Global_area #Global_area_inner { padding: 8.15% 0 9.375%; }*/
#Global_area #Global_area_inner .global_tit { margin-bottom: 3.8%; text-align: center; font-size: 30px; line-height: 1.0; color: #FFFFFF; text-decoration:none; }
.iphone #Global_area #Global_area_inner .global_tit { margin-bottom: 3.2%; text-decoration:none; }
#Global_area a #Global_area_inner .global_tit { text-decoration:none; }

/*gn調整分*/
#Global_area #Global_area_inner .view_all { position: static; width: 92.7%; margin: 0 auto; }
#Global_area #Global_area_inner .view_all { width: 100%; height: auto; }
#Global_area #Global_area_inner .view_all img { width: auto; height: auto; }
#Global_area #Global_area_inner .view_all img.over { display: none; }
#Global_area img { width: 100% !important; max-width: 100% !important; }


/* 20150917 sort_btn */
#Global_area_sort_btn { margin-top: 20px; margin-bottom: 20px; }
#Global_area .ga_sort_box { width: 90.625%; margin: 0 auto; }
#Global_area .ga_sort_box .ga_sort_name { display: block; background: #EEEEEE; -webkit-box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); cursor: pointer; position: relative; z-index: 50; padding: 12px 0; }
#Global_area .ga_sort_box .ga_sort_name span { display: block; font-size: 123.1%; line-height: 1.2; width: 91%; margin: 0 auto; background: url(../../images/sort_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
#Global_area .ga_sort_box .ga_sort_name span.active { background: url(../../images/sort_name_close.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; }
#Global_area .ga_sort_box .ga_sort_btn { background: #EEEEEE; position: relative; z-index: 10; width: 100%; display: none; }
#Global_area .ga_sort_box .ga_sort_btn li { width: 100%; display: block; float: none; margin-right: 0px; background: #EEEEEE; text-align: center; border: none; border-bottom: 1px solid #FFFFFF; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 44px; }
#Global_area .ga_sort_box .ga_sort_btn li.last { border-right:none;}
#Global_area .ga_sort_box .ga_sort_btn li a { display: block; color: #333333; text-decoration: none; font-size:138.5%; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
#Global_area .ga_sort_box .ga_sort_btn li.active { background: #D2D2D2; }
/* 20150917 sort_btn */

/*
#Global_area #Global_area_inner .global_map { position: relative; margin: 0 auto 3.5%; width: 92.7%;}
#Global_area #Global_area_inner .global_map .area_icons { display: none; }

#Global_area #Global_area_inner .view_all { position: static; width: 33.79310344827586%; margin: 0 auto; }
#Global_area #Global_area_inner .view_all a { width: 100%; height: auto; }
#Global_area #Global_area_inner .view_all a img { width: auto; height: auto; }
#Global_area #Global_area_inner .view_all a img.over { display: none; }
#Global_area img { width: 100% !important; max-width: 100% !important; }
*/

/* =========================================================
　◆Pickup_bnr
========================================================= */
#Pickup_bnr { padding: 0; background: #EEEEEE; }
#Pickup_bnr #Pickup_bnr_inner { width: auto; margin: 0 auto; }
#Pickup_bnr #Pickup_bnr_inner li { width: 100%; display: block; float: none; -webkit-box-shadow: none; -moz-box-shadow: none;  box-shadow: none; }
#Pickup_bnr #Pickup_bnr_inner li.last { float: none; }
#Pickup_bnr #Pickup_bnr_inner li a { display: block; background: #000000; }
#Pickup_bnr #Pickup_bnr_inner li a img { width: 100%; height: auto; filter:alpha(opacity=100) !important;-moz-opacity:1.0 !important;opacity:1.0 !important;  }
#Pickup_bnr #Pickup_bnr_inner li a img.over { display: none; }

/* =========================================================
　◆Foot
========================================================= */
#Foot { width: 100%; background: #333333; }
#Foot #Foot_inner { width: auto; margin: 0 auto; padding: 11px 0 19px; }
.iphone #Foot #Foot_inner { padding: 9px 0 19px; }
#Foot #Foot_inner .foot_description { display: none; }
#Foot #Foot_inner .foot_link { display: block; float: none; margin-bottom: 10px; }
#Foot #Foot_inner .foot_link ul { text-align: center; }
#Foot #Foot_inner .foot_link li { display: inline-block; float: none; }
#Foot #Foot_inner .foot_link li.last { margin-left: 12px; }
#Foot #Foot_inner .foot_link li a { font-size: 10px; line-height: 1.0; color: #999999; text-decoration: none; }
#Foot #Foot_inner .foot_link li a:hover { text-decoration: none; }
#Foot #Foot_inner #Copy { font-size: 10px; line-height: 1.0; display: block; float: none; text-align: center; }

}
