@charset "utf-8";
/* =========================================================
　◆　Responsive TOP PAGE CSS
========================================================= */

/* screens smaller than 1280
***************************************/
@media screen and (max-width: 1280px){

}

/* screens smaller than 960
***************************************/
@media screen and (max-width: 960px){

#slide { width: 960px; margin: 0 auto; }

}

/* screens smaller than 768
**************************************/
@media screen and (max-width: 768px){
/* =========================================================
　◆Slide
========================================================= */
#slide { width: 100%; height: auto; max-height: 814px; padding-top: 0px; }
#slide #slide_inner { position:relative; background: #333333; }
#slide #slide_inner .slide_main { position:relative; }
#slide #slide_inner .slide_main .slides {}
#slide #slide_inner .slide_main .slides > li { position: relative; height: auto; display: inline; width: 100%; min-width:0; float: left; }
#slide #slide_inner .slide_main .slides > li.mainvis00,
#slide #slide_inner .slide_main .slides > li.mainvis01,
#slide #slide_inner .slide_main .slides > li.mainvis02,
#slide #slide_inner .slide_main .slides > li.mainvis03,
#slide #slide_inner .slide_main .slides > li.mainvis04,
#slide #slide_inner .slide_main .slides > li.mainvis05,
#slide #slide_inner .slide_main .slides > li.mainvis06,
#slide #slide_inner .slide_main .slides > li.mainvis07,
#slide #slide_inner .slide_main .slides > li.mainvis08,/* 20150917 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis09,/* 20160329 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis10,/* 20160329 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis11,
#slide #slide_inner .slide_main .slides > li.mainvis12,
#slide #slide_inner .slide_main .slides > li.mainvis13,
#slide #slide_inner .slide_main .slides > li.mainvis14,
#slide #slide_inner .slide_main .slides > li.mainvis15 { background: none; }/* 20160329 追加 */
#slide #slide_inner .slide_main .slides > li .mainvis { display: block; position: relative; z-index: 150; }
#slide #slide_inner .slide_main .slides > li .mainvis img { width: 100%; }
#slide #slide_inner .slide_main .slides > li .mainvis_info { position: static; left: 0; top: 0; z-index: 20; width: 100%; text-align: center; padding:0 0 6.25%; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .mainvis_text { display:block !important; position:static; width: auto; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .car_name { position:static; font-size: 56px; line-height: 1.0; color: #FFFFFF; font-size: 36px; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .car_sub { position:static; line-height: 1.0; color: #FFFFFF; margin-bottom: 3.125%; font-size: 18px; }
#slide #slide_inner .slide_main .slides > li.mainvis11 .mainvis_info .car_sub {margin-bottom: 3.125%;}
#slide #slide_inner .slide_main .slides > li .mainvis_info .car_note {position:static;line-height: 1.0;color: #FFFFFF;margin-bottom: 3.125%;font-size: 16px;}
#slide #slide_inner .slide_main .slides > li .mainvis_info .pc_btn { display:none !important; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .sp_btn { display: block; width: 79.6875%; margin: 0 auto; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .sp_btn li { width: 45.1%; display: inline; float: left; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .sp_btn li.last { width: 51.4%; float: right; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .sp_btn li a {}
#slide #slide_inner .slide_main .slides > li .app_btn { display:none !important; }
#slide #slide_inner .mainvis_bg { display: none; }
#slide #slide_inner .slide_control { position:absolute; left:0; top:0; width:100%; padding-top:62.583518930%; }
#slide #slide_inner .slide_control .navwrap { position:relative; z-index:180; width:100%; background: #272727; }
.fixed-sp { display:block; margin-bottom:5%; }
.fixed-sp img { width:100%; }
#slide #slide_inner .navwrap .slide_btn { position: relative; z-index: 130; }
#slide #slide_inner .slide_pagenavi { clear:both; text-align:center; height:10px; position: absolute; z-index: 150; left:12.5%; right:12.5%; top: 34%; width:auto !important; }
#slide #slide_inner .slide_pagenavi a { display:inline-block; zoom:1; width:40px; height:10px; background:url(../../images/pagen av_off.png) no-repeat center; -webkit-background-size: 10px 10px; -moz-background-size: 10px 10px; background-size:  10px 10px; }
#slide #slide_inner .slide_pagenavi a.active,
#slide #slide_inner .slide_pagenavi a.flex-active { background-image:url(../../images/pagenav_on.png); }
#slide #slide_inner .slide_btn { width: auto; position: static; }
#slide #slide_inner .slide_backbtn { position:static; bottom: 0; width: 12.5%; display: inline; float: left; border-right: 1px solid #333333; }
#slide #slide_inner .slide_nextbtn { position:static; bottom: 0; width: 12.5%; display: inline; float: right; border-left: 1px solid #333333; }
#slide #slide_inner .slide_backbtn .sp_btn,
#slide #slide_inner .slide_nextbtn .sp_btn { display: block; }
#slide #slide_inner .slide_backbtn .pc_btn,
#slide #slide_inner .slide_nextbtn .pc_btn { display: none; }
#slide #slide_inner .slide_backbtn .sp_btn img,
#slide #slide_inner .slide_nextbtn .sp_btn img { width: 100%; }


/* =========================================================
　◆Models
========================================================= */
#Models #Models_inner { width: 90.625%; margin: 0 auto; padding: 8.75% 0 4.6875%; }
.iphone #Models #Models_inner { padding-top: 8%; }
#Models #Models_inner .sort_box { margin-bottom: 4.6875%; }
#Models #Models_inner .sort_box .sort_tit { width: auto; display: block; float: none; line-height: 1.0; margin-bottom: 4.375%; text-align: center; font-size: 36px; }
#Models #Models_inner .sort_box .sort_name { display: block; padding: 12px 0; background: #EEEEEE; color: #333333; -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.4); box-shadow: 0px 1px 2px rgba(0,0,0,0.4); cursor: pointer; position: relative; z-index: 50; }
#Models #Models_inner .sort_box .sort_name span { display: block; font-size: 16px; line-height: 1.0; width: 91%; margin: 0 auto; background: url(../../images/sort_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px; -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
#Models #Models_inner .sort_box .sort_name span.active { background: url(../../images/sort_name_close.png) right center no-repeat; -webkit-background-size: 15px 9px; -moz-background-size: 15px 9px; background-size: 15px 9px; }
#Models #Models_inner .sort_box .sort_btn { background: #EEEEEE; position: relative; z-index: 10; width: 100%; display: none; }
#Models #Models_inner .sort_box .sort_btn li { width: 25%; display: inline; float: left; margin-right: 0px; background: #EEEEEE; text-align: center; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;  }
#Models #Models_inner .sort_box .sort_btn li:nth-child(4n) { border-right: none; }
#Models #Models_inner .sort_box .sort_btn li.active { background: #D2D2D2; }
#Models #Models_inner .sort_box .sort_btn li.bdb_n { border-bottom: none; }
#Models #Models_inner .sort_box .sort_btn li.last { margin-right: 0; border-right: 1px solid #FFFFFF; }
#Models #Models_inner .entry_models {}
#Models #Models_inner .entry_models>ul>li { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 1.725%; position: relative; }
#Models #Models_inner .entry_models>ul>li>a { display: table; position: relative; width: 100%; background: #F5F5F5; text-decoration: none; }
#Models #Models_inner .entry_models>ul>li>a .model_tit { position: static; display: table-cell; width: 64%; vertical-align: middle; padding: 0 4.3%; }
#Models #Models_inner .entry_models>ul>li>a .model_tit .arrow { color: #333333; background: url(../../images/sp_model_arrow.png) right 5px no-repeat; padding-right: 18px; -webkit-background-size: 10px 10px; -moz-background-size: 10px 10px; background-size: 10px 10px; font-size: 21px; }
.mac #Models #Models_inner .entry_models>ul>li>a .model_tit .arrow { background-position: right 6px; }
#Models #Models_inner .entry_models>ul>li>a .model_img { display: table-cell; width: 36%; }
#Models #Models_inner .entry_models>ul>li>a .model_img img { width: 100%; filter:alpha(opacity=100) !important;-moz-opacity:1.0 !important;opacity:1.0 !important; }
#Models #Models_inner .entry_models>ul>li>a .model_img img.over { display: none; }
#Models #Models_inner .entry_models>ul>li>a .model_bg { display: none; }
#Models #Models_inner .entry_models>ul>li>a .newicon { display: none; }
#Models #Models_inner .entry_models>ul>li>.newicon { width: 8.6%; position: absolute; left: 0; top: 0; display: block; }
#Models #Models_inner .entry_models .app_box { display: none; }

/* =========================================================
　◆Modal Window
========================================================= */
#Modal_app { display: none; }
/* =========================================================
　◆Gallery
========================================================= */
#Gallery{ padding-bottom: 30px;}
#Gallery #Gallery_inner{width: 90.625%;margin: 0 auto;}
#Gallery #Gallery_inner .sp { display: block;}
#Gallery #Gallery_inner .pc { display: none;}
#Gallery #Gallery_inner .gallery_titile{ font-size: 36px; width: 100%; margin-bottom: 25px;}
#Gallery #Gallery_inner .movie_area{}
#Gallery #Gallery_inner .movie_area .titile_area{ font-size: 27px; margin-bottom: 7px;}
#Gallery #Gallery_inner .movie_area .titile_area:nth-child(2){ margin-bottom: 14px;}
#Gallery #Gallery_inner .movie_area .movie_list{}
#Gallery #Gallery_inner .movie_area .movie_list ul{}
#Gallery #Gallery_inner .movie_area .movie_list ul li{ float: none; width: 100%; margin-bottom: 20px;}
#Gallery #Gallery_inner .movie_area .movie_list ul li:nth-child(even){}
#Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area{ width: 100%; height: auto; padding-top: 56.12903225806452%;}
#Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area img,
#Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area iframe{ width: 100%; height: auto; position: absolute; top: 0; left: 0;}
#Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area iframe{ height: 100%; }
#Gallery #Gallery_inner .movie_area .movie_list ul li .movie_text{ font-size: 20px;}

#Gallery #Gallery_inner .photo_area{ width: 100%;}
#Gallery #Gallery_inner .photo_area .titile_area{ font-size: 27px; margin-bottom: 7px;}

#Gallery #Gallery_inner .photo_area .photo_list{}
#Gallery #Gallery_inner .photo_area .photo_list.show{ width: 100%;}
#Gallery #Gallery_inner .photo_area .photo_list ul{}
#Gallery #Gallery_inner .photo_area .photo_list ul li{}
#Gallery #Gallery_inner .photo_area .photo_list ul li:nth-child(6n){}
#Gallery #Gallery_inner .photo_area .photo_list ul li.show{ float: none; width: 100%; height: auto;}
#Gallery #Gallery_inner .photo_area .photo_list ul li a{}
#Gallery #Gallery_inner .photo_area .photo_list ul li img{ width: 100%;}
#Gallery #Gallery_inner .photo_area .photo_list_btn{ padding-top: 30px;}
#Gallery #Gallery_inner .photo_area .photo_list_btn a{}
#Gallery #Gallery_inner .photo_area .photo_list_btn a.show{}
#Gallery #Gallery_inner .sp_archive_btn { display: block; margin: 60px auto 30px; text-align: center; }
#Gallery #Gallery_inner .sp_archive_btn a { position: relative; max-width: 32%; margin: 0 auto; }
#Gallery #Gallery_inner .sp_archive_btn img { max-width: 80%; margin: 0 auto; }
#Gallery #Gallery_inner .pc_archive_btn { display: none; }
 /* =========================================================
　◆Movie
========================================================= */
#Movie {padding-top: 10%;}
#Movie #Movie_inner { width: 100%; margin: 0 auto; padding: 0; display: block; position: relative; }
#Movie #Movie_inner .movie_main { width: 100%; display: block; padding-right: 0; height: auto; }
#Movie #Movie_inner .movie_title { display: none; }

#Movie #Movie_inner .movie_main .movie_thumb { width: 100%; height: auto; }
#Movie #Movie_inner .movie_main .movie_thumb img { width: 100%; }
#Movie #Movie_inner .movie_main .movie_thumb.cp_none { cursor: default;}

/*gn調整分*/
#Movie #Movie_inner .movie_main .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height:auto; }
/*#Movie #Movie_inner .movie_main .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 300px; }*/

#Movie #Movie_inner .movie_main .movie_youtube iframe { visibility:hidden; width: 100%; }

#Movie .movie_caption { width: 100%; margin: 0 auto; padding: 10px 0 10px 0; }

}
