@charset "utf-8";

/* =========================================================
　◆Slide
========================================================= */
#slide { overflow: hidden; height: 550px; padding-top: 80px; }
#slide #slide_inner { position:relative; }
#slide #slide_inner .slide_main { position:relative; }
#slide #slide_inner .slide_main .slides {}
#slide #slide_inner .slide_main .slides > li { position: relative; height: 550px; display: inline; width:100%; min-width:960px; float: left; overflow:hidden; }
#slide #slide_inner .slide_main .slides > li.mainvis00 { background: url(../../images/mainvis_00.jpg) center top no-repeat; }
#slide #slide_inner .slide_main .slides > li.mainvis01 { background: url(../../images/mainvis_01.jpg) center top no-repeat; }
#slide #slide_inner .slide_main .slides > li.mainvis02 { background: url(../../images/mainvis_16.jpg) center top no-repeat; }
#slide #slide_inner .slide_main .slides > li.mainvis03 { background: url(../../images/mainvis_03.jpg) center top no-repeat; }
#slide #slide_inner .slide_main .slides > li.mainvis04 { background: url(../../images/mainvis_04.jpg) center top no-repeat; }
#slide #slide_inner .slide_main .slides > li.mainvis05 { background: url(../../images/mainvis_05.jpg) center top no-repeat; } /*l200*/
#slide #slide_inner .slide_main .slides > li.mainvis06 { background: url(../../images/mainvis_10.jpg) center top no-repeat; }
#slide #slide_inner .slide_main .slides > li.mainvis07 { background: url(../../images/mainvis_08.jpg) center top no-repeat; }/* 20150917 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis08 { background: url(../../images/mainvis_09.jpg) center top no-repeat; }

#slide #slide_inner .slide_main .slides > li.mainvis09 { background: url(../../images/mainvis_11.jpg) center top no-repeat; }/* 20160329 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis10 { background: url(../../images/mainvis_12.jpg) center top no-repeat; }/* 20160329 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis11 { background: url(../../images/mainvis_13.jpg) center top no-repeat; }/* 20160329 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis12 { background: url(../../images/mainvis_14.jpg) center top no-repeat; }/* 20160329 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis13 { background: url(../../images/mainvis_15.jpg) center top no-repeat; }/* 20161109 追加 */
#slide #slide_inner .slide_main .slides > li.mainvis14 { background: url(../../images/mainvis_15.jpg) center top no-repeat; }/* 20161214 追加 */
#slide #slide_inner .slide_main .slides > li .mainvis { display: none; }
#slide #slide_inner .slide_main .slides > li .mainvis img { }
#slide #slide_inner .slide_main .slides > li .mainvis_info { width:100%; max-width:960px; height:100%; margin:0 auto; position:relative; top:40px; z-index:20; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .mainvis_text { position:relative; left:9999px; width: 400px; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .car_name { font-family: 'AlternateGothicCom-No2'; font-size: 56px; line-height: 1.0; color: #FFFFFF; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .car_sub { font-family: 'AlternateGothicCom-No2'; font-size: 24px; line-height: 1.0; color: #FFFFFF; margin-bottom: 25px; }
#slide #slide_inner .slide_main .slides > li.mainvis11 .mainvis_info .car_sub {margin-bottom: 25px;}
#slide #slide_inner .slide_main .slides > li .mainvis_info .car_note {font-family: 'AlternateGothicCom-No2';font-size: 19px;line-height: 1.0;color: #FFFFFF;margin-bottom: 20px;}
#slide #slide_inner .slide_main .slides > li .mainvis_info .pc_btn { position:relative; left:9999px; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .pc_btn li { margin-bottom: 10px; width: 160px; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .pc_btn li.last { margin-bottom: 0; }
#slide #slide_inner .slide_main .slides > li .mainvis_info .pc_btn li a {}
#slide #slide_inner .slide_main .slides > li .mainvis_info .sp_btn { display: none; }
#slide #slide_inner .slide_main .slides > li .app_btn { position: absolute; left:9999px; bottom: 95px; border-top: 1px solid #505152; }
#slide #slide_inner .slide_main .slides > li .app_btn.phev_box { bottom: 138px;}
#slide #slide_inner .slide_main .slides > li .app_btn li { border-bottom: 1px solid #505152; width: 160px; }
#slide #slide_inner .slide_main .slides > li .app_btn li:hover { background: url(../../images/ie8-btn_bg_01.png) 0 0 repeat\9; }
#slide #slide_inner .slide_main .slides > li .app_btn li.last {}
#slide #slide_inner .slide_main .slides > li .app_btn li a {}
#slide #slide_inner .mainvis_bg { position: absolute; left:50%; margin-left:-720px; top: 0; z-index: 10; }
#slide #slide_inner .slide_pagenavi { width: 100%; clear:both; text-align:center; height:10px; position: absolute; bottom: 28px; z-index: 150; }
#slide #slide_inner .slide_pagenavi li { display:inline-block; cursor:pointer; }
#slide #slide_inner .slide_pagenavi a { display:inline-block; zoom:1; width:30px; height:10px; overflow:hidden; background:url(../../images/pagenav_off.png) no-repeat center; -webkit-background-size: 10px 10px; -moz-background-size: 10px 10px; background-size:  10px 10px; background:url(../../images/ie8_pagenav_off.png) no-repeat center\9; text-indent:-9999px; }
#slide #slide_inner .slide_pagenavi a.active,
#slide #slide_inner .slide_pagenavi a.flex-active { background-image:url(../../images/pagenav_on.png); background:url(../../images/ie8_pagenav_on.png) no-repeat center\9;}
#slide #slide_inner .slide_btn { width: 232px; margin: 0 auto; position: relative; }
#slide #slide_inner .slide_backbtn { position:absolute; left: -10px; bottom: 13px; cursor:pointer; z-index: 200; }
#slide #slide_inner .slide_nextbtn { position:absolute; right: -10px; bottom: 13px; cursor:pointer; z-index: 200; }
#slide #slide_inner .slide_backbtn .sp_btn,
#slide #slide_inner .slide_nextbtn .sp_btn { display: none; }
#slide #slide_inner .slide_backbtn .pc_btn,
#slide #slide_inner .slide_nextbtn .pc_btn { display: block; }

.fixed-sp { display:none; }

/* =========================================================
　◆Models
========================================================= */
#Models { width: 100%; }
#Models #Models_inner { width: 960px; margin: 0 auto; padding: 60px 0 30px; }
#Models #Models_inner .sort_box { margin-bottom: 30px; }
#Models #Models_inner .sort_box .sort_tit { width: 149px; display: inline; float: left; line-height: 50px; font-family: 'AlternateGothicCom-No2'; font-size: 48px; color: #333333; }
#Models #Models_inner .sort_box .sort_name { display: none; }
#Models #Models_inner .sort_box .sort_name span {}
#Models #Models_inner .sort_box .sort_btn { width: 811px; display: inline; float: left; }
#Models #Models_inner .sort_box .sort_btn li { width: 115px; display: inline; float: left; margin-right: 1px; line-height: 50px; background: #EEEEEE; text-align: center; cursor: pointer; font-family: 'AlternateGothicCom-No2'; font-size: 18px; color: #333333; }
#Models #Models_inner .sort_box .sort_btn li:hover { background: #E1E1E1; }
#Models #Models_inner .sort_box .sort_btn li.active { background: #C8C8C8; }
#Models #Models_inner .sort_box .sort_btn li.last { border-right: none; margin-right: 0; }
#Models #Models_inner .sort_box .sort_btn li a { display: block; color: #666666; text-decoration: none; }
#Models #Models_inner .sort_box .sort_btn li.active a { color: #333333; }
#Models #Models_inner .entry_models { position:relative; }
#Models #Models_inner .entry_models>ul { width: 100%; }
#Models #Models_inner .entry_models>ul>li { width: 300px; display: inline; float: left; margin-right: 30px; margin-bottom: 20px; position: relative; -webkit-box-shadow: 0px 0px 2px rgba(51,51,51,0.5); box-shadow: 0px 0px 2px rgba(51,51,51,0.5); }
#Models #Models_inner .entry_models>ul>li:nth-child(3n) { margin-right:0; }
#Models #Models_inner .entry_models>ul>li>a { display: block; position: relative; }
#Models #Models_inner .entry_models>ul>li>a .model_tit { position: absolute; left: 20px; bottom: 62px; z-index: 100; width: 188px; }
#Models #Models_inner .entry_models>ul>li>a .model_tit .arrow { color: #FFFFFF; background: url(../../images/pc_model_arrow.png) right 5px no-repeat; padding-right: 26px; font-family: 'AlternateGothicCom-No2'; font-size: 24px; }
.mac #Models #Models_inner .entry_models>ul>li>a .model_tit .arrow { background-position: right 4px; }
#Models #Models_inner .entry_models>ul>li>a .model_img { }
#Models #Models_inner .entry_models>ul>li>a .model_img img { width: 100%; }
.mac #Models #Models_inner .entry_models>ul>li>a .model_img img { background: #FFF; }
#Models #Models_inner .entry_models>ul>li>a .model_bg { position: absolute; left: 0; bottom: 0; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff000000', GradientType=0)"; /* IE8用 */ width: 300px; height: 120px; }
#Models #Models_inner .entry_models>ul>li>a .model_bg img { width: 100%; display: none\9; }
#Models #Models_inner .entry_models>ul>li>a .newicon { position: absolute; left: 0; top: 0; }
#Models #Models_inner .entry_models>ul>li>a .newicon img {}
#Models #Models_inner .entry_models>ul>li>.newicon { display: none;}
#Models #Models_inner .entry_models .app_box { position: absolute; left: 0; bottom: 0;}
#Models #Models_inner .entry_models .app_box li { width: 150px; display: inline; float: left; border-right: 1px solid #333333; border-top: 1px solid #333333; }
#Models #Models_inner .entry_models .app_box li:hover { background: url(../../images/ie8-btn_bg_01.png) 0 0 repeat\9; }
#Models #Models_inner .entry_models .app_box li.last { width: 149px; border-right: none }
#Models #Models_inner .entry_models .app_box li a {}
.mac #Models #Models_inner .entry_models .app_box li a img { background: url(../images/transparent_bg.png) 0 0 repeat; }
#Models #Models_inner .entry_models .app_box.phev_box { border-top: solid 1px #333;}

/* =========================================================
　◆Modal Window
========================================================= */
#Modal_app { display: none; }
#Modal_app #Modal_app_inner { }
.modalbox { width: 465px; margin: 0 auto; background: #FFFFFF; }
.modalbox .modalbox_inner { padding: 30px; }
.modalbox .modalbox_inner .modal_title { font-family: 'AlternateGothicCom-No2'; font-size: 36px; color: #666666; line-height: 1.2; text-align: center; margin-bottom: 10px; }
.modalbox .modalbox_inner .modal_title span { background: url(../images/modal_icon.png) left 3px no-repeat; padding-left: 34px; }
.modalbox .modalbox_inner .app_list {}
.modalbox .modalbox_inner .app_list li { margin-bottom: 1px; }
.modalbox .modalbox_inner .app_list li.last { margin-bottom: 0px; }
.modalbox .modalbox_inner .app_list li a { display: table; width: 100%; padding: 20px; background: #EEEEEE; webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-decoration: none; }
.modalbox .modalbox_inner .app_list li a:hover { background: #E1E1E1; }
.modalbox .modalbox_inner .app_list li a .list_img { display: table-cell; width: 69px; }
.modalbox .modalbox_inner .app_list li a .list_txt { display: table-cell; width: 280px; padding-left: 16px; font-family: 'AlternateGothicCom-No2'; font-size: 24px; color: #333333; background: url(../images/modal_arrow.png) right center no-repeat; vertical-align: middle; }


 /* =========================================================
　◆Gallery
========================================================= */
#Gallery{background: #CACAD9;padding: 57px 0 40px 0;}
#Gallery #Gallery_inner{width: 960px;margin: 0 auto;}
#Gallery #Gallery_inner .pc { display: block;}
#Gallery #Gallery_inner .sp { display: none;}
#Gallery #Gallery_inner .gallery_titile{font-family: 'AlternateGothicCom-No2';color: #333333;font-size: 55px;line-height: 1;padding: 0 0 0 0;border-bottom: #999999 1px solid;width: 594px;margin: 0 auto;text-align: center;padding-bottom: 2px;margin-bottom: 26px;}

#Gallery #Gallery_inner .movie_area{}
#Gallery #Gallery_inner .movie_area .titile_area{font-family: 'AlternateGothicCom-No2';color: #333333;font-size: 40px;text-align: center;line-height: 1; margin-bottom: 25px;}
#Gallery #Gallery_inner .movie_area .titile_area:nth-child(2){ margin-bottom: 20px;}
#Gallery #Gallery_inner .movie_area .movie_list{margin-bottom: 54px;}
#Gallery #Gallery_inner .movie_area .movie_list ul{}
#Gallery #Gallery_inner .movie_area .movie_list ul li{width: 300px;float: left;margin: 0 30px 40px 0;}
#Gallery #Gallery_inner .movie_area .movie_list ul li:last-child{margin-right: 0;}
#Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area{margin-bottom: 7px;position: relative;overflow: hidden;width: 300px;height: 198.38px; cursor: pointer;}
#Gallery #Gallery_inner .movie_area .movie_list ul li .thumbnail_area img{position: absolute;top: 0;left: 0;}
#Gallery #Gallery_inner .movie_area .movie_list ul li .movie_text{font-family: 'AlternateGothicCom-No2';color: #000000;font-size: 24px;line-height: 1;padding-left: 2px;}

#Gallery #Gallery_inner .photo_area{ margin-bottom: 40px; }
#Gallery #Gallery_inner .photo_area .titile_area{font-family: 'AlternateGothicCom-No2';color: #333333;font-size: 48px;text-align: center;line-height: 1;margin-bottom: 29px;}
@keyframes show{from{ opacity: 0;}to{ opacity: 1; }}
#Gallery #Gallery_inner .photo_area .photo_list{ min-height: 128px; width: 100%; opacity: 0;}
#Gallery #Gallery_inner .photo_area .photo_list.show{opacity: 1;}
#Gallery #Gallery_inner .photo_area .photo_list ul{}
#Gallery #Gallery_inner .photo_area .photo_list ul li{width: 158px;height: 105px;overflow: hidden;float: left;margin: 0 0 4px 2px; display: none;transition:}
#Gallery #Gallery_inner .photo_area .photo_list ul li:nth-child(6n){margin-right: 0;}
#Gallery #Gallery_inner .photo_area .photo_list ul li.show{display: block;animation: show 1s linear 0s;}
#Gallery #Gallery_inner .photo_area .photo_list ul li a{}
#Gallery #Gallery_inner .photo_area .photo_list ul li img{}
#Gallery #Gallery_inner .photo_area .photo_list_btn{padding-top: 77px;}
#Gallery #Gallery_inner .photo_area .photo_list_btn a{display: none;margin: 0 auto;width: 105px;}
#Gallery #Gallery_inner .photo_area .photo_list_btn a.show{display: block;animation: show 1s linear 0s;}
#Gallery #Gallery_inner .note {font-size: 16px;font-style: italic; line-height: 1.4;}
.index #cboxCurrent{font-family: 'AlternateGothicCom-No2';right: 2px;left: auto;bottom: -43px;font-size: 30px;color: #ffffff;float: none !important;}
.index #cboxPrevious{position: absolute;top: 50%;left: 0;text-indent: -9999px;background: url(../../images/g_slide_l.png) no-repeat;width: 50px;height: 100px;margin-top: -50px;outline:none;}
.index #cboxNext{position: absolute;top: 50%;right: 0;text-indent: -9999px;background: url(../../images/g_slide_r.png) no-repeat;width: 50px;height: 100px;margin-top: -50px;outline:none;}
.index #cboxPrevious:hover,
.index #cboxNext:hover{ background-position:left top;}
.index #cboxTitle{ font-family: 'AlternateGothicCom-No2'; right: 66px; left: auto; bottom: -43px; font-size: 30px; color: #ffffff; float: none !important; text-align: right;}
#Gallery #Gallery_inner .pc_archive_btn{ width: 225px; margin: 30px auto; }
#Gallery #Gallery_inner .pc_archive_btn a{ display: inline; }
#Gallery #Gallery_inner .pc_archive_btn img { width: auto; margin: 0 auto; text-align: center; }
#Gallery #Gallery_inner .sp_archive_btn { display: none; }
 /* =========================================================
}
　◆Movie
========================================================= */
#Movie { width: 100%; background: #FFFFFF; }
#Movie #Movie_inner { width: 960px; margin: 0 auto; padding: 60px 0 10px 0; }
#Movie #Movie_inner .movie_main { width: 630px; height: 354px; display: inline; float: left; padding-right: 30px; position: relative; }
#Movie #Movie_inner .movie_title { width: 297px; display: inline; float: left; font-size: 48px; line-height:1; color: #333333; font-family: 'AlternateGothicCom-No2'; padding:148px 0 0 3px; }

#Movie #Movie_inner .movie_main .movie_thumb { width: 630px; height: 354px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer; background: #EEEEEE;}
#Movie #Movie_inner .movie_main .movie_thumb.cp_none { cursor: default;}
#Movie #Movie_inner .movie_main .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1; }
#Movie #Movie_inner .movie_main .movie_youtube iframe { visibility:hidden; }

#Movie .movie_caption { width: 960px; margin: 0 auto; padding: 0 0 60px 0; }
#colorbox{ overflow: visible !important; }
