.headerpopArea{
  height: 68px;
}

img{max-width: 100%;}
ul,li{
  list-style-type: none;
}
.notice-link{
  padding-left: 15px;
  background: url(/share/images/link_icon_03.gif) no-repeat 0 4px;
}
.notice-link img{
  vertical-align: middle;
  margin-left: 5px;
}
.notice-link a{
  /*color: #1119b1;*/
}
.notice-link a:hover{
  text-decoration: none;
}

.popcontents{
  margin: 0 auto;
  width: 960px;
  font-size: 14px;
}
.main_section{
  margin: 60px 0 30px;
}

.press_section .h2_title h2{
  margin-bottom: 20px;
  border-left: 4px solid #f2003c;
}

.popcontents .press_section{
  height: auto;
  margin: 50px 0 ;
}
.press_section dl{
  text-align: left;
  margin-bottom: 20px;
}
.press_section dt,
.press_section dd{
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.press_section dt{
  width: 17%;
}
.press_section dd{
  width: 82%;
}

.info_section{
  padding: 30px 0;
  margin-bottom: 50px;
  border: 1px solid #cac9ca;
  text-align: center;
}
.tel-number1{
  margin-bottom: 20px;
}
.info_section h3{
  margin-bottom: 25px;
}

@media screen and (max-width: 736px) {
  body{
    font-family: Arial,Verdana,sans-serif;
  }
  .popcontents{
    width: 94%;
    margin: 0 auto;
  }
  .popcontents .main_section{
    width: 100%;
    margin: 60px auto 1rem;
    box-sizing: border-box;

  }

  .popcontents .press_section{
    width: 100%;
    height: auto;
    padding: 0 2%;
    box-sizing: border-box;
  }

  .press_section dl{
    margin-bottom: 15px;
  }

  .press_section dt,
  .press_section dd{
    display: block;
    width: 100%;
  }
  .press_section dt{
    margin-bottom: .2rem;
  }
  .info_section{
    padding: 5% 3%;
  }
  .info_section h3, .info_section .tel-number {
    margin-bottom: 15px;
    font-size: 1.3rem;
  }
  .info_section p{
    text-align: left;
  }
  .info_section span{
    display: block;
  }
  span.spNone{
    display: none;
  }

  #footerpop .copyrightArea {
    font-size: 1.1rem;
    text-align: center;
  }

}