* {
/*margin:0;
padding:0;
box-sizing:border-box;
-moz-box-sizing:border-box;*/
}

body {
margin:0;
padding:0;
border:0;
font-family:Arial,Verdana,sans-serif;
color:#151515;
font-size:100%;
background-color:#fff;
}

body#general {
background-color:#efefef;
}

body#pop {
background-color:#fff;
}

img {
border:0;
}

h1,h2,h3,h4,h5,p,form {
margin:0;
padding:0;
border:0;
}

h1 {
font-size:110%;
}

h2 {
font-size:100%;
}

a:link {
color:#151515;
text-decoration:underline;
}

a:visited {
color:#151515;
text-decoration:underline;
}

a:active {
color:#ef0041;
text-decoration:underline;
}

a:hover {
color:#ef0041;
text-decoration:underline;
}

strong {
font-weight:bold;
font-style:normal;
}

strong.strR {
color:#ff0000;
font-weight:bold;
font-style:normal;
}

em {
color:#ff0000;
font-weight:normal;
font-style:normal;
}


/* division */

#wrap {
clear:both;
background-image:url(/share/images/cmn_bg_02.gif);
background-repeat:repeat-y;
}

#wrapall {
clear:both;
background-image:url(/share/images/cmn_bg_02.gif);
background-repeat:repeat-y;
}

#main {
width:780px;
margin:0;
padding:0;
border:0 solid #e6e6e6;
border-top-width:1px;
background-image:url(/share/images/cmn_bg_03.gif);
background-repeat:repeat-y;
}

#mainall {
width:780px;
margin:0;
padding:0;
border:0 solid #e6e6e6;
border-top-width:1px;
}

/* for popup */
div.popwrap{
width:100%;
height:100%;
background-color:#fff;
}

div.popcontents{
clear:both;
}

/* general calass */

.hide {
display:none;
}

.reserve {
color:#B1B1B1;
}

.decoRed  {
color:#CA476F;
}

.decoBold  {
font-weight:bold;
}

.clear {
clear:both;
}

.firstitem {
margin:0;
}

.breakBlock {
margin-top:3em;
}

.breakItem {
margin-top:2em;
}

.middlepara {
margin-top:0.5em;
}

.middleItem {
margin-top:1em;
}

.bottomMiddle {
margin-bottom:1em;
}

.bottomBreak {
margin-bottom:2em;
}

.center {
text-align:center;
}

.rightDiv {
text-align:right;
}

.rightBlock {
float:right;
}

.adRightmargin {
margin-right:10px;
}

.adLeftmargin {
margin-left:10px;
}

div.innerBlock {
padding:10px;
}

.baseText {
font-size:80%;
}

.basePara {
font-size:80%;
line-height:1.5;
}

div.divide{
margin-top:1.5em;
border-top:2px solid #e6e6e6;
}

div.dividemini{
margin:10px 0 10px 0;
border-top:2px solid #e6e6e6;
}

/* img link */
a.imgLink {
display:block;
border:1px solid #dbdbdb;
}
a.imgLink:link,
a.imgLink:visited {
border:1px solid #dbdbdb;
}
a.imgLink:active,
a.imgLink:hover {
border:1px solid #ef0041;
}
span.imgLink {
display:block;
border:1px solid #dbdbdb;
}

p.imgrows img {
margin-right:10px;
}

div.indent  {
padding-left:1em;
}


/* box */
div.box1 {
padding:10px;
border:1px solid #ccc;
}

div.box2 {
padding:10px;
border:1px solid #ef0041;
}

div.box2 p {
color:#ef0041;
}

div.box2 p a:link, 
div.box2 p a:visited, 
div.box2 p a:hover, 
div.box2 p a:active {
color:#ef0041;
}

div.box2caption {
background-image:url(http://www.mitsubishi-motors.com/share/images/cmn_pt_01.gif);
background-repeat:no-repeat;
}

div.box2caption p {
vertical-align:bottom;
color:#fff;
padding-left:8px;
}


/* list */
div.listDot p  {
text-indent:-0.5em;
padding-left:0.5em;
}

*>div.listDot p  {
text-indent:-0.8em;
padding-left:0.8em;
}

div.listSymbol p  {
text-indent:-1.2em;
padding-left:1.2em;
}

div.listNumber p  {
padding-left:1em;
text-indent:-1em;
}

div.listNumParen p  {
padding-left:1.3em;
text-indent:-1.3em;
}

*>div.listNumParen p  {
padding-left:1.8em;
text-indent:-1.8em;
}

div.listCaution p  {
padding-left:1.7em;
text-indent:-1.7em;
}

*>div.listCaution p  {
padding-left:2em;
text-indent:-2em;
}

/* pagetop */
div.pagetopLink {
margin:1.5em 10px 1em 0;
text-align:right;
clear:both;
}

div.h1area div.pagetopLink {
margin-right:0;
}

div.pagetopLink a {
margin:0;
padding:0;
font-size:90%;
}

div.pagetopLink a:link {
color:#151515;
text-decoration:underline;
}

div.pagetopLink a:visited {
color:#151515;
text-decoration:underline;
}

div.pagetopLink a:active {
color:#cc0000;
text-decoration:underline;
}

div.pagetopLink a:hover {
color:#cc0000;
text-decoration:underline;
}


/* table */
table.layouttable1 {

}

table.basic {
border-collapse:collapse;
border:solid #e6e6e6 0;
border-width:1px 0 0 1px;
}
table.basic th,
table.basic td {
margin:0;
border:solid #e6e6e6 0;
border-width:0 1px 1px 0;
padding:5px;
text-align:left;
vertical-align:top;
}
table.basic th {
background-color:#ccc;
color:#fff;
}
.nscpt {
width:780px;
background:#fff;
}
.nscpt p {
padding:20px 0 10px 20px;
}
