
body {
margin:0;
padding:0;
border:0;
font-family:"\FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF","\30D2\30E9\30AE\30CE\89D2\30B4\20\50\72\6F\20\57\33",Osaka,sans-serif;
color:#151515;
font-size:100%;
background-color:#fff;
}

body#general {
background-color:#efefef;
}

body#pop {
background-color:#fff;
}

img {
border:0;
}

h1,h2,h3,h4,h5,p,form {
margin:0;
padding:0;
border:0;
}

h1 {
font-size:110%;
}
h2 {
font-size:100%;
}

h3,h4 {
font-size:80%;
}

a:link {
color:#151515;
text-decoration:underline;
}

a:visited {
color:#151515;
text-decoration:underline;
}

a:active {
color:#ef0041;
text-decoration:underline;
}

a:hover {
color:#ef0041;
text-decoration:underline;
}

strong {
font-weight:bold;
font-style:normal;
}

strong.strR {
color:#ef0041;
font-weight:bold;
font-style:normal;
}

em {
color:#ef0041;
font-weight:normal;
font-style:normal;
}


/* division */

#wrap {
clear:both;
background-image:url(/share/images/cmn07_bg_02.gif);
background-repeat:repeat-y;
}

#wrapall {
clear:both;
background-image:url(/share/images/cmn07_bg_02.gif);
background-repeat:repeat-y;
}
#main {
width:920px;
margin:0;
padding:0;
border:0 solid #e6e6e6;
border-top-width:1px;
background-image:url(/share/images/cmn_bg_03.gif);
background-repeat:repeat-y;
}

#mainall {
width:920px;
margin:0;
padding:0;
border:0 solid #e6e6e6;
border-top-width:1px;
}

/* for popup */
div.popwrap{
width:100%;
height:100%;
background-color:#fff;
}

div.popcontents{
clear:both;
}

/* general calass */

.hide {
display:none;
}

.clear {
clear:both;
}

.center {
text-align:center;
}

.txtRight {
text-align:right;
}

div.innerBlock {
padding:10px;
}

.breakBlock {
margin-top:3em;
}

.breakItem {
margin-top:2em;
}

.middlepara {
margin-top:0.5em;
}

.middleItem {
margin-top:1em;
}

.baseText {
font-size:80%;
}

.basePara {
font-size:80%;
line-height:1.5;
}

.redirect {
margin:100px 0;
text-align:center;
}


/* ----------------------------- */
/* margin set */
/* ----------------------------- */

.marginTopA {
margin-top:10px;
}
.marginTopB {
margin-top:25px;
}
.marginTopC {
margin-top:30px;
}

/* ----------------------------- */


/* ----------------------------- */
/* 赤文字用スタイル */
/* ----------------------------- */
.deco_clred{
color:#ef0041;
}
/* ----------------------------- */

/* ----------------------------- */
/* img link */
/* ----------------------------- */
a.imgLink {
display:block;
border:1px solid #dbdbdb;
}
a.imgLink:link,
a.imgLink:visited{
border:1px solid #dbdbdb;
}
a.imgLink:active,
a.imgLink:hover {
border:1px solid #ef0041;
}
span.imgLink {
display:block;
border:1px solid #dbdbdb;
}
/* ----------------------------- */

p.imgrows img {
margin-right:10px;
}
div.indent  {
padding-left:1em;
}

/* ----------------------------- */
/* box */
/* ----------------------------- */
.borderBox {
margin-top:10px;
border:solid 1px #e6e6e6;
}

/* ----------------------------- */

/* ----------------------------- */
/* list */
/* ----------------------------- */
div.listDot p  {
text-indent:-0.5em;
padding-left:0.5em;
}
*>div.listDot p  {
text-indent:-0.8em;
padding-left:0.8em;
}
div.listSymbol p  {
text-indent:-1.2em;
padding-left:1.2em;
}
div.listNumber p  {
padding-left:1em;
text-indent:-1em;
}
div.listNumParen p  {
padding-left:1.3em;
text-indent:-1.3em;
}
*>div.listNumParen p  {
padding-left:1.8em;
text-indent:-1.8em;
}
div.listCaution p  {
padding-left:1.7em;
text-indent:-1.7em;
}
*>div.listCaution p  {
padding-left:2em;
text-indent:-2em;
}
/* ----------------------------- */


/* ----------------------------- */
/* pagetop */
/* ----------------------------- */
div.pagetopLink {
margin:1.5em 10px 1em 0;
text-align:right;
clear:both;
}
#pop div.pagetopLink p {
font-size:75%;
}
div.h1area div.pagetopLink,
div.h1area div.pagetopLink_line1 {
margin-right:0;
}
div.pagetopLink a,
div.pagetopLink_line1 a {
margin:0;
padding:0;
font-size:90%;
}
div.pagetopLink a:link,
div.pagetopLink_line1 a:link {
color:#151515;
text-decoration:underline;
}
div.pagetopLink a:visited,
div.pagetopLink_line1 a:visited {
color:#151515;
text-decoration:underline;
}
div.pagetopLink a:active,
div.pagetopLink_line1 a:active {
color:#ef0041;
text-decoration:underline;
}
div.pagetopLink a:hover,
div.pagetopLink_line1 a:hover {
color:#ef0041;
text-decoration:underline;
}
div.pagetopLink_line1 {
padding-top:30px;
padding-bottom:8px;
text-align:right;
background-image:url(/share/images/cmn_pt_02.gif);
background-position:bottom left;
background-repeat:repeat-x;
clear:both;
}
#general div.pagetopLink_line1 p {
margin-top:0;
}
/* ----------------------------- */


/* ----------------------------- */
/* popup  */
/* ----------------------------- */
#txetSizeArea h1 {
margin:30px 0 0 10px;
}
#txetSizeArea  div.contentsBlock {
width:600px;
margin:20px 0 60px 20px;
}
#txetSizeArea  div.contentsBlock p {
font-size:80%;
line-height:1.5;
}
#txetSizeArea  div.contentsBlock h2 {
margin-top:30px;
padding:2px 10px;
font-size:80%;
line-height:1.5;
background-color:#eee;
}
#txetSizeArea  div.contentsBlock ul {
margin-top:20px;
list-style-type:none;
font-size:80%;
line-height:1.5;
}
#txetSizeArea  div.contentsBlock div.contentsBox {
width:600px;
margin-top:20px;
}
#txetSizeArea  div.contentsBlock div.contentsBox p.text {
float:left;
width:240px;
}
#txetSizeArea  div.contentsBlock div.contentsBox p.image {
float:right;
}

.nscpt {
width:920px;
background:#fff;
}
.nscpt p {
padding:20px 0 10px 20px;
}

/* ----------------------------- */
/* clearfix */
/* ----------------------------- */
.clearfix:after{
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
.clearfix {
display:inline-table;
min-height: 1%;
}
/* for macIE \*/
* html .clearfix {
height: 1%;
}
.clearfix {
display: block;
}
/* end of for macIE */
/* ----------------------------- */

/* ----------------------------- */
/* acrobat bannerArea */
/* ----------------------------- */
div.GetAcrobat {
border:1px solid #e6e6e6;
margin:25px 0;
width:718px;
}
div.GetAcrobat .adobeLeft {
margin:10px 0 0 10px;
float:left;
width:550px;
}
div.GetAcrobat .adobeRight {
margin:10px 10px 10px 0;
float:right;
width:112px;
}
/* ----------------------------- */
