

#contents {
width:750px;
float:left;
margin-left:1px;
}

div#mainall div#contents {
width:920px;
float:left;
}

div#contents p {
font-size:80%;
line-height:1.5;
}



/* ---------------------------------------- */
/* block */
/* ---------------------------------------- */
div#contents h1 {
margin:0 0 0 16px;
}

div#contents p.h1read {
margin:25px 0px 0px;
}

div#contents h2 {
margin:30px 16px 20px 0;
padding:0 0 10px 0;
border-bottom:solid #e6e6e6 2px;
}
div#contents p.h2read {
margin-right:16px;
}

div#contents .mainContents h2 {
margin:25px 0 0 0;
padding:0;
border:none; 
}

div#contents h3, div#contents h4 {
margin:25px 0 0 0;
}

div#contents h4, div#contents h3.imgoff {
padding:3px 2px 2px 5px;
color:#333;
font-weight:bold;
font-size:80%;
background-color:#eee;
}

div#contents h4.normal {
margin-top:20px;
padding:0;
background:#fff;
} 

div#contents .borderBox h4, div#contents .borderBox p.boxtitle {
margin:0;
color:#333;
background-color:#fff;
padding:2px 10px;
border-bottom:solid 1px #e6e6e6;
}

div#contents .div2leftBox h3,div#contents .div2rightBox h3 {
margin-top:0px;
padding:0px;
background-color:#fff;
}

div#contents h3.bg1 {
padding:3px 2px 2px 5px;
color:#fff;
font-weight:bold;
font-size:80%;
background-color:#8c8c8c;
}

div#contents h3.bg2 {
padding:3px 2px 2px 5px;
color:#fff;
font-weight:bold;
font-size:80%;
background-color:#8c8c8c;
}

div#contents ul {
font-size:75%;
list-style-type:disc;
}
div#contents ul.list {
margin-left:15px;
}

div#contents ul ul {
font-size:100%;
list-style-type:circle;
}

div#contents ul p {
font-size:100%;
}

div#contents ol {
font-size:75%;
}
div#contents ol ul,
div#contents ol ul li,
div#contents ol ol,
div#contents ol p {
font-size:100%;
}

div#contents dl {
font-size:75%;
}

div#contents dl dl,
div#contents dl p,
div#contents dl ul,
div#contents dl ol {
font-size:100%;
}

div#contents ul th p,
div#contents ul td p,
div#contents ol th p,
div#contents ol td p,
div#contents dd th p,
div#contents dd td p {
font-size:75%;
}

/* -------------------------- */
#crumb {
margin:0;
padding:9px 0 9px 0;
text-align:right;
width:750px;
color:#151515;
clear:both;
}
#mainall #crumb {
width:920px;
}

div#contents #crumb p {
padding-right:16px;
font-size:70%;
}

#crumb span.stay {
font-weight:bold;
}

#crumb a:link,
#crumb a:visited {
text-decoration:underline;
}
#crumb a:active,
#crumb a:hover {
color:#ef0041;
text-decoration:underline;
}
/* -------------------------- */

/* -------------------------- */
/* general */
/* -------------------------- */
div#contents div.notes,
div#contents p.notes,
div#contents span.notes  {
font-size:70%;
}

div#contents div.notes p {
font-size:100%;
}

/* area */
div#contents div.h1area {
clear:both;
margin:0 0 0 16px;
}

div#contents div.h2area {
margin:0;
}
div.h2area p {
margin-top:10px;
}

div.h2area .p_mgoff p {
margin-top:0;
}

div#contents .mainContents div.h2area {
margin:0 10px;
width:698px;
}

div#contents div.h3area {
margin:0 10px;
}

div#contents div.h4area {
margin-left:10px;
}

div.mainContents {
margin-right:16px;
width:718px;
}

#mainall div.mainContents {
margin-right:16px;
width:888px;
}

div#contents .div2leftBox {
float:left;
margin-right:15px;
width:351px;
}
div#contents .div2rightBox {
float:left;
width:351px;
}
div#contents .imgLeft {
margin-top:10px
}
div#contents .imgLeft p {
margin-top:0;
}
div#contents .imgLeft p.img {
float:left;
margin:0 15px 0 0;
width:211px;
}
div#contents .imgLeft div {
margin-left:226px;
}
div#contents .imgLeft div div {
margin-left:0;
}

/*  */
div#contents .imgLeft div.txtBox {
margin-left:226px;
}

/*  */

.divisionLink {
margin:20px 0 0 0;
padding-bottom:10px;
width:734px;
}
.divisionLink li {
margin:0 10px 0.4em 0;
float:left;
width:229px;
list-style:none;
line-height:1.4;
}
.divisionLink li span {
display:block;
background-image:url(/share/images/arrow03.gif);
background-position:0 0.25em;
background-repeat:no-repeat;
padding-left:15px;
}

/*---------------------------------------------- */
/* outerLink guideline */
/*---------------------------------------------- */
div#contents p.linkStd, div.popcontents p.linkStd {
margin-top:15px;
padding:0 0 0 14px;
background:url(/share/images/arrow04.gif) no-repeat left center;
}
/*div#contents p.linkStd2 {
margin-top:0;
padding:0 0 0 14px;
background:url(/share/images/arrow04.gif) no-repeat left center;
}*/
/**/
div#contents div.linkStd, div.popcontents div.linkStd {
margin-top:15px;
}
div#contents div.linkStd p, div.popcontents div.linkStd p {
margin-top:3px;
}
div#contents div.linkStd p span, div.popcontents div.linkStd p span {
display:block;
padding-left:14px;
background:url(/share/images/arrow04.gif) no-repeat 0 0.25em;
}
div#contents div.linkStd p a, div.popcontents div.linkStd p a {
line-height:1.4;
}
div#contents div.linkStd p img, div.popcontents div.linkStd p img {
vertical-align:bottom;
}
img.pdficon {
vertical-align:bottom;
}
div#contents div.linkStd, div.popcontents div.linkStd {
margin-top:15px;
}
div#contents td.linkStd span, div.popcontents td.linkStd span {
display:block;
padding-left:14px;
background:url(/share/images/arrow04.gif) no-repeat 0 0.15em;
}
div#contents td.linkStd span.normal, div.popcontents td.linkStd span.normal {
display:inline;
padding-left:0;
background:none;
}
/*---------------------------------------------- */


div p sub, div li sub, div td sub, div h4 sub, div h5 sub {
vertical-align:-1%;
}
div p sup, div li sup, div td sup, div h4 sup, div h5 sup {
vertical-align:2px;
}
