#contents {
width:680px;
float:left;
}

div#mainall div#contents {
width:780px;
float:left;
}

div#contents p {
font-size:75%;
line-height:1.7;
}


/*div.popcontents p {
font-size:75%;
line-height:1.7;
}*/


div#contents h1.textH1,
div.popcontents h1.textH1 {
font-size:105%;
font-weight:bold;
margin:0;
margin-bottom:20px;
padding:36px 10px 30px 10px;
border-bottom:1px solid #e6e6e6;
}

div#contents h2 {
margin:0;
margin-top:30px;
margin-bottom:20px;
}

div#contents h2.textH2 {
margin:0;
margin-top:30px;
margin-bottom:20px;
padding:3px 6px 5px 12px;
font-size:95%;
font-weight:bold;
border-bottom:1px solid #8c8c8c;
background-image:url(/share/images/cmn_bg_05.gif);
background-repeat:no-repeat;

}

div#contents h2.firstItem {
margin-top:35px;
}

div#contents h3 {
margin-top:1em;
margin-bottom:0.3em;
padding:3px 2px 2px 5px;
color:#fff;
font-weight:bold;
font-size:80%;
background-color:#ccc;
}

div#contents h4 {
font-size:80%;
margin-bottom:5px;
}

div#contents h5 {
font-size:75%;
margin-bottom:5px;
}


div#contents ul {
font-size:75%;
list-style-type:disc;
margin-left:2em;
}

div#contents ul ul {
font-size:100%;
list-style-type:circle;
}

div#contents ul p {
font-size:100%;
}

div#contents ol {
font-size:75%;
list-style-type:decimal;
margin-left:2em;
}

div#contents ol ol,
div#contents ol p {
font-size:100%;
}

div#contents dl {
font-size:75%;
}

div#contents dl dl,
div#contents dl p,
div#contents dl ul,
div#contents dl ol {
font-size:100%;
}

div#contents ul th p,
div#contents ul td p,
div#contents ol th p,
div#contents ol td p,
div#contents dd th p,
div#contents dd td p {
font-size:75%;
}


#crumb {
margin:0;
padding:9px 0 9px 0;
text-align:right;
width:610px;
color:#151515;
font-size:90%;
clear:both;
border-bottom:1px solid #e6e6e6;
}

#crumb p {
padding-right:10px;
}

#crumb span.stay {
color:#ef0041;
}

#crumb a:link,
#crumb a:visited {
text-decoration:underline;
}
#crumb a:active,
#crumb a:hover {
color:#ef0041;
text-decoration:underline;
}

/* general */

div#contents div.notes,
div#contents p.notes,
div#contents span.notes  {
font-size:70%;
}

div#contents div.notes p {
font-size:100%;
}

div#contents div.sub,
div#contents p.sub,
div#contents span.sub {
font-size:70%;
}

div#contents div.sub p {
font-size:100%;
}

/* area */
div#contents div.h1area {
clear:both;
margin:0;
padding:0 10px 0 10px;
}

div#contents div.h2area {
clear:both;
margin:0;
padding-left:10px;
}

div#contents div.h3area {
clear:both;
}

div#contents div.h2area h3.firstItem {
margin-top:0;
}

/* division */

/* acrobat */
div.acrobat {
width:280px;
}

div.acrobat div.left {
float:left;
width:170px !important;
margin:0;
padding:0;
padding-right:10px;
}
div.acrobat div.right {
float:left;
width:100px !important;
margin:0;
padding:0;
}


/* 2 devide list */
