

/* mainContents --------------------------------------------- */
#mainContents {
float:right;
width:718px;
padding-bottom:25px;
line-height:1.6;
}
#subContents {
float:left;
width:176px;
}


/* Anchors --------------------------------------------- */
.divisionLink {
margin:20px 0 0 13px;
display:inline-block;
}
.divisionLink:after {
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
}

.divisionLink li {
float:left;
line-height:1.4;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 10px 0.4em 0;
width:222px;
}
.divisionLink li span {
background-image:url(/share/images/anchor_icon_01.gif);
background-position:0 0.25em;
background-repeat:no-repeat;
display:block;
padding-left:15px;
}
.divisionLink {
display:block;
}


/* hierarchical --------------------------------------------- */

.h1area:after{
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
.h1area {
display:inline-block;
min-height: 1%;
}
.h1area {
display:block;
}

h1 {
margin-top:18px;
padding:0 0 10px 8px;
border-bottom:solid 3px #ccc;
line-height:1;
}
h1.img {
margin:0;
padding:0;
border-bottom:none;
}

#popwrap h1 {
margin-top:30px;
}


.main:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.main {
display:inline-table;
margin-right:16px;
}
.main {
display:block;
}
#popwrap .main {
margin-right:0;
padding-bottom:1em;
width:734px;
}


div.textBlock {
text-align:justify;
text-justify:distribute;
padding:10px;
}


/* --- section --------------------------------------------- */
.releaseArea {
margin-top:25px;
width:888px;
}
.releaseArea h2 {
background:url(/share/images/releaseArea_h2_bg_02.gif) repeat-y top left;
}

.releaseArea h2 span {
display:block;
background:url(/share/images/releaseArea_h2_bg_01.gif) no-repeat top left;
}
.releaseArea h2 span span {
display:block;
padding:0 0 0 10px;
line-height:24px;
background:url(/share/images/releaseArea_h2_bg_03.gif) no-repeat bottom left;
}

.releaseArea .linkStd {
margin-top:0;
}


.areaLine {
display:inline-table;
min-height:1%;
height:1%;
}
.areaLine:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.areaLine {
display:block;
margin-top:25px;
}

.areaInner > .areaLine {
height:auto;
}

.h2area {

}

.areaInner {
margin:0 10px;
height:1%;
}
.areaInner:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
} 

.h3area {
}
.h3area .areaInner {
margin:0px 10px 0;
}

.section_pmg p {
margin-top:1em;
}


/* --- 2nd --------------------------------------------- */
#hierarchical_2nd {
margin:0 0 0 16px;
}
#hierarchical_2nd #mainContents {
float:none;
width:auto;
}

#hierarchical_2nd .areaBox h2 {
background:none;
}
#hierarchical_2nd .areaBox h2 a {
background:url(/share/images/2nd_h2_bg_03.gif) no-repeat 1px 1px;
}

#hierarchical_2nd .areaBox h2 span {
display:block;
margin:1px;
background:url(/share/images/2nd_h2_bg_01.gif) no-repeat 0 0;
}
#hierarchical_2nd .areaBox h2 span span {
display:block;
margin:0;
padding:0;
line-height:normal;
background:url(/share/images/2nd_h2_bg_02.gif) repeat-y 0 0;
}
#hierarchical_2nd .areaBox h2 span span span {
display:block;
padding-left:25px;
line-height:25px;
background:url(/share/images/2nd_h2_cursor.gif) no-repeat 5px center;
}


#hierarchical_2nd h3 {
marign-top:0;
}
#hierarchical_2nd .areaLine div.areaBox {
float:left;
width:286px;
margin-right:15px;
text-align:justify;
text-justify:distribute;
}
#hierarchical_2nd .areaLine div.areaBox h2 {
margin-top:0;
}

#hierarchical_2nd div.areaBox p.areaBox_txt:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
} 
#hierarchical_2nd div.areaBox p.areaBox_txt a {
float:left;
margin:0 10px 5px 0;
}
#hierarchical_2nd div.areaBox_inner {
padding:10px;
border:solid 1px #cbe9e9;
border-top:none;
}
#hierarchical_2nd div.areaBox .subLinks {
clear:both;
margin:8px 0 0;
border:solid 1px #cbe9e9;
background:#efffff;
}
#hierarchical_2nd div.areaBox .subLinks p a {
float:none;
margin:0;
}
#hierarchical_2nd div.areaBox .subLinks p {
padding:8px;
}


/* --- 3nd --------------------------------------------- */
#hierarchical_3rd h3 {
margin-top:0;
}
#hierarchical_3nd #mainContents {
float:right;
width:850px;
}
#hierarchical_3nd .localNavigation {
float:left;
width:850px;
}
#hierarchical_3rd div.areaBox {
float:left;
margin:0 16px 0 0;
width:339px;
}
#hierarchical_3rd div.areaBox .subLinks {
clear:both;
margin:8px 0 0;
border:solid 1px #cbe9e9;
background:#efffff;
}


/* --- notesBlock --------------------------------------------- */
.notesArea {
margin-top:1.5em;
}




/* -------------------------- -------------------------- -------------------------- -------------------------- */
/* relatedArea */
/* -------------------------- -------------------------- -------------------------- -------------------------- */
.relatedArea:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

.relatedArea ul {
margin-left:2em;
}
.relatedArea ol li {
line-height:1.6;
}

.relatedArea.item1 .relatedBox {
float:none;
margin-right:0;
padding-top:0;
width:auto;
background:none;
}
.relatedArea.item2 .relatedBox {
float:left;
margin-right:16px;
width:337px;
}
.relatedArea.item3 {
width:878px;
background:url(/share/images/relatedbox_pt_01.gif) no-repeat top left;
}
.relatedArea.item3 .relatedBox {
float:left;
margin-right:18px;
width:278px;
}


.relatedArea .relatedBox .linkStd {
margin-top:0;
}
.relatedArea .relatedBox {
padding-bottom:10px;
}
.relatedArea .relatedBox:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.relatedArea {
margin-top:30px;
border:solid 1px #cbcbcb;
padding:10px 0 0 10px;
}
.relatedArea,
.relatedBox {
display:inline-table;
min-height: 1%;
height:1%;
}
.relatedArea,
.relatedBox {
display:block;
}
.relatedArea .right {
margin-right:0;
}
.relatedArea .relatedBox .img {
float:left;
margin-right:10px;
}
.relatedArea.item1 .img {
margin-top:0 !important;
}
.relatedArea .relatedBox .subBox {
float:left;
width:181px;
}
.relatedArea.item1 .relatedBox .subBox {
width:611px;
}
.relatedArea.item2 .relatedBox .subBox {
width:249px;
}
.relatedArea.item3 .relatedBox .subBox {
width:186px;
}
.relatedArea .linkStd {
}
.relatedArea .linkStd p {
margin:0.2em 0 0.5em;
}

.relatedArea h5 {
/*margin-top:0 !important;*/
}


/* outerLink Popup  */
#outside {
padding:0 0 27px;
}
#outside p {
line-height:1.5;
text-align:left;
}
#outside h1 {
border-bottom:1px solid #E6E6E6;
font-weight:bold;
margin:0 0 10px;
padding:14px 10px 10px;
text-align:left;
}
#outside h2 {
margin:20px 0 8px;
text-align:left;
background:none;
}
#outside .mainBlock {
margin:0 10px;
text-align:center;
}
#outside .mainBlock p.usageLink {
margin:4em 0 0;
text-align:center;
}
#outside .mainBlock .linkBox {
margin:18px auto 0;
width:400px;
}
#outside .mainBlock .linkBox p.next {
float:left;
}
#outside .mainBlock .linkBox p.close {
float:right;
}