/* ---------------------------------------------
 Reset
--------------------------------------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, pre, q, blockquote,
ul,ol,dl,dt,dd,li,
tr,td,th,thead,tfoot,tbody,
form,fieldset,legend,input,button,textarea {
margin:0;
padding:0;
}
address {
font-style:normal;
}

h1, h2, h3, h4, h5, h6 {
font-size:100%;
font-weight:bold;
}
code {
margin:0;
padding:0;
font-style:normal;
font-weight:normal;
}
q:before,
q:after {
content:'';
}
a {
text-decoration:none;
vertical-align: baseline; 
}

cite,dfn,em,strong,var {
font-style:normal;
font-weight:normal;
}
ins,del {
text-decoration:none;
}
abbr,acronym {
border:0;
font-variant:normal;
}
sup {
vertical-align:top;
}
sub {
vertical-align:baseline !important;
}
img {
border:0 none;
}


li {
list-style:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}
th,caption {
font-weight:normal;
text-align:left;
}

fieldset {
border:0;
}
legend {
color:#000;
}
button, fieldset, form, input, label, legend, select, textarea {  
font-family:inherit;  
font-size:100%;  
font-style:inherit;  
font-weight:inherit;
}  
* {font-size:100%;}
/* ------------------------------------------------------------------------------------------ */



/* ---------------------------------------------
 base
---------------------------------------------*/
html {
overflow-y:scroll;
}

#subBody {
text-align:center;
}

#wrap {
margin:0 auto;
width:920px;
text-align:left;
}


p#crumb {
margin-right:16px;
padding:10px 0;
clear:both;
text-align:right;
}
p#crumb span.stay {
font-weight:bold;
}

em {
font-weight:bold;
font-style:normal;
}
em.normal {
font-weight:normal;
font-style:normal;
}

strong {
font-weight:bold;
font-style:normal;
}

a:link {
color:#151515;
text-decoration:underline;
vertical-align: baseline; 
}
a:visited {
color:#151515;
text-decoration:underline;
vertical-align: baseline; 
}
a:active {
color:#ef0041;
text-decoration:underline;
vertical-align: baseline; 
}
a:hover {
color:#ef0041;
text-decoration:underline;
vertical-align: baseline; 
}

a.imgLink {
border:solid 1px #e6e6e6;
}
a.imgLink:hover {
border:solid 1px #ef0041;
}
a.imgLink2 {
display:block;
border:1px solid #8b8c8e;
}
a.imgLink2:link,
a.imgLink2:visited{
border:1px solid #8b8c8e;
}
a.imgLink2:active,
a.imgLink2:hover {
border:1px solid #ef0041;
}
span.imgLink2 {
display:block;
border:1px solid #8b8c8e;
}


/* ---------------------------------------------
 components
---------------------------------------------*/
.none {
display:none;
}

.nonVisual {
position:absolute;
top:0;
left:0;
width:1px;
height:1px;
margin:0;
padding:0;
border-style:none;
overflow:hidden;
z-index:100;
}

.center {
text-align:center;
}
.txtLeft {
text-align:left;
}
.txtRight {
text-align:right;
}
.txtTop {
vertical-align:top;
}
.txtMiddle {
vertical-align:middle;
}
.txtBottom {
vertical-align:bottom;
}

.floatLeft {
float:left;
}
.floatRight {
float:right;
}
.clear {
clear:both;
}

.first {
margin-top:0 !important;
}

.marginTopA {
margin-top:10px !important;
}
.marginTopB {
margin-top:25px !important;
}
.marginTopC {
margin-top:30px !important;
}
.marginTopD {
margin-top:15px !important;
}

.redirect {
margin:50px 0;
text-align:center;
}



/* header ----------------------------------------- */
#header {
display:inline-block;
width:100%;
border-bottom:solid 1px #a6d8ea;
}
#header #logo {
float:left;
}
#header ul {
float:right;
margin-top:22px;
padding:3px 0;
}
#header ul.linkLeft {
display:inline;
width:365px;
margin-right:7px;
padding-right:7px;
background:url(/share/images/header_bg_01.gif) repeat-y center right;
}
#header ul.linkRight {
width:235px;
}
#header li {
float:right;
padding:0 10px;
border-right:solid 1px #ccc;
}
#header ul.linkRight li {
float:left;
}

#header li.first {
border-right:none;
}
#header .serachBlock {
float:right;
margin:11px 0 0 0;
width:205px;
text-align:right;
}

#header:after{
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
#header {
display:block;
}

#headerLinkBlock {
float:right;
width:827px;
}
#header input {
padding-left:4px;
vertical-align:middle;
}
#header input.search {
padding:1px 0;
border:1px solid #ccc;
width:133px;
}



/* footer ----------------------------------------- */
#footer {
clear:both;
}
#footer .linkArea {
text-align:right;
border-top:1px solid #e6e6e6;
}
#footer .linkArea p {
padding:7px 10px 7px 0;
}
#footer .copyrightArea {
background:#cac9ca;
text-align:right;
border-top:1px solid #ef0041;
}
#footer .copyrightArea p {
padding:6px 5px 5px 5px;
vertical-align:middle;
}


/* globalNavigation ----------------------------------------- */
#globalNavigation {
padding-top:1px;
position:relative;
z-index:999;
}
#hierarchical_2nd {
position:relative;
z-index:500;
}
#globalNavigation #mainnv {
width:100%;
height:31px;
}
#globalNavigation #mainnv li {
float:left;
line-height:0;
font-size:1px;

}
#globalNavigation #flbase {
position:relative;
visibility:hidden;
}
#globalNavigation #flbase div div {
padding:5px;
position:absolute;
width:174px;
background:url(/share/images/gnv_flbk.png) repeat-y -203px 0;
z-index:800;
}

#globalNavigation #flbase #gnv_home_fl {
width:173px;
}

#globalNavigation #flbase #gnv_discoveries_fl {
width:171px;
}

#gnv_home_fl {
top:0;
left:0;
}
#gnv_spirit_fl {
top:0;
left:184px;
}
#gnv_products_fl {
top:0;
left:369px;
}
#gnv_corporate_fl {
top:0;
left:554px;
}
#gnv_discoveries_fl {
top:0;
left:739px;
}
#globalNavigation #flbase li {
margin-right:5px;
}

/**/

#fontSize {
margin:8px 0 11px;
text-align:right;
}

#fontNormal, #fontLarge, #fontxLarge {
padding:1px 5px 1px;
_padding:3px 5px 1px;
border:solid 1px #ccc;
line-height:1;
}
.fontNormalov, .fontLargeov, .fontxLargeov {
color:#ffffff;
background:#a6d8ea;
text-decoration:none;
border-color:#a6d8ea !important;
}

.fontNormalout, .fontLargeout, .fontxLargeout {
background:#fff;
}
#fontcontrolArea p span, #fontSize span, #allbt {
cursor:pointer;
}


/* localNavigation ----------------------------------------- */
#subContents #localNavigation {
border-top:solid 1px #ccc;
padding-top:1px;
}
#subContents #localNavigation ul ul {
display:none;
}
#subContents #localNavigation ul ul ul {
display:none;
}

#subContents #localNavigation li {
margin-bottom:1px;
}
#subContents #localNavigation a {
display:block;
border-bottom:solid 1px #ccc;
text-decoration:none !important;
background:#ddd url(/share/images/localnv_bg_01.gif) no-repeat top left;
zoom:1;
}
#subContents #localNavigation a:hover {
color:#ef0041;
background:#ccc url(/share/images/localnv_bg_01.gif) no-repeat -176px top !important;
}

#subContents #localNavigation .stay a {
font-weight:bold;
border-bottom:solid 1px #ccc;
background:#ccc url(/share/images/localnv_bg_01.gif) no-repeat -176px top;
}
#subContents #localNavigation .stay ul {
display:block;
}
#subContents #localNavigation .stay ul ul {
display:none;
}
#subContents #localNavigation .stay ul a {
font-weight:normal;
border-bottom:dotted 1px #ccc;
background:transparent url(/share/images/localnv_bg_02.gif) repeat-y top left;
}

#subContents #localNavigation a span {
display:block;
padding:11px 10px;
line-height:1.3;
text-align:justify;
text-justify:distribute;
}
#subContents #localNavigation .stay .stay ul {
display:block;
}
#subContents #localNavigation .stay .stay .stay a {
font-weight:bold !important;
}
#subContents #localNavigation ul ul a {
display:block;
margin-bottom:1px;
border-bottom:dotted 1px #ccc;
text-decoration:none !important;
background:transparent url(/share/images/localnv_bg_02.gif) repeat-y top left;
zoom:1;
}
#subContents #localNavigation ul ul a:hover {
color:#ef0041;
background:transparent url(/share/images/localnv_bg_02.gif) repeat-y top left !important;
}
#subContents #localNavigation ul ul a span {
padding:5px 10px 5px 20px;
}
#subContents #localNavigation ul ul .stay a {
font-weight:bold;
}

#subContents #localNavigation ul ul ul a {
display:block;
margin-bottom:1px;
border-bottom:solid 1px #ccc !important;
text-decoration:none !important;
font-weight:normal !important;
background:transparent url(/share/images/link_icon_02.gif) no-repeat 20px 10px !important;
zoom:1;
}
#subContents #localNavigation ul ul ul a:hover {
color:#ef0041;
background:transparent url(/share/images/link_icon_02.gif) no-repeat 20px 10px !important;
}
#subContents #localNavigation ul ul ul a span {
padding:5px 10px 5px 30px;
}

/* popup & blankWindow ----------------------------------------- */
#popwrap {
margin:0;
width:auto;
text-align:left;
}
#headerpop {
border-bottom:1px solid #EF0041;
}
.headerpopArea {
border-bottom:2px solid #CAC9CA;
height:68px;
width:100%;
}
div#headerpop div.left {
float:left;
width:93px;
}
div#headerpop div.right {
float:right;
}
div#headerpop div.right div.inner {
font-size:85%;
padding-right:10px;
padding-top:28px;
text-align:right;
}

/* clearfix  ----------------------------------------- */
.clearfix:after{
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
.clearfix {
display:inline-table;
min-height: 1%;
}
/* for macIE \*/
* html .clearfix {
height: 1%;
}
.clearfix {
zoom:1;
display: block;
}
/* end of for macIE */
/* ----------------------------- */
