
h2 {
margin-top:25px;
font-size:100%;
background:url(/share/images/h_bg_a02.gif) repeat-y top left;
}

h2 span {
display:block;
background:url(/share/images/h_bg_a01.gif) no-repeat top left;
}
h2 span span {
display:block;
padding:2px 0 0 10px;
line-height:29px;
background:url(/share/images/h_bg_a03.gif) no-repeat bottom left;
}
h2 span > span {
padding:1px 0 0 10px;
}

h2.normal {
background:none;
}


h2 a,
h3.link a {
display:block;
border:solid 1px #cbe9e9;
text-decoration:none !important;
zoom:1;
}
h2.bg_2,
h3 {
line-height:25px;
background:#efffff;
}

h3 {
margin-top:25px;
border:solid 1px #cbe9e9;
padding:0 10px;
}
h3.link {
border:none;
padding:0;
}

h2.bg_2 a,
h3.link a {
padding:0 15px 0 30px;
border:solid 1px #cbe9e9;
background:url(/share/images/link_icon_01.gif) no-repeat 10px 0.4em;
text-decoration:none !important;
}

h2 a:hover,
h3.link a:hover {
border:solid 1px #ef0041;
color:#151515;
text-decoration:none;
}

h2 span span sub,
h3 span span sub {
vertical-align:-1%;
}

h3.normal {
border:none;
background:#fff;
padding:0;
}

.section {
margin-top:1em;
}

.section p {
}

.plusprint {
position:relative;
z-index:1;
}

.plusprint p {
position:absolute;
right:0;
top:0;
z-index:2;
}



/* ---------------------------------------------
 normal link
---------------------------------------------*/
.linkStd {
}
.linkStd:after {
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
.linkStd {

}
.linkStd li {
margin-bottom:0.2em;
line-height:0;
}
.linkStd a {
line-height:1.4;
_height:1%;
}

.linkStd p {
margin-top:1em;
}
.linkStd ul {
margin-top:1em;
}
.linkStd span {
display:block;
padding-left:15px;
background:url(/share/images/link_icon_03.gif) no-repeat 0 0.3em;
}
.linkStd img {
vertical-align:middle;
}
td.linkStd span.normal {
display:inline;
padding-left:0;
background:none;
}

/* ---------------------------------------------
 outer link
---------------------------------------------*/
.outerLink a {
}
.outerLink p,
.outerLink ul {
margin-top:1em;
}
.outerLink li {
margin-bottom:0.7em;
}
.outerLink li span,
.outerLink p span {
background:#e6e6e6 url(/share/images/link_icon_02.gif) no-repeat 7px 0.7em;
padding:3px 5px 3px 15px;
}
.outerLink p img,
.outerLink li img {
margin:4px 0 3px 0;
vertical-align:middle;
}
.outerLink p > img,
.outerLink li > img {
margin:0;
}
.outerLink span img {
margin:0.25em 0;
}
.outerLink span > img {
margin:0;
}
.outerLink p a,
.outerLink li a {
}

/* ------ */
span.outerLink {
background:#e6e6e6;
padding:0 5px;
}

span.outerLink img {
margin:0.25em 0;
vertical-align:middle;
padding-bottom:2px;
}
span.outerLink > img {
margin:0;
}

p img.lineImg {
margin:0.25em 0;
vertical-align:middle;
}
p > img.lineImg {
margin:0;
}

/* ------ */

.read {
margin:18px 0 0 0;
padding:0 11px 0 11px;
}

.txtLeft {
float:left;
width:435px;
}
.imgRight {
float:right;
width:232px;
}

.caption {
margin-top:5px;
}


/* ---------------------------------------------
 pullDownlink
---------------------------------------------*/
div.pullDownNavi {
margin-top:25px;
min-height: 1%;
zoom:1;
}

div.pullDownNavi .pullDownBlock {
float:right;
width:250px;
background:#fff url(/share/images/pulldown_bg_01.gif) repeat-y top left;
visibility:hidden;
}
div.pullDownNavi .pullDownInner {
position:relative;
}
div.pullDownNavi span.h {
display:block;
padding-left:30px;
background:url(/share/images/pulldown_pt_01.gif) no-repeat top left;
border:solid 1px #ccc;
cursor:pointer;
}
div.pullDownNavi ul{
position:absolute;
top:0;
left:0;
z-index:20;
background:#fff;
border:solid 1px #ccc;
border-top:0;
width:248px;
}
div.pullDownNavi ul li{
border-top:solid 1px #ccc;
background:none;
padding-left:10px;
padding-top:3px;
line-height:0;
zoom:1;
}

div.pullDownNavi ul li a{
display:block;
line-height:normal;
}
div.pullDownNavi:after {
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
div.pullDownNavi {
display:block;
}



/* ---------------------------------------------
 pagetop
---------------------------------------------*/

div.pagetopLink {
clear:both;
margin:0 16px 0 0;
padding:1.5em 0 1em 0;
text-align:right;
}

div.pagetopLink_line1 {
background:url(/share/images/cmn_line_01.gif) repeat-x left bottom;
clear:both;
padding:30px 0 8px 0;
text-align:right;
line-height:1.1;
}

div.pagetopLink_line1 img{
vertical-align:text-bottom;
}
div.pagetopLink img {
vertical-align:text-bottom;
}


/* -------------------------- */
/* tab */
/* -------------------------- */

div.tabBlock {
margin-top:20px;
width:718px;
}
div.tabBlock ul {
border-bottom:solid 1px #cccccc;
height:29px;
}
div.tabBlock li {
float:left;
margin-right:7px;
list-style-type:none;
}
div.tabBlock li img {
vertical-align:top;
}
div.tabBlock .subNavi {
height:45px;
background:url(/share/images/tab_subnvbg_01.gif) repeat-x bottom left;
}
div.tabBlock .subNavi ul {
border-bottom:none;
border-top:solid 1px #fff;
height:40px;
}
div.tabBlock .subNavi li {
margin-right:0;
}

/* ---------------------------------------------
 list
---------------------------------------------*/
div.listDot p  {
text-indent:-0.5em;
padding-left:0.5em;
}
*>div.listDot p  {
text-indent:-0.8em;
padding-left:0.8em;
}
div.listSymbol p  {
text-indent:-1.2em;
padding-left:1.2em;
}
div.listNumber p  {
padding-left:1em;
text-indent:-1em;
}

div.listCaution p  {
padding-left:1.7em;
text-indent:-1.7em;
}
*>div.listCaution p  {
padding-left:2em;
text-indent:-2em;
}

ul li.fstline,
ol li.fstline {
margin-top:0 !important;
}

.listDot li {
list-style:disc;
margin-top:0.4em;
margin-left:1.5em;
}
.listNumber li {
list-style:decimal;
margin-left:2em;
margin-top:0.4em;
}
.listNumber > li {
margin-left:2em;
}

.listNumber li li {
list-style:none;
margin-left:0;
margin-top:0.2em;
}
.listNumber li .listDot li {
list-style:disc;
margin-top:0.4em;
margin-left:1.5em;
}

li .listNone li {
list-style:none;
margin-left:0;
margin-top:0.2em;
}

.listNumParen li,
.listNumParen p {
margin-top:0.4em;
padding-left:1.8em;
text-indent:-1.8em;
}
.listNumParen > p,
.listNumParen > li {
padding-left:2.7em;
text-indent:-2.7em;
}


/* ----------------------------- */

/* ----------------------------- */
/* borderBox */
/* ----------------------------- */
.borderBox {
border:solid 1px #cbcbcb;
}


/* ----------------------------- */
/* margin_none */
/* ----------------------------- */
.marginRightNone {
margin-right:0 !important;
}
.marginTopNone,
.marginTopOff {
margin-top:0 !important;
}
.marginLeftNone {
margin-left:0 !important;
}
.marginBottomNone {
margin-bottom:0 !important;
}


/* ---------------------------------------------
 bannerArea
---------------------------------------------*/
/* acrobat */
div.GetAcrobat {
border:1px solid #cbcbcb;
margin:25px 0;
padding:10px;
width:auto;
display:inline-table;
height:1%;
}
div.GetAcrobat:after {
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
div.GetAcrobat .adobeLeft {
display:inline;
float:left;
width:80%;
}
div.GetAcrobat .adobeRight {
display:inline;
float:right;
}
div.GetAcrobat {
display:block;
}
/* ----------------------------- */
