
dl,dt,dd,ul,ol,li {
margin:0;
padding:0;
border:0;
}

#header {
width:781px;
height:65px;
margin:0;
padding:0;
background-color:#fff;
}
div#header div.left {
width:390px;
float:left;
}
div#header div.right {
width:390px;
float:left;
}
div#header div.right div.headerbox1{
margin:0;
padding:0;
height:31px;
font-size:70%;
}
div#header div.right div.headerbox1 p{
padding-top:10px;
padding-right:15px;
text-align:right;
}
div#header div.right div.headerbox1 a:link,
div#header div.right div.headerbox1 a:visited {
color:#151515;
text-decoration:underline;
}
div#header div.right div.headerbox1 a:active,
div#header div.right div.headerbox1 a:hover {
color:#ef0041;
text-decoration:underline;
}

div#header div.right div.headerbox2{
width:390px;
height:24px;
float:right;
}

div#header div.right div.headerbox2 div.leftbox2{
float:left;
}

div#header div.right div.headerbox2 div.rightbox2{
float:right;
padding-right:15px;
}

div#header div.right .button1 {
margin:4px 20px 0 5px;
padding:0;
}
div#header div.right .button2 {
margin:4px 8px 0 0;
padding:0;
}
/* popup header */
#headerpop {
border-bottom:1px solid #ef0041;
}

.headerpopArea{
width:100%;
height:65px;
border-bottom:2px solid #cac9ca;
}

div#headerpop div.left {
width:93px;
float:left;
}

div#headerpop div.right {
float:right;
}

div#headerpop div.right div.inner {
padding-top:28px;
padding-right:10px;
font-size:70%;
text-align:right;
}

#footer {
clear:both;
width:781px;
background-color:#fff;
background-image:url(http://www.mitsubishi-motors.com/share/images/cmn_bg_02.gif);
background-repeat:repeat-y;
}

.linkArea {
margin:0;
padding:0;
text-align:right;
border-top:1px solid #e6e6e6;
}
.linkArea p {
padding:7px 10px 7px 0;
font-size:70%;
}
.linkArea a:link,
.linkArea a:visited {
color:#666;
text-decoration:underline;
}
.linkArea a:active,
.linkArea a:hover {
color:#ef0041;
text-decoration:underline;
}

.copyrightArea {
width:780px;
background-color:#cac9ca;
margin:0;
padding:0;
text-align:right;
border-top:1px solid #ef0041;
}
.copyrightArea p {
margin:0;
padding:5px;
padding-top:6px;
font-size:70%;
color:#666;
vertical-align:middle;
}

#footerpop {
clear:both;
}

#footerpop .copyrightArea {
width:100%;
background-color:#cac9ca;
margin:0;
padding:0;
text-align:right;
border-top:1px solid #ef0041;
}

#footerpop .copyrightArea p {
margin:0;
padding:5px;
padding-top:6px;
font-size:70%;
color:#666;
vertical-align:middle;
}
