body {
margin:0;
padding:0;
background-color:#e6e6e6;
}

body table {
background-color:#fff;
}

table td {
font-size:70%;
color:#666;
}

img {
border:0;
}

form {
margin:0;
padding:0;
}

#searchBlock {
padding-top:9px;
font-family:"Arial","Helvetica","sans-serif";
font-size:10px;
text-align:right;
}

.footerbox {
border-top:solid #ef0041 1px;
height:29px;
background-color:#d6d2d3;
}

#noflash {
padding:170px 0;
width:780px;
text-align:center;
background-color:#fff;
}