﻿
#subContents #localNavigation a span {
text-align:left;
}

#hierarchical_2nd .areaLine div.areaBox {
text-align:left;
}

.index .pickupArea {
border:solid 1px #cccccc;
background:url(/jp/spirit/environment/images/index_im_03.gif) 450px center no-repeat;
width:692px;
margin-top:25px;
padding:15px 0 10px;
}

.index .pickupArea h3 {
background:none #ffffff;
border:none;
padding:0;
margin:0 300px 10px 15px;
}

.index .pickupArea p {
margin:0 300px 10px 15px;
}

#globalNavigation #flbase #gnv_products_fl {
width:173px;
}

#globalNavigation #flbase #gnv_events_fl {
width:171px;
}

#gnv_products_fl {
top:0;
left:0;
}
#gnv_spirit_fl {
top:0;
left:184px;
}
#gnv_social_fl {
top:0;
left:369px;
}
#gnv_corporate_fl {
top:0;
left:554px;
}
#gnv_events_fl {
top:0;
left:739px;
}

#headerLinkBlock {
text-align: center;
}

#linkWrapper {
padding-top: 22px;
}

#header ul {
display: inline;
float: none;
}

#header li {
float: none;
display: inline;
padding:2px 10px;
}
#header ul.linkRight li {
display: inline;
float: none;
}

#header ul.linkRight {
width:auto;
}

#header ul.linkRight li.first{
padding: 0 0 0 10px;
}

#header ul.linkLeft {
width:auto;
margin-right:0;
padding-right:0;
background: none;
}

#header ul.linkLeft li.first{
background:url(/share/images/header_bg_01.gif) repeat-y center right;
}

#header ul.linkHome {
width:auto;
}

#header ul.linkHome li {
border:none;
padding-left: 0;
background:url(/share/images/header_bg_01.gif) repeat-y center right;
}
