
dl,dt,dd,ul,ol,li {
margin:0;
padding:0;
border:0;
}

/* global navigation */


#global {
margin:0;
padding:0;
padding-top:1px;
padding-bottom:1px;
width:921px;
clear:both;
background-color:#fff;
background-repeat:repeat-y;
}

#global div.globalArea {
width:920px;
height:22px;
background-image:url(/share/images/gnav_bg_01.gif);
background-repeat:repeat-x;
}

#global div.globalArea div.inner {
border-left:1px solid #D6D6D6;
margin-left:13px;
}

#global ul {
margin:0;
padding:0;
}

#global ul li {
float:left;
list-style-type:none;
}

#global ul li img {
vertical-align:top;
}


/**/

