#main {
width:780px;
background-color:#fff;
}

a:link {
color:#666;
text-decoration:underline;
}

a:visited {
color:#666;
text-decoration:underline;
}

a:active {
color:#ef0008;
}

a:hover {
color:#ef0008;
}

strong  {
font-weight:bold;
}

strong.more  {
color:#ff0000;
font-weight:bold;
font-style:normal;
}

em  {
color:#ff0000;
font-weight:normal;
font-style:normal;
}

.hide {
display:none;
}

/*body {
color:#667378;
background-color:#fff;
font-size:medium;
}

a {
color:#C16162;
text-decoration:underline;
}

#main {
width:750px;
padding-left:15px;
font-size:80%;
}

#main p {
line-height:1.6;
}

#localnavi ul.subnavi li  {
padding:3px;
}

#localnavi ul.subnavi  {
margin:5px 0 10px 0;
}
*/