.flex-container a,
.maintop a,
.flex-container a:active,
.maintop a:active,
.flex-container a:focus,
.maintop a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.maintop {margin: 0; padding: 0;}
.maintop .slides > li {display: none; -webkit-backface-visibility: hidden;} 
.maintop .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}
.maintop {
	position: relative;
	zoom: 1;
	width: 920px;
	margin-left: 0px;
	height: 428px;
	_display:none;
}
.maintop .slides {zoom: 1;}
.maintop .slides > li {position: relative;}
.flex-container {zoom: 1; position: relative;}
.flex-direction-nav { height: 0; }
.flex-control-nav {
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 10px;
	z-index: 200;
	_height: 11px;
	_overflow: hidden;
}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav a {
	width: 13px;
	height: 13px;
	display: block;
	background: url(/share/images/bg_control_nav.png) no-repeat;
	cursor: pointer;
	text-indent: -999em;
}
.flex-control-nav a:hover {background-position: 0 -13px;}
.flex-control-nav a.flex-active {background-position: 0 -26px; cursor: default;}
@-moz-document url-prefix() {
	.maintop {margin-top:1px;clear:both;}
}
