@charset "utf-8";
.cFix:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}


#wrapper {
  width: 100%;
}

#header {
  width: 100%;
}

#nav {
  width: 100%;
  background: #EFEFEF;
}

#content {
  width: 100%;
}
.content {
  width: 960px;
  margin: 0 auto 60px auto;
  border: 1px solid #cac9ca;
}
.ctn_inr {
  width: 840px;
  margin: 0 auto;
}
.ctn_inr h1 {
  font-size: 28px;
  /* font-size: 1.750em; */
  text-align: center;
  padding: 20px 0 15px 0;
  border-bottom: 2px solid #cac9ca;
  margin-bottom: 35px;
  font-weight: bold;
}

.font01 {
  font-size: 20px;
  padding-right: 1%;
}
.sec01 h2 {
  font-size: 18px;
  /* font-size: 1.125em; */
  font-weight: bold;
}
.sec01 p {
  font-size: 14px;
  /* font-size: 0.875em; */
  margin-bottom: 30px;
  padding-left: 1%;
}
.sec01_box {
  background: #f5f5f5;
  padding: 30px;
  margin-bottom: 30px;
}

.sec01_box01 dl dt {
  font-size: 18px;
  /* font-size: 1.125em; */
  padding-bottom: 15px;
  font-weight: bold;
}

.sec01_box01 dl dd {
  font-size: 14px;
  /* font-size: 0.875em; */
  padding-left: 2%;
  margin-bottom: 25px;
  word-wrap: break-word;
  line-height: 1.7;
  letter-spacing: 1px;
}


.sec01_box02 {
  font-size: 14px;
}

.sec01_box02 h3 {
  font-weight: bold;
  font-size: 14px;
}

.box02_01 {
/*  padding-left: 2%; */
  margin-bottom: 20px;
}

.box02_01 ul li {
  /* list-style-type: disc; */
  line-height: 2;
  padding-bottom: 20px;
}
.box02_01 ul li:last-child {
  padding-bottom: 0;
}

.box02_01 ul li .b01 {
  padding-left: 2%;
}

.font03 {
  font-size: 14px;
}

#hd02 {
  padding-top: 20px;
}

/*---- end of se01 ----*/

.sec02 {
  margin-bottom: 45px;
}

.sec02 h3 {
  font-weight: bold;
  font-size: 18px;
  /* font-size: 1.125em; */
  margin-bottom: 20px;
}
.sec02 p {
  font-size: 14px;
  margin-bottom: 25px;
  /* padding-left:2%; */
}

.sec02_box {
  background: #f5f5f5;
  padding: 30px;;
}

.box01 dl {
  padding-bottom: 20px;
}

.box01 dl dt {
  font-size: 18px;
  /* font-size: 1.125em; */
  font-weight: bold;
  padding-bottom: 20px;
}

.box01 dl dd {
  font-size: 14px;
  /* font-size: 0.875em; */
  padding-left: 2.6%;
  line-height: 2;
}
.box01 dl dd li {
  font-size: 14px;
  line-height: 2;
  text-indent: -1em;
}

.box01_img {
  width: 250px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.sec02_box:last-child .box01_img {
  padding-bottom: 20px;
}
.kaisetu dt .kaisetu-close {
  background: url(../images/kaisetu_btn.png) right center no-repeat;
  padding-right: 15px;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
  transition: .3s;
}
.kaisetu dt .kaisetu-close.open {
  background: url(../images/kaisetu_btn_close.png) right center no-repeat;
}
.kaisetu dd {
  margin-left: 1em;
  display: none;
}

/*---- end of se02 ----*/

.sec03_box {
   margin-bottom: 40px;
}
.sec3_first {
  margin-bottom: 30px;
}

.sec03_box h3,
.sec03_box01 h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 22px;
}

.sec03_box p {
  font-size: 14px;
  /* font-size: 0.875em; */
  line-height: 1.9;
  letter-spacing: 0.2px;
  word-wrap: break-word;
}

.sec03_box01 {
  padding-bottom: 40px;
  border-bottom: 1px dotted #cac9ca;
  margin-bottom: 40px;
}

.sec03 .sec03_box01 .text {
  font-size: 14px;
  /* font-size: 0.875em; */
  margin-left: 3.4%;
  position: relative;
  line-height: 2;
}

.sec03 .sec03_box01 .text:before {
  content: url(../images/D_02/D_02_icn01.png);
  position: absolute;
  top: 2px;
  left: -20px;
}

.sec03_box02 {
  margin-bottom: 65px;
}

.sec03_box02 h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.sec03_box02 .sec03_img {
  font-size: 14px;
  /* font-size: 0.875em; */
  padding: 0 55px 0 50px;
  position: relative;
  margin-bottom: 10px;
}

.sec03_box02 a {
  text-decoration: none;
  color: #151515;
  border-bottom: 1px solid #b3b3b3;
  letter-spacing: 0;
}
.sec03_box02 a:hover {
  color: #ef1a53;
}

.sec03_img a:before {
  content: url(../images/D_02/D_02_icn02.png);
  position: absolute;
  left: 4%;
  top: 6px;
}

.sec03_img img {
  vertical-align: middle;
}

.sec03_img:last-child img {
  padding-left: 5.8%;
}

 .e-03-nav {
  margin-bottom: 20px;
}

/* -------------end of pc--------------------------------- */

@media screen and (max-width: 960px) {
  .content {
    width: 94%;
  }
  .ctn_inr {
    width: 88%;
  }
  .box01_img {
    width: 80%;
    text-align: center;
  }
  .e-03-nav {
    /*display:none;*/
    /*padding: 0;*/
    /*background:none;*/
}
    #headerpop {
    /*border-bottom: none;
    padding-top:25px;*/
}
@media screen and (max-width: 640px) {
  .sec01_box01 dl dt {
    text-indent: -1.2em;
    padding-left: 1.2em;
    margin-left: -1em;
  }
  .sec03_box02 .sec03_img {
    padding:0 0 0 2.1%;
  }
  .sec03_img a:before {
    left: -7px;
  }
}
@media screen and (max-width: 745px) {
  .sec03_img:last-child img {
    padding-left: 0;
  }

}
