@charset "UTF-8";
/* CSS Document */
html,body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1px;
	height: 100%;
	margin: 0;
	color:#000000;
	list-style-type: none;
	background-image:url(../images/shadow_bothbtm.gif);
	
}
a {
	color:#666666;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color:#990000;
}

/* ヘッタ・フッタ固定############################################################################ */
#header_13my {
	width: 100%;
	height: 73px;
	position:fixed;
	margin:0px auto;
	z-index:300;
	background-image:url(../images/ht_bg_07underline.png);
}
#footer_13my{
	width: 100%;
	height: 33px;
	position:fixed;
	bottom: 0;
	z-index:200;
}
#header_fix{
	width:100%;
	height:73px;
}

/* jqueryスライドショー（js/slide.js）############################################################################ */
#slideshow02 {
	margin-left:0px;
	width: 1000px;
	position: absolute;
}
#slideshow02 div {
	width: 1000px;
	height: 420px;
	overflow: hidden;
	position: relative;
}
#slideshow02 div div {
	top: 0;
	left: 0;
	position: absolute;
}

#slideshow02 ul {
margin-left:25px;
	width: 1000px;
	position: absolute;
	z-index: 100;
	top: 350px;
	font-size:1px;
	left: 0px;
}

#slideshow02 ul li {
	width: 105px;
	float:left;
	margin-right:15px;
	list-style-type: none;
}

html>body #slideshow02 ul li {
	width: 110px;
	float:left;
	margin-right:10px;
	list-style-type: none;
}
#slideshow02 .active {
	filter:alpha(opacity=100)!important;
	-moz-opacity: 1!important;
	opacity: 1!important;
}
#slideshow02 ul:after {
	content: ".";
	height: 0;
	clear: both;
	display: block;
	visibility: hidden
}

#slideshow02 ul {
	display: inline-block;
	overflow: hidden;
}

/* ページコンテンツ############################################################################ */
.contents_13my{
	width:1000px;
	height:995px;
	margin:0px auto;
	margin-top:-75px;
}
.maincontents{
	width:926px;
	margin:0px auto;
	position: relative;
	left: 0px;
	top: 465px;

}
.subtitle{
font-size:18px;
color:#CC0033;
line-height:40px;
}
.subtext{
font-size:16px;
color:#666666;
}

/* car btn############################################################################ */
.car_btn{
	display:inline;
	position:absolute;
	top:-48px;
	left:-35px;
	width:1002px;
	height:82px;

}

.car_btn li{
	float:left;
	list-style-type: none;
	margin-left:0px;
}
.car_btn a{
	display:block;
	width:100px;
	height:110px;
	background-repeat:no-repeat;
}

a.car_btn_01{		background-image:url(../images/car_btn_01_off.png);		}
a.car_btn_01:hover{	background-image:url(../images/car_btn_01_on.png);		}
a.car_btn_02{		background-image:url(../images/car_btn_02_off.png);		}
a.car_btn_02:hover{	background-image:url(../images/car_btn_02_on.png);		}
a.car_btn_03{		background-image:url(../images/car_btn_03_off.png);		}
a.car_btn_03:hover{	background-image:url(../images/car_btn_03_on.png);		}
a.car_btn_04{		background-image:url(../images/car_btn_04_off.png);		}
a.car_btn_04:hover{	background-image:url(../images/car_btn_04_on.png);		}
a.car_btn_05{		background-image:url(../images/car_btn_05_off.png);		}
a.car_btn_05:hover{	background-image:url(../images/car_btn_05_on.png);		}
a.car_btn_06{		background-image:url(../images/car_btn_06_off.png);		}
a.car_btn_06:hover{	background-image:url(../images/car_btn_06_on.png);		}
a.car_btn_07{		background-image:url(../images/car_btn_07_off.png);		}
a.car_btn_07:hover{	background-image:url(../images/car_btn_07_on.png);		}
a.car_btn_08{		background-image:url(../images/car_btn_08_off.png);		}
a.car_btn_08:hover{	background-image:url(../images/car_btn_08_on.png);		}
a.car_btn_09{		background-image:url(../images/car_btn_09_off.png);		}
a.car_btn_09:hover{	background-image:url(../images/car_btn_09_on.png);		}
a.car_btn_10{		background-image:url(../images/car_btn_10_off.png);		}
a.car_btn_10:hover{	background-image:url(../images/car_btn_10_on.png);		}

/* centerbig_btn btn############################################################################ */
.centerbig_btn{
	display:inline;
	position:absolute;
	top:99px;
	left:-35px;
	width:900px;
	height:85px;
	font-size:1px;
}

.centerbig_btn li{
	float:left;
	margin-left:20px;
	list-style-type: none;
}
.centerbig_btn a{
	display:block;
	width:247px;
	height:85px;
	background-repeat:no-repeat;
}

a.centerbig_btn_01{			background-image:url(../images/mms_btn_01.jpg);		}
a.centerbig_btn_01:hover{	background-image:url(../images/mms_btn_01x.jpg);	}
a.centerbig_btn_02{			background-image:url(../images/mms_btn_02.jpg);		}
a.centerbig_btn_02:hover{	background-image:url(../images/mms_btn_02x.jpg);	}
a.centerbig_btn_03{			background-image:url(../images/mms_btn_03.jpg);		}
a.centerbig_btn_03:hover{	background-image:url(../images/mms_btn_03x.jpg);	}

/* iPad APPS btn############################################################################ */
.ipadapps{
	display:inline;
	position:absolute;
	top:268px;
	left:-35px;
	width:1000px;
	height:82px;
	font-size:1px;
}

.ipadapps li{
	float:left;
	line-height:10px;
	list-style-type: none;
	margin:0px 0px 15px 5px;
}
.ipadapps a{
	display:block;
	width:195px;
	height:82px;
	background-repeat:no-repeat;
}

a.ipadapps_01{			background-image:url(../images/ipad_apps_btn_01.png);		}
a.ipadapps_01:hover{	background-image:url(../images/ipad_apps_btn_01x.png);		}
a.ipadapps_02{			background-image:url(../images/ipad_apps_btn_02.png);		}
a.ipadapps_02:hover{	background-image:url(../images/ipad_apps_btn_02x.png);		}
a.ipadapps_03{			background-image:url(../images/ipad_apps_btn_03.png);		}
a.ipadapps_03:hover{	background-image:url(../images/ipad_apps_btn_03x.png);		}
a.ipadapps_04{			background-image:url(../images/ipad_apps_btn_04.png);		}
a.ipadapps_04:hover{	background-image:url(../images/ipad_apps_btn_04x.png);		}

a.ipadapps_05{			background-image:url(../images/ipad_apps_btn_05.png);		}
a.ipadapps_05:hover{	background-image:url(../images/ipad_apps_btn_05x.png);		}
a.ipadapps_06{			background-image:url(../images/ipad_apps_btn_06.png);		}
a.ipadapps_06:hover{	background-image:url(../images/ipad_apps_btn_06x.png);		}
a.ipadapps_07{			background-image:url(../images/ipad_apps_btn_07.png);		}
a.ipadapps_07:hover{	background-image:url(../images/ipad_apps_btn_07x.png);		}
a.ipadapps_08{			background-image:url(../images/ipad_apps_btn_08.png);		}
a.ipadapps_08:hover{	background-image:url(../images/ipad_apps_btn_08x.png);		}

a.ipadapps_09{			background-image:url(../images/ipad_apps_btn_09.png);		}
a.ipadapps_09:hover{	background-image:url(../images/ipad_apps_btn_09x.png);		}
a.ipadapps_10{			background-image:url(../images/ipad_apps_btn_10.png);		}
a.ipadapps_10:hover{	background-image:url(../images/ipad_apps_btn_10x.png);		}
a.ipadapps_11{			background-image:url(../images/ipad_apps_btn_11.png);		}
a.ipadapps_11:hover{	background-image:url(../images/ipad_apps_btn_11x.png);		}

a.ipadapps_12{			background-image:url(../images/ipad_apps_btn_12.png);		}
a.ipadapps_12:hover{	background-image:url(../images/ipad_apps_btn_12x.png);		}

/* jqueryページトップ（js/gotop.js）############################################################################ */
#gotop {
	font-size: 12px;
	text-align: right;
	width: 95px;
	height: 22px;
	z-index:79;
	left: 128px;
	top: 1055px;
	border:solid #cccccc 1px;
	margin-top:10px;
	padding:10px 20px 0px 0px;
	background-image:url(../images/backtop_mark.png)
 }
/* フッターコンテンツ############################################################################ */
.cont_ft{
	width:1000px;
	height:140px;
	margin:0px auto;
	position: relative;
	left: 0px;
	margin-top:95px;
	font-family:Arial, Helvetica, sans-serif; color:#666; font-size:11px;
}
ul.cont_ft_link {
	margin-left:0px;
	list-style-type: none;
}
ul.cont_ft_link li {
	height:20px;
	font-size:10px;
	margin-right:20px;
	float: left;
	text-align: left;
}

ul.cont_ft_link li a {
	color:#666;
	text-decoration: none;
}
ul.cont_ft_link li a:hover {
	text-decoration: none;
	color:#990000;
}
