@charset "UTF-8";

/* ------------------------- 
		default	
 ------------------------- */
html, body, div, span, figure, img, fieldset,
a, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, small, strong, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td{
	margin:0;
	padding:0;
	border:none;
	outline:none;
	font-size:1em;
}

header,hgroup,nav,article,
section,aside,figure,footer{
	display:block;
}

ol, ul{
	list-style: none;  
}

html{
    font:14px/1.3 "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "ＭＳ ゴシック", Arial, Helvetica, Tahoma, sans-serif;
}

body{
	background:#FFF;
	width:100%;
	color:#333333;
}

a,
a:hover{
	color:#333333;
	text-decoration:none;
}

#dummy {
	height: 400px;
}

/* ------------------------- 
		レイアウト
 ------------------------- */
#wrap {
	width: 100%;
	position: absolute;
}

/* header */
header {
	width: 100%;
	overflow: hidden;
}

#title {
	height: 45px;
	background-color: #000;
	position: relative;
}

#title h2 {
	color: #fff;
	font-size: 90%;
	text-align: center;
	line-height: 45px;
	height: 45px;
	padding: 0 50px;
	display: block;
}

#title h2.mm {
	font-size: 80%;
}

#title h2.sm {
	font-size: 70%;
}

#title p {
	top: 12px;
	left: 10px;
	width: 50px;
	height: 21px;
	background-image: url(../img/title_line.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	position: absolute;
	z-index: 5;
}

#title p img {
	width: 41px;
}

#header_links {
	height: 55px;
	position: relative;
}

#header_links ul {
	left: 10px;
	width: 200px;
	height: 55px;
	position: absolute;
}

#header_links ul li {
	display: block;
	position: absolute;
}

#header_links ul li.mn1 {
	top: 11px;
	left: 10px;
	width: 74px;
	height: 12px;
}

#header_links ul li.mn1 img {
	width: 74px;
}

#header_links ul li.mn2 {
	top: 10px;
	left: 105px;
	width: 80px;
	height: 12px;
}

#header_links ul li.mn2 img {
	width: 80px;
}

#header_links ul li.mn3 {
	top: 30px;
	left: 10px;
	width: 89px;
	height: 11px;
}

#header_links ul li.mn3 img {
	width: 89px;
}

#header_links ul li.mn4 {
	top: 30px;
	left: 108px;
	width: 80px;
	height: 13px;
}

#header_links ul li.mn4 img {
	width: 80px;
}

#header_links p {
	top: 10px;
	right: 10px;
	width: 95px;
	height: 15px;
	position: absolute;
}

#header_links p img {
	width: 95px;
}


#pnkz {
	color:#FFFFFF;
	text-decoration:none;
}

.pnkz2 {
	font-size:115%;
	line-height:200%;
}

/* footer */
footer {
	text-align: center;
	padding: 1px 0 10px 0;
	border-top: solid 1px #eeeeee;
}

#footer_link {
	padding: 14px 10px;
	margin: 0 0 1px 0;
	background-color: #eeeeee;
}

#footer_link p {
	font-size: 90%;
	line-height: 32px;
	background-color: #fff;
	border: solid 1px #cccccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-image: url(../img/footer_link_bg.png);
	background-repeat: repeat-x;
	background-position: 100% 100%;

}

#footer_link p a {
	margin: 0 10px;
	background-image: url(../img/link_pc.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 12px auto;
	display: block;
}

#footer_gotop {
	font-size: 90%;
	background-color: #999999;
}

#footer_gotop a {
	color: #fff;
	padding: 17px 0;
	display: block;
}

#footer_gotop a img {
	width: 18px;
	margin: 0 0 0 9px;
	vertical-align: baseline;
}

footer nav {
	padding: 17px 0 25px 0;
	display: block;
}

footer nav ul {
	font-size: 80%;
	line-height: 24px;
}

footer nav ul li.nm1 {
	padding: 0 0.8em 0 0;
	display: inline-block;
}

footer nav ul li.nm2 {
	padding: 0 0 0 0.8em;
	display: inline-block;
}

footer nav ul li.nm3 {
	padding: 0 0.8em 0 0;
	display: inline-block;
}

footer nav ul li.nm4 {
	padding: 0 0 0 0.8em;
	display: inline-block;
}

footer nav ul li.nm5 {
	display: block;
}

footer nav ul li.sp {
	display: block;
}

footer nav ul li.spl {
	display: inline-block;
}

footer address p {
	font-size: 74%;
	font-style: normal;
}

/* menu */
#menu {
}

#topmenu li {
	font-size: 84%;
	line-height: 39px;
	height: 39px;
	padding: 0 10px;
	border-bottom: solid 1px #999999;
}

#topmenu li.aw {
	background-image: url(../img/menu_aw.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 6px auto;
}

#topmenu li.pc {
	background-image: url(../img/menu_aw_pc.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 12px auto;
}

#topmenu li a {
	color: #fff;
	padding: 0 0 0 40px;
	display: block;
}

#topmenu li a.mn1 {
	background-image: url(../img/menu_ic1.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 12px auto;
}

#topmenu li a.mn2 {
	background-image: url(../img/menu_ic2.png);
	background-repeat: no-repeat;
	background-position: 8px 50%;
	background-size: 17px auto;
}

#topmenu li a.mn3 {
	background-image: url(../img/menu_ic3.png);
	background-repeat: no-repeat;
	background-position: 9px 50%;
	background-size: 17px auto;
}

#topmenu li a.mn4 {
	background-image: url(../img/menu_ic4.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 12px auto;
}

#topmenu li a.mn5 {
	background-image: url(../img/menu_ic5.png);
	background-repeat: no-repeat;
	background-position: 8px 50%;
	background-size: 15px auto;
}

#topmenu li a.mn6 {
	background-image: url(../img/menu_ic6.png);
	background-repeat: no-repeat;
	background-position: 9px 50%;
	background-size: 14px auto;
}


#menu .secmenu {
	width: 100%;
	border-bottom: solid 1px #999999;
}

#menu .secmenu:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0;
}

#menu .secmenu p {
	font-size: 80%;
	height:39px;
	min-height: 39px;
	line-height:39px;
	letter-spacing:-0.3px;
}

#menu .secmenu p.ml {
	width: 49%;
	border-right:1px solid #999999;
	float: left;
}

#menu .secmenu p.mr {
	width: 49%;
	float: right;
}

#menu .secmenu p.st {
	font-size: 80%;
	line-height: 1.2;
	height: 31px;
	padding: 8px 0 0 0;
}

#menu .secmenu p a {
	color: #fff;
	padding: 0 20px 0 10px;
	margin: 0;
	display: block;
}

#menu .secmenu p.ml a {
	padding: 0 0 0 20px;
}

#menu .secmenu p a.aw {
	background-image: url(../img/menu_aw.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 6px auto;
}

#menu .secmenu p a.pc {
	background-image: url(../img/menu_aw_pc.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 12px auto;
}

/* Top MV */
#mv_wrap {
	width: 100%;
}

#mv {
	width: 100%;
	background-color: #666;
	position: relative;
	overflow: hidden;
}

#mv img {
	width: 100%;
	height: auto;
	display: block;
}

#mv > div {
	top: 0;
	width: 100%;
	display: block;
	position: absolute;
}

#mv #mv1 {
	z-index: 3;
}

#mv #mv2 {
	z-index: 1;
}

#mv #mv3 {
	z-index: 1;
}

#mv #mv4 {
	z-index: 1;
}

#mv_menu {
	width: 100%;
	height: 55px;
	background-image: url(../img/mv_menu_bg.png);
	background-repeat: repeat-x;
	position: relative;
}


#mv_menu:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0;
}

#mv_menu .mn {
	width: 25%;
	height: 55px;
	background-image: url(../img/mv_menu_line.png);
	background-repeat: no-repeat;
	background-position: 100% 0;
	float: left;
}

#mv_menu .mnr {
	width: 25%;
	height: 55px;
	float: right;
}

#mv_menu a {
	text-indent: -9999px;
	height: 49px;
	margin: 0 2px;
	border-bottom: solid 4px #666666;
	display: block;
	overflow: hidden;
}

#mv_menu a.on {
	border-bottom: solid 4px #ef0041;
}

#mv_menu a.mn1 {
	background-image: url(../img/mv_menu1.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 47px auto;
}

#mv_menu a.mn2 {
	background-image: url(../img/mv_menu2.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 40px auto;
}

#mv_menu a.mn3 {
	background-image: url(../img/mv_menu3.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 46px auto;
}

#mv_menu a.mn4 {
	background-image: url(../img/mv_menu4.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 48px auto;
}

/* 個人投資家の皆様へ */
#top_column {
	padding: 15px 10px;
	background-color: #cac9ca;
}

#top_column:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0;
}

#top_column p.pic {
	width: 145px;
	margin: 0 10px 0 0;
	float: left;
	position: relative;
}

#top_column p.pic img {
	width: 145px;
}

#top_column h3 {
	font-size: 90%;
	margin: 0 0 5px 0;
	padding: 0 0 0 120px;
	background-repeat: no-repeat;
	background-position: 155px 40%;
	background-size: 10px 10px;
}

#top_column p.ld {
	font-size: 80%;
	margin: 0 0 10px 0;
}

#top_column p.links {
	font-size: 80%;
	line-height: 1;
	background-image: url(../img/top_aw.png);
	background-repeat: no-repeat;
	background-position: 120px 30%;
	background-size: 8px 8px;	
}

#top_column p.links a {
	margin: 0 0 5px 0;
	display: block;
}

#top_column p.links a img {
	height: 7px;
	margin-left: 15px;
	vertical-align: baseline;
}

/* Top News */
#top_news {
	padding: 0 10px;
	border-top: solid 1px #b0aeb0;
}

#top_news h3 {
	height: 55px;
}

#top_news h3 img {
	width: 115px;
	margin: 19px 0 0 0;
	display: block;
}

#top_news .top_news_wrap {
	margin-bottom: 18px;
}

#top_news .top_news_wrap h4 {
	font-size: 100%:
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	border-bottom: solid 1px #000;
}

#top_news .top_news_wrap h4 a {
	font-size: 80%;
	font-weight: normal;
	float: right;
}

#top_news .top_news_wrap h4 a span {
	color: #f13f64;
	margin: 0 0 0 2px;
}

#top_news .top_news_wrap p {
	font-size: 80%;
	padding: 10px 0;
	border-bottom: dotted 1px #cccccc;
}

#top_news .top_news_wrap p:last-child {
	border: none;
}

#top_news .top_news_wrap p a {
	display: block;
}

#top_news .top_news_wrap p a span.date {
	margin: 0 0 5px 0;
	display: block;
}

#top_news .top_news_wrap p a span.date img {
	width: 35px;
	margin: 0 0 0 5px;
	vertical-align: top;
}

#top_news .top_news_wrap p a span.data {
	padding: 0 0 0 15px;
	background-image: url(../img/top_aw.png);
	background-repeat: no-repeat;
	background-position: 0 2px;
	background-size: 10px 10px;
	display: block;
}

#top_news_irs {
	font-size: 90%;
	font-weight: bold;
	line-height: 35px;
	height: 35px;
	background-color: #cfcfcf;
	margin: 0 0 15px 0;
	padding: 0 0 0 10px;
	background-image: url(../img/top_news_irs_aw.png);
	background-repeat: no-repeat;
	background-position: 98% 45%;
	background-size: 7px auto;
}

#top_news_irs a {
	padding: 0 0 0 24px;
	background-image: url(../img/top_news_irs_icon.png);
	background-repeat: no-repeat;
	background-position: 0 45%;
	background-size: 18px auto;
	display: block;
}

#top_news_evt {
	margin: 0 0 15px 0;
	padding: 10px;
	background-color: #000;
}

#top_news_evt h4 {
	color: #fff;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0 0 5px 25px;
	border-bottom: solid 1px #fff;
	background-image: url(../img/top_news_evt_icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 17px auto;
}

#top_news_evt p {
	font-size: 90%;
	margin: 0 0 10px 0;
	color: #fff;
}

#top_news_evt p a {
	color: #fff;
}

#top_news_evt p a span {
	font-size: 90%;
	margin: 0 1em 0 0;
}

#top_news_data {
	margin: 0 0 25px 0;
	padding: 10px;
	background-color: #000;
}

#top_news_data h4 {
	color: #fff;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 0 0 5px 25px;
	border-bottom: solid 1px #fff;
	background-image: url(../img/top_news_data_icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 15px auto;
}

#top_news_data h5 {
	color: #b2f5f4;
	font-size: 80%;
	font-weight: normal;
	margin: 0 0 10px 0;
}

#top_news_data .dl {
	font-size: 90%;
	line-height: 30px;
	margin: 0 0 15px 0;
	background-color: #fff;
	border: solid 1px #ef0343;
	background-image: url(../img/link_aw.png);
	background-repeat: no-repeat;
	background-position: 98% 50%;
	background-size: 6px auto;
}

#top_news_data .dl a {
	text-align: center;
	display: block;
}

#top_news_data ul {
	font-size: 90%;
}

#top_news_data ul li {
	font-size: 90%;
	margin: 0 0 10px 0;
}

#top_news_data ul li a {
	color: #fff;
}

#top_news_data ul li img {
	width: 14px;
	margin: 0 0 0 8px;
	vertical-align: bottom;
}

/* Top メインカテゴリ */
#top_maincat {
	margin: 0 0 25px 0;
	padding: 0 10px;
}

#top_maincat h3 {
	height: 32px;
}

#top_maincat h3 img {
	width: 225px;
	height: 21px;
}

#top_maincat h4 {
	line-height: 40px;
	height: 40px;
	margin: 0 0 5px 0;
	background-color: #000;
	background-image: url(../img/top_maincat_h_bg.png);
	background-repeat: repeat-x;
}

#top_maincat h4 a {
	color: #fff;
	font-weight: normal;
	padding: 0 10px;
	display: block;
}

#top_maincat h4 a.ps {
	background-image: url(../img/top_maincat_h_p.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 15px auto;
}

#top_maincat h4 a.nowOpen {
	background-image: url(../img/top_maincat_h_m.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 15px auto;
}

#top_maincat .contents {
	display: none;
}

#top_maincat .contents p {
	font-size: 90%;
	line-height: 40px;
	height: 40px;
	background-color: #cac9ca;
	margin: 0 0 5px 0;
}

#top_maincat .contents p a {
	padding: 0 10px;
	display: block;
}

#top_maincat .contents p a.aw {
	background-image: url(../img/link_aw.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 6px auto;
}

#top_maincat .contents p a.pc {
	background-image: url(../img/link_pc.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 12px auto;
}

/* Top 各リンク */
#top_links {
	padding: 0 10px;
	margin: 0 0 25px 0;
}

#top_links h3 {
	height: 26px;
}

#top_links h3 img {
	width: 37px;
	height: 14px;
	display: block;
}

#top_links ul {
	margin: 0 0 20px 0;
}

#top_links ul li {
	font-size: 80%;
	width: 45%;
	margin:0 10px 1em 0;
	letter-spacing:-0.4px;
}

#top_links ul li.ib {
	display: inline-block;
}



#top_links ul li a.aw {
	background-image: url(../img/link_aw.png);
	background-repeat: no-repeat;
	background-position: 90% 0;
	background-size: 6px auto;
	display: block;
}

#top_links ul li a.pc {
	background-image: url(../img/link_pc.png);
	background-repeat: no-repeat;
	background-position: 98% 0;
	background-size: 9px auto;
	display: block;
}

#top_links .info_link {
	font-size: 90%;
	line-height: 40px;
	height: 40px;
	margin: 0 0 15px 0;
	background-color: #000;
}

#top_links .info_link a {
	color: #fff;
	padding: 0 0 0 10px;
	display: block;
	background-image: url(../img/top_info_link_icon.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 17px auto;
}

#top_links .info_link a span {
	text-decoration: underline;
}

#top_links .banner {
	width: 305px;
	margin: 0 auto 10px auto;
}

#top_links .banner:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0;
}

#top_links .banner p.bl {
	margin: 0 10px 0 0;
	float: left;
}

#top_links .banner p.br {
	float: left;
}

#top_links .banner img {
	width: 145px;
	height: 70px;
	display: block;
}

/* main */
#main {
	padding: 0 0 50px 0;
}

#main h3 {
	font-size: 120%;
	font-weight: 900;
	line-height: 35px;
	margin-bottom: 15px;
	padding: 0 0 0 25px;
	background-color: #cac9ca;
	background-image: url(../img/main_title_bg.png);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-size: 5px 10px;
}

/* トップメッセージ */
#top_message_wrap {
	font-size: 84%;
	padding: 0 10px;
}

#top_message_wrap .pic_wrap {
	margin: 0 0 20px 0;
	border-bottom: solid 1px #000;
}

#top_message_wrap .pic_wrap p.pic {
	margin: 0 0 10px 0;
}

#top_message_wrap .pic_wrap p.pic img {
	width: 100%;
	display: block;
}

#top_message_wrap .pic_wrap p.name {
	line-height: 1.5;
	margin: 0 0 15px 0;
}

#top_message_wrap .main {
	line-height: 1.6;
	margin: 0 0 25px 0;
}

#top_message_wrap .img_mess {
	float:right;
	margin:10px 0 20px 20px;
}

#top_message_wrap .name_wrap {
	text-align: right;
}

#top_message_wrap .name_wrap p {
	margin: 0 0 15px 0;
}

#top_message_wrap .name_wrap p img {
	height: 20px;
	margin: 0 0 0 13px;
	vertical-align: bottom;
}

/* 当期の業績・実績報告 */
#finance_result_highlight_wrap {
	padding: 0 10px;
}

#finance_result_highlight_wrap .top_ld {
	font-size: 84%;
	padding: 0 0 15px 0;
}

#finance_result_highlight_wrap .top_ld p {
	line-height: 1.5;
	padding: 0 0 15px 0;
}

#finance_result_highlight_wrap h4 {
	font-size: 84%;
	font-weight: normal;
	margin: 0 0 5px 0;
}

#finance_result_highlight_wrap h4 span.sq {
	color: #cac9ca;
}

#finance_result_highlight_wrap h4 span.red {
	color: #e60012;
}

#finance_result_highlight_wrap p.graph {
	margin: 0 0 20px 0;
}

#finance_result_highlight_wrap p.graph img {
	width: 100%;
	display: block;
}


.link_exl {
	background: url(../img/top_aw.png) no-repeat left 2px;
	background-size: 10px 10px;
	padding-left :20px;	
}
.link_exl img {
	margin-left: 5px;
	vertical-align: middle;
}






/* 決算短信・関連資料 */
#library_earning_wrap {
	font-size: 90%;
	padding: 0 10px;
}

#library_earning_wrap h4 {
	font-weight: normal;
	line-height: 1;
	padding: 1px;
	margin-bottom: 5px;
	border: solid 1px #eeeeee;
}

#library_earning_wrap h4 a {
	line-height: 33px;
	padding: 0 10px;
	background-image: url(../library/img/earning_h4_close.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 15px auto;
	display: block;
}

#library_earning_wrap h4 a.nowOpen {
	color: #fff;
	background-color: #e60012;
	background-image: url(../library/img/earning_h4_open.png);
	background-repeat: no-repeat;
	background-position: 97% 50%;
	background-size: 16px auto;
}

#library_earning_wrap .data_wrap {
	display: none;
}

#library_earning_wrap h5 {
	font-weight: normal;
	margin: 15px 0 15px 0;
}

#library_earning_wrap p {
	font-size: 90%;
	line-height: 1;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: dotted 1px #cccccc;
}

#library_earning_wrap p a img {
	width: 14px;
	margin: 0 0 0 3px;
	vertical-align: bottom;
}

/* IRニュース */
#irnews_wrap {
	padding: 0 10px;
}


#irnews_wrap h4 {
	font-size: 100%;
	margin: 0 0 20px 0;
	padding:0 0 5px 0;
	border-bottom: solid 1px #000;
}

#irnews_wrap p {
	font-size: 80%;
	line-height: 1.5;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: dotted 1px #cccccc;
}

#irnews_wrap p span {
	font-size: 90%;
	margin: 0 0 3px 0;
	display: block;
}

#irnews_wrap p img {
	width: 14px;
	margin: 0 0 0 5px;
	vertical-align: bottom;
}

/* IRカレンダー */
#event_calendar_wrap {
	padding: 0 10px;
}

#event_calendar_wrap h4 {
	font-size: 90%;
	margin: 0 0 20px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#event_calendar_wrap p {
	font-size: 80%;
	line-height: 1.5;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: dotted 1px #cccccc;
}

#event_calendar_wrap p span.date {
	width: 36%;
	float: left;
	display: block;
}

#event_calendar_wrap p span.data {
	width: 63%;
	float: right;
	display: block;
}

#event_calendar_wrap p:after {
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}

#event_calendar_wrap p.pic {
	margin: 0 0 20px 0;
	padding: 0;
	border:none;
}

#event_calendar_wrap p.pic img {
	width: 100%;
}

/* 株主総会 */
#event_meeting_wrap {
	padding: 0 10px;
}

#event_meeting_wrap h4 {
	font-size: 100%;
	margin: 0 0 20px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#event_meeting_wrap p {
	font-size: 80%;
	line-height: 1.6;
	margin: 0 0 10px 0;
	padding: 0 0 10px 18px;
	border-bottom: dotted 1px #cccccc;
	background: url(../event/img/meeting_aw.png) no-repeat 0 2px;
	background-size: 10px 10px;
}

#event_meeting_wrap p img {
	width: 14px;
	margin: 0 0 0 5px;
	vertical-align: bottom;
}

#event_meeting_wrap p.ld {
	border: none;
	margin: 0 0 5px 0;
	padding: 0;
	background: none;
}

#event_meeting_movlink {
	background-color: #cac9ca;
}

#event_meeting_movlink p {
	font-weight: bold;
	text-align: center;
	line-height: 1;
	margin: 20px 0 0 0;
	padding: 0;
	background: none;
}

#event_meeting_movlink p a {
	color: #26b0f5;
	padding: 8px 0;
	display: block;
}

/* 株式の状況 */
#stockinfo_wrap {
	padding: 0 10px;
}

#stockinfo_wrap p.ld {
	font-size: 80%;
	text-align: right;
	margin: 0 0 10px 0;
}

#stockinfo_wrap h4 {
	font-size: 100%;
	margin: 0 0 10px 0;
	padding: 0 0 5px 0;
	border-bottom: solid 1px #000;
}

#stockinfo_wrap table.table_status {
	font-size: 80%;
	text-align: left;
	width: 100%;
	margin: 0 0 25px 0;
	border-top: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-collapse: collapse;
}

#stockinfo_wrap table.table_status th {
	font-weight: normal;
	padding: 10px;
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	background-color: #eeeeee;
}

#stockinfo_wrap table.table_status td {
	padding: 10px;
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
}

#stockinfo_wrap table.table_status td.right {
	text-align: right;
}

#stockinfo_wrap table.table_status td.center {
	text-align: center;
}

#stockinfo_wrap table.table_status tr.gray {
	background-color: #eeeeee;
}

/* 三菱自動車を知るTOP */
#individual_about_top_wrap {
	background-color: #c90037;
	padding: 0 0 35px 0;
}

#individual_about_top_head {
	height: 118px;
	background: url(../individual/img/about_top_head_bg.png) repeat-x 0 19px;
	position: relative;
}

#individual_about_top_head p {
	top: 8px;
	left: 10px;
	width: 119px;
	height: 97px;
	display: block;
	position: absolute;
}

#individual_about_top_head p img {
	width: 119px;
	display: block;
}

#individual_about_top_head h3 {
	top: 32px;
	left: 122px;
	width: 171px;
	height: 20px;
	display: block;
	position: absolute;
}

#individual_about_top_head h3 img {
	width: 171px;
	height: 20px;
	display: block;
}

#individual_about_top_wrap ul {
	padding: 0 10px;
	display: block;
}

#individual_about_top_wrap ul li {
	height: 45px;
	margin: 0 0 5px 0;
	background: url(../individual/img/about_top_aw.png) no-repeat 98% 50%;
	background-size: 6px 11px;
	background-color: #fff;
	display: block;
}

#individual_about_top_wrap ul li a {
	line-height: 50px;
	height: 45px;
	padding: 0 0 0 65px;
	display: block;
}

#individual_about_top_wrap ul li a img {
	height: 17px;
}

#individual_about_top_wrap ul li.mn1 a {
	background: url(../individual/img/about_top_icon1.png) no-repeat 9px 50%;
	background-size: 31px 26px;
}

#individual_about_top_wrap ul li.mn2 a {
	background: url(../individual/img/about_top_icon2.png) no-repeat 10px 50%;
	background-size: 30px 25px;
}

#individual_about_top_wrap ul li.mn3 a {
	background: url(../individual/img/about_top_icon3.png) no-repeat 8px 50%;
	background-size: 35px 13px;
}

#individual_about_top_wrap ul li.mn4 a {
	background: url(../individual/img/about_top_icon4.png) no-repeat 11px 50%;
	background-size: 29px 24px;
}

#individual_about_top_wrap ul li.mn5 a {
	background: url(../individual/img/about_top_icon5.png) no-repeat 12px 50%;
	background-size: 29px 26px;
}

/* 三菱自動車を知る・下層 */
#individual_about_head {
	padding: 0 0 15px 0;
}

#individual_about_head ul {
	width: 297px;
	margin: 0 auto;
	padding: 0 0 15px 0;
}

#individual_about_head ul:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0;
}

#individual_about_head ul li {
	width: 55px;
	height: 55px;
	margin: 0 5px 0 0;
	float: left;
}

#individual_about_head ul li:last-child {
	margin: 0;
}

#individual_about_head ul li img {
	width: 55px;
	height: 55px;
	display: block;
}

#individual_about_head h4 {
	line-height: 1;
	height: 35px;
	padding: 0 0 0 10px;
	background-color: #000;
}

#individual_about_head h4 img {
	height: 22px;
	margin: 6px 0 0 0;
	padding: 0;
	display: inline;
}

#individual_about_main {
	padding: 0 10px;
}

#individual_about_main h5 {
	color: #e60012;
	font-size: 90%;
	font-weight: normal;
	margin: 0 0 10px 0;
}

#individual_about_main h5:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0;
}

#individual_about_main h5.nmb {
	margin: 0;
}

#individual_about_main h5 span {
	color: #666;
	font-size: 80%;
	float: right;
}

#individual_about_main h6 {
	font-size: 90%;
	font-weight: normal;
	margin: 0 0 8px 0;
}

#individual_about_main p {
	font-size: 80%;
	margin: 0 0 20px 0;
}

#individual_about_main p.sm {
	font-size: 60%;
}

#individual_about_main p.right {
	text-align: right;
}

#individual_about_main p.about1_pic1 {
	text-align: center;
}

#individual_about_main p.about1_pic1 img {
	width: 293px;
	height: 75px;
}

#individual_about_main p.about1_pic2 {
	text-align: center;
}

#individual_about_main p.about1_pic2 img {
	width: 298px;
	height: 127px;
}

#individual_about_main p.about2_pic1 {
	text-align: center;
}

#individual_about_main p.about2_pic1 img {
	width: 300px;
}

#individual_about_main p.about2_pic2 {
	text-align: center;
}

#individual_about_main p.about2_pic2 img {
	width: 300px;
}

#individual_about_main p.about2_pic3 {
	text-align: center;
}

#individual_about_main p.about2_pic3 img {
	width: 300px;
}

#individual_about_main p.about3_pic1 {
	text-align: center;
}

#individual_about_main p.about3_pic1 img {
	width: 207px;
}

#individual_about_main p.about3_pic2 {
	text-align: center;
}

#individual_about_main p.about3_pic2 img {
	width: 300px;
}

#individual_about_main p.about3_pic3 {
	text-align: center;
}

#individual_about_main p.about3_pic3 img {
	width: 300px;
}

#individual_about_main p.about4_pic1 {
	text-align: center;
}

#individual_about_main p.about4_pic1 img {
	width: 300px;
}

#individual_about_main p.about4_pic2 {
	text-align: center;
}

#individual_about_main p.about4_pic2 img {
	width: 300px;
}

#individual_about_main p.about4_pic3 {
	text-align: center;
}

#individual_about_main p.about4_pic3 img {
	width: 210px;
}

#individual_about_main p.about4_pic4 {
	text-align: center;
}

#individual_about_main p.about4_pic4 img {
	width: 218px;
}

#individual_about_main p.about5_pic1 {
	text-align: center;
}

#individual_about_main p.about5_pic1 img {
	width: 300px;
}

#individual_about_main p.about5_pic2 {
	text-align: center;
}

#individual_about_main p.about5_pic2 img {
	width: 300px;
}

#individual_about_main p.about5_pic3 {
	text-align: center;
}

#individual_about_main p.about5_pic3 img {
	width: 296px;
}

#individual_about_main p.about5_pic4 {
	text-align: center;
}

#individual_about_main p.about5_pic4 img {
	width: 282px;
}

#individual_about_main p.link a {
	line-height: 1;
	padding: 2px 0 2px 15px;
	text-decoration: underline;
	background: url(../individual/img/about5_aw.gif) no-repeat 0 50%;
	background-size: 10px 10px;
	min-height: 10px;
	display: block;
}

/* 新たな成長ステージへ */
#individual_mp_top h3 {
	line-height: 1;
	margin: 0;
	padding: 0;
}

#individual_mp_top h3 img {
	width: 100%;
	display: block;
}

#individual_mp_top ul {
	display: block;
}

#individual_mp_top ul li {
	height: 42px;
	margin: 1px 0 0 0;
	background-color: #000;
	display: block;
}

#individual_mp_top ul li a {
	color: #fff;
	line-height: 42px;
	padding: 0 0 0 30px;
	display: block;
}

#individual_mp_top ul li a span {
	font-size: 60%;
}

#individual_mp_top ul li.mn1 {
	background: url(../individual/img/mp_mnt_bg1.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top ul li.mn2 {
	background: url(../individual/img/mp_mnt_bg2.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top ul li.mn3 {
	background: url(../individual/img/mp_mnt_bg3.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top ul li.mn4 {
	background: url(../individual/img/mp_mnt_bg4.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top ul li.mn5 {
	background: url(../individual/img/mp_mnt_bg5.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top ul li.mn6 {
	background: url(../individual/img/mp_mnt_bg6.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top ul li.mn7 {
	background: url(../individual/img/mp_mnt_bg7.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top ul li.mn8 {
	background: url(../individual/img/mp_mnt_bg8.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top ul li.mn9 {
	background: url(../individual/img/mp_mnt_bg9.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_top_dl {
	margin: 20px 10px 20px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #000;
}

#individual_mp_top_dl h4 {
	color: #fff;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0 0 5px 25px;
	border-bottom: solid 1px #fff;
	background-image: url(../img/top_news_data_icon.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 15px auto;
}

#individual_mp_top_dl h4 span {
	font-size: 90%;
}

#individual_mp_top_dl ul {
	font-size: 90%;
	line-height: 1;
	margin: 0;
	padding: 10px 0 0 0;
	display: block;
}

#individual_mp_top_dl ul li {
	font-size: 90%;
	height: auto;
	margin: 0 0 10px 0;
	padding: 0;
}

#individual_mp_top_dl ul li a {
	color: #fff;
	line-height: 1;
	margin: 0;
	padding: 0 0 0 18px;
	background-image: url(../img/top_aw.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: 10px 10px;
	display: block;
}

#individual_mp_top_dl ul li img {
	width: 14px;
	margin: 0 0 0 8px;
	vertical-align: middle;
}

#individual_mp_top_dl ul li img.pc {
	width: 12px;
	margin: 0 0 0 8px;
	vertical-align: middle;
}

/* 新たな成長ステージへ 下層 */
#individual_mp_wrap h3 {
	color: #fff;
	font-weight: normal;
	line-height: 42px;
	height: 42px;
	margin: 0 0 20px 0;
	padding: 0 0 0 30px;
	display: block;
}

#individual_mp_wrap h3 span {
	font-size: 60%;
}

#individual_mp_wrap h3.mp1 {
	background: url(../individual/img/mp_mnt_bg1.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap h3.mp2 {
	background: url(../individual/img/mp_mnt_bg2.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap h3.mp3 {
	background: url(../individual/img/mp_mnt_bg3.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap h3.mp4 {
	background: url(../individual/img/mp_mnt_bg4.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap h3.mp5 {
	background: url(../individual/img/mp_mnt_bg5.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap h3.mp6 {
	background: url(../individual/img/mp_mnt_bg6.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap h3.mp7 {
	background: url(../individual/img/mp_mnt_bg7.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap h3.mp8 {
	background: url(../individual/img/mp_mnt_bg8.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap h3.mp9 {
	background: url(../individual/img/mp_mnt_bg9.png) no-repeat 0 50% #000;
	background-size: 18px 42px;
}

#individual_mp_wrap .footer_links {
	font-size: 70%;
	margin: 0 0 20px 0;
}

#individual_mp_wrap .footer_links:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	font-size:0;
}

#individual_mp_wrap .footer_links p {
	width: 49%;
	height: 42px;
}

#individual_mp_wrap .footer_links p.back {
	float: left;
}

#individual_mp_wrap .footer_links p.next {
	text-align: right;
	float: right;
}

#individual_mp_wrap .footer_links p.back a {
	padding: 7px 0 0 48px;
	display:block;
}

#individual_mp_wrap .footer_links p.next a {
	padding: 7px 48px 0 0;
	display:block;
}

#individual_mp_wrap .footer_links p a.top {
	padding-top: 0;
	line-height: 42px;
}

#individual_mp_wrap .footer_links p.b0 {
	background: url(../individual/img/mp_fl_aw0b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n0 {
	background: url(../individual/img/mp_fl_aw0n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n1 {
	background: url(../individual/img/mp_fl_aw1n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.b1 {
	background: url(../individual/img/mp_fl_aw1b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n2 {
	background: url(../individual/img/mp_fl_aw2n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.b2 {
	background: url(../individual/img/mp_fl_aw2b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n3 {
	background: url(../individual/img/mp_fl_aw3n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.b3 {
	background: url(../individual/img/mp_fl_aw3b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n4 {
	background: url(../individual/img/mp_fl_aw4n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.b4 {
	background: url(../individual/img/mp_fl_aw4b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n5 {
	background: url(../individual/img/mp_fl_aw5n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.b5 {
	background: url(../individual/img/mp_fl_aw5b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n6 {
	background: url(../individual/img/mp_fl_aw6n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.b6 {
	background: url(../individual/img/mp_fl_aw6b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n7 {
	background: url(../individual/img/mp_fl_aw7n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.b7 {
	background: url(../individual/img/mp_fl_aw7b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.n8 {
	background: url(../individual/img/mp_fl_aw1n.png) no-repeat 100% 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap .footer_links p.b8 {
	background: url(../individual/img/mp_fl_aw1b.png) no-repeat 0 50%;
	background-size: 42px 42px;
}

#individual_mp_wrap p.footer_kw {
	color: #fff;
	font-size: 80%;
	text-align: center;
	line-height: 1.6;
	background-color: #000;
	margin: 0 10px 20px 10px;
	padding: 15px 0;
}

#individual_mp_wrap p.footer_kw span {
	font-size: 90%;
	width: 90%;
	margin: 10px auto 0 auto;
	padding: 10px 0 0 0;
	border-top: solid 1px #fff;
	display: block;
}

/* 新たな成長ステージへ1 */
#individual_mp1 {
	text-align: center;
	padding: 0 10px;
}

#individual_mp1 h4 {
	font-size: 100%;
	margin: 0 0 20px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#individual_mp1 p.ld {
	font-size: 90%;
	margin-bottom: 20px;
}

#individual_mp1 p.pic {
	margin-bottom: 0;
}

#individual_mp1 p.pic img {
	width: 220px;
}

#individual_mp1 p.ti {
	color: #cc3002;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 3px;
}

#individual_mp1 p.dt {
	font-size: 90%;
	line-height: 1.5;
	margin-bottom: 15px;
}

#individual_mp1 p.aw {
	margin-bottom: 15px;
}

#individual_mp1 p.aw img {
	width: 29px;
}

#individual_mp1 p.but {
	padding: 20px 0 20px 0;
}

#individual_mp1 p.but img {
	width: 270px;
}

/* 新たな成長ステージへ2 */
#individual_mp2 {
	text-align: center;
	padding: 0 10px;
}

#individual_mp2 h4 {
	font-size: 100%;
	margin: 0 0 20px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#individual_mp2 p.kw {
	color: #fff;
	width: 90%;
	margin: 0 auto 10px auto;
	padding: 20px 0;
	background-color: #dd0000;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
}

#individual_mp2 p.kw span {
	font-size: 80%;
}

#individual_mp2 p.pic {
	margin: 40px 0;
}

#individual_mp2 p.pic img {
	width: 300px;
}

/* 新たな成長ステージへ3 */
#individual_mp3 {
	padding: 0 10px;
}

#individual_mp3 p.ld {
	font-size: 80%;
	line-height: 1.6;
	margin: 0 0 20px 0;
	padding: 0 5px;
}

#individual_mp3 p.ld span {
	font-size: 80%;
	text-align: right;
	padding: 5px 0 0 0;
	display: block;
}

#individual_mp3 p.ld img {
	width: 60px;
	margin: 0 12px 0 0;
	float: left;
}

#individual_mp3 h4 {
	font-size: 100%;
	margin: 0 0 20px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#individual_mp3 p.pic1 {
	margin: 0 0 10px 0;
}

#individual_mp3 p.pic1 img {
	width: 100%;
}

#individual_mp3 p.pic2 {
	margin: 0 0 30px 0;
}

#individual_mp3 p.pic2 img {
	width: 100%;
}

/* 新たな成長ステージへ4 */
#individual_mp4 {
	padding: 0 10px;
}

#individual_mp4 h4 {
	color: #333;
	font-size: 100%;
	line-height: 32px;
	margin: 0 0 10px 0;
	padding: 0 0 6px 38px;
	border-bottom: solid 1px #666;
}

#individual_mp4 h4.t1 {
	background: url(../individual/img/mp4ico1.png) no-repeat 0 0;
	background-size: 32px 32px;
}

#individual_mp4 h4.t2 {
	background: url(../individual/img/mp4ico2.png) no-repeat 0 0;
	background-size: 32px 32px;
}

#individual_mp4 h4.t3 {
	background: url(../individual/img/mp4ico3.png) no-repeat 0 0;
	background-size: 32px 32px;
}

#individual_mp4 h5 {
	color: #333;
	font-size: 90%;
	margin: 0 0 8px 0;
}

#individual_mp4 h5 span {
	color: #ff9500;
	font-size: 90%;
}

#individual_mp4 p {
	color: #333;
	font-size: 80%;
	line-height: 1.6;
	margin: 0 0 10px 0;
}

#individual_mp4 p.ls {
	margin: 0 0 20px 0;
}

/* 新たな成長ステージへ5 */
#individual_mp5 {
	padding: 0 10px;
}

#individual_mp5 h4 {
	margin: 0 0 30px 0;
}

#individual_mp5 h4 img {
	width: 145px;
}

#individual_mp5 p.pic {
	text-align: center;
	margin: 0 0 30px 0;
}

#individual_mp5 p.pic img {
	width: 283px;
}

#individual_mp5 p.tx {
	text-align: center;
	margin: 0 0 30px 0;
}

#individual_mp5 p.tx img {
	width: 106px;
}

/* 新たな成長ステージへ6 */
#individual_mp6 {
	text-align: center;
	padding: 0 10px;
}

#individual_mp6 h4 {
	font-size: 100%;
	margin: 0 0 20px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#individual_mp6 p.ld {
	margin: 0 0 30px 0;
}

#individual_mp6 p.ld img {
	width: 250px;
}

#individual_mp6 h5 {
	color: #fff;
	font-size: 90%;
	line-height: 1;
	margin: 0 0 30px 0;
	padding: 8px 0;
	background-color: #999;
}

#individual_mp6 p.pic {
	margin: 0 0 40px 0;
}

#individual_mp6 p.pic1 img {
	width: 209px;
}

#individual_mp6 p.pic2 img {
	width: 185px;
}

#individual_mp6 p.pic3 img {
	width: 235px;
}

/* 新たな成長ステージへ7 */
#individual_mp7 {
	text-align: center;
	padding: 0 10px;
}

#individual_mp7 h4 {
	font-size: 100%;
	margin: 0 0 12px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#individual_mp7 p.ld {
	font-size: 90%;
	margin: 0 0 30px 0;
}

#individual_mp7 p.pic {
	margin: 0 0 30px 0;
}

#individual_mp7 p.pic1 img {
	width: 247px;
}

#individual_mp7 p.pic2 img {
	width: 235px;
}

/* 新たな成長ステージへ8 */
#individual_mp8 {
	text-align: center;
	padding: 0 10px;
}

#individual_mp8 h4 {
	margin: 0 0 20px 0;
	padding: 20px 0 0 0;
}

#individual_mp8 h4 img {
	width: 271px;
}

#individual_mp8 p {
	font-size: 90%;
	font-weight: bold;
	line-height: 1.6;
	margin: 0 0 30px 0;
}

#individual_mp8 ul {
	color: #1186fd;
	font-size: 80%;
	font-weight: bold;
	text-align: left;
	margin: 0 10px 40px 10px;
	padding: 0 0 0 1.5em;
	list-style-type: decimal;
}

#individual_mp8 ul li {
	margin: 0 0 15px 0;
}

/* 新たな成長ステージへ9 */
#individual_mp9 {
	text-align: center;
	padding: 0 10px;
}

#individual_mp9 p {
	padding: 20px 0 30px 0;
}

#individual_mp9 p img {
	width: 282px;
}

#individual_mp9_links {
	margin: 0 10px 20px 10px;
	padding: 10px;
	background-color: #cccccc;
}

#individual_mp9_links h4 {
	font-weight: bold;
	margin: 0 0 10px 0;
}

#individual_mp9_links h5 {
	font-size: 90%;
	margin: 0 0 10px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#individual_mp9_links ul {
	font-size: 80%;
	margin: 0 0 20px 0;
}

#individual_mp9_links ul li {
	margin: 0 0 10px 0;
	padding: 0 0 5px 15px;
	background: url(../event/img/meeting_aw.png) no-repeat 0 2px;
	background-size: 10px 10px;
}

#individual_mp9_links ul li img {
	width: 14px;
	margin: 0 0 0 5px;
	vertical-align: bottom;
}

#individual_mp9_links ul li img.pc {
	width: 10px;
	margin: 0 0 0 7px;
}

/* 個人投資家向け説明会 */
#individual_event_wrap {
	padding: 0 10px;
}

#individual_event_wrap h4 {
	margin: 0 0 20px 0;
	padding:10px 0 5px 0;
	border-bottom: solid 1px #000;
}

#individual_event_wrap .wrap {
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	border-bottom: dotted 1px #ccc;
}

#individual_event_wrap .wrap:last-child {
	border: none;
}

#individual_event_wrap h5 {
	color: #e60012;
	font-size: 90%;
	line-height: 1.8;
	margin: 0 0 15px 0;
}

#individual_event_wrap p.pic {
	margin: 0 0 15px 0;
}

#individual_event_wrap p.pic img {
	width: 100%;
}

#individual_event_wrap p.data {
	font-size: 84%;
	line-height: 1.6;
	margin: 0 0 15px 0;
}

#individual_event_wrap p.links {
	font-size: 80%;
	line-height: 1.2;
}

#individual_event_wrap p.links a {
	margin: 0 0 10px 0;
	padding: 0 0 0 15px;
	background: url(../event/img/meeting_aw.png) no-repeat 0 1px;
	background-size: 10px 10px;
	display: block;
}

#individual_event_wrap p.links img {
	width: 14px;
	margin: 0 0 0 5px;
	vertical-align: bottom;
}



#irnews_area,
#press_area {
	margin:20px 5px 30px;
}
#irnews_area dt,
#press_area dt {
	margin-bottom:5px;
	font-size:80%;
}
#irnews_area dt span,
#press_area dt span {
	display:inline-block;
	width:8.5em;
}
#irnews_area img,
#press_area img {
	vertical-align: middle;
	margin-left:5px;
}
#irnews_area dd,
#press_area dd {
	margin:0 0 10px 0;
	padding-bottom:10px;
	font-size:80%;
	border-bottom: dotted 1px #cccccc;
}
#irnews_area dd:last-child,
#press_area dd:last-child {
	border: none;
}
#irnews_area dd.link,
#press_area dd.link {
	padding-left:15px;
	background:url(/share/images/link_icon_03.gif) no-repeat 0 2px;
}