@charset "utf-8";
/* =========================================================
 ◆ Responsive TOP PAGE CSS
========================================================= */

/* screens default
***************************************/

/* screens smaller than 1440
***************************************/
@media screen and (max-width: 1440px){


}

/* screens smaller than 960
***************************************/
@media screen and (max-width: 960px){


}

/* screens smaller than 768
**************************************/
@media screen and (max-width: 767px){

#dirPath { display:none; }

#Head { position: fixed; max-width: none; min-width: 0; }
#Gnav { position: fixed; max-width: none; min-width: 0; top: 0; }
#Main { padding-top: 50px; }
.old_android #Main { padding-top: 0; }

#Main .titlearea01 h2.titlestyle01 { padding: 0 14px;}
#Main h2 span.super,
#Mainvis h2 span.super{ font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:9px; display:block; font-weight:bold;}
#Main h2 span.mtxt,
#Mainvis h2 span.mtxt { font-size:37px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1;}
.titlearea01 { padding-top:26px !important; }

/* =========================================================
 ◆ performance CSS
========================================================= */
.perfomance #Main { padding-top:0; }
.perfomance #Mainvis { width:100%; overflow:hidden; padding-top:50px; }
.perfomance.old_android  #Mainvis { padding-top: 0px; }
.perfomance #Mainvis .titlearea01 { margin-bottom: 7px; }
.perfomance #Mainvis h2 {text-align: left;margin-bottom: 10px;}
.perfomance #Mainvis h2 span.mtxt { font-size: 45px; color:#333; }
.perfomance #Mainvis #Mainvis_inner { width:100%; }
.perfomance #Mainvis #Mainvis_inner .mainimg { width:100% !important; height:auto; margin:0 auto; background:#fff !important; }
.perfomance #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100% !important; height:auto; margin:0 auto; }
.perfomance #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { display:none; }
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { width:100% !important; height:auto; margin:0 auto; display:block !important;}
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 img{ width:100% !important; height:auto;}
.perfomance #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:auto; padding:0 6.25% !important;}
/*
.perfomance #Mainvis_inner .mainimg .txtarea_main .titstyle_01 { font-size:346% !important; line-height:1.0; margin-bottom:10px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.perfomance #Mainvis_inner .mainimg .txtarea_main .titstyle_01 span { font-size:14px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}
*/
.perfomance #Mainvis_inner .mainimg .txtarea_main p { text-align:left; font-size:108%; color:#666666; margin-left:0 !important; width:auto; margin-bottom:23px; }

.perfombox_01 { width:100% !important; margin:0 auto 52px !important; }
.perfombox_01 .boxstyle_01{ margin-bottom:20px !important; padding:23px 6.25% 0;}
.perfombox_01 .boxstyle_01 ul li { width:100% !important; height:auto !important; margin-right:0 !important; margin-bottom:18px !important;}
.perfombox_01 .boxstyle_01 ul li:last-child { margin-bottom: 0 !important; }
.mr0 { margin-right:0 !important; }
.perfomance .titstyle_01 { font-size:161.6%; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; line-height:1.0; margin-bottom:3px; }
.perfomance .titstyle_01 span { font-size:27px; color:#EB0000; }
.perfomance .txtstyle_01 { font-size:108%; color:#666666; line-height:1.4; }
.perfombox_01 .boxstyle_01 .titstyle_02 { font-size:182%; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; padding-top: 0; }
.perfombox_01 .boxstyle_02 { padding:0 6.25% !important; }
.perfombox_01 .boxstyle_02 ul li { width:100% !important; margin-right:0 !important; margin-bottom:20px !important; }
.perfombox_01 .boxstyle_02 ul li:last-child { margin-bottom: 0 !important; }
.perfombox_01 .boxstyle_02 ul li img { width:100% !important; margin-bottom:10px; }
.perfombox_02 { width:100% !important; margin:0 auto 50px !important; padding: 0; }
.perfombox_02 .titstyle_02 { font-size:32px !important; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; line-height:1.0; margin-bottom:30px; padding:0 6.25% !important;  }
.perfombox_02 .titstyle_03 { font-size:32px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; padding-bottom:5px; margin-bottom:15px; padding:0 6.25% !important; }
.perfombox_02 .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; font-size:24px !important; padding-bottom: 0; }
.perfombox_02 .perfombox_02_inner { margin-bottom:40px; padding:0 6.25% !important; }
.perfombox_02 .perfombox_02_inner .l_box { width:100% !important; margin-bottom:10px; }
.perfombox_02 .perfombox_02_inner .l_box.hybrid { margin-bottom: 20px; }
.perfombox_02 .perfombox_02_inner .l_box img { width:100% !important; }
.perfombox_02 .perfombox_02_inner .r_box,
.perfombox_02 .r_box465 { width:100% !important; }
.perfombox_02 .perfombox_02_inner .r_box img { width:100% !important; }

/* 20150924 追加 */
.perfomance .page_note{  }
.perfomance .page_note p{ width: 87.5%; }
.perfomance .page_note p:last-child { padding-bottom: 0; }
/* 20150924 追加 */

.perfomance .dynamic { width:100%; margin:0 auto; position: relative; }
.perfomance .dynamic .boxstyle .txtarea_01 { background:#FFF; position:static; margin:0 !important; padding:0 !important; width:100% !important; clear:both; }
.perfomance .dynamic .boxstyle .txtarea_01 .txtarea_01_inner { display: block; width:90.8%; float:none; padding:23px 4.6% 0!important; margin:0 !important; }
.perfomance .dynamic .boxstyle .imgstyle_02 { background:none; height:auto; }
.perfomance .dynamic .boxstyle .imgstyle_02 img { display:block;  width: 100%; }
.perfomance .dynamic .boxstyle .txtarea_01 .titstyle_01 { font-size:36px !important; text-align:center; padding:0; line-height:1.0; color:#333333; margin-bottom: 9px; }
.perfomance .dynamic .txtarea_01 .txtarea_01_inner p { color: #868686; }


.perfomance .leftbox01,
.perfomance .leftbox02,
.perfomance .leftbox03,
.perfomance .leftbox04,
.perfomance .rightbox { width:100%; float:none;}
.perfomance .leftbox01 p,
.perfomance .leftbox02 p,
.perfomance .leftbox03 p{ font-size: 16px; color: #666; line-height: 22.5px; margin:0; margin-bottom: 30px;}
.perfomance .leftbox03 img{ margin-bottom:30px;}

.perfombox_03 { background-color:#d7d7d7; width: 87.5%; margin:0 auto; padding: 6.25%; margin-bottom: 50px;}
.perfombox_03 h2 { font-size:48px; color:#333; line-height:1; margin-bottom:24px; text-align: left !important; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.perfombox_03 p{ font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px;}
.perfombox_03 ul li{ width:100%; float:none; margin-bottom:50px; margin-right:0 !important;}
.perfombox_03 ul li img{ width:100%;}
.mr30{ margin-right:30px;}

.perfombox_04 { width: 87.5%; margin:0 auto; }
.perfombox_04 ul { width:100%; }
.perfombox_04 ul li { width: 100%; display: inline; float: left; margin-right: 0px; }
.perfombox_04 ul li img{ width:100%; margin-bottom:30px;}
.perfombox_04 ul li.last { margin-right: 0; }
.perfombox_04 ul li figcaption{margin-bottom:10px;}
.perfombox_04 ul li figcaption h4{ font-size: 24px; color: #333333; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

.perfombox_05 { width: 87.5%; margin:0 auto; }
.perfombox_05 .l_box { display:block; float:none; margin-right:0px; }
.perfombox_05 .l_box img{ width:60%; margin: 0 auto; }
.perfombox_05 .r_box { display:block; float:none; margin-left:0px; text-align: center; margin-bottom:30px; }
.perfombox_05 .r_box.mb50 { margin-bottom: 0!important; }
.perfombox_05 .r_box img{ width: 50%; margin: 0 auto; }
.perfombox_05 .sp_block{ width: 100%;}
.perfombox_05 .titstyle_04 { font-size:32px; font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #666666; margin-bottom: 30px; border-bottom: solid 1px #DDDDDD; padding-bottom: 4px; }
.perfombox_05 .spml331{margin-left:0px;}
.perfombox_05 p{ font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px;}



/* =========================================================
 ◆ Models Page CSS
========================================================= */
.models .titlearea01 { padding-top: 25px; margin-bottom: 13px;}
.models .models_tab { width: 87.5%; margin: 0 auto 48px;}
.models .models_tab #Tabs {margin-bottom: 0;}
.models .sort_box { margin-bottom: 20px;}
.models .sort_box .sort_name { display: block; background: #EEEEEE; -webkit-box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); cursor: pointer; position: relative; z-index: 50; padding: 12px 0; }
.models .sort_box .sort_name span { display: block; font-size: 123.1%; line-height: 1.2; width: 91%; margin: 0 auto; background: url(../../models/images/sort_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
.models .sort_box .sort_name span.active { background: url(../../models/images/sort_name_close.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; }
.models .sort_box .sort_btn { background: #EEEEEE; position: relative; z-index: 10; width: 100%; display: none; }
.models .sort_box .sort_btn li { width: 100%; display: block; float: none; margin-right: 0px; background: #EEEEEE; text-align: center; border: none; border-bottom: 1px solid #FFFFFF; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 44px; }

.models .sort_box .sort_btn li.last { border-right:none;}
.models .sort_box .sort_btn li a { display: block; color: #333333; text-decoration: none; font-size:138.5%; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.models .sort_box .sort_btn li.active { background: #D2D2D2; }
.models .models_tab .tabBox { border: none;}
.models .models_tab .tabBox .img_area { margin-bottom: 20px;}
.models .models_tab .tabBox .img_area .img_area_l { display: block; float: none; width: 97%; padding: 0; margin: 0 auto 15px;}
.models .models_tab .tabBox .img_area .img_area_r { display: block; float: none; width: 100%; padding: 0;}

.models .models_tab .tabBox .img_area .img_area_r a { cursor:default; }
.models .models_tab .tabBox .img_area .img_area_r a img { width:100%; }
.models .models_tab .tabBox .img_area .img_area_r a img:hover { opacity: 1 !important; }
.models .models_tab .tabBox .img_area .img_area_r a .zoom { display: none; }

.models .models_tab .tabBox .img_area .img_area_r .img_inner_l { width: 100%; margin-right:0; margin-bottom: 10px; }
.models .models_tab .tabBox .img_area .img_area_r .img_inner_r { width: 100%; }
.models .models_tab .tabBox .txt_area { width: 100%; margin-bottom: 0;}
.models .models_tab .tabBox .txt_area .tit_area { padding-bottom: 2px; margin-bottom: 11px; font-size: 182%;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner { display: block; float: none;  width: 95%; margin: 0; padding-left: 4.6%;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner li { font-size: 108%;}


.models .accessories{ width: 87.5%; margin: 0 auto 48px;}
.models .accessories h2 { font-size:48px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1; margin-bottom:39px; text-align: left !important; }
.models .accessories .left{ float:none; width:100%;}
.models .accessories .right{ float:none; width:100%;}

/* =========================================================
 ◆ Design Page CSS
========================================================= */
.design #Mainvis { padding-bottom:20px; }
.design #Mainvis #Mainvis_inner { width:100%; padding-top: 0; }
.design #Mainvis h2 { margin-bottom:24px; }
.design #Main .titlearea01 h2.titlestyle01 { padding-bottom:2px; }
.design .section_wrap { padding:25px 4.5% 0; }

/* 20150914 追加 */
.design .styling { width:100%; background:url(../../design/images/bg_gradation_forward.png) repeat-x left top; margin:0 auto; position: relative; }
.design .styling .boxstyle .txtarea_01 { background:#FFF; position:static; margin:0 !important; padding:0 !important; width:100% !important; clear:both; }
.design .styling .boxstyle .txtarea_01 .txtarea_01_inner { display: block; width:90.8%; float:none; padding:23px 4.6% 18.75%!important; margin:0 !important; }
.design .styling .boxstyle .imgstyle_02 { background:none; height:auto; }
.design .styling .boxstyle .imgstyle_02 img { display:block; }
.design .styling .boxstyle .txtarea_01 .titstyle_01 { font-size:36px !important; text-align:center; padding:0; line-height:1.0; color:#333333; margin-bottom: 9px; }
.design .styling .txtarea_01 .txtarea_01_inner p { color: #868686; }
/* 20150914 追加 */

.design .forward { width:100%; margin-bottom:56px; }
.design .forward .forward_inner { padding:27px 5.6% 30px; }
.design .forward h2 { font-size:28px; margin-bottom:5px; }
.design .forward .box_wrap { margin-bottom: 28px; }
.design .forward .box_wrap .txt_left { width:100%; float:none; }
.design .forward .box_wrap .txt_left p { margin-bottom:8px; }
.design .forward .box_wrap .img_right { width:100%; float:right; }
.design .forward .box_wrap .img_right img { width:100%;}
.design .forward .outlander h3 { font-size:23px; margin-bottom:15px; padding-bottom:7px; }
.design .forward .outlander .img_left { width:72%; float: none; margin: 0 auto; padding: 0; }
.design .forward .outlander .img_left img { margin:0 auto; }
.design .forward .outlander .img_right { float:none; margin-bottom:15px; }
.design .forward .outlander .img_right img { width:100%; }

.design .exterior { width:96%; margin-bottom:55px; }
.design .exterior h2 { font-size:28px; margin-bottom:19px; }
.design .exterior ul li { width:100%; float:none; margin:0 0 20px; }
.design .exterior ul li.mb80 { margin-bottom: 20px !important;}
.design .exterior ul li.last { margin-bottom: 0; }
.design .exterior ul li figure figcaption { height:auto !important; }
.design .exterior ul li figure img { margin-bottom: 10px; width: 100%; }
.design .exterior ul li figure h3{ font-size:21px; margin-bottom:0; }

.design .interior .interior_inner { width:100%; padding:25px 0 31px; }
.design .interior .interior_inner .flow360_inner { padding: 8% 0; }
.design .interior h2 { font-size:36px; padding-bottom:2px; width:130px; margin-bottom:22px; }
.design .interior h3 { font-size:27px; text-align:left; width:87%; margin:0 auto 7px; }
.design .interior p { width:87%; margin-bottom:25px; }

/* 20150914 追加 */
.design .interior h2 { font-size:36px; padding-bottom:2px; width:130px; margin-bottom:22px; }
.design .interior .seat_panel { width: 87.5%; margin: 0 auto 15px; }
.design .interior h4 { font-size:24px; padding: 20px 0 6px; margin-bottom: 15px; }
.design .interior .seat_panel img { width: 100%; height:auto; }
.design .interior ul.seat_panel_list li { width:100%; display:inline; float:left; margin:0 0 20px 0; }
.design .interior .seat_caption { width: 87.5%; margin: 0 auto; }
/* 20150914 追加 */

.design.old_android header { position: static; }

/* 20150924 追加 */
.design .page_note{  }
.design .page_note p{ width: 87.5%; }
/* 20150924 追加 */

/* =========================================================
 ◆ Safety CSS
========================================================= */
/* 20150915 追加 */
.safety #Mainvis { width:100%; overflow:hidden; padding-top:50px; }
.safety.old_android  #Mainvis { padding-top: 0px; }
.safety #Mainvis .titlearea01 { margin-bottom: 7px; }
.safety #Mainvis h2 span.mtxt { font-size: 45px; color:#333; }
.safety #Mainvis #Mainvis_inner { width:100%; }
.safety #Mainvis #Mainvis_inner .mainimg { width:100% !important; height:auto; margin:0 auto; background:#fff !important; }
.safety #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100% !important; height:auto; margin:0 auto; }
.safety #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { display:none; }
.safety #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { width:100% !important; height:auto; margin:0 auto; display:block !important;}
.safety #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 img{ width:100% !important; height:auto;}
.safety #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:auto; padding:0 6.25% !important;}
.safety #Mainvis_inner .mainimg .txtarea_main p { text-align:left; font-size:108%; color:#666666; margin-left:0 !important; width:auto; margin-bottom:23px; }

.safety #Main .safety_list.first { padding-top: 30px; }
.safety #Main .safety_list.first:nth-child(n+2) { padding-top: 0; }
.safety #Main .safety_list .safety_list_box01 { margin-bottom:30px !important; }
.safety #Main .safety_list.last .safety_list_box01 { margin-bottom:40px }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 30px; }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_R { width: 100%; display: block; float: none; }
.safety #Main .safety_list h4 { margin-bottom:10px; line-height:1; }
/* 20150915 追加 */

.safety #Main h2 { margin-bottom: 10px; }
.safety #Main h2 span.super { font-size: 15px; }
.safety #Main h2 span.mtxt { font-size: 37px; }
.safety #Main h4,
.safety #Main h3 { font-size: 24px; color:#666666; padding-bottom: 5px; margin-bottom: 15px; }
.safety #Main h3 { padding-bottom: 2px; margin-bottom:11px; }
.safety #Main .section_wrap img { width: 100%; }
/*.safety #Main .section_wrap section { width: 87.5%; margin-bottom: 15px; }*/
.safety #Main .section_wrap section { width: 95%; margin-bottom: 15px; }
.safety #Main .cont_head { margin-bottom:49px; }
.safety #Main .cont_head .cont_head_inner { padding-top: 23px; }
.safety #Main .cont_head .cont_head_inner p { width: 87.5%; }
.safety #Main .headlamps { }
.safety #Main .headlamps .headlamps_box { }
.safety #Main .headlamps .headlamps_box .headlamps_box_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 10px; }
.safety #Main .fcm { margin-bottom: 45px !important; }
/* 20150915 追加 */
.safety #Main .fcm .fcmlist li { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .fcm .fcmlist li.last { margin-bottom: 0; }
.safety #Main .fcm .fcmlist li.last figure { margin-bottom: 11px; }
.safety #Main .fcm .fcmlist li figure {}
.safety #Main .fcm .fcmlist li figure img { margin-bottom:10px; }
.safety #Main .fcm .fcmlist li.last figure { }
.safety #Main .fcm .fcmlist li.last figure img { }
.safety #Main .fcm .fcmlist li.last figure p { }
.safety #Main .fcm .fcmlist li figure figcaption h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }

.safety #Main .fcm .txtstyle_01 { margin-bottom:10px; }

.safety #Main .note p { width: 100%; margin-bottom: 30px; }

.safety #Main .ldw .fl_box01 .fl_box01_L { width: 100%; }
.safety #Main .ldw .fl_box01 .fl_box01_R { width: 100%; }
.safety #Main .ldw .fl_box01 .fl_box01_R figure { width: 100%; float: none; }
.safety #Main .ldw .fl_box01 .fl_box01_R figure.border img { border:1px solid #ddd; }
.safety #Main .ldw .fl_box01 .fl_box01_R figure.last { width: 100%; margin-left: 0; margin-top: 30px; }

.safety #Main .multiaround_monitor .fl_box01 .fl_box01_L { width: 100%; }
.safety #Main .multiaround_monitor .fl_box01 .fl_box01_R { width: 100%; }
.safety #Main .multiaround_monitor .fl_box01 .fl_box01_R figure { width: 100%; float: none; }
.safety #Main .multiaround_monitor .fl_box01 .fl_box01_R figure.border img { border:1px solid #ddd; }
.safety #Main .multiaround_monitor .fl_box01 .fl_box01_R figure.last { width: 100%; margin-left: 0; margin-top: 30px; }

.safety #Main .ums .fl_box01 .fl_box01_L { width: 100%; }
.safety #Main .ums .fl_box01 .fl_box01_R { width: 100%; }
.safety #Main .ums .fl_box01 .fl_box01_R figure { width: 100%; float: none; }
.safety #Main .ums .fl_box01 .fl_box01_R figure.border img { border:1px solid #ddd; }
.safety #Main .ums .fl_box01 .fl_box01_R figure.last { width: 100%; margin-left: 0; margin-top: 30px; }
/* 20150915 追加 */
.safety #Main .ldw { margin-bottom: 32px !important; }
.safety #Main .headlamps .headlamps_box .headlamps_box_R { width: 100%; display: block; float: none; }
.safety #Main .acc { margin-bottom: 45px !important; }
.safety #Main .acc h3 { margin-bottom:15px; }
.safety #Main .acc .acclist {}
.safety #Main .acc .acclist li { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .acc .acclist li.last { margin-bottom: 0; }
.safety #Main .acc .acclist li.last figure { margin-bottom: 11px; }
.safety #Main .acc .acclist li figure {}
.safety #Main .acc .acclist li figure img { margin-bottom:10px; }
.safety #Main .acc .acclist li.last figure { }
.safety #Main .acc .acclist li.last figure img { }
.safety #Main .acc .acclist li.last figure p { }
.safety #Main .acc .acclist li figure figcaption h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }
.safety #Main .acc .acclist li .warning { }
.safety #Main .acc .acclist li .warning .warning_inner { padding: 18px 29px 20px 21px; }
.safety #Main .acc .acclist li .warning .warning_inner h5 { background: url(../../safety/images/sp_icon_01.png) left 2px no-repeat; -webkit-background-size: 20px 18px; background-size: 20px 18px; line-height: 1; margin-bottom: 2px; }
.safety #Main .acc .acc100 { float: none;}
.safety #Main .acc .acc100 img,
.safety #Main .acc .acc100 .acc100_txt { float: none; width: 100%; }
.safety #Main .acc .acc100 img { width: 100%; margin-right: 0; }
.safety #Main .acc .acc100 .acc100_txt {  padding-top: 0; font-weight: bold; font-size: 14px;}
.safety #Main .fl_box01 {}
.safety #Main .fl_box01 .fl_box01_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .fl_box01 .fl_box01_L figure {}
.safety #Main .fl_box01 .fl_box01_L figure img { }
.safety #Main .fl_box01 .fl_box01_R { width: 100%; display: block; float: none; }
.safety #Main .fl_box01 .fl_box01_R figure { }
.safety #Main .fl_box01 .fl_box01_R figure img { }
.safety #Main .fl_box01 .fl_box01_R figure p {  }
.safety #Main .fl_box01 .fl_box01_R .warning { }
.safety #Main .fl_box01 .fl_box01_R .warning .warning_inner { }
.safety #Main .fl_box01 .fl_box01_R .warning .warning_inner h5 { background: url(../../safety/images/sp_icon_01.png) left 5px no-repeat; -webkit-background-size: 20px 18px; background-size: 20px 18px; }
.safety #Main .section_wrap section.other { margin-bottom: 20px; }
.safety #Main .other li { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 42px; }
.safety #Main .other li.last { margin-bottom:20px; }
.safety #Main .other li h3 { }
.safety #Main .other li figure {}
.safety #Main .other li figure img { }
.safety #Main .section_wrap section.headlamps { margin-bottom: 45px !important;  }
.safety #Main .acc .acclist li figure img { border: 1px solid #DDDDDD; margin-bottom: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* 20150924 追加 */
.safety #Main .page_note{  }
.safety #Main .page_note p{ width: 100%; padding-bottom: 20px; }
/* 20150924 追加 */

/* =========================================================
 ◆ gallery CSS
========================================================= */
/* 20150916 追加 */
.gallery #Main { padding-top:0; }
.gallery #Mainvis { width:100%; overflow:hidden; padding-top:50px; }
.gallery.old_android  #Mainvis { padding-top: 0px; }
.gallery #Mainvis .titlearea01 { margin-bottom: 7px; }
.gallery #Mainvis h2 span.mtxt { font-size: 45px; color:#333; }
.gallery #Mainvis #Mainvis_inner { width:100%; }
.gallery #Mainvis #Mainvis_inner .mainimg { width:100% !important; height:auto; margin:0 auto; background:#fff !important; }
.gallery #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100% !important; height:auto; margin:0 auto; }
.gallery #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { display:none; }
.gallery #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { width:100% !important; height:auto; margin:0 auto; display:block !important;}
.gallery #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 img{ width:100% !important; height:auto;}
.gallery #Mainvis_inner .mainimg .txtarea_main { width:100%; margin:0; text-align:center; width:auto; padding:0 6.25% !important;}
.gallery #Mainvis_inner .mainimg .txtarea_main p { text-align:left; font-size:108%; color:#666666; margin-left:0 !important; width:auto; margin-bottom:23px; }
/* 20150916 追加 */

.gallery #Main h2 span.mtxt,
.gallery #Mainvis h2 span.mtxt { font-size:38px;}
.gallery #Main h2 span.super { margin-bottom: 5px; }
.gallery #Main .scenes_inner .titlearea01 { margin-bottom: 2px; padding-top: 23px !important; }
.gallery #Main .scenes_inner { width:100%; padding: 0 0 30px; }
.gallery .scenes h2 { font-size:36px; padding-bottom:2px; margin-bottom:23px; }
.gallery #Main .titlearea01 { margin-bottom: 8px !important; }
.gallery #Main .titlearea01 .titlestyle01 { padding: 0 14px;}
.gallery #Main .movie { width: 100%;}
.gallery #Main .movie .movie_inner {width: 87.5%; margin: 0 auto; padding: 8% 0 9.375%; display: block; position: relative; }
.gallery #Main .movie .movie_inner .titlearea01 { padding-top: 0 !important; }
.gallery #Main .movie .movie_inner .titlearea01 .titlestyle01 { padding-bottom: 2px; margin-bottom: 17px; }
.gallery #Main .movie .movie_inner .movie_main { width: 100%; display: block; height: auto; overflow: hidden; }
.gallery #Main .movie .movie_inner .movie_thumb { width: 100%; height: auto; }
.gallery #Main .movie .movie_inner .movie_thumb img { width: 100%;}
.gallery #Main .movie .movie_inner .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 300px; }

.gallery #Main .movie .movie_inner .movieB_main { width: 100%; display: block; height: auto; overflow: hidden; }
.gallery #Main .movie .movie_inner .movieB_thumb { width: 100%; height: auto; }
.gallery #Main .movie .movie_inner .movieB_thumb img { width: 100%;}
.gallery #Main .movie .movie_inner .movieB_youtube { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 300px; }

.movie_sp_wrap{ position: relative ; margin:0px ; padding-top: 0px ; padding-bottom: 57% ; overflow: hidden ; }
.movie_sp_wrap iframe { position: absolute ; top: 0 ; left: 0 ; height: 100% ; width: 100% ; }

.movieB_sp_wrap{ position: relative ; margin:0px ; padding-top: 0px ; padding-bottom: 57% ; overflow: hidden ; }
.movieB_sp_wrap iframe { position: absolute ; top: 0 ; left: 0 ; height: 100% ; width: 100% ; }

.gallery #Main .views360 .views360_inner { padding-top: 0px; padding-bottom: 37px;}
.gallery #Main .views360 .views360_inner .titlearea01 .titlestyle01 { padding-bottom:2px; }
.gallery #Main .views360 .views360_inner .views360_main { width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area { width: 84%; height: auto; margin: 0 auto;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area img {width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_right { width: 14px; top: 50%; left: 4.68%; margin-top: -10px;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_left { width: 14px; top: 50%; right: 4.68%; margin-top: -10px;}


/* 20150924 追加 */
.gallery .page_note{ background-color: #e9f7ff; }
.gallery .page_note p{ width: 87.5%; }
/* 20150924 追加 */

/* =========================================================
 ◆ Entertainment Page CSS
========================================================= */
/* Main */
.entertainment #Mainvis #Mainvis_inner { width:100%; padding-top: 0; }

	/*
.entertainment #Mainvis h2 { font-size:37px; margin-bottom: 10px; }
.entertainment #Mainvis h2 br { display:none; }
.entertainment #Mainvis h2 .bdb { padding: 0 15px; }
.entertainment #Mainvis p { width:87.5%; margin:0 auto 26px; }
.entertainment #Mainvis .main_img { width:87.5%; }
.entertainment #Mainvis .main_img img { width:100%; }
*/

	/* 20150915 追加 */
	.entertainment #Main { padding-top:0; }
	.entertainment #Mainvis { width:100%; overflow:hidden; padding-top:50px; }
	.entertainment.old_android  #Mainvis { padding-top: 0px; }
	.entertainment #Mainvis .titlearea01 { margin-bottom: 7px; }
	.entertainment #Mainvis h2 { width: 100%; }
.entertainment #Mainvis #Mainvis_inner p span.super { text-align: center; padding-top: 26px; padding-right: 0;}
	.entertainment #Mainvis h2 span.mtxt { font-size: 45px; color: #666666; font-size: 32px; text-align: left;}
	.entertainment #Mainvis #Mainvis_inner { width:100%; }
	.entertainment #Mainvis #Mainvis_inner .mainimg { width:100% !important; height:auto; margin:0 auto; background:#fff !important; }
	.entertainment #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100% !important; height:auto; margin:0 auto; }
	.entertainment #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { display:none; }
	.entertainment #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { width:100% !important; height:auto; margin:0 auto; display:block !important;}
	.entertainment #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 img{ width:100% !important; height:auto;}
	.entertainment #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:auto; padding:0 6.25% !important;}
	.entertainment #Mainvis_inner .mainimg .txtarea_main p { text-align:left; font-size:108%; color:#666666; margin-left:0 !important; width:auto; margin-bottom:23px; }
	/* 20150915 追加 */

.entertainment .section_wrap { padding:25px 0 57px; }
.entertainment .entry_block { width:auto; padding:0 6.2% 0; }
.entertainment .sound_system .ss_inner .entry_block { padding: 0; }
.entertainment .entry_block ul.first_line li { width: 100%; float: none; margin: 0 0 16px; }/*20261129追加*/
.entertainment .entry_block ul.first_line li.new:before { position: absolute; top: 0; left: 0; content: url(../../entertainment/images/new.png); }/*20261129追加*/
.entertainment .entry_block ul.first_line li.new figure figcaption h3 { padding: 15px 40px; }
.entertainment .entry_block ul { margin-bottom:10px; }
.entertainment .entry_block ul li { width:100%; float:none; margin:0 0 16px; }
.entertainment .entry_block ul li.mb0 { margin-bottom:16px !important; }
.entertainment .entry_block ul li figure img { margin-bottom:10px; width:100%; }
.entertainment .entry_block ul li figure figcaption { height:auto !important; }
.entertainment .entry_block ul li figure figcaption h3 { font-size:32px; margin-bottom:10px;}
.entertainment .entry_block p.note { margin-bottom:25px; }

.entertainment .entry_block .audio_block { margin-bottom:20px; }
.entertainment .entry_block .audio_block .main_img { width:100%; float:none; margin-bottom:11px; }
.entertainment .entry_block .audio_block .caption_block { width:100%; float:none; }
.entertainment .entry_block .audio_block .caption_block p.txt { margin-bottom:0px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.h3 { display:block; width:48%; float:left; font-size:21px; color:#333; line-height:1; margin-bottom:2px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block { display:block; width:48.4%; float:right; padding-top:2px; margin-left:3%; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block img { display:block; width:100%; margin-bottom:1px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block span.italic_title { display:block; font-size:10px; }
.entertainment .entry_block .audio_block .caption_block .italic_title { font-size:12px; font-style:italic; line-height:1.2; }
.entertainment .entry_block .audio_block .caption_block img { margin-bottom:9px; }

.entertainment .sound_system .ss_inner { width:auto; padding:0 6.2%; }
.entertainment .sound_system .ss_inner .txtstyle_01 { margin-bottom:10px; }/* 20150915 追加 */
.entertainment .sound_system h2 { font-size:25px; margin-bottom:13px; padding-bottom:4px; }
.entertainment .sound_system .box_wrap .image { width:100%; float:none; margin-bottom:9px; }
.entertainment .sound_system .box_wrap .image img { width:100%; }
.entertainment .sound_system .box_wrap .caption { width:100%; float:none; }

.entertainment .amenity { padding-bottom:64px; }
.entertainment .amenity .amenity_inner { width:auto; padding:25px 6.2% 10px; }
.entertainment .amenity h2 { font-size:36px; width:125px; margin:0 auto 24px; }
.entertainment .amenity .box_wrap .image { width:100%; float:none; margin-bottom:10px; }
.entertainment .amenity .box_wrap .image img { width:100%; }
.entertainment .amenity .box_wrap .textbox { width:100%; float:none;  }
.entertainment .amenity .box_wrap .textbox h3 { font-size:21px; color:#999; }

/* 20150924 追加 */
.entertainment .page_note{  }
.entertainment .page_note p{ width: 87.5%; }
/* 20150924 追加 */

/* =========================================================
 ◆ utility CSS
========================================================= */
.utility #Main { padding-top:0; }
.utility #Mainvis { width:100%; overflow:hidden; padding-top:50px; }
.utility.old_android #Mainvis { padding-top: 0px; }
.utility #Mainvis #Mainvis_inner { width:100%; height:auto; }
.utility #Mainvis #Mainvis_inner .mainimg { width:100%; height:auto !important; margin:0 auto; padding-bottom:0; margin-bottom:30px; }
.utility #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100%; margin:0 auto;}
.utility #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { width:100%; margin:0 auto; }
.utility #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:87.5%; margin:0 auto; padding: 0 6.25%; }
.utility #Mainvis_inner .mainimg .txtarea_main p { width:100%; font-size:14px; margin-left:0 !important; color:#fff;  }
.utility #Mainvis h2 { width: 100%; }
.utility #Mainvis #Mainvis_inner p span.super { text-align: center; margin-bottom: 30px; padding-top:26px; }
.utility #Mainvis h2 span.mtxt { font-size: 45px; color: #fff; font-size: 32px; text-align: left;}
.utility .titlearea01 { margin-bottom:15px; }
.utility #Mainvis #Mainvis_inner .titlearea01 h2.titlestyle01 { width: 100%;}
.utility .titlestyle03 { font-size:45px !important; line-height:1.0; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; margin-bottom:10px; }
.utility .img_no{ display:block !important; width:100%; height:auto;}
.utility .pc_btnstyle01 {display: none;}
.utility .sp_btnstyle01 {display: block; width:156px; margin:0 auto;}


.utilitybox_01 .titstyle_01 { font-size:21px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; margin-bottom:7px; }
.utilitybox_01 .titstyle_01 span { font-size:36px; color:#EB0000; }
.utilitybox_01 .txtstyle_01 { font-size:15px; color:#666666; line-height:1.4; }
.utilitybox_01 .txtstyle_02 { font-size:10px; color:#999999; line-height:1.4; font-style:italic; }

.utilitybox_01 { width:87.5%; margin:0 auto 0; }
.utilitybox_01 .titstyle_02 { font-size:48px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; line-height:1.0; margin-bottom:30px; }
.utilitybox_01 .titstyle_03 { font-size:28px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:15px; line-height:1.0; }
.utilitybox_01 .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom:4px;}
.utilitybox_01 .utilitybox_01_inner { margin-bottom:40px; }
.utilitybox_01 .utilitybox_01_inner p:last-child { margin-bottom:0; }
/*.last .utilitybox_01_inner { margin-bottom:55px !important; }*/
.utilitybox_01 .utilitybox_01_inner .l_img_box { width:100%; display:inline; float:left; margin-right:0; margin-bottom:10px; }
.utilitybox_01 .f_box { display:inline; float:left; }
.mr2 { margin-right:2px; }
.w465 { width:100%; }
.utilitybox_01 .mb50 { margin-bottom: 40px!important; }
.utilitybox_01 .utilitybox_01_inner .r_txt_box { width:100%; display:inline; float:left; }
.utilitybox_01 .utilitybox_01_inner .l_box { width:100%; display:inline; float:left; margin-bottom:40px; }
.utilitybox_01 .utilitybox_01_inner .l_box .mmcs img{ width:100%; height:auto; }
.utilitybox_01 .utilitybox_01_inner .r_box { width:100%; display:inline; float:left; }
.utilitybox_01 .utilitybox_01_inner .r_box.sp_none { display:none; }
.utilitybox_01 .utilitybox_01_inner .r_box .f_box img { margin-bottom:7px; }
.utilitybox_01 .utilitybox_01_inner .ecobox { width:100%; }
.utilitybox_01 .utilitybox_01_inner .ecobox .l_box { display:inline; float:left; width:48.21% !important; margin-right:3.57%; }
.utilitybox_01 .utilitybox_01_inner .ecobox .l_box img { width:100% !important; height:auto; }
.utilitybox_01 .utilitybox_01_inner .ecobox .r_box { display:inline; float:left; width:48.21% !important; }
.utilitybox_01 .utilitybox_01_inner .ecobox .r_box .txtstyle_01 { width:100% !important; }
.sp_none { display:none; }

/* 20150915 追加 */
.utilitybox_01 .utilitybox_01_inner .utilityList li { width:100%; float:none; margin:0 0 40px; }
.utilitybox_01 .utilitybox_01_inner .utilityList li.last { margin-bottom: 0; }
.utilitybox_01 .utilitybox_01_inner .utilityList li figure figcaption { height:auto !important; }
.utilitybox_01 .utilitybox_01_inner .utilityList li figure img { margin-bottom: 10px; width: 100%; }
.utilitybox_01 .utilitybox_01_inner .utilityList li figure h3{ font-size:32px; margin-bottom:10px; }
/* 20150915 追加 */

.threebox .f_box { width:33.33%; height:auto; }
.threebox .f_box img { width:100%; }
.threebox .txtstyle_02 { padding-right:10px;}
.threebox02 { display:none; }
.threebox02 .f_box { width:33.33%; margin-bottom:15px; }
.threebox02 .f_box img { margin:0 auto; margin-bottom:0 !important; width:90%; }
.threebox02 .f_box .txtstyle_02 { text-align:center; }
.threebox02_sp { display:inline-block; }
.threebox02_sp .f_box { width:33.33%; margin-bottom:15px; }
.threebox02_sp .f_box img { margin:0 auto; margin-bottom:0 !important; width:100%; }
.threebox02_sp .f_box .txtstyle_02 { text-align:center; }

/* 20150924 追加 */
.utility .page_note{  }
.utility .page_note p{ width: 87.5%; }
/* 20150924 追加 */

/* =========================================================
 ◆ Specifications Page CSS
========================================================= */
/* Main */
.specifications .titlearea01 { margin-bottom:19px; }
.specifications section.wrap { width:100%; padding: 0; margin-bottom:50px; }

.specifications .section_head h3 { width:auto; float:none; font-size:21px;}
.specifications .section_head .check_wrap { width:auto; float:none; padding-top:14px; }
.specifications .section_head .check_wrap ul li { width:auto; float:left; background-repeat:no-repeat; background-position:0px 3px; -webkit-background-size: 10px; background-size: 10px; font-size:14px; color:#333; line-height:1.2; padding-left:17px; margin-right:16px; }
.specifications .section_head .check_wrap ul li.last { margin-right:0; }
.specifications .section_head .check_wrap ul li.standard { background-image: url(../../specifications/images/icon_standard.png); }
.specifications .section_head .check_wrap ul li.optional { background-image: url(../../specifications/images/icon_optional.png); }
.specifications .section_head .check_wrap ul li.not_available { background-image: url(../../specifications/images/icon_not.png); }

.specifications .exterior { margin-bottom:51px; }
.specifications .exterior.ex2 h3 { margin-bottom:11px; }
.specifications .table_wrap_outer { position: relative; overflow: hidden; padding-bottom: 11px; }
.specifications .table_wrap_outer:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 100%; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }
.specifications .table_wrap { overflow-x:scroll; margin-bottom:0; position: relative; }
/*.specifications .table_wrap:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 100%; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }*/
.specifications .table_wrap::-webkit-scrollbar { height:10px; }
.specifications .table_wrap::-webkit-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .table_wrap::-webkit-scrollbar-thumb { border-radius:6px; background:#ccc; }

.specifications table { width:960px; margin-bottom:0 !important; }
.specifications th.col-02 { width:50px; }
.specifications th.col-03 { width:65px; }

.specifications p.note { margin-bottom:0;}
.specifications .dimensional { margin-bottom: 52px; }
.specifications .dimensional figure { position: relative; overflow: hidden; }
.specifications .dimensional figure .image { width:100%; height:150px; overflow-x:scroll; overflow-y: hidden; margin-bottom:14px; position: relative; }
.specifications .dimensional figure .image::-webkit-scrollbar { height:10px; }
.specifications .dimensional figure .image::-webkit-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .dimensional figure .image::-webkit-scrollbar-thumb { border-radius:6px; background:#ccc; }
.specifications .dimensional figure .image::-moz-scrollbar { height:10px; }
.specifications .dimensional figure .image::-moz-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .dimensional figure .image::-moz-scrollbar-thumb { border-radius:6px; background:#ccc; }
.specifications .dimensional figure:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 150px; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }
.specifications .dimensional figure img { width:960px; margin-bottom:0; max-width:960px; }
.specifications .dimensional figure figcaption { text-align: left; }

/* table 微調整 */
.specifications .annotation { margin-bottom:34px;}
.specifications .annotation p.left_txt { width:auto; float:none; margin-bottom:6px; }
.specifications .annotation p.right_txt { width:auto; float:none; }

.specifications .warning { margin-bottom:53px; }
.specifications .warning .warning_inner { padding:13px 16px; }
.specifications .warning p.tit { margin:0 0 4px; }
.specifications .warning ul { padding:0; }
.specifications .warning ul li { list-style-position:inside; }
.specifications .warning ul li.left_txt { width:auto; float:none; margin-bottom:2px; }
.specifications .warning ul li.right_txt { width:auto; float:none; }

.specifications .equipment h3 { margin-bottom:1px; }
.specifications .equipment .check_wrap { margin-bottom:4px; }

/* 20150924 追加 */
.specifications .page_note{  }
.specifications .page_note p{ width: 100%; }
/* 20150924 追加 */

.specifications  .spec_tab{ display:none;}
.specifications .sp_content .section_head h3 { font-size: 25px; border-bottom:solid 1px #DDDDDD; margin-bottom: 35px; padding-bottom:4px; }
.specifications .sp_content .section_head .spc-list-area-contents {  margin-bottom: 65px; }


.dimensional,
.spc-list-area {
  box-sizing: border-box;
  padding: 5%;
}
.spc-list-area-contents {
  float: none;
  width: 100%;
  margin-bottom: 10%;
}
.dimensional,
.spc-list-area-contents img {
  width: 100%;
  margin: auto;
}
.spc-list-area-contents img.over {
  display: none;
}
.spc-list-area-contents h3 {
  float: none;
  border-bottom: 1px solid #686868;
  margin-bottom: 30px;
  padding-bottom: 5px;
  color: #686868 !important;
}
.specifications .section_head h3 {
  float: none !important;
  color: #686868 !important;
}
.spc-list-area-contents ul {
  overflow: hidden;
  width: 100%;
}
.spc-list-area-contents ul li {
  float: left;
  width: 47.5%;
}
.spc-list-area-contents ul li:first-child { margin-right: 5%; }
.spc-list-area-contents:nth-child(2) ul li:first-child {
  float: left;
  margin: 0;
}
.specifications .exterior { margin-bottom: 5%; }
.specifications .dimensional { margin-bottom: 5%; }
.specifications .section_head,
.specifications .dimensional .section_head { margin: 0;}
.special .txtstyle_02 { padding-left: 0; }

/* =========================================================
 ◆ catalog CSS
========================================================= */
.catalog #Main { padding-top:50px; }
.catalog.old_android #Main { padding-top: 0px; }
.catalog #Mainvis { padding-top:0; }
.catalog .titlearea01 { margin-bottom:20px; }
.catalog .catalogarea { width:87.5%; margin:0 auto; padding:0 6.25%; }
.catalog01 { margin-bottom:0 !important; }
.catalog02 { margin-bottom:35px !important; }
.catalogimg { display:none; }
.catalogimg_sp { margin-bottom:9px; display:inline; }
/* .catalogimg .downloadbtn_sp { display:inline; width:100%; height:15.8% !important; position:absolute; bottom:0;}
.catalogimg .downloadbtn { display:none; } */
.catalogbox { width:100%; }
.catalogbox a:hover { opacity:0.7; }
.catalogbox .catalog_tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; font-size:21px; }
.catalogbox .language { color:#666666; font-size:14px; }
.catalogbox ul {margin-bottom: 30px;}
.catalogbox ul li { display:inline; float:left; margin-right:3.57%; width:48.21% !important; margin-bottom:23px; }
.catalogimg {}
.catalogimg img { width:100%; }
.downloadbtn { width:100% !important; }
.catalogbox ul li img { width:100%; }
.catalogbox ul li.last ,.catalogbox ul li.even_num { margin-right:0 !important; }
.catalogarea .titstyle_03 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:15px !important; line-height:1.0; }
.catalogarea .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom:4px;}
.catalogarea .f_box { display:block; width:100%; }
.gcc { margin-right:0 !important; }
.catalogbox ul li .catalog_typename{width:26%;}




/* =========================================================
◆ PHEV SYSTEM CSS 20150916 追加
========================================================= */
.system #Main { padding-top:0; }
.system #Mainvis { width:100%; overflow:hidden; padding-top:50px; }
.system.old_android  #Mainvis { padding-top: 0px; }
.system #Mainvis .titlearea01 { margin-bottom: 7px; }
.system #Mainvis h2 span.mtxt { font-size: 45px; color:#333; }
.system #Mainvis #Mainvis_inner { width:100%; }
.system #Mainvis #Mainvis_inner .mainimg { width:100% !important; height:auto; margin:0 auto; background:#fff !important; }
.system #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100% !important; height:auto; margin:0 auto; }
.system #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { display:none; }
.system #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { width:100% !important; height:auto; margin:0 auto; display:block !important;}
.system #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 img{ width:100% !important; height:auto;}
.system #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:auto; padding:0 6.25% !important;}
.system #Mainvis_inner .mainimg .txtarea_main p { text-align:left; font-size:108%; color:#666666; margin-left:0 !important; width:auto; margin-bottom:23px; }

.system .section_wrap { padding-top:60px; }
.system .section_wrap section { margin-top:60px; }
.system .section_wrap section:first-child { margin-top:0; }

.system .section_wrap .txtstyle_01 { margin-bottom:10px; }
.system .section_wrap .txtstyle_03 { font-size:28px; margin-bottom:15px; line-height:1.0; }

.system .section_wrap .titstyle_02 { text-align: center; font-size:32px !important; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; line-height:1.0; margin-bottom:30px; padding:0 6.25% !important;  }

.system .section_wrap .txtarea_01_inner { width:87.5%; margin-right:auto!important; margin-left:auto!important; }

.system .systembox_01 { width:87.5%; margin-right:auto!important; margin-left:auto!important; }
.system .systembox_01 .l_box { width:100%; }
.system .systembox_01 .r_box { width:100%; margin-bottom:10px; }
.system .systembox_01 .r_box .img_logo , .img_car { display:none }
.system .systembox_01 .l_box .hidden_img { display:block; width:100%; float:right; padding:0 0 10px 20px }
.system .systembox_01 .l_box .hidden_img img { width: 100%; height:auto; }

.system .system_list { width:87.5%; margin-right:auto!important; margin-left:auto!important; }
.system .system_list .system_list_box01 .system_list_box_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 30px; }
.system .system_list.driving .system_list_box01 .system_list_box_L { margin-bottom: 10px; }
.system .system_list .system_list_box01 .system_list_box_R { width: 100%; display: block; float: none; }
.system .system_list h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }

.system .tomorrows { width:100%; margin:0 auto; position: relative; }
.system .tomorrows .boxstyle .txtarea_01 { background:#FFF; position:static; margin:0 !important; padding:0 !important; width:100% !important; clear:both; }
.system .tomorrows .boxstyle .txtarea_01 .txtarea_01_inner { display: block; width:90.8%; float:none; padding:23px 4.6% 0!important; margin:0 !important; }
.system .tomorrows .boxstyle .imgstyle_02 { background:none; height:auto; }
.system .tomorrows .boxstyle .imgstyle_02 img { display:block; }
.system .tomorrows .boxstyle .txtarea_01 .titstyle_01 { font-size:36px !important; text-align:center; padding:0; line-height:1.0; color:#333333; margin-bottom: 9px; }
.system .tomorrows .txtarea_01 .txtarea_01_inner p { color: #868686; }

.system .confort .eco_list li .eco_list_box_L { width: 25%; float: left; }
.system .confort .eco_list li .eco_list_box_R { width: 70%; margin-left: 0; float: right; }

/* 20150924 追加 */
.system .page_note{  }
.system .page_note p{ width: 87.5%; }
/* 20150924 追加 */


}



/* screens smaller than 614
**************************************/
@media screen and (max-width: 614px){
.entertainment #Mainvis h2 .para01 { display: block; }
}

/* screens smaller than 433
**************************************/
@media screen and (max-width: 433px){
.entertainment #Mainvis h2 .para01 { display: inline; }
.entertainment #Mainvis h2 .para02 { display: block; }
}
