@charset "utf-8";

#dirPath { background: #EEE;}
#dirPath .dirpath_inner { width: 960px; height:10px; margin: 0 auto; padding:8px 0 11px; }
#dirPath ul li { display:inline; float:left; font-size:12px; color:#525252; font-weight: bold;}
#dirPath ul li a { margin-right:0.5em; background:url(../images/icon_dirpath.png) no-repeat right center; padding-right:12px; color:#0085B2; font-weight: bold; text-decoration: none;}
#Main { padding-top:120px; }
#Main .titlearea01,
#Mainvis .titlearea01 { text-align:center;}
#Main h2,
#Mainvis h2 { text-align: center;}
#Main h2 span.super,
#Mainvis h2 span.super{ font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:6px; display:block; font-weight:bold;}
#Main h2 span.mtxt,
#Mainvis h2 span.mtxt { font-size:56px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1;}
#Main h2.titlestyle01,
#Mainvis h2.titlestyle01 { display:inline-block; border-bottom:solid 1px #DCDCDC; }
#Main .titlearea01 h2.titlestyle01 { padding: 0 20px 5px;}

/* =========================================================
 ◆ Design Page CSS
========================================================= */

/* Web Font [AlternateGothicCom-No2] */
.design #Mainvis h2 span.mtxt, .design .forward h2, .design .forward .outlander h3, .design .exterior h2, .design .exterior ul li figure h3, .design .interior h2, .design .interior h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

/* Web Font [Helvetica] */
.design #Mainvis h2 span.super, .design #Mainvis ul.bxslider01 li figcaption { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; }

/* header fix */
.design header { position: fixed; z-index: 1000; }

/* Main */
.design #Mainvis { background:url(../../design/images/bg_gradation.png) repeat-x left bottom #fff; margin-bottom:0px; padding-bottom:50px; }
.design #Mainvis #Mainvis_inner { width:960px; position: relative; margin:0 auto; padding-top:58px; }
.design #Mainvis h2 { margin:0 auto 7px; text-align:center;}
.design #Mainvis ul.bxslider01 { height:401px; overflow:hidden; }
.design #Mainvis ul.bxslider01 li { width:auto; float:left; }
.design #Mainvis ul.bxslider01 li figure img { margin-bottom: 18px; }
.design #Mainvis ul.bxslider01 li figcaption { font-size:12px; color:#666; line-height:1.2; text-align: center; }

.design .section_wrap { background:#fff; padding:59px 0 0; }

/* 20150914 追加 */
.design .styling { width:100%; background:url(../../design/images/bg_gradation_forward.png) repeat-x left top; margin:0 auto; position: relative; }
.design .styling .boxstyle .txtarea_01 { width:960px; position:absolute; left:50%; top:0; margin-left:-480px;}
.design .styling .boxstyle .txtarea_01 .txtarea_01_inner { width:400px; }
.design .styling .boxstyle .imgstyle_02 { background:url(../../design/images/styling_01.png) top center no-repeat; height: 659px; }
.design .styling .boxstyle .imgstyle_02 img { display:none; }
.design .styling .boxstyle .txtarea_01 .txtarea_01_inner { float:right; width:400px; display:inline; padding:170px 0 0 0; margin-right:30px; }
.design .styling .boxstyle .txtarea_01 .titstyle_01 { font-size:56px !important; line-height:1.0; color: #fff; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.design .styling .txtarea_01 .txtarea_01_inner p { margin-top:20px; font-size:16px; line-height:22.5px; color:#fff;}
/* 20150914 追加 */

.design .forward { width:960px; background:url(../../design/images/bg_gradation_forward.png) repeat-x left top #f2faff; margin:0 auto 95px; }
.design .forward .forward_inner { padding:56px 30px 60px; }
.design .forward h2 { font-size:48px; color:#333; line-height:1; margin-bottom:37px; text-align: left !important; }
.design .forward .box_wrap { margin-bottom: 52px; }
.design .forward .box_wrap .txt_left { width:270px; float:left; }
.design .forward .box_wrap .txt_left p { font-size:16px; color:#666; line-height:22.5px; }
.design .forward .box_wrap .img_right { width:600px; float:right; padding-top:3px; }
.design .forward .outlander h3 { font-size:32px; color:#666; line-height:1; letter-spacing:0.3px; margin-bottom:30px; padding-bottom:8px; border-bottom:solid 1px #ddd; }
.design .forward .outlander .img_left { width:267px; float: left; padding-top: 21px; }
.design .forward .outlander .img_right { width:auto; float:right; }

.design .exterior { width:960px; margin:50px auto 48px; display:block; }
.design .exterior h2 { font-size:48px; color:#333; line-height:1; margin-bottom:39px; text-align: left !important; }
.design .exterior ul li { width:300px; float:left; margin:0 30px 42px 0; }
.design .exterior ul li figure img { margin-bottom: 12px; }
.design .exterior ul li figure h3{ font-size:32px; color: #666; line-height: 1; border-bottom: solid 1px #ddd; text-align: left !important; margin-bottom: 28px; padding-bottom: 8px; }
.design .exterior ul li figure p{ font-size:16px; color:#666; line-height:22.5px; margin-bottom:30px;}

.design .interior { background: #000; }
.design .interior .interior_inner { width:960px; margin:0 auto; padding:53px 0 15px; }
.design .interior h2 { font-size:56px; color:#fff; line-height:1; text-align:center; width:320px; border-bottom:solid 1px #666; margin:0 auto 34px; padding-bottom:4px; }
.design .interior h3 { font-size:48px; color:#999; line-height:1; text-align:center; margin-bottom:1px; }
.design .interior p { font-size:16px; color:#ccc; line-height:22.5px; width:690px; margin:0 auto 46px; }

/* 20150914 追加 */
.design .interior h4 { font-size:32px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#fff; padding: 30px 0 6px; border-bottom: 1px solid #666; margin-bottom: 30px; }
.design .interior .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#FFF; margin-bottom:7px; }
.design .interior ul.seat_panel_list { margin-bottom:30px; }
.design .interior ul.seat_panel_list.last { margin-bottom:0; }
.design .interior ul.seat_panel_list li { width:465px; display:inline; float:left; margin:0 30px 20px 0; }
.design .interior ul.seat_panel_list li.even_img { margin-right:0; }
.design .interior ul.seat_panel_list li.last { margin-bottom:0; }
.design .interior .left_img { width:465px; display:inline; float:left; margin-right:30px; }
.design .interior .right_img { width:465px; display:inline; float:left; }
.design .interior .txtstyle_01 { text-align:center; color:#fff; }

.design .interior .seat_caption { color: #999; }
.design .interior .seat_caption ul li { margin-top:8px; padding-left: 1em; text-indent: -1em; }
.design .interior .seat_caption ul li:first-child { margin-top:0; }
/* 20150914 追加 */

/* 20150924 追加 */
.design .page_note{ background-color: #000; }
.design .page_note p{ width:960px; margin:0 auto; padding: 15px 0 30px; font-size: 12px; font-style: italic; color: #999; line-height: 1.4; }
/* 20150924 追加 */

/* =========================================================
 ◆ Models Page CSS
========================================================= */
.models #dirPath { margin-bottom: 58px;}
.models .titlearea01 { margin-bottom: 16px;}
.models .titlearea01 .titlestyle02 { border-bottom:none;}
.models .models_tab { width: 960px; margin: 0 auto;}
.models .models_tab #Tabs { margin-bottom: 100px;}
.models .models_tab .tabList { background: url(../../models/images/models_tab_bg.png) left bottom repeat-x; }
.models .models_tab .tabList li { display: inline; float: left; background: #EEEEEE; margin-right: 11px; width: 313px; }/* 20150915 編集 */
.models .models_tab .tabList li:first-child { width: 312px; }/* 20150915 編集 */
.models .models_tab .tabList li.active { background: #FFF; }
.models .models_tab .tabList li.last { margin-right: 0; float: right; }
.models .models_tab .tabList li a { height:61px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 24px; color: #666666; text-decoration: none; padding: 15px 0; display: block; text-align: center; border: 1px solid #EEEEEE; border-bottom: 1px solid #d7d7d7; }/* 20150915 編集 */
.models .models_tab .tabList li a.smallTab { line-height:61px; }/* 20150915 追加 */
.models .models_tab .tabList li a:hover { background: #e1e1e1; border-color: #e1e1e1; }
.models .models_tab .tabList li.active a { border: 1px solid #D7D7D7; border-bottom: none; color: #333; border-bottom: 1px solid #FFFFFF;  }
.models .models_tab .tabList li.active a:hover { background: #FFF; }
.models .models_tab .tabBox { border-right: solid 1px #D7D7D7; border-bottom: solid 1px #D7D7D7; border-left: solid 1px #D7D7D7;}
.models .models_tab .tabBox .img_area { margin-bottom: 43px;}
.models .models_tab .tabBox .img_area .img_area_l { width: 518px; padding: 61px 25px 0 86px; display: inline; float: left;}
.models .models_tab .tabBox .img_area .img_area_r { width: 270px; padding: 41px 29px 0 30px; display: inline; float: left;}
.models .models_tab .tabBox .img_area .img_area_r a { display: block; position:relative; outline:none; }
.models .models_tab .tabBox .img_area .img_area_r a .image { position:relative; top:0; left:0; }
.models .models_tab .tabBox .img_area .img_area_r a .zoom { position:absolute; right:10px; bottom:10px; }
.models .models_tab .tabBox .img_area .img_area_r .img_inner_l {margin-bottom: 20px;}
.models .models_tab .tabBox .txt_area { width: 900px; margin: 0 auto 50px;}
.models .models_tab .tabBox .txt_area .tit_area { padding-bottom: 9px; margin-bottom: 27px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 28px; color: #666; border-bottom: solid 1px #DDDDDD;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner { display: inline; float: left; width: 421px; padding-left: 13px; margin-right: 30px;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner02 { width: 416px; padding-left: 18px; margin-right: 0;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner li { margin-bottom: 8px; line-height:22.5px; font-size: 16px; list-style-image: url(../../models/images/icon_list.png);}
.models .memo { clear: both; padding-top: 10px; }
.models .memo p { font-size:12px; font-style:italic; color:#999; line-height:1.4; }
.models .accessories{ width: 960px; margin: 0 auto;}
.models .accessories h2 { font-size:48px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1; margin-bottom:39px; text-align: left !important; }
.models .accessories .left{ float:left; width:465px;}
.models .accessories .right{ float:right; width:465px;}

/* =========================================================
 ◆ performance CSS
========================================================= */
.perfomance #Mainvis { padding-top:0; }
.perfomance #dirPath { padding-top:120px; }
.perfomance #Main { padding-top:0; }
.perfomance #Mainvis h2 {text-align: left;margin-bottom: 36px;}
.perfomance #Mainvis h2 span.mtxt { font-size: 72px; color: #000; }/* 20161129 変更 */
.perfomance #Mainvis { width:100%; overflow:hidden;}
.perfomance #Mainvis #Mainvis_inner { width:100%;}
.perfomance #Mainvis .titlearea01 { margin-bottom: 3px; }
.perfomance #Mainvis #Mainvis_inner .mainimg { width:100%; height:660px; margin:0 auto; background:url(../../performance/images/bg_main.jpg) center top no-repeat;  }
.perfomance #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:960px; margin:0 auto; }
.perfomance #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { width:960px; margin:0 auto; }
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { display:none; }
.perfomance #Mainvis_inner .mainimg .txtarea_main {text-align: left;width: 450px;padding-top: 130px;/* margin:0 auto; */}/*20261129　変更*/
.perfomance #Mainvis_inner .mainimg .txtarea_main p {width: 300px; text-align:left; font-size:16px;/* margin-left:30px; */ color:#fff; line-height: 22.5px;}
.perfomance #Mainvis_inner .mainimg .txtarea_main .titstyle_01 { font-size:72px !important; line-height:1.0; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.perfomance #Mainvis_inner .mainimg .txtarea_main .titstyle_01 span { font-size:14px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}


.perfombox_01 { width:960px; margin:0 auto; }
.perfombox_01 .boxstyle_01{ margin-bottom:38px; padding-top:52px; }
.perfombox_01 .boxstyle_01 ul li { width:300px; display:inline; float:left; margin-right:30px; margin-bottom: 36px; }
.mr0 { margin-right:0 !important; }
.perfomance .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; line-height: 0.9; margin-bottom: 4px; }
.perfomance .titstyle_01 span { font-size:36px; color:#EB0000; }
.perfomance .txtstyle_01 { font-size:16px; color:#666666; line-height:22.5px; }
.perfombox_01 .boxstyle_01 .titstyle_02 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; padding-top:4px; }
.perfombox_01 .boxstyle_02 ul li { width:300px; display:inline; float:left; margin-right:30px; }
.perfombox_01 .boxstyle_02 ul li img { margin-bottom:13px; }
.perfombox_01 .boxstyle_02 p { font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px; }
.perfombox_01 .titstyle_02 { font-size:32px; font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #666666; margin-bottom: 30px; border-bottom: solid 1px #DDDDDD; padding-bottom: 4px; }
.perfombox_02 { width:960px; margin:0 auto; padding-top:52px; }
.perfombox_02 .titstyle_02 { font-size:48px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; line-height:1.0; margin-bottom:32px;  }
.perfombox_02 .titstyle_03 { font-size:32px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; padding-bottom:5px; margin-bottom:25px; }
.perfombox_02 .titstyle_04 { font-size:32px; font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #666666; margin-bottom: 30px; border-bottom: solid 1px #DDDDDD; padding-bottom: 4px; }
.perfombox_02 .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom: 5px; }
.perfombox_02 .perfombox_02_inner { margin-bottom:42px; }
.perfombox_02 .perfombox_02_inner .l_box { width:465px; display:inline; float:left; margin-right:30px; }
.perfombox_02 .perfombox_02_inner .r_box { float:right; padding-left:30px; }
.perfombox_02 .r_box465{ width:465px; float:right; padding-left:30px; }

.perfomance .leftbox01 { width:630px; float:left;}
.perfomance .leftbox02 { width:300px; float:left;}
.perfomance .leftbox03 { width:465px; float:left;}
.perfomance .leftbox03 .center { margin: 0 auto;}
.perfomance .leftbox04 { width:346px; float:left;}
.perfomance .leftbox01 p,
.perfomance .leftbox02 p,
.perfomance .leftbox03 p,
.perfomance .rightbox p{ font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px;}

.perfomance .rightbox { width:465px; float:right;}
.perfomance .rightbox .center { margin: 0 auto;}


.perfomance .dynamic { width:100%; margin:0 auto; position: relative; }
.perfomance .dynamic .boxstyle .txtarea_01 { width:960px; position:absolute; left:50%; top:0; margin-left:-420px;}
.perfomance .dynamic .boxstyle .txtarea_01 .txtarea_01_inner { width:400px; }
.perfomance .dynamic .boxstyle .imgstyle_02 { background:url(../../performance/images/img_12.jpg) top center no-repeat; height: 659px; }
.perfomance .dynamic .boxstyle .imgstyle_02 img { display:none; }
.perfomance .dynamic .boxstyle .txtarea_01 .txtarea_01_inner { float:left; width:300px; display:inline; padding:290px 0 0 0; margin-right:30px; }
.perfomance .dynamic .boxstyle .txtarea_01 .titstyle_01 { font-size:56px !important; line-height:1.0; color: #fff; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.perfomance .dynamic .txtarea_01 .txtarea_01_inner p { margin-top:20px; font-size:16px; line-height:22.5px; color:#fff;}

.perfomance .section_wrap { padding-top:60px; }
.perfomance .section_wrap section { margin-top:60px; }
.perfomance .section_wrap section:first-child { margin-top:0; }

.perfombox_03 { background-color:#d7d7d7; width:920px; margin:0 auto; padding:62px 32px 0; margin-bottom: 50px;}
.perfombox_03 h2 { font-size:48px; color:#333; line-height:1; margin-bottom:24px; text-align: left !important; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.perfombox_03 p{ font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px;}
.perfombox_03 ul li{ width:433px; float:left; margin-bottom:50px;}
.mr30{ margin-right:30px;}

.perfombox_04 { width:960px; margin:0 auto; }
.perfombox_04 ul li { width: 217px; display: inline; float: left; margin-right: 30px; }
.perfombox_04 ul li.last { margin-right: 0; }
.perfombox_04 ul li figcaption{margin-bottom:10px;}
.perfombox_04 ul li figcaption h4{ font-size: 24px; color: #333333; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

.perfombox_05 { width:960px; margin:0 auto; }
.perfombox_05 .l_box { display:inline; float:left; margin-right:30px; }
.perfombox_05 .r_box { display:inline; float:right; margin-left:30px; }
.perfombox_05 .titstyle_04 { font-size:32px; font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #666666; margin-bottom: 30px; border-bottom: solid 1px #DDDDDD; padding-bottom: 4px; }
.perfombox_05 .spml331{margin-left:331px;}
.perfombox_05 p{ font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px;}

/* 20150924 追加 */
.perfomance .perfombox_01 .page_note{ margin-top: 0; }
.perfomance .page_note p{
  /*width:960px;*/
   margin:0 auto; padding: 0 0 42px 0; font-size: 12px; font-style: italic; color: #999; line-height: 1.4; }
/* 20150924 追加 */
/* 20161129 変更 */


/* =========================================================
 ◆ gallery CSS
========================================================= */
/* 20150916 追加 */
.gallery #Mainvis { padding-top:0; }
.gallery #dirPath { padding-top:120px; }
.gallery #Main { padding-top:0; }
.gallery #Mainvis h2 span.mtxt { font-size: 72px; color: #333; }/* 20150915 変更 */
.gallery #Mainvis { width:100%; overflow:hidden;}
.gallery #Mainvis #Mainvis_inner { width:100%;}
.gallery #Mainvis .titlearea01 { margin-bottom: 3px; }
.gallery #Mainvis #Mainvis_inner .mainimg { width:100%; height:660px; margin:0 auto; background:url(../../gallery/images/bg_main.jpg) center top no-repeat;  }
.gallery #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:960px; margin:0 auto; }
.gallery #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { width:960px; margin:0 auto; }
.gallery #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { display:none; }
.gallery #Mainvis_inner .mainimg .txtarea_main { text-align: left; width: 500px; padding-top: 5%; }/*20161129　変更*/
.gallery #Mainvis_inner .mainimg .txtarea_main p { text-align:left; font-size:16px; color:#333; line-height: 22.5px; }
.gallery #Mainvis_inner .mainimg .txtarea_main .titstyle_01 { font-size:72px !important; line-height:1.0; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.gallery #Mainvis_inner .mainimg .txtarea_main .titstyle_01 span { font-size:14px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}
/* 20150916 追加 */
.gallery #Main h2, #Mainvis h2.titlestyle02 {text-align: left;}
.gallery #Main .titlearea01 { margin-bottom:45px;}
.gallery #Main .scenes_inner { width:960px; margin:0 auto 0px; padding:58px 0 0;}
.gallery #Main .scenes_inner #flexslider { position: relative; padding-bottom: 27px; }
.gallery #Main .scenes_inner #carousel { position: relative; width: 870px; margin: 0 auto; }
.gallery #Main .scenes_inner #carousel .slides li { height: 91px; float:left; display:inline; cursor: pointer; }
.gallery #Main .scenes_inner #carousel .slides li img { height: 85px; margin-right:14px; }
.gallery #Main .scenes_inner #carousel .slides li.last img { margin-right:0;}
.gallery #Main .scenes_inner #carousel .slides li.flex-active-slide img { border: solid 3px #858585; }
.gallery #Main .scenes_inner #carousel li img { display: inline;}
.gallery #Main .movie { background: #EEE;}
.gallery #Main .movie .movie_inner { width: 960px; padding: 53px 0 90px; margin: 0 auto;}
.gallery #Main .movie .movie_inner .titlearea01 { margin-bottom:40px; }
.gallery #Main .movie .movie_inner .movie_main {width: 712px; height: 400px; margin: 0 auto; position: relative;}
.gallery #Main .movie .movie_inner .movie_thumb {width: 712px; height: 400px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer; background: #EEE;}
.gallery #Main .movie .movie_inner .movie_thumb img { opacity: 1;}
.gallery #Main .movie .movie_inner .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1;}
.gallery #Main .movie .movie_inner .movie_youtube  iframe { visibility:hidden; }

.gallery #Main .movie .movie_inner .movieB_main {width: 712px; height: 400px; margin: 0 auto; position: relative;}
.gallery #Main .movie .movie_inner .movieB_thumb {width: 712px; height: 400px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer; background: #EEE;}
.gallery #Main .movie .movie_inner .movieB_thumb img { opacity: 1;}
.gallery #Main .movie .movie_inner .movieB_youtube { position: absolute; left: 0; top: 0; z-index: 1;}
.gallery #Main .movie .movie_inner .movieB_youtube  iframe { visibility:hidden; }
.gallery #Main .scenes .wallpaper { margin-left: 180px;}/*20161129　追加*/
.gallery #Main .scenes .wallpaper li { display: inline-block; margin-right: 100px; font-size: 14px text-align: center }/*20161129　追加*/
.gallery #Main .scenes .wallpaper li a { color: #55aecc; text-decoration: none; }/*20161129　追加*/
.gallery #Main .scenes .wallpaper li a:hover { text-decoration: underline;; }/*20161129　追加*/


.gallery #Main .views360 { background: url(../../gallery/images/bg_views360.png) repeat-x left bottom #fff;}
.gallery #Main .views360 .views360_inner { padding-top: 53px; padding-bottom: 70px;}
.gallery #Main .views360 .views360_inner .titlearea01 { margin-bottom:0; }
.gallery #Main .views360 .views360_inner .views360_main { width: 960px; margin: 0 auto; position: relative;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area { width: 900px; height: 400px; margin: 0 auto; position: relative; cursor: url(../../gallery/images/rotate/icon_cursor.png), e-resize;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area .loading_img { width: 20px; height: 20px; position: absolute; top: 50%; left: 50%; margin-left: -10px; margin-top: -10px; background: url(../../gallery/images/rotate/load.gif) no-repeat left top;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img { visibility: hidden;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img.current-img { visibility: visible; width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img.previous-img { visibility: hidden; width:0;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav {}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_left { position: absolute; top: 164px; right: 0;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_right { position: absolute; top: 164px; left: 1px;}

/* 20150924 追加 */
.gallery .page_note{ background-color: #e9f7ff; }
.gallery .page_note p{ width:960px; margin:0 auto; padding: 15px 0; font-size: 12px; font-style: italic; color: #999; line-height: 1.4; }
/* 20150924 追加 */

/* =========================================================
 ◆ Safety CSS
========================================================= */
/* 20150915 追加 */
.safety #Mainvis { padding-top:0; }
.safety #dirPath { padding-top:120px; }
.safety #Main { padding-top: 80px; }
.safety #Main h2, #Mainvis h2{ text-align:center;}
.safety #Mainvis h2 span.mtxt { font-size: 72px; color: #333; }/* 20150915 変更 */
.safety #Mainvis { width:100%; overflow:hidden;}
.safety #Mainvis #Mainvis_inner { width:100%;}
.safety #Mainvis .titlearea01 { margin-bottom: 30px; }
.safety #Mainvis #Mainvis_inner .mainimg { width:100%; height:660px; margin:0 auto; background:url(../../safety/images/bg_main.jpg) center top no-repeat;  }
.safety #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:960px; margin:0 auto; }
.safety #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { width:960px; margin:0 auto; }
.safety #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { display:none; }
.safety #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:710px; padding-top:58px; margin:0 auto; }
.safety #Mainvis_inner .mainimg .txtarea_main p { width:700px; text-align:left; font-size:16px; color:#666; line-height: 22.5px; }
.safety #Mainvis_inner .mainimg .txtarea_main .titstyle_01 { font-size:72px !important; line-height:1.0; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.safety #Mainvis_inner .mainimg .txtarea_main .titstyle_01 span { font-size:14px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}

.safety #Main .safety_list.first { padding-top: 60px; }
.safety #Main .safety_list .new { position: relative;}
.safety #Main .safety_list .new:before { position: absolute; top: 0; left: 0; content: url(../../safety/images/new.png); }
.safety #Main .safety_list .new h4 { padding: 15px 30px; }
.safety #Main .safety_list .safety_list_box01 { margin-bottom:30px }
.safety #Main .safety_list.last .safety_list_box01 { margin-bottom:100px }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_L { width: 465px; display: inline; float: left; margin-right: 30px; }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_R { width: 465px; display: inline; float: left; }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_R img { margin:0 auto; }
.safety #Main .safety_list h4 { font-size:32px; font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #666666; margin-bottom: 30px; border-bottom: solid 1px #DDDDDD; padding-bottom: 4px; }
.safety #Main .safety_list p { font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px;}
.safety #Main .safety_list img { margin-bottom: 10px; }
.safety #Main .safety_list .left_img { float: left;}
.safety #Main .safety_list .right_img { float: right;}
/* 20150915 追加 */

.safety #Main h2 span.mtxt { font-size: 72px; }
.safety #Main h3,
.safety #Main h4,
.safety #Main h5 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.safety #Main h3 { font-size:32px; color:#666666; padding-bottom: 6px; border-bottom: 1px solid #DDDDDD; margin-bottom: 30px; }
.safety #Main .section_wrap p { font-size:16px; color: #666666; line-height:22.5px; }
.safety #Main .section_wrap section { width: 960px; margin: 0 auto 40px; }
.safety #Main .cont_head { margin-bottom: 53px; }
.safety #Main .cont_head .cont_head_inner { padding-top: 60px; }
.safety #Main .cont_head .cont_head_inner p { width: 705px; margin: 0 auto; font-size:16px; color: #666666; line-height:22.5px; }
.safety #Main .headlamps { margin-bottom:52px !important; }
.safety #Main .headlamps .headlamps_box { }
.safety #Main .headlamps .headlamps_box .headlamps_box_L { width: 300px; display: inline; float: left; margin-right: 30px; }
.safety #Main .headlamps .headlamps_box .headlamps_box_R { width: 630px; display: inline; float: left; }
.safety #Main .acc { margin-bottom:50px !important; }
.safety #Main .acc .acclist {}
.safety #Main .acc .acclist li { width: 300px; display: inline; float: left; margin-right: 30px; }
.safety #Main .acc .acclist li.last { margin-right: 0; }
.safety #Main .acc .acclist li figure {}
.safety #Main .acc .acclist li figure img { border: 1px solid #DDDDDD; margin-bottom: 9px; }
.safety #Main .acc .acclist li.last figure { margin-bottom: 15px; }
.safety #Main .acc .acclist li.last figure img { border: none; margin-bottom: 4px; }
.safety #Main .acc .acclist li.last figure p { font-style: italic; font-size: 12px; color: #999999; }
.safety #Main .acc .acclist li figure figcaption h4 { font-size: 24px; color: #333333; }
.safety #Main .acc .acclist li .warning { background: #EEEEEE; }
.safety #Main .acc .acclist li .warning .warning_inner { padding: 15px 29px 20px 21px; }
.safety #Main .acc .acclist li .warning .warning_inner h5 { font-size: 24px; color: #F79A00; padding-left: 22px; background: url(../../safety/images/pc_icon_01.png) left 5px no-repeat; }
.safety #Main .acc .acc100 { float: right; }
.safety #Main .acc .acc100 img,
.safety #Main .acc .acc100 .acc100_txt { float: left; width: 140px; }
.safety #Main .acc .acc100 img {  margin-right: 15px; }
.safety #Main .acc .acc100 .acc100_txt { padding-top: 10px; font-weight: bold; font-size: 11px; line-height: 15px; color: #000; }
.safety #Main .fcm { margin-bottom:54px !important; }
/* 20150915 追加 */
.safety #Main .fcm .fcmlist li { width: 217px; display: inline; float: left; margin-right: 30px; }
.safety #Main .fcm .fcmlist li.last { margin-right: 0; }
.safety #Main .fcm .fcmlist li figure {}
.safety #Main .fcm .fcmlist li figure img { border: 1px solid #DDDDDD; margin-bottom: 9px; }
.safety #Main .fcm .fcmlist li.last figure { margin-bottom: 15px; }
.safety #Main .fcm .fcmlist li.last figure img { border: none; margin-bottom: 4px; }
.safety #Main .fcm .fcmlist li.last figure p { font-style: italic; font-size: 12px; color: #999999; }
.safety #Main .fcm .fcmlist li figure figcaption h4 { font-size: 24px; color: #333333; }

.safety #Main .fcm .txtstyle_01 { margin-bottom:25px; font-size:16px; color:#666666; line-height:22.5px; }

.safety #Main .note p { width: 960px; margin-bottom: 10px; font-size:12px; font-style:italic; color:#999; line-height:1.4; }

.safety #Main .ldw .fl_box01 .fl_box01_L { width: 300px; }
.safety #Main .ldw .fl_box01 .fl_box01_R { width: 630px; }
.safety #Main .ldw .fl_box01 .fl_box01_R figure { width: 400px; float: left; }
.safety #Main .ldw .fl_box01 .fl_box01_R figure.border img { border:1px solid #ddd; }
.safety #Main .ldw .fl_box01 .fl_box01_R figure.last { width: 200px; margin-left: 30px; }

.safety #Main .multiaround_monitor .fl_box01 .fl_box01_L { width: 300px; }
.safety #Main .multiaround_monitor .fl_box01 .fl_box01_R { width: 630px; }
.safety #Main .multiaround_monitor .fl_box01 .fl_box01_R figure { width: 400px; float: left; }
.safety #Main .multiaround_monitor .fl_box01 .fl_box01_R figure.border img { border:1px solid #ddd; }
.safety #Main .multiaround_monitor .fl_box01 .fl_box01_R figure.last { width: 200px; margin-left: 30px; }

.safety #Main .ums .fl_box01 .fl_box01_L { width: 300px; }
.safety #Main .ums .fl_box01 .fl_box01_R { width: 630px; }
.safety #Main .ums .fl_box01 .fl_box01_R figure { width: 400px; float: left; }
.safety #Main .ums .fl_box01 .fl_box01_R figure.border img { border:1px solid #ddd; }
.safety #Main .ums .fl_box01 .fl_box01_R figure.last { width: 200px; margin-left: 30px; }
.safety #Main .ums .fl_box01 .fl_box01_R figure ul li { padding-left:0.7em; text-indent:-0.7em; margin-top: 8px; font-style: italic; font-size: 12px; color: #999999; }
/* 20150915 追加 */
.safety #Main .fl_box01 {}
.safety #Main .fl_box01 .fl_box01_L { width: 630px; display: inline; float: left; margin-right: 30px; }
.safety #Main .fl_box01 .fl_box01_L figure {}
.safety #Main .fl_box01 .fl_box01_L figure img { border: 1px solid #DDDDDD; margin-bottom: 10px; }
.safety #Main .fl_box01 .fl_box01_R { width: 300px; display: inline; float: left; }
.safety #Main .fl_box01 .fl_box01_R figure { margin-bottom: 15px; }
.safety #Main .fl_box01 .fl_box01_R figure img { border: none; margin-bottom: 4px; }
.safety #Main .fl_box01 .fl_box01_R figure p { font-style: italic; font-size: 12px; color: #999999; }
.safety #Main .fl_box01 .fl_box01_R .warning { background: #EEEEEE; }
.safety #Main .fl_box01 .fl_box01_R .warning .warning_inner { padding: 20px 29px 20px 21px; }
.safety #Main .fl_box01 .fl_box01_R .warning .warning_inner h5 { font-size: 24px; color: #F79A00; padding-left: 22px; background: url(../../safety/images/pc_icon_01.png) left 5px no-repeat; }

.safety #Main .section_wrap section.other { margin-bottom: 40px; }
.safety #Main .other li { width: 465px; display: inline; float: left; margin-right: 30px; }
.safety #Main .other li.last { margin-right: 0; }
.safety #Main .other li h3 { line-height: 1.0; padding-bottom: 10px; }
.safety #Main .other li figure {}
.safety #Main .other li figure .image { border:solid 1px #ddd; margin-bottom:10px; }

/* 20150924 追加 */
.safety #Main .page_note{  }
.safety #Main .page_note p{ width:960px; margin:0 auto; padding: 0; font-size: 12px; font-style: italic; color: #999; line-height: 1.4; }
/* 20150924 追加 */

.safety .note{ padding: 0 0 42px 0; font-size: 12px !important; font-style: italic; color: #999 !important; line-height: 1.4; }

.safety .border { border:#CCCBCB 1px solid; padding:10px;}


/* =========================================================
 ◆ utility CSS
========================================================= */
.utility #Main { padding-top:0; }
.utility #dirPath {  padding-top:120px; }
.utility #Mainvis { width:100%; overflow:hidden; }
.utility #Mainvis #Mainvis_inner { width:100%;}
.utility #Mainvis #Mainvis_inner p span.super{ font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:6px; display:block; font-weight:bold; text-align: center; padding-top: 58px;}
.utility #Mainvis #Mainvis_inner .mainimg { width:100%; margin:0 auto; padding-bottom:50px; }
.utility #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:960px; margin:0 auto; }
.utility #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { width:960px; margin:0 auto; }
.utility #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:800px; padding-top:490px; margin:0 auto; }
.utility #Mainvis h2 span.mtxt { font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #fff; margin-bottom: 30px; }
.utility #Mainvis_inner .mainimg .txtarea_main p { font-size: 16px; color: #fff; line-height: 22.5px;margin: 0 auto; margin-bottom: 30px;width: 400px; text-align: left; }
.utility #Mainvis_inner .mainimg .txtarea_main p.memo { font-size: 12px; color: #666; line-height: 1.4; font-style: italic; }
.utility .titlearea01 { margin-bottom:30px; }
.utility #Mainvis #Mainvis_inner .titlearea01 h2.titlestyle01 { text-align: center; border:none; padding:0; }
.utility .titlestyle03 { font-size:72px !important; line-height:1.0; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333;}
.utility .img_no { display:none; }
.utility .pc_btnstyle01 {display: block;}
.utility .sp_btnstyle01 {display: none;}


.utilitybox_01 .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; margin-bottom:7px; }
.utilitybox_01 .titstyle_01 span { font-size:36px; color:#EB0000; }
.utilitybox_01 .txtstyle_01 { font-size:16px; color:#666666; line-height:22.5px; }
.utilitybox_01 .txtstyle_02 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }

.utilitybox_01 { width:960px; margin:0 auto 30px; }
.utilitybox_01 .titstyle_02 { font-size:48px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; line-height:1.0; margin-bottom:30px;  }
.utilitybox_01 .titstyle_03 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; }
.utilitybox_01 .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom:4px;}
.utilitybox_01 .utilitybox_01_inner { margin-bottom:40px; }
.last .utilitybox_01_inner { margin-bottom:90px !important; }
.utilitybox_01 .utilitybox_01_inner .l_img_box { width:630px; display:inline; float:left; margin-right:30px; }
.utilitybox_01 .f_box { display:inline; float:left; }
.mr2 { margin-right:2px; }
.w465 { width:465px; }
.utilitybox_01 .utilitybox_01_inner .r_txt_box { width:300px; display:inline; float:left; }
.utilitybox_01 .utilitybox_01_inner .l_box { width:465px; display:inline; float:left; margin-right:30px; }
.utilitybox_01 .utilitybox_01_inner .r_box { width:465px; display:inline; float:left; }
.utilitybox_01 .utilitybox_01_inner .r_box .f_box img { margin-bottom:7px; }
.utilitybox_01 .utilitybox_01_inner .ecobox .l_box { display:inline; float:left;width:140px; margin-right:15px; }
.utilitybox_01 .utilitybox_01_inner .ecobox .r_box { display:inline; float:left; width:305px;}

/* 20150915 追加 */
.utilitybox_01 .utilitybox_01_inner .utilityList li { width:300px; float:left; margin:0 20px 42px 0; }
.utilitybox_01 .utilitybox_01_inner .utilityList li figure img { margin-bottom: 12px; }
.utilitybox_01 h3{ font-size:32px; font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #666666; margin-bottom: 30px; border-bottom: solid 1px #DDDDDD; padding-bottom: 4px; }
.utilitybox_01 .utilitybox_01_inner p{ font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px;}
/* 20150915 追加 */

.threebox02 .f_box { width:155px; margin-bottom:15px; }
.threebox02 .f_box img { margin:0 auto; margin-bottom:0 !important; }
.threebox02 .f_box .txtstyle_02 { text-align:center; }
.threebox02_sp { display: none; }

/* 20150924 追加 */
.utility .page_note{  }
.utility .page_note p{ width:960px; margin:0 auto; padding: 0 0 30px 0; font-size: 12px; font-style: italic; color: #999; line-height: 1.4; }
/* 20150924 追加 */

/* =========================================================
 ◆ Entertainment Page CSS
========================================================= */

/* Web Font [AlternateGothicCom-No2] */
.entertainment h2,
.entertainment h3,
.entertainment p span.h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
/* Web Font [Helvetica] */
.entertainment p { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; font-size:16px; color:#666; line-height:22.5px; }

/* Main */
/*
.entertainment #Mainvis { background:url(../../entertainment/images/bg_gradation.png) repeat-x left bottom #fff; }
.entertainment #Mainvis #Mainvis_inner { width:960px; position:relative; margin:0 auto; padding-top:58px; }
.entertainment #Mainvis .titlestyle01 { font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:6px; display:block; font-weight:bold; }
.entertainment #Mainvis h2 { font-size:56px; color:#333; line-height:1; margin-bottom:35px; text-align:center; }
.entertainment #Mainvis h2 .bdb { display:inline-block; border-bottom:solid 1px #DCDCDC; padding: 0 20px; }
.entertainment #Mainvis p { width:700px; margin:0 auto 17px; }
.entertainment #Mainvis .main_img { width:563px; margin:0 auto; }
*/
/* 20150915 追加 */
.entertainment #Mainvis { padding-top:0; }
.entertainment #dirPath { padding-top:120px; }
.entertainment #Main { padding-top:0; }
.entertainment #Mainvis h2 { width: 300px; margin: 0 auto; text-align: left; margin-bottom:20px; border-bottom: solid 1px #DDDDDD; padding-bottom: 4px;  }
.entertainment #Mainvis #Mainvis_inner p span.super{ font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:6px; display:block; font-weight:bold; text-align: center; padding-top: 58px;}
.entertainment #Mainvis h2 span.mtxt { font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #fff; margin-bottom: 30px; }
.entertainment #Mainvis { width:100%; overflow:hidden;}
.entertainment #Mainvis #Mainvis_inner { width:100%;}
.entertainment #Mainvis .titlearea01 { margin-bottom: 3px; }
.entertainment #Mainvis #Mainvis_inner .mainimg { width:100%; margin:0 auto; }
.entertainment #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:960px; margin:0 auto; position:relative; }
.entertainment #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { width:960px; margin:0 auto; }
.entertainment #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { display:none; }
.entertainment #Mainvis_inner .mainimg .txtarea_main { text-align:center;width: 472px;padding-top: 20%;padding-left: 74%;}
.entertainment #Mainvis_inner .mainimg .txtarea_main p { width:300px; margin: 0 auto; text-align:left; font-size:16px; color:#fff; line-height: 22.5px; }
.entertainment #Mainvis_inner .mainimg .txtarea_main .titstyle_01 { font-size:72px !important; line-height:1.0; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.entertainment #Mainvis_inner .mainimg .txtarea_main .titstyle_01 span { font-size:14px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}
/* 20150915 追加 */


.entertainment .section_wrap { background:#fff; padding:62px 0 50px; }
.entertainment .entry_block { width:960px; margin:0 auto 0px; }
.entertainment .entry_block ul.first_line li { position: relative; width: 455px; float: left; margin-right: 0; }/*20261129追加*/
.entertainment .entry_block ul.first_line li.last { float: right; }/*20261129追加*/
.entertainment .entry_block ul { margin-bottom:25px; }
.entertainment .entry_block ul li { width:300px; float:left; margin:0 30px 46px 0; }
.entertainment .entry_block img { margin-bottom:12px; }
.entertainment .entry_block h3 { font-size:32px; font-size: 36px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #666666; margin-bottom: 30px; border-bottom: solid 1px #DDDDDD; padding-bottom: 4px; }
.entertainment .entry_block p{ font-size: 16px; color: #666; line-height: 22.5px; margin-bottom: 30px;}
.entertainment .entry_block p.note { font-size:12px; color: #999999; line-height:1.2; margin-bottom:45px; font-style: italic; }

.entertainment .entry_block .audio_block { margin-bottom:46px; }
.entertainment .entry_block .audio_block .main_img { width:630px; float:left; padding-top:2px; }
.entertainment .entry_block .audio_block .caption_block { width:300px; float:right; }
.entertainment .entry_block .audio_block .caption_block h3 { font-size:24px; color:#333; line-height:1; margin-bottom:3px; }
.entertainment .entry_block .audio_block .caption_block p.txt { margin-bottom:29px; }
.entertainment .entry_block .audio_block .caption_block p.italic_title { font-size:12px; font-style:italic; line-height:1.2; color: #999999; }
.entertainment .entry_block .audio_block .caption_block img { margin-bottom:9px; }

.entertainment .sound_system .ss_inner { width:960px; margin:0 auto; }
.entertainment .sound_system .ss_inner .txtstyle_01 { margin-bottom:25px; font-size:16px; color:#666666; line-height:22.5px; }/* 20150915 追加 */
.entertainment .sound_system h2 { font-size:36px; color:#666; line-height:1; border-bottom:solid 1px #ddd; text-align:left !important; margin-bottom:28px; padding-bottom:8px; }
.entertainment .sound_system .box_wrap .image { width:630px; float:left; padding-top:2px; }
.entertainment .sound_system .box_wrap .caption { width:300px; float:right; }

.entertainment .amenity { background:#000; padding-bottom:90px; }
.entertainment .amenity .amenity_inner { width:960px; margin:0 auto; padding:52px 0 10px; }
.entertainment .amenity h2 { font-size:56px; color:#fff; line-height:1; width:185px; margin:0 auto 38px; border-bottom:solid 1px #666; padding-bottom:4px; }
.entertainment .amenity .box_wrap .image { width:630px; float:right; padding-top:3px; }
.entertainment .amenity .box_wrap .textbox { width:300px; float:left;  }
.entertainment .amenity .box_wrap .textbox h3 { font-size:24px; color:#fff; line-height:1; margin-bottom:2px; }
.entertainment .amenity .box_wrap .textbox p { color:#ccc; }

/* 20150924 追加 */
.entertainment .page_note{  }
.entertainment .page_note p{ width:960px; margin:0 auto; padding: 30px 0 0 0; font-size: 12px; font-style: italic; color: #999; line-height: 1.4; }
/* 20150924 追加 */

.entertainment .entry_block ul.first_line li.new figure figcaption h3 {
    padding: 15px 40px;
}
.entertainment .entry_block ul.first_line li.new-pc::before {
    position: absolute;
    top: 0;
    left: 0;
    content: url(../../entertainment/images/new.png);
}

/* =========================================================
 ◆ Specifications Page CSS
========================================================= */

/* Web Font [AlternateGothicCom-No2] */
.specifications h3,
.specifications .warning p.tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
/* Web Font [Helvetica] */
.specifications th, .specifications td { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; font-size:16px; color:#666; line-height:22.5px; }

/* Main */
.specifications .titlearea01 { margin-bottom:52px; }
.specifications section.wrap { width:960px; padding:59px 0 0; margin:0 auto 96px; }

.specifications .section_head { margin-bottom: 7px; margin-left:10px; margin-right:10px;}
.specifications .section_head h3 { width:auto; float:left; font-size:24px; color:#333; line-height:1.4; letter-spacing:0.4px;}
.specifications .section_head .check_wrap { width:auto; float:right; padding-top:11px; }
.specifications .section_head .check_wrap ul li { width:auto; float:left; background-repeat:no-repeat; background-position:0px 3px; -webkit-background-size: 10px; background-size: 10px; font-size:14px; color:#333; line-height:1.2; padding-left:17px; margin-right:16px; }
.specifications .section_head .check_wrap ul li.last { margin-right:0; }
.specifications .section_head .check_wrap ul li.available { background-image: url(../../specifications/images/icon_standard.png);  }
.specifications .section_head .check_wrap ul li.standard { background-image: url(../../specifications/images/icon_standard.png); }
.specifications .section_head .check_wrap ul li.optional { background-image: url(../../specifications/images/icon_optional.png); }
.specifications .section_head .check_wrap ul li.not_available { background-image: url(../../specifications/images/icon_not.png); }

.specifications .table_wrap { width:98%; margin:0 auto; }
.specifications table { width:100%; table-layout: fixed; border-collapse: collapse; border-top:solid 1px #333; }
.specifications th,
.specifications td { border-style:solid; font-size:14px; color:#333; line-height:1.4; }
.specifications th { border-width:1px 1px 0 0; vertical-align:top; padding:11px 16px 12px; }
.specifications td { border-width:1px 0 0 1px; text-align:center; vertical-align:middle; padding:11px 0 12px; }
.specifications th.tit { width:270px; font-weight:bold; padding-left:0; }
.specifications th.sub_th { padding-left:7px; }
.specifications th.fixed { width:16px; border-width:1px 0 0 0 !important; padding:0 !important; line-height:22.5px; }
.specifications th i { font-size:12px; color:#666; }
.specifications td img.icon { display:inline; width:10px; vertical-align:middle; }
.specifications td.note { padding-left: 0.3em;}

.specifications tbody.type_01.last { border-bottom:solid 1px #dddddd; }
.specifications tbody.type_02.last { border-bottom:solid 1px #cccccc; }

.specifications tbody.type_01 th,
.specifications tbody.type_01 td { border-color:#dddddd; }
.specifications tbody.type_01 th { background: #f5f5f5; }
.specifications tbody.type_01 td { background: #fafafa; }

.specifications tbody.type_02 td,
.specifications tbody.type_02 th { border-color:#cccccc; }
.specifications tbody.type_02 th { background: #e5e5e5; }
.specifications tbody.type_02 td { background: #eeeeee; }

.specifications p.note { font-size:12px; font-style:italic; color:#999; line-height:1.4; margin:12px 0 38px; margin-left:10px; margin-right:10px;}
.specifications .dimensional .section_head { margin-bottom:23px; }
.specifications .dimensional figure img { }
.specifications .dimensional figure figcaption { font-size:12px; font-style:italic; color:#999; line-height:1.2; text-align: right; margin-right: 10px; }
.specifications .dimensional { margin-bottom: 28px; }

/* table 微調整 */
.specifications tbody.type_01.beta th.tit { width:121px; }
.specifications tbody.type_01.beta th.sub_tit { width:447px; }
.specifications th.col-01 { width:122px; }
.specifications th.col-02 { width:28px; }
.specifications th.col-03 { width:55px; }
.specifications table .brn { border-right:none !important; }

.specifications .annotation { margin:8px 10px 13px;}
.specifications .annotation p { font-size:12px; font-style:italic; color:#999; line-height:1.2;}
.specifications .annotation p.left_txt { width:50%; float:left; }
.specifications .annotation p.right_txt { width:48%; float:right; }

.specifications .warning { background:#eee; margin-bottom:49px; }
.specifications .warning .warning_inner { padding:18px 10px; }
.specifications .warning p.tit { background:url(../../specifications/images/icon_warning.png) no-repeat left 2px; font-size:24px; color:#F79900; line-height:1; padding-left:22px; margin:0 0 4px 11px; }
.specifications .warning ul { padding:0 20px; }
.specifications .warning ul li { list-style-type:disc; font-size:16px; color:#666; line-height:22.5px; }
.specifications .warning ul li.left_txt { width:420px; float:left; }
.specifications .warning ul li.right_txt { width:423px; float:right; }

.specifications .sp_pdf_dl { width: 99.2907%; margin: 0 auto;}
.specifications .sp_pdf_dl .sp_dl_btn { margin-bottom: 15px;}
.specifications .sp_pdf_dl p.note { font-size: 12px; font-style: italic; color: #999; line-height: 1.4; margin: 12px 0 0;}

/* 20150924 追加 */
.specifications .page_note{  }
.specifications .page_note p{ width:100%; margin: 10px; padding: 20px 0 0 0; font-size: 12px; font-style: italic; color: #999; line-height: 1.4; }
/* 20150924 追加 */


.specifications  .spec_tab { width: 960px; margin: 0 auto;}
.specifications  .spec_tab .Tabs { margin-bottom: 100px;}
.specifications  .spec_tab .tabList { background: url(../../models/images/models_tab_bg.png) left bottom repeat-x; }
.specifications  .spec_tab .tabList li { display: inline; float: left; background: #EEEEEE; margin-right: 1px; width: 475px; }/* 20150915 編集 */
.specifications  .spec_tab .tabList li:first-child { width: 475px; }/* 20150915 編集 */
.specifications  .spec_tab .tabList li.active { background: #FFF; }
.specifications  .spec_tab .tabList li.last { margin-right: 0; float: right; }
.specifications  .spec_tab .tabList li a { height:61px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 24px; color: #666666; text-decoration: none; padding: 15px 0; display: block; text-align: center; border: 1px solid #EEEEEE; border-bottom: 1px solid #d7d7d7; }/* 20150915 編集 */
.specifications  .spec_tab .tabList li a.smallTab { line-height:61px; }/* 20150915 追加 */
.specifications  .spec_tab .tabList li a:hover { background: #e1e1e1; border-color: #e1e1e1; }
.specifications  .spec_tab .tabList li.active a { border: 1px solid #D7D7D7; border-bottom: none; color: #333; border-bottom: 1px solid #FFFFFF;  }
.specifications  .spec_tab .tabList li.active a:hover { background: #FFF; }
.specifications  .spec_tab .tabBox { border-right: solid 1px #D7D7D7; border-bottom: solid 1px #D7D7D7; border-left: solid 1px #D7D7D7;}
.specifications  .spec_tab .tabBox .img_area { margin-bottom: 43px;}
.specifications  .spec_tab .tabBox .img_area .img_area_l { width: 518px; padding: 61px 25px 0 86px; display: inline; float: left;}
.specifications  .spec_tab .tabBox .img_area .img_area_r { width: 270px; padding: 41px 29px 0 30px; display: inline; float: left;}
.specifications  .spec_tab .tabBox .img_area .img_area_r a { display: block; position:relative; outline:none; }
.specifications  .spec_tab .tabBox .img_area .img_area_r a .image { position:relative; top:0; left:0; }
.specifications  .spec_tab .tabBox .img_area .img_area_r a .zoom { position:absolute; right:10px; bottom:10px; }
.specifications  .spec_tab .tabBox .img_area .img_area_r .img_inner_l {margin-bottom: 20px;}
.specifications  .spec_tab .tabBox .txt_area { width: 900px; margin: 0 auto 50px;}
.specifications  .spec_tab .tabBox .txt_area .tit_area { padding-bottom: 9px; margin-bottom: 27px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 28px; color: #666; border-bottom: solid 1px #DDDDDD;}
.specifications  .spec_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner { display: inline; float: left; width: 421px; padding-left: 13px; margin-right: 30px;}
.specifications  .spec_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner02 { width: 416px; padding-left: 18px; margin-right: 0;}
.specifications  .spec_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner li { margin-bottom: 8px; line-height:22.5px; font-size: 16px; list-style-image: url(../../models/images/icon_list.png);}
.specifications  .spec_tab .tabBox .txt_area .spec_list_wrap .memo { clear: both; padding-top: 10px; }
.specifications  .spec_tab .tabBox .txt_area .spec_list_wrap .memo p { font-size:12px; font-style:italic; color:#999; line-height:1.4; }

.spc-list-area {
  overflow: hidden;
  width: 100%;
}
.spc-list-area-contents {
  float: left;
  width: 48%;
  margin-bottom: 65px;
  color: #686868 !important;
}
.spc-list-area-contents:nth-child(2) {
  float: right;
}
.specifications .section_head h3,
.spc-list-area-contents h3 {
  float: none;
  border-bottom: 1px solid #686868;
  margin-bottom: 30px;
  padding-bottom: 5px;
  color: #686868 !important;
}
.specifications .section_head h3 {
  float: none !important;
  color: #686868 !important;
}
.spc-list-area-contents ul {
  overflow: hidden;
  width: 100%;
}
.spc-list-area-contents ul li {
  float: left;
  width: 48%;
}
.spc-list-area-contents ul li:first-child {
  margin-right: 4%;
}
.special .txtstyle_02 ,
.safety .txtstyle_02 {
    font-size: 12px;
    color: #999999;
    line-height: 1.4;
    font-style: italic;
}
.special .txtstyle_02 { padding-left: 27px; }
.special .left .txtstyle_02 { padding-left: 0; }


/* =========================================================
 ◆ catalog CSS
========================================================= */
.catalog #dirPath { padding-top:120px; }
.catalog #Main { padding-top:59px; }
.catalog #Mainvis { padding-top:0; }
.catalog .titlearea01 { margin-bottom:60px; }
.catalog .catalogarea { width:960px; margin:0 auto; }
.catalogimg { margin-bottom:9px; }
.catalogimg_sp { display:none; }
/* .catalogimg .downloadbtn { width:217px; height:45px; position:absolute; bottom:0; } */
.catalogbox a:hover { opacity:0.7; }
.catalogbox .catalog_tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; font-size:24px; }
.catalogbox .language { color:#666666; font-size:16px; }
.catalog .note { font-size:12px; font-style:italic; color:#999; line-height:1.4; margin:12px 0 0;}
.catalogbox ul li { display:inline; float:left; margin-right:30px; margin-bottom: 30px; }
.catalogbox ul li.last { margin-right:0 !important; }
.catalogarea .titstyle_03 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; line-height:1.0; }
.catalogarea .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom:4px;}
.catalogarea .f_box { display:inline; width:465px; float:left; }
.catalog01 { margin-bottom:42px; }
.catalog02 { margin-bottom:90px; }
.gcc { margin-right:30px; }




/* =========================================================
◆ PHEV SYSTEM CSS 20150916 追加
========================================================= */
.system #Mainvis { padding-top:0; }
.system #dirPath { padding-top:120px; }
.system #Main { padding-top:0; }
.system #Mainvis h2 span.mtxt { font-size: 72px; color: #333; }
.system #Mainvis { width:100%; overflow:hidden;}
.system #Mainvis #Mainvis_inner { width:100%;}
.system #Mainvis .titlearea01 { margin-bottom: 3px; }
.system #Mainvis #Mainvis_inner .mainimg { width:100%; height:660px; margin:0 auto; background:url(../../system/images/bg_main.jpg) center top no-repeat;  }
.system #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:960px; margin:0 auto; }
.system #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { width:960px; margin:0 auto; }
.system #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { display:none; }
.system #Mainvis_inner .mainimg .txtarea_main { text-align:center; width:750px; padding-top:58px; margin:0 auto; }
.system #Mainvis_inner .mainimg .txtarea_main p { width:700px; text-align:left; font-size:16px; margin-left:30px; color:#333; line-height: 22.5px; }
.system #Mainvis_inner .mainimg .txtarea_main .titstyle_01 { font-size:72px !important; line-height:1.0; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.system #Mainvis_inner .mainimg .txtarea_main .titstyle_01 span { font-size:14px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}

.system .section_wrap { padding:60px 0; }
.system .section_wrap section { margin-top:60px; }
.system .section_wrap section:first-child { margin-top:0; }

.system .section_wrap .txtstyle_01 { font-size:16px; color:#666666; line-height:22.5px; }
.system .section_wrap .txtstyle_02 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:24px; color:#333; }
.system .section_wrap .txtstyle_03 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; border-bottom:solid 1px #DDDDDD; padding-bottom:4px; }

.system .section_wrap .titstyle_02 { text-align: center; font-size:48px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; line-height:1.0; margin-bottom:32px; }

.system .section_wrap .txtarea_01_inner { width:960px; margin:0 auto; }

.system .memo_list li { padding-left: 0.8em; text-indent: -0.8em; font-style: italic; font-size: 12px; color: #999; }

.system .systembox_01 { width:960px; margin:0 auto; }
.system .systembox_01 .l_box { width:330px; display:inline; float:left; margin-right:30px; }
.system .systembox_01 .l_box .hidden_img { display: none; }
.system .systembox_01 .r_box { width:600px; display:inline; float:left; }
.system .systembox_01 .r_box .txtstyle_02 { margin-bottom:5px; }
.system .systembox_01 .img_car { width: 100%; height: auto; margin-right: 15px; float: left; }
.system .systembox_01 .img_logo { padding-top: 30px;  float: left; }

.system .system_list { width:960px; margin:0 auto; }
.system .system_list .system_list_box01 { margin-top: 30px; }
.system .system_list .system_list_box01:first-child { margin-top: 0; }
.system .system_list .system_list_box01 .system_list_box_L { width: 465px; display: inline; float: left; margin-right: 30px; }
.system .system_list .system_list_box01 .system_list_box_R { width: 465px; display: inline; float: left; }
.system .system_list h4 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 24px; color: #333333; }
.system .system_list p{ font-size:16px; color:#666666; line-height:22.5px; }
.system .system_list img { margin-bottom: 10px; }

.system .gliding .glidingList li { margin-top:15px; }
.system .gliding .glidingList li:first-child { margin-top:0; }
.system .gliding .memo { margin-top:15px; font-style: italic; font-size: 12px; color: #999999; }

.system .tomorrows { width:100%; margin:0 auto; position: relative; }
.system .tomorrows .boxstyle .txtarea_01 { width:960px; position:absolute; left:50%; top:0; margin-left:-420px;}
.system .tomorrows .boxstyle .txtarea_01 .txtarea_01_inner { width:400px; }
.system .tomorrows .boxstyle .imgstyle_02 { background:url(../../system/images/tomorrows_01.png) top center no-repeat; height: 659px; }
.system .tomorrows .boxstyle .imgstyle_02 img { display:none; }
.system .tomorrows .boxstyle .txtarea_01 .txtarea_01_inner { float:right; width:400px; display:inline; padding:80px 0 0 0; margin-right:30px; }
.system .tomorrows .boxstyle .txtarea_01 .titstyle_01 { font-size:56px !important; line-height:1.0; color: #333; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.system .tomorrows .txtarea_01 .txtarea_01_inner p { margin-top:20px; font-size:16px; line-height:22.5px; color:#333;}

.system .charging .txtarea_01 { margin-top: 40px; }
.system .charging .memo_list { margin-top: 10px; }

.system .confort .eco_list li { margin-top:30px; }
.system .confort .eco_list li:first-child { margin-top:0; }
.system .confort .eco_list li .eco_list_box_L { width: 100px; float: left; }
.system .confort .eco_list li .eco_list_box_R { width: 335px; margin-left: 30px; float: left; }
.system .confort .memo_list { margin-top: 10px; }

/* 20150924 追加 */
.system .page_note{  }
.system .page_note p{ width:960px; margin:0 auto; padding: 0; font-size: 12px; font-style: italic; color: #999; line-height: 1.4; }
/* 20150924 追加 */


.mr0 { margin-right:0 !important; }
