@charset "utf-8";
/* =========================================================
　◆　Responsive TOP PAGE CSS
========================================================= */

/* screens default
***************************************/
.SP { display:none; }
.SP_inline { display:none; }
.PC { display:block; }
.PC_inline { display:inline; }
.PC_absolute { position:absolute; }

/* screens smaller than 1440
***************************************/
@media screen and (max-width: 1440px){


}

/* screens smaller than 980
***************************************/
@media screen and (max-width: 980px){
body.tablet #Cont .boxstyle_01 .imgstyle_02 { background-position:90% 0; }
body.tablet #Cont .boxstyle_02 .imgstyle_02 { background-position:65% 0; }

}

/* screens smaller than 768
**************************************/
@media screen and (max-width: 767px){

	.wrapper { width:100%;}
	.SP { display:block; }
	.SP_inline { display:inline; }
	.PC { display:none; }
	.PC_inline { display:none; }
	.PC_absolute { position:static; }

	/*
	#Mainvis { width:100%; height:30%; -webkit-box-shadow: 0px 2px 4px rgba(51,51,51,0.5); box-shadow: 0px 2px 4px rgba(51,51,51,0.5); position: relative; z-index: 10; }
	#Mainvis #Mainvis_inner { width:100%;}
	#Mainvis #Mainvis_inner #Mainvis_bg { background:none; width:100%; position:relative; height:auto;}
	#Mainvis #Mainvis_inner .imgstyle_01 img { margin:0 auto;}
	#Mainvis #Mainvis_inner .txtarea_01 { width:100%; position:static; margin:0; background:#EEEEEE;}
	#Mainvis #Mainvis_inner .txtarea_01 .titstyle_01 { font-size:45px; text-align:center; padding: 6.85% 0px 6%; line-height:0.9; color:#333333;}
	#Mainvis #Mainvis_inner .btnstyle_01 { display:none;}
	*/
	#Mainvis { width:100%; height:30%;
     /*-webkit-box-shadow: 0px 2px 4px rgba(51,51,51,0.5); box-shadow: 0px 2px 4px rgba(51,51,51,0.5); */
     position: relative; z-index: 10; }
	#Mainvis #Mainvis_inner { width:100%;}
	#Mainvis #Mainvis_inner #Mainvis_bg { background:none; width:100%; position:relative; height:auto;}
	#Mainvis #Mainvis_inner .imgstyle_01 img { margin:0 auto;}
	#Mainvis #Mainvis_inner .txtarea_01 { width:100%; position:static; margin:0; background:#EEEEEE;}
	#Mainvis #Mainvis_inner .txtarea_01 .titstyle_01 { font-size:45px; text-align:center; padding: 0; line-height:0.9; color:#333333;}
	#Mainvis #Mainvis_inner .txtarea_01 .txtarea_01_inner { display: block; width:90.8%; float:none; padding: 8% 4.6% 8%!important;}
	#Mainvis #Mainvis_inner .txtarea_01 .car_sub { font-size:18px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; text-align:center; padding: 7px 0 0px; line-height:1.0; color:#333333;}
	#Mainvis #Mainvis_inner .txtarea_01 .titstyle_02 { padding-top:0; font-size:14px; text-align:center; margin-bottom:9px;}
	#Mainvis #Mainvis_inner .txtarea_01 p { width:100%; font-size:16px; color: #868686; display:block; line-height:1.0; margin-bottom:20px; font-weight:normal; line-height:22.5px}
	#Mainvis #Mainvis_inner .txtarea_01 .sp_btnstyle_02 { display:block; width:114px; margin:0 auto;}
	#Mainvis #Mainvis_inner .txtarea_01 .btnstyle_02 { display:none;}
	#Mainvis #Mainvis_inner .btnstyle_01 { display:none;}
	#Mainvis_bg .sp_imgstyle_01 { overflow: hidden; background: #000; }
	#Mainvis #Mainvis_inner .sp_imgstyle_01 img {
	  /*transform: scale(1.18);*/
	  -moz-animation: fadein 3.0s ease-in forwards normal;
	  -webkit-animation: fadein 3.0s ease-in forwards normal;
	  -o-animation: fadein 3.0s ease-in forwards normal;
	  -ms-animation: fadein 3.0s ease-in forwards normal;
	  animation: fadein 3.0s ease-in forwards normal;
	}

	@-moz-keyframes fadein {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

	@-webkit-keyframes fadein {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

	@-o-keyframes fadein {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}

	@keyframes fadein {
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	}



	#Cont .boxstyle_01 .txtarea_01,
	#Cont .boxstyle_02 .txtarea_01,
	#Cont .boxstyle_03 .txtarea_01,
	#Cont .boxstyle_04 .txtarea_01,
	#Cont .boxstyle_05 .txtarea_01 { background:#FFF; position:static; margin:0 !important; padding:0 !important; width:100% !important; clear:both;}/* 20150914 変更 */

	#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner,
	#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner,
	#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner,
	#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner,
	#Cont .boxstyle_05 .txtarea_01 .txtarea_01_inner { display: block; width:90.8%; float:none; padding:23px 4.6% 8%!important; margin:0 !important; }/* 20150914 変更 */

	#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner p,
	#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p,
	#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner p,
	#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner p,
	#Cont .boxstyle_05 .txtarea_01 .txtarea_01_inner p { color: #868686;}/* 20150914 変更 */

	#Cont .boxstyle_01 .txtarea_01 .titstyle_01,
	#Cont .boxstyle_02 .txtarea_01 .titstyle_01,
	#Cont .boxstyle_03 .txtarea_01 .titstyle_01,
	#Cont .boxstyle_04 .txtarea_01 .titstyle_01,
	#Cont .boxstyle_05 .txtarea_01 .titstyle_01 { font-size:36px !important; text-align:center; padding:0; line-height:1.0; color:#333333; margin-bottom: 9px;}/* 20150914 変更 */

	#Cont .boxstyle_01 .btnstyle_01 { display:none;}
	#Cont .boxstyle_01 .txtarea_01 .titstyle_02 { font-size:21px; line-height:1.0; margin-bottom:15px;}
	.sp_img_01 { margin-bottom:15px;}
	.sp_img_01 img { width:100%;}

	#Cont .boxstyle_01 .imgstyle_02,
	#Cont .boxstyle_02 .imgstyle_02,
	#Cont .boxstyle_03 .imgstyle_02,
	#Cont .boxstyle_04 .imgstyle_02,
	#Cont .boxstyle_05 .imgstyle_02 { background:none; height:auto;}/* 20150914 変更 */


	#Mainvis #Mainvis_inner .sp_imgstyle_01,
	#Cont .boxstyle_01 .imgstyle_02 img,
	#Cont .boxstyle_02 .imgstyle_02 img,
	#Cont .boxstyle_03 .imgstyle_02 img,
	#Cont .boxstyle_04 .imgstyle_02 img,/* 20150914 追加 */
	#Cont .boxstyle_05 .imgstyle_02 img,/* 20150914 追加 */
	#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner .sp_img_01 { display:block;}

	#Cont .boxstyle_01 .sp_btnstyle_02,
	#Cont .boxstyle_02 .sp_btnstyle_02,
	#Cont .boxstyle_03 .sp_btnstyle_02,
	#Cont .boxstyle_04 .sp_btnstyle_02,
	#Cont .boxstyle_05 .sp_btnstyle_02 { display:block; width:114px; margin:0 auto;}/* 20150914 変更 */

	#Cont .boxstyle_03 .sp_btnstyle_03,
	#Cont .boxstyle_04 .sp_btnstyle_03,
	#Cont .boxstyle_05 .sp_btnstyle_03 { display:block; width:156px; margin:0 auto;}/* 20150914 変更 */


	#Mainvis #Mainvis_inner .sp_imgstyle_01 img,
	#Cont .boxstyle_01 .imgstyle_02 img,
	#Cont .boxstyle_02 .imgstyle_02 img,
	#Cont .boxstyle_03 .imgstyle_02 img,
	#Cont .boxstyle_04 .imgstyle_02 img,/* 20150914 追加 */
	#Cont .boxstyle_05 .imgstyle_02 img,/* 20150914 追加 */
	#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner .sp_img_01 { width:100%;}

	#Cont .boxstyle_01 .img_01,
	#Cont .boxstyle_01 .btnstyle_02,
	#Cont .boxstyle_02 .btnstyle_02,
	#Cont .boxstyle_03 .btnstyle_02,
	#Cont .boxstyle_04 .btnstyle_02,
	#Cont .boxstyle_03 .btnstyle_03,
	#Cont .boxstyle_04 .btnstyle_03 { display:none;}/* 20150914 変更 */

	#Cont .border-note { width: 90%; padding: 10px; line-height: 22.5px; margin: 0 auto 30px;}

	/* header fixed */
	#Mainvis { padding-top: 50px; }

	/* old_android */
	.old_android header { position: relative; }
	.old_android #Mainvis { padding-top: 0; }

	/* slideshow */
	#Cont .boxstyle_04 { background: #000; overflow: hidden; }
	#Cont .boxstyle_04 .box_inner { width: 100%; margin: 0 auto; padding: 9.375% 0 15.625%; overflow: hidden; }
	#Cont .boxstyle_04 .titlearea01 { overflow: hidden; }
	#Cont .boxstyle_04 .titlearea01 h3 { color: #FFFFFF; text-align: center; line-height: 1.0; margin-bottom: 0; padding-bottom: 6.25%; }
	#Cont .boxstyle_04 .titlearea01 h3 .super {}
	#Cont .boxstyle_04 .titlearea01 h3 .mtxt { font-size: 37px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9 }
	#Cont .boxstyle_04 #flexslider { margin-bottom: 0; padding-bottom: 7.8125%; width: 87.5%; margin: 0 auto; overflow: hidden; }
	#Cont .boxstyle_04 #flexslider .slides {}
	#Cont .boxstyle_04 #flexslider .slides .movie_main { width: 100%; margin: 0 auto; overflow: hidden; }
	#Cont .boxstyle_04 #carousel { display:none; width: auto; }
	#Cont .boxstyle_04 .movie_main { width: 100%; height: auto; position: relative; margin: 0 auto; }
	#Cont .boxstyle_04 .movie_main .movie_thumb { width: 100%; height: auto; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer; overflow: hidden; }

	#Cont .boxstyle_04 #flexslider .flex-control-nav {width: 100%; position: absolute; bottom: -5px; text-align: center; display: block; }
	#Cont .boxstyle_04 #flexslider .flex-direction-nav a { width: 25px; height: 14px; margin: -20px 0 0; padding: 15px 0; bottom: -15px; top: auto; }
	#Cont .boxstyle_04 #flexslider .flex-direction-nav a img { width:9px; height:; display: inline; }
	#Cont .boxstyle_04 #flexslider .flex-direction-nav .flex-next { opacity: 1; right: 0px; text-align: right; background: none; }
	#Cont .boxstyle_04 #flexslider .flex-direction-nav .flex-prev { opacity: 1; left: 0px; text-align: left; background: none; }
	#Cont .boxstyle_04 #flexslider .flex-control-paging li a { width: 8px; height: 8px; display: block; background:url(../../design/images/btn_pager_flex.png) no-repeat left top; background-size: 8px auto; -webkit-background-size:8px auto; }
	#Cont .boxstyle_04 #flexslider .flex-control-paging li a.flex-active { background-position:left bottom; cursor: default; }
	#Cont .boxstyle_01 .txtarea_01 .titstyle_01 span, #Cont .boxstyle_02 .txtarea_01 .titstyle_01 span, #Cont .boxstyle_03 .txtarea_01 .titstyle_01 span, #Cont .boxstyle_04 .txtarea_01 .titstyle_01 span { font-size: 14px; font-family: "helvetica","Arial","AlternateGothicCom-No2"; }/*20161129　追加*/
}
