@charset "utf-8";
body { position: relative; overflow-x: hidden; background:#1E1E1E;}
header { position: fixed; z-index: 1000; }
#Mainvis { width:100%; background:#7F7F7F;}

#Mainvis #Mainvis_inner {}
#Mainvis #Mainvis_inner #Mainvis_bg { background:url(../../images/bg_01.png) no-repeat center center; margin:0 auto; position:relative; background-size:cover;  }
#Mainvis #Mainvis_inner .imgstyle_01 { display:none;}
#Mainvis #Mainvis_inner .txtarea_01 { width:300px; position:absolute; right: 16.3%; top: 8%; }/* 20161129 変更 */
#Cont .boxstyle_01 .txtarea_01,
#Cont .boxstyle_02 .txtarea_01 {
	width: 960px;
	position: absolute;
	left: 746px;
	top: 0;
	margin-left: -480px;
}/* 20150914 変更 */
#Cont .boxstyle_03 .txtarea_01 { width:960px; position:absolute; right: 9%; top: 5%;}/* 20161129 変更 */
#Cont .boxstyle_04 .txtarea_01 { width:960px; position:absolute; left:50%; top:0; margin-left:-480px;}

/* 20150914 追加 */
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_01 { margin-bottom: 10px; padding:0; font-size:72px; color:#1e1e1e; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; line-height:1.0;}
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_02 { padding-top:36px; font-size:13px; color:#E50012 !important; display:block; line-height:1.0; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;
 }
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_03 { font-size:24px; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
#Mainvis #Mainvis_inner .txtarea_01 p { width: 350px; font-size:16px; color:#333; display:block; line-height:1.0; margin-bottom:20px; font-weight:normal; line-height:22.5px}
#Mainvis #Mainvis_inner .txtarea_01 .sp_btnstyle_02 { display:none;}
#Mainvis #Mainvis_inner .txtarea_01 .img_01 { padding: 0 0 20px;}
#Mainvis #Mainvis_inner .btnstyle_01 { width:100px; position:absolute; left:50%; bottom:0; margin-left:-50px; height:55px;}
#Mainvis_ov{ width:100%; height:100%; position:absolute; top:0; left:0; background:url(../../images/clear.gif) repeat;}
/* 20150914 追加 */

#Cont .boxstyle_01 { background:#DEE9F4; position:relative;}
#Cont .boxstyle_01 .imgstyle_02 { background:url(../../images/bg_02.png) top center no-repeat; height: 659px; }
#Cont .boxstyle_02 .imgstyle_02 { background:url(../../images/bg_03.png) top center no-repeat; height: 659px; }
#Cont .boxstyle_03 .imgstyle_02 { background:url(../../images/bg_04.png) top center no-repeat; height: 659px; }
#Cont .boxstyle_04 .imgstyle_02 { background:url(../../images/bg_05.png) top center no-repeat; height: 659px; }/* 20150914 追加 */

#Cont .boxstyle_01 .imgstyle_02 img,
#Cont .boxstyle_02 .imgstyle_02 img,
#Cont .boxstyle_03 .imgstyle_02 img,
#Cont .boxstyle_04 .imgstyle_02 img { display:none;}/* 20150914 変更 */

#Cont .boxstyle_01 .txtarea_01{ padding-top:120px; }/* 20161129 変更 */
#Cont .boxstyle_02 .txtarea_01{ padding-top:120px; }/* 20161129 変更 */
#Cont .boxstyle_03 .txtarea_01{ padding:58px 0 0 0 !important; color:#333;}
#Cont .boxstyle_04 .txtarea_01{ padding:120px 0 0 0 !important; color:#333;}/* 20161129 変更 */
#Cont .boxstyle_01 .txtarea_01,
#Cont .boxstyle_02 .txtarea_01,
#Cont .boxstyle_04 .txtarea_01 { color:#fff; }/* 20150914 追加 */

#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner{ width:340px;}
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner {
	width: 350px;
}/* 20150914 変更 */

#Cont .boxstyle_01 .txtarea_01 .titstyle_01 { color:#1e1e1e; font-size:56px !important; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
#Cont .boxstyle_04 .txtarea_01 .titstyle_01 { color:#1e1e1e; font-size:56px !important; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}/* 20161129 変更 */
#Cont .boxstyle_02 .txtarea_01 .titstyle_01 {
	color: #000000;
	font-size: 56px !important;
	line-height: 1.0;
	margin-bottom: 24px;
	font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;
}/* 20161129 変更 */
#Cont .boxstyle_03 .txtarea_01 .titstyle_01 { color:#1e1e1e; font-size:56px !important; line-height:1.0; margin-bottom:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}/* 20161129 変更 */

#Cont .boxstyle_01 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_02 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_03 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_04 .txtarea_01 .titstyle_01 span { font-size:13px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; }

#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner p { margin-bottom:28px; font-size:16px; line-height:22.5px; color:#666;}/* 20150914 変更 */
#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner p { color:#333; }
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner p{ color:#fff; }/* 20150914 追加*/

#Cont .boxstyle_01 .txtarea_01 .titstyle_02 { font-size:24px; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}

#Cont .boxstyle_02,
#Cont .boxstyle_03,
#Cont .boxstyle_04 { position:relative;}/* 20150914 変更 */

#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner { float:right; width:330px; display:inline; margin-right:30px;}
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner { width:350px; margin-right:30px;}/* 20150914 追加 */

#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner .img_01 { margin-bottom:30px;}

#Mainvis #Mainvis_inner .sp_imgstyle_01,
#Mainvis #Mainvis_inner .sp_img_01,/* 20150914 追加 */
#Cont .boxstyle_01 .sp_imgstyle_02,
#Cont .boxstyle_02 .sp_imgstyle_02,
#Cont .boxstyle_03 .sp_imgstyle_02,
#Cont .boxstyle_01 .sp_btnstyle_02,
#Cont .boxstyle_02 .sp_btnstyle_02,
#Cont .boxstyle_03 .sp_btnstyle_02,
#Cont .boxstyle_03 .sp_btnstyle_03,
#Cont .boxstyle_04 .sp_btnstyle_02,/* 20150914 追加 */
#Cont .boxstyle_04 .sp_btnstyle_03,/* 20150914 追加 */
#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner .sp_img_01 { display:none;}

/* header fixed */
#Mainvis { padding-top: 120px; }
/* slideshow */
#Cont .boxstyle_04 { background: #000; }
#Cont .boxstyle_04 .box_inner { width: 960px; margin: 0 auto; padding: 56px 0 90px; }
#Cont .boxstyle_04 .titlearea01 {}
#Cont .boxstyle_04 .titlearea01 h3 { color: #FFFFFF; text-align: center; line-height: 1.0; margin-bottom: 31px; }
#Cont .boxstyle_04 .titlearea01 h3 .super { font-size:14px; margin-bottom:6px; display:inline-block;}
#Cont .boxstyle_04 .titlearea01 h3 .mtxt { font-size: 56px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9 }
#Cont .boxstyle_04 #flexslider { margin-bottom: 27px; position: relative; }
#Cont .boxstyle_04 #flexslider .slides {}
#Cont .boxstyle_04 #flexslider .slides .movie_main { width: 712px; margin: 0 auto; }
#Cont .boxstyle_04 #carousel { width: 686px; margin: 0 auto; }
#Cont .boxstyle_04 #carousel .flex-viewport { }
#Cont .boxstyle_04 #carousel .slides li { width: 155px; margin-right: 14px; cursor: pointer; display: inline; float: left; }
#Cont .boxstyle_04 #carousel .slides li .slide_thum { border: 3px solid #000; margin-bottom: 9px; }
#Cont .boxstyle_04 #carousel .slides li.flex-active-slide  .slide_thum { border: 3px solid #494f4f; }
#Cont .boxstyle_04 #carousel .slides li.last { margin-right: 0; }
#Cont .boxstyle_04 #carousel .slides li .thum_txt { font-size: 12px; color: #FFF; text-align: center; color: #c9c9c9; line-height: 1.4; }
#Cont .boxstyle_04 .movie_main { width: 712px; height: 400px; position: relative; margin: 0 auto; }
#Cont .boxstyle_04 .movie_main .movie_thumb { width: 712px; height: 400px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer; }
#Cont .boxstyle_04 #flexslider .movie_main .movie_thumb.cp_none { cursor: default;}
#Cont .boxstyle_04 #flexslider .movie_main .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1; }
#Cont .boxstyle_04 #flexslider .movie_main .movie_youtube iframe { }

/* ipad */
.ipad #Cont .boxstyle_04 .movie_main .movie_thumb { display: none; z-index: 0; }

#Cont .border-note { width: 780px; border: #CCCBCB 1px solid; padding: 10px; line-height: 22.5px;  margin: 60px auto 30px; font-size: 12px !important; font-style: italic; color: #999 !important; text-align: center;}

.sideNav { position: absolute; top: 0; right: -203px; width: 263px; height: 237px; z-index: 90; }
.sideNavList { position: relative; width: 263px; height: 237px; }
