

/* 360 Viewer */


#viewer360 #viewerBase {
position:relative;
margin-left:72px;
width:660px;
height:360px;
overflow:hidden;
cursor:pointer;
}
#viewer360 #loadingBox {
position:absolute;
width:800px;
height:360px;
background:#fff url("/lineup/common/images/ajax-loader.gif") no-repeat center center;
z-index:160;
top:0;
left:0;
}


#viewer360 #viewerBase div {
position:absolute;
top:0;
left:0;
height:360px;
}

#viewer360 #viewerBase span {
margin:0;
padding:0;
width:606px;
height:360px;
background-repeat:no-repeat;
background-position:0 0;
}
#viewer360 #viewerBase p {
float:left;
width:23760px;
height:360px;
background-repeat:no-repeat;
}
#viewer360 #viewerBase img {
display:inline;
margin:0;
line-height:0;
font-size:0;
border:0;
width:23760px;
height:360px;
}

#viewer360 #viewerBase p {
margin:0;
}

#viewer360 #grselect {
width:200px;
}

#viewer360 #viewerArea {
position:relative;
width:760px;
height:360px;
}
#viewer360 #turnX_Left,
#viewer360 #turnX_Right {
position:absolute;
cursor:pointer;
}

#viewer360 #turnX_Left {
top:142px;
left:17px;
}
#viewer360 #turnX_Right {
top:142px;
left:732px;
}

#viewer360 #colorChg {
float:right;
margin:0;
}

#viewer360 #colorChg li {
position:relative;
float:left;
margin-right:5px;
list-style:none;
cursor:pointer;
line-height:0;
font-size:0;
}

#viewer360 #contArea {
position:relative;
}

#viewer360 #contArea #btstay {
position:absolute;
top:0;
left:0;
visibility:hidden;
}

#viewer360 #gradeSelectArea {
float:left;
}

#viewer360 #gradeSelectArea select {
font-size:120%;
width:100px;
}

#viewer360 #contArea {
padding:10px 11px 10px 16px;
border-bottom:solid 1px #e6e6e6;
border-top:solid 1px #e6e6e6;
}

#viewer360 #nextBtn {
display:inline;
float:none;
position:absolute;
top:0;
left:0px;
margin-right:16px;
padding:5px 0 15px;
text-align:right;
cursor:pointer;
}

#viewer360 #colorName {
position:absolute;
bottom:10px;
right:40px;
font-size:80%;
width:500px;
text-align:right;
}

#viewer360 div.notesbox {
padding:15px 10px 0;
font-size:75%;
line-height:1.5;
}

#gradeChg {
}

#nextBtn {
visibility:hidden !important;
}

