/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav { display: block; }
.flex-direction-nav a  { display: block; width: 50px; height: 60px; margin: -20px 0 0; position: absolute; bottom: 257px; z-index: 10; overflow: hidden; cursor: pointer; color: rgba(0,0,0,0.8); text-align: center; }
.flex-direction-nav a:hover { background-position: 0 -70px; }
.flex-direction-nav a img {display: none;}
.flex-direction-nav .flex-prev { left: 0px; }
.flex-direction-nav .flex-next { right: 0px; text-align: center; }
.flex-direction-nav .flex-prev { background: url(../images/pc_back.png) 0 0 no-repeat; }
.flex-direction-nav .flex-next { background: url(../images/pc_next.png) 0 0 no-repeat; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; width:0 !important; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:hover  { opacity: 1; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -130px; text-align: center; display: none; }

.flex-control-nav li {width: 10px; height:10px; margin: 0 10px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background-image:url(../../design/images/btn_pager_flex.png); background-repeat:no-repeat; background-position:left top; -webkit-background-size: 10px auto; background-size: 10px auto; cursor: pointer; text-indent: -9999px; }

.flex-control-paging li a:hover { background-position:left bottom; }
.flex-control-paging li a.flex-active { background-position:left bottom; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/* add style */
.design .interior #flexslider .flex-direction-nav { } 
.design .interior #flexslider { position: relative; padding-bottom: 27px; }
.design .interior #carousel { position: relative; width: 700px; margin: 0 auto; } 
.design .interior #carousel .slides li { height: 96px; cursor: pointer; }
.design .interior #carousel .slides li img { height: 85px; border:solid 3px #000; margin-right:14px; }
.design .interior #carousel .slides li.flex-active-slide img { border:solid 3px #4d4d4d; }
.design .interior #carousel li img { display: inline; }


@media screen and (max-width: 767px){
.design .interior #flexslider .flex-direction-nav { display:block; } 
.design .interior #flexslider { width: 100%; } 
.design .interior #flexslider .flex-control-nav li {margin: 0 8px;}
.design .interior #carousel { position: relative; width: 80%; margin: 0 auto; display: none; } 
.design .interior #carousel .slides li { height: 96px; }
.design .interior #carousel .slides li img { height: 85px; border:solid 3px #000; margin-right:14px; }
.design .interior #carousel .slides li.flex-active-slide img { border:solid 3px #4d4d4d; }
.design .interior #carousel li img { display: inline;}

.design .interior #flexslider .flex-control-nav {width: 100%; position: absolute; bottom: -5px; text-align: center; display: block; }
.design .interior #flexslider .flex-direction-nav a { width: 25px; height: 14px; margin: -20px 0 0; padding: 15px 0; bottom: -15px; }
.design .interior #flexslider .flex-direction-nav a img { width:9px; height:; display: inline; }
.design .interior #flexslider .flex-direction-nav .flex-next { opacity: 1; right: 0px; text-align: left; background: none; }
.design .interior #flexslider .flex-direction-nav .flex-prev { opacity: 1; left: 0px; text-align: right; background: none; }
.design .interior #flexslider .flex-control-paging li a { width: 8px; height: 8px; display: block; background:url(../../design/images/btn_pager_flex.png) no-repeat left top; background-size: 8px auto; -webkit-background-size:8px auto; }
.design .interior #flexslider .flex-control-paging li a.flex-active { background-position:left bottom; cursor: default; }

}