/*  Common
--------------------------------------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,
p,blockquote,table,th,td {
	line-height:1.42;
}



#wrap_ir {
width:100%;
min-width:980px;
text-align:left;
}
.wrap_920 {
margin:0 auto;
width:920px;
text-align:left;
}

.minheight {
	min-height:562px;
}

.footer_bottom {
	width:920px;
	margin:0 auto;
}

.footer_bottom .pagetopLink img {
	vertical-align: baseline;
}

.wrap_header {
	width:920px;
	margin:0 auto;
}
.list_other {
	float:right;
	margin-bottom:10px;
}
.list_other li {
	float:left;
	width:auto;
	font-size:85%;
	line-height:2;
}
.list_other .item01 {
	background:url(../images/icon_jp.gif) no-repeat 0 7px;
	padding-left:24px;
}
.list_other .item02 {
	background:url(../images/icon_sitemap.gif) no-repeat 0 7px;
	padding-left:18px;
	margin-left:20px;
}
.list_other .item03 {
	background:url(../images/icon_contact.gif) no-repeat 0 7px;
	padding-left:20px;
	margin-left:20px;
}
.list_other .item04 {
	background:url(../images/icon_faq.gif) no-repeat 0 7px;
	padding-left:15px;
	margin-left:20px;
}
.list_other .item05 {
	background-color:#000;
	color:#FFF;
	padding:0 10px;
	margin-left:10px;
}

.title_01,
.title_02 {
	border: none !important;
	background:none !important;
	margin:0;
	padding:0;
}


.link_arrow01 {
	padding-left:15px;
	background:url(/share/images/link_icon_03.gif) no-repeat 0 4px;
}

.list_otherpage {
	width:920px;
	margin:0 auto 20px;
}
.list_otherpage li {
	float:left;
	width:auto;
}


#wrapfooter {
margin:0 auto;
width:920px;
text-align:left;
}

.footer_ir {
     height:auto;
	 min-height:151px;
	 width:100%;
	 min-width:980px;
     overflow:hidden;
}



#btn_more {
	position: fixed;
	width:69px;
	height:69px;
	left: 50%;
	bottom: 50px;
	margin-left: -34px;
	z-index:1000;
}

#btn_pager {
	position:fixed;
	right:-97px;
	top:45%;
	width:223px;
	text-align:left;
	z-index:2000;
}
#btn_pager li {
	margin:0 0 2px 97px;
	width:126px;
	
}
#btn_pager a {
	display:block;
	background:url(../images/tool_bg.png) repeat 0 0;
}
#btn_pager a.active {
	background-color:#000;
}




ul li img {
     vertical-align: bottom;
}



.heading_01 {
	font-size:116%;
	margin:18px 11px 0;
}
.lead_01 {
	margin:5px 11px 0;
}

.wrap_relation {
	clear:both;
	padding:20px;
	margin:30px 0 0;
	background-color:#EEE;
}
.title_relation {
	margin:0;
	padding:0;
	background:none;
	border:none;
	margin-bottom:10px;
}

.pdf {
	background:url(../images/icon_pdf.png) no-repeat 0 3px;
	padding-left:20px;
}

.para_01 {
	margin-top:1em;
}
.para_02 {
	margin-top:0.5em;
}




.arrow_01 {
}
.arrow_01 span {
display:inline-block;
padding-left:15px;
background:url(/share/images/link_icon_03.gif) no-repeat 0 5px;
}
.arrow_01 img {
vertical-align:middle;
}

.link_index {
	width:718px;
	margin:10px 0 0 0;
	overflow: hidden; 
	position: relative;
}
.link_index a {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/arrow_01.png) no-repeat 688px 206px;
	z-index:99;
}
.link_index .box {
	position:absolute;
	height:231px;
	width:718px;
	top:196px;
	left:0;
	overflow:hidden;
	background:url(../images/bg_white.png);
}

.link_index h2 {
	background:none;
	margin:0;
	padding:8px 30px 10px 20px;
	font-size:116%;
}
.link_index p {
	padding:10px 30px 0 20px;
}



.list_index {
	width:728px;
	margin:10px -10px 0 0;
	position:relative;
}
.list_index li {
	width:354px;
	float:left;
	margin:0 10px 10px 0;
	overflow: hidden; 
	position: relative;
}
.list_index li a {
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/arrow_01.png) no-repeat 324px 150px;
	z-index:99;
}
.list_index .box {
	position:absolute;
	height:175px;
	width:354px;
	top:140px;
	left:0;
	overflow:hidden;
	background:url(../images/bg_white.png);
}
.list_index .box2 {
	position:absolute;
	height:175px;
	width:354px;
	top:119px;
	left:0;
	overflow:hidden;
	background:url(../images/bg_white.png);
}
.list_index h2 {
	background:none;
	margin:0;
	padding:8px 30px 10px 20px;
	font-size:116%;
}
.list_index h2.letter_sp {
	letter-spacing:-0.5px;
}
.list_index h2.letter_sp2 {
	font-size:100%;
	padding-right:0 !important;
	letter-spacing:-0.3px;
}
.list_index p {
	padding:10px 30px 0 20px;
}




.title_toggle {
background-image:none;
background-color:#ddfbfb;
border:1px solid #cbe9e9;
line-height:25px;
cursor:pointer;
}
.title_toggle > span {
border:1px solid #FFF;
padding-left:8px;
background:url(../images/icon_open.gif) no-repeat 690px center;
}
.active > span {
background:url(../images/icon_close.gif) no-repeat 690px center;
}


.mt30 {
	margin-top:30px;
}
.mt50 {
	margin-top:50px;
}
.ir-wrap .linkStd.txt-inl span {
	display: inline;
}

.para_atte { margin-left:1em; }
.para_atte span {
	display:inline-block;
	margin-left:-1em;
	width:1em;
}



/*  toolbox
------------------------------------------------------- */
.toolbox {
	width:100%;
	min-width:980px;
	background:url(../images/tool_bg.png) repeat 0 0;
	position:fixed;
    bottom:0;
    left:0;
    overflow:hidden;
	height:47px;
	z-index:9999;
}
.toolbox.static {
	position:static;
}
.toolbox_inner {
	width:920px;
	margin:0 auto;
	padding:8px 0;
}
.toolbox .list01 {
	float:left;
	width:auto;
}
.toolbox .list01 li {
	float:left;
	width:auto;
}
.toolbox .list01 .tool_fina,
.toolbox .list01 .tool_cale {
	margin-right:10px;
}
.toolbox .list01 .tool_down {
	margin-right:20px;
}
.toolbox .link_bloom {
	line-height:2.38;
	font-size:13px !important;
	float:left;
	width:auto;
}
.toolbox .link_bloom a {
	color:#CCC;
	text-decoration:none;
}
.toolbox .link_bloom a:hover {
	color:#ef0041;
}
.toolbox .link_bloom img {
	vertical-align:middle;
	margin-left:3px;
}
.toolbox .list01 .tool_fina,
.toolbox .list01 .tool_cale,
.toolbox .list01 .tool_down {
	cursor:pointer;
}
.toolbox .list01 .tool_fina {
	background:url(../images/icon_tool01o.png) no-repeat 0 0;
}
.toolbox .list01 .tool_cale {
	background:url(../images/icon_tool02o.png) no-repeat 0 0;
}
.toolbox .list01 .tool_down {
	background:url(../images/icon_tool03o.png) no-repeat 0 0;
}
.toolbox .list01 .tool_fina:hover,
.toolbox .list01 .tool_cale:hover,
.toolbox .list01 .tool_down:hover { background-color:transparent; }
.toolbox .list01 .tool_fina:hover img,
.toolbox .list01 .tool_cale:hover img,
.toolbox .list01 .tool_down:hover img { visibility: hidden; }

.toolbox .list02 {
	float:right;
	width:auto;
}
.toolbox .list02 li {
	float:left;
	width:auto;
	cursor:pointer;
	height:31px;
}
.toolbox .list02 .tool_menu {
	background:url(../images/icon_tool04o.png) no-repeat 0 31px;
	margin-right:30px;
}
.toolbox .list02 .tool_sitemap {
	background:url(../images/icon_tool05o.png) no-repeat 0 31px;
}
.toolbox .list02 .tool_menu:hover,
.toolbox .list02 .tool_sitemap:hover { background-color:transparent; background-position:0 0; }
.toolbox .list02 .tool_menu:hover img,
.toolbox .list02 .tool_sitemap:hover img { visibility: hidden; }



.tool_content {
	display: none;
	position: fixed;
	bottom: 50px;
	left:50%;
	width:980px;
	margin-left:-490px;
	z-index:9999;
}
.wrap_static .tool_content {
	bottom:160px;
}
.tool_content_inner {
	position:relative;
	width:920px;
	background:url(../images/tool_bg.png) repeat 0 0;
	padding:30px;
}
.tool_content_inner a {
	color:#FFF;
}

.tool_box_inner {
	width:920px;
	padding:0;
	position: relative;
    overflow: hidden;
}
.tool_box_inner h2 {
	background:none;
	border:none;
	margin:0;
	padding:0 0 10px 0;
	color:#FFF;
	font-size:124%;
}
.mt_year {
	margin-top:-10px !important;
}
.tool_box_inner .list {
	width:920px;
}
.tool_box_inner .list li {
	float:left;
	width:450px;
	margin:20px 0 0 0;
	font-size:108%;
}
.tool_box_inner .list li img {
	vertical-align:top;
}
.tool_box_inner .list li a {
	display:inline-block;
	background-color:#666;
	margin-left:5px;
	padding:8px 10px 8px 15px;
	width:365px;
	text-decoration:none;
	border-bottom:1px solid #858585;
}
.tool_box_inner .list li a:hover {
	color:#ef0041;
}
.tool_box_inner .img_cale {
	margin-top:20px;
	text-align:center;
}
.tool_box_inner .link_cale {
	margin:20px 0 0 50px;
	padding-left:15px;
	background:url(/share/images/link_icon_03.gif) no-repeat 0 4px;
}
.tool_box_inner .link_cale a:hover {
	color:#ef0041;
}

.tool_box_inner .box_down {
	margin:20px 0 0 0;
	width:920px;
}
.tool_box_inner .box_down .package {
	border:1px solid #ebebeb;
	background-color:#151515;
	padding:20px;
	margin:0 15px;
	width:245px;
	float:left;
}
.tool_box_inner .box_down .package h3 {
	background:none;
	border:none;
	margin:0;
	padding:0 0 0 35px;
	color:#FFF;
	font-size:108%;
	background:url(../images/icon_download.png) no-repeat 0 0;
	line-height:1.715;
}
.tool_box_inner .box_down .package p {
	font-size:93%;
	border:1px solid #ef0041;
	background:#FFF;
	margin-top:30px;
	text-align:center;
}
.tool_box_inner .box_down .package p a {
	text-decoration:none;
	color:#151515;
	display:block;
	padding:3px 0;
	
}
.tool_box_inner .box_down .package p a:hover {
	color:#ef0041;
}
.tool_box_inner .box_down .list_pdf {
	float:left;
	width:450px;
	margin:0 20px;
}
.tool_box_inner .box_down .list_pdf li {
	margin-bottom:5px;
	font-size:93%;
}
.tool_box_inner .box_down .list_pdf li a:hover {
	color:#ef0041;
}
.tool_box_inner .box_down .list_pdf li img {
	vertical-align: baseline;
	margin-left:5px;
}

#tool_menu h3 {
	background:url(../images/icon_sq_white.gif) no-repeat 0 4px;
	border:none;
	margin:20px 0 0 0;
	padding:0 0 0 15px;
	color:#FFF;
	font-size:108%;
}
.box_menu {
	width:920px;
	margin-top:10px;
}
.box_menu .img_menu {
	width:130px;
	float:left;
	margin-right:1px;
}
.box_menu .list_menu {
	float:left;
	width:789px;
}
.box_menu .list_menu .lineup {
	width:156px;
	margin-right:1px;
	float:left;
}
.box_menu .lineup h4 {
	background:#666;
	color:#FFF;
	padding:5px;
}
.box_menu .lineup h4 span {
	display:inline-block;
	background:url(../images/icon_sq_red.gif) no-repeat 0 4px;
	padding-left:15px;
}

.box_menu .lineup ul {
	padding:2px 5px 0;
}
.box_menu .lineup li {
	margin-top:8px;
	font-size:93%;
}
.box_menu .lineup li img {
	margin-left:5px;
	vertical-align: baseline;
}

.box_menu .fl {
	float:left;
	width:759px;
}
.box_menu .fr {
	float:left;
	width:156px;
	background-color:#666;
	height:300px;
}
.box_menu .fr h4 {
	color:#FFF;
	padding:5px;
}
.box_menu .fr h4 span {
	display:inline-block;
	background:url(../images/icon_sq_red.gif) no-repeat 0 4px;
	padding-left:15px;
}
.box_menu .fr ul {
	padding:2px 5px 0;
}
.box_menu .fr li {
	margin-top:8px;
	font-size:93%;
}

	
.box_menu_in {
	width:759px;
}
.box_menu_in .img_menu_in {
	width:131px;
	float:left;
}
.box_menu_in .list_menu_in {
	width:628px;
	float:left;
}
.box_menu_in .list_menu_in .lineup {
	width:156px;
	margin-right:1px;
	float:left;
}

.box_menu a:hover {
	color:#ef0041;
}

.box_sitemap {
	width:920px;
}
.box_sitemap .box {
	float:left;
	width:229px;
	margin:20px 1px 0 0;
}
.box_sitemap .box h3 {
	background:none;
	border:none;
	margin:0;
	padding:0;
	font-size:108%;
}
.box_sitemap .box h3 a {
	background-color:#666;
	display:block;
	text-decoration:none;
	padding:15px 10px;
}
.box_sitemap .box h3 a:hover,
.box_sitemap .box li a:hover {
	color:#ef0041;
}
.box_sitemap .box ul {
	margin:0 5px 0 10px;
	padding-top:2px;
}
.box_sitemap .box ul li {
	font-size:93%;
	margin-top:8px;
	line-height:1.2;
}
.box_sitemap .box ul li img {
	margin-left:5px;
	vertical-align: baseline;
}
	
	

.tool_close {
	position: absolute;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
}
.tool_content_bottom {
	width: 980px;
	height:16px;
}
.tool_content_bottom div {
	width: 980px;
	height:16px;
}
.tool_content_bottom .tool_fina {
	background:url(../images/tool_arrow.png) no-repeat 30px bottom;
}
.tool_content_bottom .tool_cale {
	background:url(../images/tool_arrow.png) no-repeat 70px bottom;
}
.tool_content_bottom .tool_down {
	background:url(../images/tool_arrow.png) no-repeat 110px bottom;
}
.tool_content_bottom .tool_menu {
	background:url(../images/tool_arrow.png) no-repeat 725px bottom;
}
.tool_content_bottom .tool_sitemap {
	background:url(../images/tool_arrow.png) no-repeat 877px bottom;
}

#tool_fina,
#tool_cale,
#tool_down,
#tool_menu,
#tool_sitemap {
	display: none;	
}
.mt5 {
	margin-top:5px !important;
}
.mt10 {
	margin-top:10px;
}
.mt20 {
	margin-top:20px !important;
}



/*  Index
--------------------------------------------------------------------------------------------------*/

.mainvisual {
	width:100%;
	min-width:920px;
	background-color:#434343;
	clear:both;
	margin-bottom:60px;
}
.mainvisual h1 {
	margin:0 auto;
	padding:0;
	border: none;
	width:920px;
}
.mainvisual .inner_mv {
	width:920px;
	height:522px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}


.logo {
	position: absolute;
	left: 705px;
	top: 360px;
	width: 216px;
	z-index:1;
}

.logo .in_item02 {
	position:absolute;
	top: 15px;
	left: 17px;
}
.logo .in_item02 img {
	width:104px;
	height:64px;
}
.logo .in_item03 {
	position:absolute;
	top: 10px;
	left: 127px;
}
.logo .in_item03 img {
	width: 75px;
	height: 75px;
}

	
.slide {
	width:920px !important;
	position:relative;
}

.slide_body .item01 {
	position:absolute;
	left:745px;
	top:300px;
}
.slide_body .item01 .para {
	padding:15px;
	display: inline-block;
	color:#FFF;
	font-size:108%;
	background:url(../images/bg_white.png);
	margin-bottom:25px;
}
.slide_body .item01 .btn a {
	display:inline-block;
	padding:8px 30px 8px 15px;
	background:#151515 url(../images/arrow_02.png) no-repeat right center;
	color:#FFF;
	text-decoration:none;
}
.slide_body .item01 .btn a:hover {
	color:#ef0041;
}
.slide_body .item01 .logo {
	position: absolute;
	left: -40px;
	top: 60px;
	width: 216px;
}

.slide_body .item01 .logo .in_item02 {
	position:absolute;
	top: 15px;
	left: 17px;
}
.slide_body .item01 .logo .in_item02 img {
	width:104px;
	height:64px;
}
.slide_body .item01 .logo .in_item03 {
	position:absolute;
	top: 10px;
	left: 127px;
}
.slide_body .item01 .logo .in_item03 img {
	width: 75px;
	height: 75px;
}

.slide_body .item02 .logo {
	position: absolute;
	left: 705px;
	top: 355px;
	width: 216px;
}
.slide_body .item02 .logo .in_item02 {
	position:absolute;
	top: 15px;
	left: 17px;
}
.slide_body .item02 .logo .in_item02 img {
	width:104px;
	height:64px;
}
.slide_body .item02 .logo .in_item03 {
	position:absolute;
	top: 10px;
	left: 127px;
}
.slide_body .item02 .logo .in_item03 img {
	width: 75px;
	height: 75px;
}
.slide_body .item02 {
	position:absolute;
	left:0;
	top:5px;
}
.slide_body .item02 .headind {
	width:517px;
	margin-bottom:5px;
}

.slide_body .item03 .logo {
	position: absolute;
	left: 670px;
	top: 210px;
	width: 216px;
}
.slide_body .item03 .logo .in_item02 {
	position:absolute;
	top: 15px;
	left: 17px;
}
.slide_body .item03 .logo .in_item02 img {
	width:104px;
	height:64px;
}
.slide_body .item03 .logo .in_item03 {
	position:absolute;
	top: 10px;
	left: 127px;
}
.slide_body .item03 .logo .in_item03 img {
	width: 75px;
	height: 75px;
}

.slide_body .item04 .logo {
	position: absolute;
	left: 663px;
	top: 270px;
	width: 216px;
}
.slide_body .item04 .logo .in_item02 {
	position:absolute;
	top: 15px;
	left: 17px;
}
.slide_body .item04 .logo .in_item02 img {
	width:104px;
	height:64px;
}
.slide_body .item04 .logo .in_item03 {
	position:absolute;
	top: 10px;
	left: 127px;
}
.slide_body .item04 .logo .in_item03 img {
	width: 75px;
	height: 75px;
}
/*
.slide_body .item02 .headind a:hover img {
	filter:alpha(opacity=90);
	-ms-filter:"alpha(opacity=90)";
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	opacity:0.9;
}
*/
.slide_body .item02 .list {
	margin:0 0 25px 35px;
}
.slide_body .item02 .list li {
	float:left;
	width:141px;
}
.slide_body .item02 .list .in_item03,
.slide_body .item02 .list .in_item04 {
	width:143px;
}
.slide_body .item02 .list li a {
	background:#FFF url(../images/index_tx_02_07.jpg) no-repeat;
	display:inline-block;
	vertical-align:top;
}
.slide_body .item02 .list .in_item01 a { background-position:0 0; }
.slide_body .item02 .list .in_item02 a { background-position:-141px 0; }
.slide_body .item02 .list .in_item03 a { background-position:-282px 0; }
.slide_body .item02 .list .in_item04 a { background-position:-425px 0; }
.slide_body .item02 .list .in_item05 a { background-position:-568px 0; }
.slide_body .item02 .list .in_item06 a { background-position:-709px 0; }

.slide_body .item02 .list li a:hover { background-color:transparent; }
.slide_body .item02 .list li a:hover img { visibility: hidden; }

.slide_body .item02 .btn {
	margin-left:35px;
}
.slide_body .item02 .btn a {
	display:inline-block;
	padding:8px 30px 8px 15px;
	background:#151515 url(../images/arrow_02.png) no-repeat right center;
	color:#FFF;
	text-decoration:none;
}
.slide_body .item02 .btn a:hover {
	color:#ef0041;
}


.slide_body .item03 {
	position:absolute;
	left:35px;
	top:150px;
	width:850px;
}
.slide_body .item03 .box {
	margin-bottom:15px;
}
.slide_body .item03 .list {
	width:546px;
	float:left;
}
.slide_body .item03 .list li {
	width:172px;
	height:109px;
	overflow:hidden;
	float:left;
	margin:0 10px 10px 0;
}
.slide_body .item03 .list li a {
	display:inline-block;
	vertical-align:top;
}
.slide_body .item03 .list .in_item01 a {
	background:url(../images/index_tx_03_01o.png) no-repeat 0 109px;
}
.slide_body .item03 .list .in_item02 a {
	background:url(../images/index_tx_03_02o.png) no-repeat 0 109px;
}
.slide_body .item03 .list .in_item03 a {
	background:url(../images/index_tx_03_03o.png) no-repeat 0 109px;
}
.slide_body .item03 .list .in_item04 a {
	background:url(../images/index_tx_03_04o.png) no-repeat 0 109px;
}
.slide_body .item03 .list .in_item05 a {
	background:url(../images/index_tx_03_05o.png) no-repeat 0 109px;
}
.slide_body .item03 .list .in_item06 a {
	background:url(../images/index_tx_03_06o.png) no-repeat 0 109px;
}

.slide_body .item03 .list li.p_active a {
	background-color:transparent;
	background-position:0 0;
}
.slide_body .item03 .list li.p_active a img { visibility: hidden; }	


.slide_body .item03 .btn {
	display:table;
}
.slide_body .item03 .btn li {
	display: table-cell;
	
}
.slide_body .item03 .btn a {
	display:inline-block;
	padding:8px 30px 8px 15px;
	background:#151515 url(../images/arrow_02.png) no-repeat right center;
	color:#FFF;
	text-decoration:none;
	margin-right:15px;
}
.slide_body .item03 .btn a:hover {
	color:#ef0041;
}


.slide_body .item03 .list_slide {
	float:right;
	width:300px;
	margin-top:35px;
}


.slide_body .item04 {
	position:absolute;
	left:40px;
	top:90px;
	width:861px;
}
.slide_body .item04 .list {
	width:861px;
}
.slide_body .item04 .list > li {
	margin:0 45px 20px 0;
	position:relative;
	width:242px;
	float:left;
}

.slide_body .item04 .list .title {
	display:block;
}

.slide_body .item04 .in_item01 .title {
background:#FFF url(../images/index_tx_04_01t_on.png) no-repeat 0 0;
vertical-align:top;
}
.slide_body .item04 .in_item02 .title {
background:#FFF url(../images/index_tx_04_02t_on.png) no-repeat 0 0;
vertical-align:top;
}
.slide_body .item04 .in_item03 .title {
background:#FFF url(../images/index_tx_04_03t_on.png) no-repeat 0 0;
vertical-align:top;
}
.slide_body .item04 .in_item04 .title {
background:#FFF url(../images/index_tx_04_04t_on.png) no-repeat 0 0;
vertical-align:top;
}

.slide_body .item04 .list a:hover .title {
	background-color:transparent;
}
.slide_body .item04 .list a:hover .title img {
	visibility: hidden;
}




.slide_body .item04 .btn {
	text-align:right;
	margin:-200px 45px 0 0;
	position:relative;
	font-size:116%;
}
.slide_body .item04 .btn a {
	display:inline-block;
	padding:15px 55px 15px 40px;
	background:#151515 url(../images/arrow_02.png) no-repeat right center;
	color:#FFF;
	text-decoration:none;
}
.slide_body .item04 .btn a:hover {
	color:#ef0041;
}





.index_irnews {
	width:100%;
	min-width:980px;
	background:#FFF url(../images/bg_index_irnews.jpg) no-repeat center bottom;
	padding-top:40px;
	margin-bottom:20px;
}
.index_irnews_inner {
	width:920px;
	margin:0 auto;
}

.index_irnews .title_01 {
	margin:0 0 40px 30px;
}
.index_irnews .wrap_link {
	width:612px;
	margin-bottom:5px;
}
.index_irnews .wrap_link .link {
padding-left:15px;
background:url(/share/images/link_icon_03.gif) no-repeat 0 4px;
float:right;
}

.index_irnews .wrap_info {
	width:828px;
	margin:0 0 0 30px;
	padding-bottom:60px;
}
.index_irnews .wrap_info .main_info {
	float:left;
	width:585px;
}
.index_irnews .wrap_info .box_news {
	padding:20px 20px 1px;
	margin-bottom:30px;
	background:url(../images/bg_white.png) repeat 0 0;
}
.index_irnews .wrap_info .box_news dt {
	margin-bottom:10px;
}
.index_irnews .wrap_info .box_news dt span {
	display:inline-block;
	width:11.5em;
}
.index_irnews .wrap_info .box_news #press_area dt span {
	display:inline-block;
	width:13.5em;
}
.index_irnews .wrap_info .box_news img {
	vertical-align: middle;
	margin-left:5px;
}
.index_irnews .wrap_info .box_news dd {
	margin:0 0 20px 15px;
}
.index_irnews .wrap_info .box_news dd.link {
	padding-left:15px;
	background:url(/share/images/link_icon_03.gif) no-repeat 0 4px;
}

.index_irnews .wrap_info .main_info .title_02  {
	font-size:124%;
	margin-bottom:10px;
}

.index_irnews .wrap_info .main_info .title_03  {
	font-size:124%;
	float:left;
	font-weight: bold;
}

.index_irnews .wrap_info .main_info .irnews_sub_title  {
    border-bottom:1px solid #000000;
    padding-bottom:10px;
	margin-bottom:10px;
}

.index_irnews .wrap_info .main_info .irnews_sub_title .link  {
    float:right;
	padding-left:15px;
	background:url(/share/images/link_icon_03.gif) no-repeat 0 4px;
}


.index_irnews .wrap_info .box_mail {
	padding:10px 20px;
	margin-bottom:15px;
	background:url(../images/bg_gray.png) repeat 0 0;
}

.index_irnews .wrap_info .box_mail p.link {
	background:url(../images/icon_mail.png) no-repeat 0 0;
	font-size:108%;
	padding-left:30px;
}
.index_irnews .wrap_info .box_mail p.link a {
	display:inline-block;
	background:url(../images/arrow_01.png) no-repeat right center;
	padding-right:30px;
}



.index_irnews .wrap_info .sub_info {
	float:right;
	width:220px;
}
.index_irnews .wrap_info .sub_info .title_01 {
	margin:0;
}

.index_irnews .wrap_info .sub_info .title_02 {
    color:#cbe9e9;
	font-weight:bold;
}

.index_irnews .wrap_info .sub_info dl {
	background-color:#000;
	color:#FFF;
	padding:10px 5px 15px 15px;
	font-size:93%;
}

.index_irnews .wrap_info .sub_info li {
	margin-bottom:10px;
	background:url(/share/images/link_icon_03.gif) no-repeat 0 4px;
	padding-left:15px;
}

.index_irnews .wrap_info .sub_info li img {
    vertical-align:middle;
	margin-left:10px;
}

.index_irnews .wrap_info .sub_info .img {
	margin-bottom:20px;
}
.index_irnews .wrap_info .sub_info ul {
	background-color:#000;
	color:#FFF;
	padding:20px 5px 10px 15px;
	font-size:93%;
}
.index_irnews .wrap_info .sub_info ul a {
	color:#FFF;
	letter-spacing:-0.3px;
}
.index_irnews .wrap_info .sub_info ul a:hover {
	color:#ef0041;
}
.index_irnews .wrap_info .sub_info .btn {	
	background:#000;
}

.index_irnews .wrap_info .sub_info .btn a {
	text-decoration:none;
	border:1px solid #ef0041;
	color:#151515;
	display:block;
	padding:3px 0;
	margin:0px 13px;
	background-color:#FFF;
	text-align:center;
	font-size:93%;
}
.index_irnews .wrap_info .sub_info .btn a:hover {
	color:#ef0041;
}





.index_category {
	padding-top:40px;
	width:860px;
	margin:0 auto 80px;
}
.index_category .title_01 {
	margin-bottom:30px;
}

.index_category .wrap_cate {
	width:860px;
	margin-bottom:15px;
}
.index_category .wrap_cate .list {
	width:620px;
	float:left;
	border-right:1px solid #dfdfdf;
	margin-right:10px;
}
.index_category .wrap_cate .list li {
	width:196px;
	float:left;
	margin:0 10px 25px 0;
	position:relative;
}

.index_category .wrap_cate .list li a:hover {
	color:#ef0041;
}

.index_category .wrap_cate .list li img {
	margin-bottom:5px;
}
.index_category .wrap_cate .list li .link_arrow01 {
	margin-left:5px;
	display:inline-block;
	text-decoration:underline;
}


.index_category .wrap_cate .wrap_individual {
	width:229px;
	float:left;
}
.index_category .wrap_cate .wrap_individual .img {
	margin-bottom:10px;
	width:197px;
	position:relative;
}
.index_category .wrap_cate .wrap_individual .img img {
	margin-bottom:5px;
}
.index_category .wrap_cate .wrap_individual .link_arrow01 {
	margin-bottom:10px;
	text-decoration:underline;
	display:inline-block;
}
.index_category .wrap_cate .wrap_individual .img a:hover {
	color:#ef0041;
}
.index_category .wrap_cate .wrap_individual .para_01 {
	margin-bottom:10px;
	width:200px;
}

.index_category .wrap_cate .wrap_individual .para_02 {
 	margin:0px 0px 10px 0;
	width:180px;
}

.index_category .wrap_cate .wrap_individual .para_02 a {
	display:inline-block;
	background:url(../images/arrow_03.png) no-repeat 7px 8px;
	padding-left:17px;
}


.index_category .list_relation {
	border-top:1px solid #dfdfdf;
	width:860px;
	padding:10px 5px 0;
}
.index_category .list_relation li {
	float:left;
	width:auto;
	margin-right:25px;
}



.index_support {
	width:100%;
	min-width:980px;
	background:#cac9ca url(../images/bg_index_support.jpg) no-repeat center top;
	padding-top:65px;
	margin-bottom:20px;
	min-height:515px;
}
.index_support_inner {
	width:860px;
	margin:0 auto;
}
.index_support .title_01 {
	margin-bottom:40px;
}
.index_support .title_02 {
	font-size:124%;
	margin-bottom:20px;
}

.index_support .list_useful {
	margin-bottom:60px;
}
.index_support .list_rank li,
.index_support .list_useful li {
	margin-bottom:5px;
}
.index_support .list_rank span {
	width:1.5em;
	display:inline-block;
}

.index_support .list_useful li {
	background:url(../images/icon_disc.png) no-repeat 2px center;
	padding-left:1.5em;
}



/*  Other
--------------------------------------------------------------------------------------------------*/
.link_sitemap,
.wrap_sitemap .box p {
	background:#FFF url(/share/images/link_icon_03.gif) no-repeat 0 4px;
	padding-left:15px;
}
.wrap_sitemap {
	margin-top:20px;
	width:698px;
}
.wrap_sitemap .box {
	float:left;
	width:339px;
	margin-right:10px;
}
.wrap_sitemap .box ul {
	margin-left:15px;
}
.wrap_sitemap .box li {
	background:#FFF url(/share/images/link_icon_02.gif) no-repeat 4px 6px;
	padding-left:1em;
	margin-top:5px;
}
.wrap_sitemap .box li img {
	vertical-align:middle;
	margin-left:5px;
}

h3.tit_other {
	padding-top:3px;
	padding-bottom:3px;
}
.wrap_other {
	width:698px;
	margin-top:2em;
}
.wrap_other .txt {
	float:left;
	width:310px;
}
.wrap_other .img {
	float:right;
	width:350px;
}
.wrap_other .txt h4 {
	background:url(../images/icon_sq_black.gif) no-repeat 0 4px;
	padding-left:15px;
	margin:5px 0 20px;
}

.tbl_rule {
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	margin: 1em 0 30px 0;
	width:698px;
}
.tbl_rule th,
.tbl_rule td {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding: 5px;
	vertical-align:middle;
}
.tbl_rule th {
	text-align:center;
	width:50px;
}

.box_rule {
	border:1px solid #CCC;
	margin-top:1em;
	padding:10px 9px;
	display:table;
}
.box_rule .img {
	display: table-cell;
	width:160px;
	vertical-align: middle;
	text-align:center;
	padding-right:20px;
}
.box_rule .txt {
	display: table-cell;
}
.box_rule .txt p img {
	vertical-align:middle;
	margin-left:5px;
}

.dl_faq {
	margin:0 10px;
}
.dl_faq dt {
	margin-top:20px;
	padding-top:20px;
	border-top:1px dotted #151515;
}
.dl_faq > dt:first-child {
	border:none;
	padding-top:0;
}
.dl_faq dt > span {
	display:black;
	margin:0 0 0 1.5em;
}
.dl_faq dt span span {
	display:inline-block;
	margin-left:-1.5em;
	width:1.5em;
}
.dl_faq dd {
	margin:5px 0 0 1.5em;
}
.dl_faq dd span {
	display:inline-block;
	margin-left:-1.5em;
	width:1.5em;
}
.dl_faq dd .link {
	background:#FFF url(/share/images/link_icon_03.gif) no-repeat 0 4px;
	padding-left:15px;
	margin-top:10px;
}
.dl_faq dd .link .icon_pdf {
	margin-left:5px;
	vertical-align:middle;
}