@charset "utf-8";
/* =========================================================
　◆Mainvis
========================================================= */
#Mainvis{ width: 100%; height: 481px; background: url(../images/main_vis.jpg) no-repeat center top; background-size: cover;}
#Mainvis #Mainvis_inner{ padding-top: 0; width: 960px; margin: 0 auto; height: 481px; position: relative;}
#Mainvis #Mainvis_inner h2{ display: block; position: absolute; left: 0;bottom: 0; }
#Mainvis #Mainvis_inner .txtstyle_02{ position: absolute; bottom: 16px; right: 0; color: #fff; font-size: 18px;}

/* =========================================================
　◆Information
========================================================= */
#Information{ width: 100%;height: 242px; background: url(../images/info_bg.jpg) no-repeat center top; background-size: cover;}
#Information #Info_inner{ padding-top: 0; width: 960px; margin: 0 auto; height: 242px;}
#Information #Info_inner .title_area{padding-top: 46px;margin-bottom: 15px;}
#Information #Info_inner .title_area h3{font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;color: #ffffff;line-height: 1;font-size: 40px;text-align: center;}
#Information #Info_inner .area_list{ width: 880px; margin: 0 auto; }
#Information #Info_inner .area_list .list_wrap ul li{ float: left;background-color:rgba(0,0,0,0.7);/* Firefox v1.0+ */-moz-border-radius:3px ;/* Safari v3.0+ and by Chrome v0.2+ */-webkit-border-radius:3px ;/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */border-radius:3px ;margin-right: 4px;transition: background-color 0.2s linear;}
#Information #Info_inner .area_list .list_wrap ul li:hover{background-color:rgba(0,0,0,1);}
#Information #Info_inner .area_list .list_wrap ul li.last{margin-right: 0;}
#Information #Info_inner .area_list .list_wrap ul li a{ display: block; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color: #ffffff; text-decoration: none;line-height: 1;font-size: 20px; text-align: center;padding: 30px 0;}
#Information #Info_inner .area_list .list_wrap ul li.africa a{width: 123px;}
#Information #Info_inner .area_list .list_wrap ul li.asia a{width: 122px;}
#Information #Info_inner .area_list .list_wrap ul li.europe a{width: 122px;}
#Information #Info_inner .area_list .list_wrap ul li.latin_america a{width: 122px;}
#Information #Info_inner .area_list .list_wrap ul li.middle_east a{width: 122px;}
#Information #Info_inner .area_list .list_wrap ul li.north_america a{width: 122px;}
#Information #Info_inner .area_list .list_wrap ul li.oceania a{width: 123px;}

/* =========================================================
　◆Videos
========================================================= */
#Videos{ width: 100%; }
#Videos .video_sec{ width: 100%; }
#Videos .video_01{ background-color: #efefef; }
#Videos .video_02{background-color: #FFFFFF;}
#Videos .video_03{background-color: #efefef;}
#Videos .video_sec .video_area_inner{ width: 960px; margin: 0 auto;padding: 60px 0;}
#Videos .video_sec .video_area_inner .left{ width: 465px; float: left;}
#Videos .video_sec .video_area_inner .right{width: 465px; float: right;}
#Videos .video_sec .video_area_inner .text_wrap{padding: 65px 0 0 0;}
#Videos .video_sec .video_area_inner .right.text_wrap{}
#Videos .video_sec .video_area_inner .left.text_wrap{}
#Videos .video_sec .video_area_inner .text_wrap h3{ font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; line-height: 1;font-size: 56px;margin-bottom: 9px;padding-left: 26px; color: #333333;}
#Videos .video_sec .video_area_inner .text_wrap .sub_title{font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; line-height: 1;font-size: 29px; margin-bottom: 11px;padding-left: 25px; color: #333333;}
#Videos .video_sec .video_area_inner .text_wrap .text{padding-left: 27px;}
#Videos .video_sec .video_area_inner .text_wrap .text p{font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;font-size:24px; color: #333333;line-height: 1;}
#Videos .video_sec .video_area_inner .video_wrap{}
#Videos .video_sec .video_area_inner .video_wrap .video_body{ width: 465px; height: 261px; position: relative;}
#Videos .video_sec .video_area_inner .video_wrap .video_body img{ position: absolute; top: 0; left: 0; z-index: 10;cursor: pointer;transition: opacity 0.2s linear;}
#Videos .video_sec .video_area_inner .video_wrap .video_body img:hover{opacity: 0.8;}
#Videos .video_sec .video_area_inner .video_wrap .video_body .video_iframe{ position: absolute; top: 0; left: 0; z-index: 0; visibility: hidden;}
#Videos .video_sec .video_area_inner .video_wrap .video_body .video_iframe.show{visibility:visible; }
#Videos .video_02 .video_area_inner{padding: 62px 0 58px;}
#Videos .video_02 .video_area_inner .text_wrap{padding: 55px 0 0 0;}
#Videos .video_02 .video_area_inner .text_wrap h3{padding-left: 1px;}
#Videos .video_02 .video_area_inner .text_wrap .sub_title{padding-left: 1px;}
#Videos .video_02 .video_area_inner .text_wrap .text{padding-left: 1px;}
#Videos .video_03 .video_area_inner .text_wrap{padding: 56px 0 0 0;}
@media screen and (max-width: 767px){
/* =========================================================
　◆Mainvis
========================================================= */
#Mainvis{ width: 100%;background:#000000 url(../images/main_vis_sp.jpg) no-repeat center top; background-size: 100% auto; height: auto; padding-top: 105.3125%;}
#Mainvis img{ width: 100%; }
#Mainvis #Mainvis_inner{ width: 100%; height: auto;}
#Mainvis #Mainvis_inner h2{width: 100%;}
#Mainvis #Mainvis_inner .txtstyle_02{ position: absolute; left: 15px; right: inherit; text-shadow: 0 0 5px rgba(0,0,0,1), 0 0 5px rgba(0,0,0,1), 0 0 5px rgba(0,0,0,1);}

/* =========================================================
　◆Information
========================================================= */
#Information{ background: #ffffff; height: auto;border-bottom: #FF0000 4px solid;}
#Information img{ width: 100%; }
#Information #Info_inner{ width: 100%;height: auto;}
#Information #Info_inner .title_area{ width: 100%; background: url(../images/info_bg_sp.jpg) no-repeat center top; background-size: cover;padding: 7.5% 0 7%;margin-bottom: 0;}
#Information #Info_inner .title_area h3{font-size: 23px;padding-bottom: 3.6%;}
#Information #Info_inner .title_area .view_all{ width: 31.93%; margin: 0 auto;}
#Information #Info_inner .title_area .view_all a{ display: block; width: 100%; }
#Information #Info_inner .title_area .view_all a img{ width: 100%; }
#Information #Info_inner .title_area .view_all a:hover{}

#Information #Info_inner .area_list{ width: 90.625%;height: auto;background: none;padding: 6% 0 6.5% 0;}
#Information #Info_inner .area_list .area_list_name{ display: block; background: #EEEEEE; -webkit-box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); cursor: pointer; position: relative; z-index: 50; padding: 12px 0; }
#Information #Info_inner .area_list .area_list_name span{ display: block; font-size: 123.1%; line-height: 1.2; width: 91%; margin: 0 auto; background: url(../images/local_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
#Information #Info_inner .area_list .list_wrap {display: none;}
#Information #Info_inner .area_list .list_wrap ul li{ float: none;background-color:none;/* Firefox v1.0+ */-moz-border-radius:0 ;/* Safari v3.0+ and by Chrome v0.2+ */-webkit-border-radius:0 ;/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */border-radius:0 ;margin-right: 0; }
#Information #Info_inner .area_list .list_wrap ul li.last{}
#Information #Info_inner .area_list .list_wrap ul li a{ width: 100% !important;border-bottom: 1px solid #FFFFFF;width: 100%; border-radius: 0; display: block;color: #333333;text-decoration: none;font-size: 138.5%;font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; background: #EEEEEE; text-align: center;-webkit-box-sizing: border-box; box-sizing: border-box; line-height: 44px;padding: 0;}


/* =========================================================
　◆Videos
========================================================= */
#Videos{ width: 100%; }
#Videos img{ width: 100%;position: absolute;top: 0;left: 0;}
#Videos .video_sec{ width: 100%; }
#Videos .video_01{}
#Videos .video_02{}
#Videos .video_03{}
#Videos .video_sec .video_area_inner{ width: 87.5%; margin: 0 auto;padding: 6.5% 0 10.5% 0;}
#Videos .video_sec .video_area_inner .left{ width: 100%; float: none;}
#Videos .video_sec .video_area_inner .right{ width: 100%; float: none;}
#Videos .video_sec .video_area_inner .text_wrap{ padding: 5% 0 0 0;}
#Videos .video_sec .video_area_inner .right.text_wrap{}
#Videos .video_sec .video_area_inner .left.text_wrap{}
#Videos .video_sec .video_area_inner .text_wrap h3{padding: 0; margin: 0;font-size: 36px;}
#Videos .video_sec .video_area_inner .text_wrap .sub_title{padding: 4% 0 0 0; margin: 0;font-size: 20px;}
#Videos .video_sec .video_area_inner .text_wrap .text{ padding: 3% 0 0 0;}
#Videos .video_sec .video_area_inner .text_wrap .text p{font-size: 13px;}
#Videos .video_sec .video_area_inner .video_wrap{}
#Videos .video_sec .video_area_inner .video_wrap .video_body{ width: 100%;height: auto;position: relative;padding-top: 56.12903225806452%;}
#Videos .video_sec .video_area_inner .video_wrap .video_body .video_iframe{ position: absolute; top: 0; left: 0; visibility:visible; }
#Videos .video_02 .video_area_inner{}
#Videos .video_02 .video_area_inner .text_wrap{}
#Videos .video_02 .video_area_inner .text_wrap h3{}
#Videos .video_02 .video_area_inner .text_wrap .sub_title{}
#Videos .video_02 .video_area_inner .text_wrap .text{}
}
/* =========================================================
　◆Local_area
========================================================= */
#Local_area { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;width: 100%; background: url(../images/globalnet_bg.jpg) center center no-repeat; height: 660px; position: relative; -webkit-background-size: cover; background-size: cover; border-bottom: 5px solid #E60014; }
#Local_area #Local_area_inner{  width:100%; max-width: 960px; margin: 0 auto;height: 100%;padding-top: 59px;}

#Local_area_inner {}
#Local_area #Local_area_inner .local_area_head { margin-bottom: 40px;  }
#Local_area #Local_area_inner .local_area_head .text01{text-align: center; font-size: 60px; line-height: 1.0; color: #FFFFFF; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
#Local_area #Local_area_inner .local_list_wrap{ position: relative; width:100%;max-width: 804px; height: 401px; background: url(../images/local_map.png) center top no-repeat; background-size:100% auto; margin: 0 auto;}
#Local_area #Local_area_inner .local_list_wrap .local_list{}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li{ position: absolute;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li.local_01{top: 105px;left: 81px;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li.local_02{top: 245px;left: 173px;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li.local_03{top: 197px;left: 372px;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li.local_04{top: 100px;left: 372px;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li.local_05{top: 154px;left: 474px;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li.local_06{top: 100px;left: 608px;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li.local_07{top: 245px;left: 636px;}
#Local_area #Local_area_inner .local_list_wrap .view_all{top: 401px;left: 336px; position: absolute;white-space: nowrap;background-color:rgba(0,0,0,0.7);height:54px;/* Firefox v1.0+ */-moz-border-radius:3px;/* Safari v3.0+ and by Chrome v0.2+ */-webkit-border-radius:3px;/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */border-radius:3px;}
#Local_area #Local_area_inner .local_list_wrap .view_all a{  background:url(../images/local_icon.png) right top no-repeat; padding-right: 29px;color: #FFFFFF; display: block;line-height: 54px;font-size: 28px;text-decoration: none;}
#Local_area #Local_area_inner .local_list_wrap .view_all a span{ padding: 0 10px 0 15px;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_tit{ }
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_tit a{ display: block;line-height: 40px;color:#FFFFFF;font-size: 19px;padding: 0 17px;white-space: nowrap;background-color:rgba(0,0,0,0.7);height:40px;/* Firefox v1.0+ */-moz-border-radius:3px;/* Safari v3.0+ and by Chrome v0.2+ */-webkit-border-radius:3px;/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */border-radius:3px; text-decoration: none;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_tit a,
#Local_area #Local_area_inner .local_list_wrap .view_all{transition: background-color 0.2s linear; }
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_tit a:hover,
#Local_area #Local_area_inner .local_list_wrap .view_all:hover{background-color:rgba(0,0,0,1);}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_cont{ display: none; }
#colorbox{ overflow: visible !important; }
#colorbox .local_cont{ width: 760px;padding: 22px 0 30px;}
#colorbox .local_cont .local_data_tit{ font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;width: 100%;line-height: 1;margin-bottom: 29px;}
#colorbox .local_cont .local_data_tit .text_01{margin: 0 auto 19px;text-align: center;font-size: 26px;color: #333333;}
#colorbox .local_cont .local_data_tit .text_02{ margin:0 auto;text-align: center;font-size: 55px;color: #000000;}
#colorbox .local_data_list{ margin:0 auto; width: 720px;}
#colorbox .local_data_list ul{
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flexbox;
	display: flex;
	flex-flow: wrap;}
#colorbox .local_data_list ul li{width: 152px;
	border-bottom:1px #DDDDDD solid;padding: 16px 4px;vertical-align: middle;
display: -webkit-flexbox;
display: -moz-flexbox;
display: -ms-flexbox;
display: -o-flexbox;
display: flexbox;
display: flex;
-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
align-items: center; /* 縦方向中央揃え */
margin: 0 10px;}
#colorbox .local_data_list ul li:nth-child(1){ border-top:1px #DDDDDD solid;}
#colorbox .local_data_list ul li:nth-child(2){ border-top:1px #DDDDDD solid; }
#colorbox .local_data_list ul li:nth-child(3){ border-top:1px #DDDDDD solid; }
#colorbox .local_data_list ul li:nth-child(4){ border-top:1px #DDDDDD solid; }

#colorbox .local_data_list ul li a{color: #0085B2; text-decoration: none;line-height: 1;font-size: 13px;max-width: 125px;}
#colorbox .local_data_list ul li a:hover{text-decoration: underline;}
#colorbox .local_data_list ul li:after{background:url(../images/local_link.gif) right top no-repeat; width: 11px; height: 14px; display: inline-block; content: '';/* position: absolute; */margin-left: 12px;}
#colorbox .local_data_list ul li.two_line:after{margin-top: 0;}
@media screen and (max-width: 767px){
#Local_area { width: 100%; height: auto; background: none;}
#Local_area #Local_area_inner{  width: 100%;height: auto; padding:0;}
#Local_area #Local_area_inner .local_area_head  { width: 90.625%; max-height: 610px; margin: 0 auto 20px; padding: 8% 4.6875% 10% 4.6875%; position: relative; background-image: url(../images/sp_globalnet_bg.jpg); -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; }
#Local_area #Local_area_inner .local_area_head .text01{margin-bottom: 3.8%; text-align: center; font-size: 30px; line-height: 1.0; color: #FFFFFF;}
#Local_area #Local_area_inner .local_area_head .view_all{}
#Local_area #Local_area_inner .local_list_wrap{width: 90.625%;margin: 0 auto 20px; height: auto; background: none;}
#Local_area #Local_area_inner .local_list_wrap .local_list_name { display: block; background: #EEEEEE; -webkit-box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); cursor: pointer; position: relative; z-index: 50; padding: 12px 0; }
#Local_area #Local_area_inner .local_list_wrap .local_list_name span { display: block; font-size: 123.1%; line-height: 1.2; width: 91%; margin: 0 auto; background: url(../images/local_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
#Local_area #Local_area_inner .local_list_wrap .local_list_name span.active { background: url(../images/local_name_close.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; }
#Local_area #Local_area_inner .local_list_wrap .local_list{display: none;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li{ position: relative; top: 0 !important; left: 0 !important; }
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_tit{}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_tit a{border-bottom: 1px solid #FFFFFF;width: 100%; border-radius: 0; display: block;color: #333333;text-decoration: none;font-size: 138.5%;font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; background: #EEEEEE; text-align: center;-webkit-box-sizing: border-box; box-sizing: border-box; line-height: 44px;}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_tit a:hover{ background: #EEEEEE; }
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_tit{}
#Local_area #Local_area_inner .local_list_wrap .local_list ul li .local_cont{}
}
