@charset "UTF-8";/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */img,legend {
  border: 0;
}

.slick-loading .slick-slide,.slick-loading .slick-track {
  visibility: hidden;
}

.slick-list,body,li,ol,ul {
  margin: 0;
}

.slick-list,legend,li,ol,td,th,ul {
  padding: 0;
}

.modal-wrapper--photogallery .modal .slick-slide,.slick-list:focus,a:active,a:hover {
  outline: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}

audio,canvas,progress,video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],template {
  display: none;
}

.slick-list,.slick-slider,.slick-track {
  display: block;
  position: relative;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.container-concept--section .section--body--info a:hover,.container-lineup .car-item--link-offisial a:hover,.container-outlanderphev .link-offisial a:hover,.container-technology .page-link a:hover,.container-outlanderphev .page-link a:hover,.container-technology--section .link-text--mc a:hover,.container-technology--section .section--body--link:hover,.g-footer-link li a:hover,.item.item__news .news-content li a:hover,.item.item__title .link-area a:hover {
  text-decoration: underline;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,optgroup,strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre,textarea {
  overflow: auto;
}

code,kbd,pre,samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button,input,optgroup,select,textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.f-style-italic,.f-style-small {
  font-weight: 400;
}

button {
  overflow: visible;
}

.item.item__slider,.main-wrapper,.slick-list {
  overflow: hidden;
}

button,select {
  text-transform: none;
}

button,html input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.slick-slider {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,.slick-slider .slick-track {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.slick-track {
  left: 0;
  top: 0;
}

.slick-track:after,.slick-track:before {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body {
  font-family: Roboto,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",sans-serif;
  background: #242424;
  font-size: 14px;
  color: #fff;
  position: relative;
}

li,ol,ul {
  list-style: none;
}

.language {
  width: 50px;
  position: absolute;
  top: 98px;
  right: 0;
}

.language .lang {
  width: 40px;
  display: block;
  text-align: center;
  padding-top: 10px;
  height: 20px;
  padding-bottom: 10px;
  line-height: 20px;
  color: #707070;
}

.language .lang.active-lang {
  color: #fff;
  background-color: #f03;
}


.g-sidebar-sns {
    letter-spacing: -.4em;
}
.g-sidebar-sns a {
    letter-spacing: normal;
}

@media screen and (min-width:768px) {
  .language .lang:hover {
    background-color: #f03;
    color: #fff;
  }

  .append-more-btn:not(.ie8):hover,.language .lang.active-lang:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
  }
}

@media screen and (max-width:1023px) {
  .language {
    display: none;
  }
}

.text-accent {
  font-size: 12px;
  vertical-align: top;
  color: #f03;
}

.f-style-italic {
  font-style: italic;
}

.f-style-italic--bold {
  font-style: italic;
  font-weight: 700;
}

.f-small-top {
  font-size: 10px;
  vertical-align: top;
}

.append-more-btn {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #f03;
  border-radius: 3px;
  text-align: center;
  line-height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.append-more-btn .append-more-text {
  margin: 0;
  padding-left: 24px;
  display: inline-block;
  background: url(../img/common/i_append_more.gif) left center no-repeat;
  -webkit-background-size: 16px;
  background-size: 16px;
}

.append-items {
  display: none;
}

.ie8 .main-wrapper {
  width: 100%;
  min-width: 960px;
}

.ie8 .append-more-btn .append-more-text {
  width: 80px;
  margin-right: 168px;
}

.slick-slide a:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}

.slick-slide a,.slick-slide span {
  display: block;
  margin: 0 5px;
}

.slick-slide img {
  width: 100%;
  height: auto;
  /*width: auto;
  height: 100%;*/
  /*max-height: 53px;*/
}

.slick-arrow {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
}

.slick-arrow:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
  margin-top: 20px;
  display: inline-block;
}

.slick-dots li {
  margin: 0 4px;
  display: inline-block;
}

.slick-dots .slick-active {
  color: #f03;
}

.slick-dots button {
  -webkit-appearance: none;
  appearance: none;
  background: 0 0;
  border: 0;
}

.g-header {
  height: 67px;
  border-bottom: 1px solid #ef0041;
  background: #fff;
  position: relative;
}

.g-header .logo {
  height: 55px;
  padding: 10px 0 0 14px;
  border-bottom: 2px solid #cac9ca;
}

.g-header .logo img {
  width: 54px;
  height: auto;
}

.g-header .header-language {
  width: 120px;
  position: absolute;
  top: 13px;
  right: 60px;
  display: none;
}

@media screen and (max-width:1023px) {
  .g-header .header-language {
    display: block;
  }
}

@media screen and (max-width:767px) {
  .g-header .header-language {
    top: 0;
    width: 180px;
  }
}

.g-header .header-language .lang {
  width: 40px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  height: 20px;
  padding-bottom: 10px;
  line-height: 20px;
  color: #707070;
}

.g-header .header-language .lang.active-lang {
  color: #fff;
  background-color: #f03;
}

.g-header .g-header-menu {
  position: absolute;
  top: 23px;
  right: 0;
  display: none;
}

@media screen and (max-width:767px) {
  .g-header .header-language .lang {
    width: 60px;
    padding-top: 23px;
    padding-bottom: 22px;
  }

  .g-header .g-header-menu {
    display: block;
    width: 60px;
    text-align: center;
  }
}

.g-header .g-header-menu .js-menu-close {
  display: none;
}

.g-header .g-header-menu a {
  display: inline-block;
}

.body-cover {
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0;
  display: none;
  position: absolute;
  top: 67px;
  left: 0;
}

.body-cover.is-active {
  display: block;
  z-index: 1;
  opacity: .4;
}

.g-sidebar {
  width: 220px;
  height: auto;
  background-color: #000;
  padding: 20px 0;
  border-right: 1px solid #333;
  box-sizing: border-box;
  float: left;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}

.g-sidebar-title {
  padding: 10px 20px 25px;
}

.g-sidebar-title h1 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.64;
  margin: 0;
}

.g-sidebar-title h1 .title-info {
  color: #fff;
  font-size: 12px;
  margin: 0;
}

.g-sidebar-title h1:hover,.g-sidebar-title h1:hover .title-info {
  color: rgba(255,255,255,.8);
}

.g-sidebar-title span {
  display: block;
  margin: 20px 0;
  color: #f03;
  font-size: 14px;
  letter-spacing: 1px;
}

.g-sidebar-menu li {
  border-bottom: 1px solid #333;
}

.g-sidebar-menu li:first-child {
  border-top: 1px solid #333;
}

.g-sidebar-menu a {
  display: block;
  padding: 20px 0 20px 48px;
  background-image: url(../img/common/i_arrow.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}

.g-sidebar-menu a.is-current,.g-sidebar-menu a:hover {
  background-color: #f03;
  background-image: url(../img/common/i_arrow_ov.png);
}

@media screen and (max-width:767px) {
  .g-sidebar {
    position: absolute;
    left: -220px;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 1;
  }
}

.g-sidebar-sns,.g-sidebar-special-contents {
  margin: 20px;
}

.g-sidebar.is-active {
  left: 0;
}

/*.g-sidebar-special-contents img {
  width: 179px;
  width: 135px;
  width: 179px;
  height: 58px;
}*/

.g-sidebar-sns img {
  width: 30px;
  height: 30px;
}

.g-sidebar-sns .facebook {
  margin-right: 10px;
}

.g-sidebar-sns .twitter {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.ie8 .twitter {
  display: none;
}

.g-footer-bg {
  /*background: url(../img/common/img_bg_bottom.jpg) left bottom no-repeat;*/
  background-position-x: 220px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-size: 90%;
}

@media screen and (max-width:767px) {
  .g-footer-bg {
    background-position-x: 0;
    background-size: 100%;
  }
}

@media screen and (max-width:420px) {
  .g-footer-bg {
    bottom: .2%;
  }
}

.g-footer {
  clear: both;
  position: relative;
}

.g-footer-link {
  background-color: #000;
  padding: 8px 0;
  text-align: right;
  border-top: 1px solid #f03;
}

.g-footer-link ul {
  padding-right: 1em;
  display: inline-block;
}

.g-footer-link li {
  display: inline-block;
  margin-left: 30px;
}

.g-footer-link li a {
  font-size: 12px;
  padding-right: 18px;
  background-image: url(../img/common/i_external.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.g-footer-copyright {
  background: #cacaca;
  border-top: 1px solid #e60012;
  text-align: right;
}

.g-footer-copyright p {
  margin: 0;
  padding-right: 1em;
  font-family: sans-serif;
}

.g-footer-copyright p small {
  color: #000;
  font-size: 10px;
}

.g-footer-to-top {
  width: 40px;
  height: 40px;
  clear: both;
  position: absolute;
  right: 20px;
  bottom: 80px;
  text-align: right;
}

@media screen and (max-width:767px) {
  .g-footer-to-top {
    bottom: 80px;
  }
}

@media screen and (max-width:489px) {
  .g-footer-to-top.to-top--jp {
    bottom: 98px;
  }
}

@media screen and (max-width:423px) {
  .g-footer-to-top.to-top--en {
    bottom: 98px;
  }
}

.g-footer-to-top a {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width:768px) {
  .g-footer-to-top a:hover,.g-sidebar-special-contents a:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 65536;
  width: 100%;
  height: 100%;
}

.ie8 .modal-wrapper {
  min-width: 960px;
  overflow: hidden;
}

.modal-bg {
  background: url(../img/common/modal_bg.png);
  height: 100%;
}

.modal {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  max-width: 600px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.ie8 .modal {
  margin-top: -225px;
  margin-left: -300px;
}

@media screen and (max-width:767px) {
  .modal {
    width: 96%;
    top: 20px;
    -webkit-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    max-width: none;
  }
}

.modal .slick-arrow {
  margin-top: -32px;
}

.modal .slick-prev {
  left: -54px;
}

.modal .slick-next {
  right: -54px;
}

.modal.modal-responsive {
  max-width: 96%;
  text-align: center;
}

.modal-content {
  display: none;
}

.item a.inner,.item:before {
  display: block;
}

.modal-close {
  margin-bottom: 20px;
  text-align: right;
}

.modal-close a {
  font-size: 11px;
  color: #fff;
  letter-spacing: 2px;
}

.modal-close a:hover {
  color: red;
}

.modal-iframe-wrapper {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  z-index: 1;
}

.modal-iframe-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.container {
  float: left;
  margin-left: 30px;
}

.container.top {
  opacity: 0;
  padding-bottom: 250px;
}

@media screen and (max-width:768px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .container.top {
    margin-left: 30px;
  }
}

@media screen and (max-width:767px) {
  .container.top {
    margin: 0;
    padding-bottom: 100px;
  }
}

.container.top .append-more {
  /*margin: 30px 0 250px;*/
  margin: 30px 0 0;
}

@media screen and (max-width:767px) {
  .container.top .append-more {
    margin: 30px 0 0;
  }
}

.wrap {
  width: 100%;
  margin: 30px 0 0;
}

.wrap.adjust-footer {
  margin-bottom: 80px;
}

@media screen and (max-width:767px) {
  .wrap.adjust-footer {
    margin-bottom: 0;
  }
}

@media screen and (max-width:768px) {
  .wrap {
    margin: 30px auto 150px;
    float: none;
  }
}

@media screen and (max-width:767px) {
  .wrap {
    width: 100%;
    margin: 0;
  }
}

.item {
  width: 32.33%;
  height: auto;
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: #000;
  box-sizing: border-box;
}

.item:before {
  content: '';
  width: 6px;
  height: 40px;
  position: relative;
  top: -6px;
  left: -6px;
  float: left;
  background-color: #f03;
}

.item.item__photo:before,.item.item__slider:before,.item.item__title:before {
  content: none;
}

@media screen and (max-width:1023px) {
  .item {
    width: 49%;
  }
}

.item h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  float: left;
}

.item .item-inner-clear {
  clear: both;
}

.item.item-nomal {
  max-width: 300px;
}

@media screen and (max-width:767px) {
  .item {
    width: 100%;
    height: auto;
  }

  .item.item-nomal {
    max-width: 100%;
  }
}

.item.item-large-w {
  width: 65.66%;
}

@media screen and (max-width:1023px) {
  .item.item-large-w {
    width: 100%;
  }
}

.item .inner {
  margin: 14px;
  color: #fff;
  font-size: 14px;
}

.item .new-main {
  width: 40px;
  height: 20px;
  line-height: 20px;
  background-color: #028ad1;
  text-align: center;
  float: left;
  margin-left: 14px;
}

.item .more {
  text-align: right;
  font-size: 16px;
}

.item .more .more-txt {
  position: relative;
  top: -2px;
  margin-left: 10px;
}

@media screen and (max-width:767px) {
  .item .more {
    position: relative;
    bottom: 10px;
    float: right;
    padding-top: 20px;
    font-size: 16px;
  }

  .item .more .more-txt {
    position: relative;
    top: -2px;
    margin-left: 10px;
  }
}

.item.item__slider {
  height: 300px;
  max-height: 300px;
}

.item.item__slider img {
  display: none;
  position: absolute;
  left: 50%;
}

/* スライダー対策 削除予定 */
.item.item__slider img#slide-1 {
    display: inline !important;
    opacity: 1 !important;
}

.item.item__slider .slider-dots {
  height: 100%;
}

.item.item__slider .slider-dots ul {
  width: auto;
  height: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.item.item__slider .slider-dots ul li {
  height: 100%;
  float: left;
}

.item.item__slider .slider-dots ul li .slider-dot {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin-left: 16px;
  background: url(../img/common/i-slider-dot.png) left top no-repeat;
  background-size: contain;
}

.item.item__slider .slider-dots ul li .slider-dot.selected {
  background: url(../img/common/i-slider-dot-active.png) left top no-repeat;
  background-size: contain;
}

@media screen and (max-width:767px) {
  .item.item__slider .slider-dots ul {
    bottom: 10px;
  }

  .item.item__slider {
    margin-bottom: 0;
    height: auto;
    max-height: inherit;
  }

  .item.item__slider img {
    width: 100%;
    left: 0;
  }
}


.item.item__title {
  background-color: #f03;
  min-height: 300px;
  height: 300px;
}

.item.item__title a {
  display: block;
}

.item.item__title .inner {
  margin: 26px 24px;
}

.item.item__title .title-txt {
  line-height: 34px;
  margin-bottom: 0;
}

.item.item__title .title-txt--en {
  font-size: 22px;
  line-height: 30px;
}

.item.item__title .date {
  font-size: 18px;
  line-height: 34px;
}

.item.item__title .date {
  padding-top: 5px;
}

.item.item__title .date li {
  font-size: 12px;
  line-height: 25px;
}

.item.item__title .place {
  margin-top: 20px;
}

.item.item__title .link-area {
  padding-top: 15px;
}

.item.item__title .link-area.link-area-en {
  padding-top: 30px;
}

@media screen and (max-width:1023px) {
  .item.item__title {
    height: auto;
    min-height: inherit;
  }

  .item.item__title .link-area {
    position: relative;
    bottom: 0;
  }
}

@media screen and (max-width:767px) {
  .item.item__title .link-area {
    padding-top: 10px;
  }
}

.item.item__title .link-area .pressrelease {
  font-size: 12px;
  margin-bottom: 10px;
}

.item.item__title .link-area .pressrelease .icon {
  height: 12px;
  width: 12px;
  margin-left: 5px;
  background: url(../img/top/pressrelease.png) no-repeat;
  display: inline-block;
}

.item.item__title .link-area .official-site {
  font-size: 12px;
}

.item.item__title .link-area .official-site .icon {
  height: 12px;
  width: 12px;
  margin-left: 5px;
  background: url(../img/top/official-site.png) no-repeat;
  display: inline-block;
}

.item.item__news:before {
  top: 0;
  left: 0;
}

.item.item__news h2 {
  float: left;
  margin: 6px 24px 0 0;
}

.item.item__news .up-date {
  font-size: 12px;
  color: #f03;
  float: left;
  margin-top: 14px;
}

.item.item__news .news-content {
  height: auto;
  /*max-height: 200px;*/
  clear: both;
  padding-top: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.item.item__news .news-content li {
  margin-bottom: 20px;
}

.item.item__news .news-content li .date {
  margin-bottom: 2px;
  display: inline-block;
}

.item.item__news .news-content li .news-text {
  margin-top: 4px;
  margin-bottom: 0;
}

.item.item__photo {
  border: 6px solid #000;
}

.item.item__photo:hover {
  border: 6px solid #f03;
}

.item.item__photo .inner {
  position: relative;
  margin: 4px;
}

.item.item__photo .inner .new {
  width: 40px;
  height: 20px;
  line-height: 20px;
  background-color: #028ad1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.item.item__photo img {
  width: 100%;
  max-width: 300px;
}

.item.item__photo .car-info {
  position: relative;
  text-align: right;
  margin-top: 20px;
}

@media screen and (max-width:767px) {
  .item.item__photo img {
    max-width: inherit;
  }

  .item.item__photo .car-info {
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: 14px;
    text-align: right;
  }
}

.item.item__photo .car-info h3 {
  font-size: 14px;
  margin: 0;
}

.item.item__cars .inner h2,.item.item__overview h2 {
  font-size: 20px;
}

.item.item__outlanderphev {
  border: 6px solid #000;
}

.item.item__outlanderphev:hover {
  border: 6px solid #f03;
}

.item.item__outlanderphev .outlanderphev__text {
  clear: both;
}

.item.item__outlanderphev .outlanderphev__text_others {
  margin-top: 20px;
}

.item.item__outlanderphev .outlanderphev__text img {
  margin-bottom: 10px;
  max-width: 300px;
  width: 100px;
}

.item.item__outlanderphev .outlanderphev__text img.double {
  width: 200px;
}

.item.item__outlanderphev .outlanderphev__text li p {
  margin: 0;
}

.item.item__outlanderphev .image {
  margin-top: 20px;
}

@media screen and (max-width:767px) {
  .item.item__outlanderphev .outlanderphev__text img {
    max-width: inherit;
  }

  .item.item__outlanderphev .image {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.item.item__outlanderphev .image img {
  width: 100%;
  max-width: 260px;
}

.item.item__outlanderphev .more {
  clear: both;
  margin-top: 20px;
}

@media screen and (max-width:767px) {
  .item.item__outlanderphev .image img {
    max-width: inherit;
  }

  .item.item__outlanderphev {
    height: auto;
  }

  .item.item__outlanderphev .text {
    width: 100%;
  }

  .item.item__outlanderphev .image {
    width: 100%;
    position: inherit;
  }

  .item.item__outlanderphev .more {
    margin-top: 0;
    padding-top: 35px;
    bottom: 14px;
  }
}

.item.item__technology {
  border: 6px solid #000;
}

.item.item__technology:hover {
  border: 6px solid #f03;
}

.item.item__technology img {
  width: 100%;
  max-width: 300px;
  padding-top: 20px;
}

.item.item__technology p.text-en {
  margin-bottom: -6px;
}

.item.item__technology .more img {
  width: auto;
}

.item.item__cars {
  border: 6px solid #000;
}

.item.item__cars:hover {
  border: 6px solid #f03;
}

@media screen and (max-width:767px) {
  .item.item__technology img {
    max-width: inherit;
  }

  .item.item__cars,.item.item__cars .inner .car-list img {
    height: auto;
  }
}

.item.item__cars .inner .car-list {
  margin-bottom: 17px;
}

.item.item__cars .inner .car-list img {
  width: 100%;
  max-width: 126px;
  padding: 2px;
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  .item.item__cars .inner .car-list {
    width: 100%;
    margin: 0 auto;
  }

  .item.item__cars .inner .car-list img {
    max-width: 100%;
  }

  .item.item__cars .more {
    bottom: 18px;
    padding-top: 38px;
  }
}

.item.item__overview {
  border: 6px solid #000;
}

.item.item__overview:hover {
  border: 6px solid #f03;
}

.item.item__overview img {
  width: 100%;
  max-width: 300px;
}

.item.item__overview .more {
  margin-top: 20px;
}

.item.item__overview .more img {
  width: auto;
}

.item.item__special-contents {
  border: 6px solid #000;
}

.item.item__special-contents:hover {
  border: 6px solid #f03;
}

.container-lineup--section-table table,.container-lineup--section-table--sp .table-box,.container-outlanderphev--section-text table {
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

.item.item__special-contents h2 {
  width: 83%;
}

.item.item__special-contents .new-main {
  float: right;
  margin-left: 0;
  margin-right: -9px;
}

@media screen and (max-width:767px) {
  .item.item__overview img {
    max-width: inherit;
  }

  .item.item__overview .more {
    margin-top: 0;
    padding-top: 35px;
    bottom: 14px;
  }

  /* レイアウト調節用に追加 */
  .item.item__overview .item-inner-clear p {
    min-height: auto;
  }

  .item.item__special-contents h2 {
    width: auto;
  }

  .item.item__special-contents .new-main {
    float: left;
    margin-right: 0;
    margin-left: 14px;
  }
}

.item.item__special-contents .special-contents__text {
  clear: both;
}

.item.item__special-contents .special-contents__text img {
  margin-bottom: 10px;
  max-width: 300px;
  width: 100px;
}

.item.item__special-contents .special-contents__text li p {
  margin: 0;
}

.item.item__special-contents .image {
  margin-top: 20px;
}

@media screen and (max-width:767px) {
  .item.item__special-contents .special-contents__text img {
    max-width: inherit;
  }

  .item.item__special-contents .image {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.item.item__special-contents .image img {
  width: 100%;
  max-width: 260px;
}

.item.item__special-contents .more {
  clear: both;
  margin-top: 20px;
}

@media screen and (max-width:767px) {
  .item.item__special-contents .image img {
    max-width: inherit;
  }

  .item.item__special-contents {
    height: auto;
  }

  .item.item__special-contents .text {
    width: 100%;
  }

  .item.item__special-contents .image {
    width: 100%;
    position: inherit;
  }

  .item.item__special-contents .more {
    margin-top: 0;
    padding-top: 35px;
    bottom: 14px;
  }
}

.ie8 .main-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

.ie8 .container {
  overflow-x: visible;
}

.container-lineup .car-items,.container-lineup--section-second {
  overflow: hidden;
}

.ie8 .container.top {
  float: none;
  position: relative;
  left: 220px;
}

.container-lineup {
  max-width: 1250px;
  width: 100%;
  padding: 30px 80px 250px 250px;
  float: none;
  margin-left: 0;
  box-sizing: border-box;
}

.container-lineup--title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 30px;
}

@media screen and (max-width:767px) {
  .container-lineup {
    padding: 10px 4% 100px;
  }

  .container-lineup--title {
    margin: 20px 0 30px;
  }
}

@media screen and (max-width:768px) {
  .container-lineup .car-items {
    width: 100%;
  }
}

.container-lineup .car-item {
  width: 49.5%;
  margin: 0 0 1%;
  float: left;
  padding: 26px 10px 4px;
  background: #000;
  box-sizing: border-box;
}

@media screen and (max-width:768px) {
  .container-lineup .car-item {
    width: 100%;
    margin: 0 0 2%;
    float: none;
  }
}

.container-lineup .car-item--odd {
  margin-right: 1%;
}

@media screen and (max-width:768px) {
  .container-lineup .car-item--odd {
    margin-right: 0;
  }
}

.container-lineup .car-item--title {
  margin: 0;
  text-align: center;
  height: 56px;
  line-height: 56px;
}

.container-lineup .car-item--title img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.container-lineup .car-item--title--model {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .container-lineup .car-item--title--model {
    margin-top: 4%;
  }
}

.container-lineup .car-item--title-ja {
  text-align: center;
  font-size: 12px;
  margin: 10px 0 16px;
}

.container-lineup .car-item--text {
  text-align: center;
  font-size: 12px;
  margin: 10px 0 16px;
}

.container-lineup .car-item--link-offisial {
  margin: 8px 0;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.container-lineup .car-item--link-offisial a {
  padding-left: 28px;
  background-image: url(../img/common/i_arrow.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.container-lineup .car-item--main-image {
  margin: 20px 0 10px;
  text-align: center;
}

.container-lineup .car-item--main-image img {
  /*width: 100%;
  height: auto;*/
  width: auto;
  height: auto;
  max-height: 195.67px;
  max-width: 100%;
  vertical-align: top;
}

.container-lineup .car-item--slider {
  width: 86%;
  position: relative;
  margin: 0 auto 8px;
}

.container-lineup .car-item--slider .slick-slide a,.container-lineup .car-item--slider .slick-slide span {
  display: block;
  margin: 0 5px;
}

.container-lineup .car-item--slider .slick-prev {
  left: -24px;
}

.container-lineup .car-item--slider .slick-next {
  right: -24px;
}

.container-lineup--section-second img {
  display: block;
  float: left;
  margin-right: 30px;
}

.container-lineup--section-second p {
  line-height: 1.8;
  margin: 0;
  height: 308px;
  background: #000;
  box-sizing: border-box;
  padding: 30px;
}

.container-lineup--section-text {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
}

.container-lineup--section-text h3 {
  font-size: 14px;
  margin: 0 0 30px;
}

@media screen and (max-width:767px) {
  .container-lineup--section-text {
    padding: 20px;
  }

  .container-lineup--section-text h3 {
    margin: 0;
  }
}

.container-lineup--section-text li {
  margin-bottom: .2em;
}

.container-lineup--section-text li:before {
  content: "■";
  margin-right: .1em;
  color: #f03;
}

.container-lineup--section-text .section--list li {
  margin-bottom: .2em;
}

.container-lineup--section-text .section--list li:before {
  content: "・";
  margin-right: .1em;
  color: #fff;
}

.container-lineup--section-table--sp {
  display: none;
}

.container-lineup--section-table--sp table {
  width: 100%;
}

.container-lineup--section-table--sp .table-title th {
  text-align: left;
  font-size: 14px;
  padding: 32px 0 16px;
}

.container-lineup--section-table--sp .table-title th:before {
  content: "■";
  color: #f03;
  margin-right: .3em;
}

.container-lineup--section-table--sp .table-title th a {
  color: #f03;
}

.container-lineup--section-table--sp .table-box th {
  width: 5em;
}

.container-lineup--section-table--sp .table-box td,.container-lineup--section-table--sp .table-box th {
  font-size: 14px;
  background: #1f1f1f;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  font-weight: 400;
  padding: 10px 1em;
  text-align: left;
}

.container-lineup--section-table {
  overflow-y: visible;
  overflow-x: auto;
}

.container-lineup--section-table table {
  width: 100%;
  font-size: 14px;
  min-width: 480px;
  box-sizing: border-box;
}

.container-lineup--section-table table colgroup.tablecol-second {
  text-align: center;
}

.container-lineup--section-table thead th {
  min-width: 40px;
}

.container-lineup--section-table tbody tr th {
  text-align: left;
}

.container-lineup--section-table tbody tr th a {
  color: #f03;
}

.container-lineup--section-table tbody tr th a:hover {
  text-decoration: underline;
}

.container-lineup--section-table td,.container-lineup--section-table th {
  background: #1f1f1f;
  font-weight: 400;
  padding: 8px 1em;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.container-lineup--section-table th.table-center,
.container-lineup--section-table td.table-center {
  text-align: center;
}

.container-outlanderphev {
  max-width: 1250px;
  width: 100%;
  padding: 30px 80px 250px 250px;
  float: none;
  margin-left: 0;
  box-sizing: border-box;
}

.container-outlanderphev .section--body {
  margin: 0 0 2em;
  line-height: 1.8;
}

.container-outlanderphev--title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .06em;
  margin: 0 0 30px;
}

@media screen and (max-width:767px) {
  .container-lineup--section-table--sp {
    display: block;
  }

  .container-lineup--section-table--sp th.table-center {
    text-align: center;
  }

  .container-lineup--section-table {
    display: none;
  }

  .container-outlanderphev {
    padding: 10px 4% 100px;
  }

  .container-outlanderphev--title {
    margin: 20px 0 30px;
  }
}

.container-outlanderphev--title-outline {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: .06em;
  margin: 30px 0;
}

.container-outlanderphev--section--title {
  margin: 0 0 30px;
  font-size: 14px;
  font-weight: 700;
}

.container-outlanderphev .section--title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 30px;
}

.container-outlanderphev .section--title--sub {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 12px;
}

.container-outlanderphev .link-offisial {
  margin: 8px 0;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.container-outlanderphev .link-offisial a {
  padding-left: 28px;
  background-image: url(../img/common/i_arrow.png);
  background-repeat: no-repeat;
  background-position: left center;
}

.container-outlanderphev--section-first {
  margin-bottom: 10px;
}

.container-outlanderphev--section-others {
  margin-top: 30px;
  margin-bottom: 10px;
}

.container-outlanderphev--section-first--header img {
  width: 100%;
  height: auto;
}

.container-outlanderphev--section-first--body {
  padding: 30px;
  background: #000;
}

.container-outlanderphev--logo1 {
  width: 220px;
}

.container-outlanderphev--logo2 {
  width: 440px;
}

@media screen and (max-width:767px) {
  .container-outlanderphev--logo1 {
    width: 60%;
  }
  .container-outlanderphev--logo2 {
    width: 80%;
  }
}

.container-outlanderphev--section-first--body--title {
  margin: 0 0 30px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .container-outlanderphev--section-first--body {
    padding: 20px;
  }

  .container-outlanderphev--section-first--body--title {
    margin: 0 0 20px;
  }
}

.container-outlanderphev--section-first--body--title span {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: #f03;
}

.container-outlanderphev--section-first--body--title .sub-title {
  color: #fff;
  font-weight: 400;
}

.container-outlanderphev--section-first--body p {
  line-height: 1.8;
  margin: 30px 0;
}

@media screen and (max-width:767px) {
  .container-outlanderphev--section-first--body p {
    margin: 20px 0;
  }
}

.container-outlanderphev--section-first--body--thumbs {
  overflow: hidden;
  margin: 30px 0 0;
}

.container-outlanderphev--section-first--body--thumbs li {
  float: left;
  margin-right: 1.28%;
  margin-bottom: 1.28%;
  width: 15.6%;
}

@media screen and (min-width:768px) {
  .container-outlanderphev--section-first--body--thumbs li a:hover img,.item.item__cars .inner .car-list a:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
  }
}

.container-outlanderphev--section-first--body--thumbs li.thumb-nth6 {
  margin-right: 0;
}

.container-outlanderphev--section-first--body--thumbs li img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

@media screen and (max-width:1023px) {
  .container-outlanderphev--section-first--body--thumbs li {
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
  }

  .container-outlanderphev--section-first--body--thumbs li.thumb-nth6 {
    margin-right: 1%;
  }

  .container-outlanderphev--section-first--body--thumbs li.thumb-nth4 {
    margin-right: 0;
  }
}

.container-outlanderphev--section-second {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
}

@media screen and (max-width:767px) {
  .container-outlanderphev--section-first--body--thumbs li {
    width: 49.5%;
  }

  .container-outlanderphev--section-first--body--thumbs li.thumb-nth2,.container-outlanderphev--section-first--body--thumbs li.thumb-nth4,.container-outlanderphev--section-first--body--thumbs li.thumb-nth6 {
    margin-right: 0;
  }

  .container-outlanderphev--section-second {
    padding: 20px;
  }
}

.container-outlanderphev--section-second--slider {
  padding: 0 50px;
  margin: 0 auto;
}

.container-outlanderphev--section-second--slider .slick-slide a {
  display: block;
  margin: 4px;
}

.container-outlanderphev--section-third {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
}

.container-outlanderphev--section-third ul {
  overflow: hidden;
}

.container-outlanderphev--section-third li {
  float: left;
  width: 48.25%;
  margin-left: 3.5%;
}

.container-outlanderphev--section-third li a:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}

.container-outlanderphev--section-third li:first-child {
  margin-left: 0;
}

.container-outlanderphev--section-third li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width:767px) {
  .container-outlanderphev--section-third {
    padding: 20px;
  }

  .container-outlanderphev--section-third li {
    width: 100%;
    float: none;
    margin-bottom: 1.25%;
    margin-left: 0;
  }
}

.container-outlanderphev--section-text {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
  line-height: 1.8;
}

.container-outlanderphev--section-text h3 {
  margin: 0 0 30px;
}

@media screen and (max-width:767px) {
  .container-outlanderphev--section-text {
    padding: 20px;
  }

  .container-outlanderphev--section-text h3 {
    margin: 0 0 20px;
  }
}

.container-outlanderphev--section-text h4 {
  margin: 30px 0 0;
}

.container-outlanderphev--section-text li {
  margin-bottom: .2em;
  padding-left: 1.4em;
  position: relative;
  z-index: 1;
}

.container-outlanderphev--section-text li:before {
  content: "■";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #f03;
}

.container-outlanderphev--section-text .section--list li {
  margin-bottom: .2em;
  padding-left: 1.4em;
  position: relative;
  z-index: 1;
}

.container-outlanderphev--section-text .section--list li:before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
}

.container-outlanderphev--section-text .section-images {
  margin-bottom: 30px;
  overflow: hidden;
}

.container-outlanderphev--section-text .section-images .section-image {
  float: left;
  width: 48.25%;
  margin-left: 3.5%;
}

.container-concept,.container-photogallery,.container-technology {
  float: none;
  box-sizing: border-box;
}

.container-outlanderphev--section-text .section-images .section-image:first-child {
  margin-left: 0;
}

@media screen and (min-width:768px) {
  .container-outlanderphev--section-text .section-images .section-image a:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
  }
}

.container-outlanderphev--section-text .section-images .section-image img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.container-outlanderphev--section-text .section-images .section-image p {
  margin: 20px 0 0;
}

.container-outlanderphev--section-text .section-text--info,
.container-outlanderphev--section-first--body .section-text--info {
  margin-top: 30px;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 1px;
}

.container-outlanderphev--section-text .section-text--info--first {
  margin-bottom: 40px;
}

.container-outlanderphev--section-text .section-text--info .text-accent,
.container-outlanderphev--section-first--body .section-text--info .text-accent {
  margin-right: 5px;
  font-size: 12px;
  vertical-align: inherit;
}

.container-outlanderphev--section-text table {
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.container-outlanderphev--section-text table td,.container-outlanderphev--section-text table th {
  background: #1f1f1f;
  font-weight: 400;
  padding: 8px 1em;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  text-align: center;
}

.container-outlanderphev .page-link--en .page-link-list--1:after,.container-outlanderphev .page-link--jp .page-link-list--1:after {
  display: none;
}

.container-outlanderphev .page-link-title {
  margin: 0 0 4px;
}

.container-outlanderphev .page-link {
  margin: 30px 0;
  overflow: hidden;
}

.container-outlanderphev .page-link--jp .page-link-list {
  float: left;
  position: relative;
}

.container-outlanderphev .page-link--jp .page-link-list--1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  float: none;
}

.container-outlanderphev .page-link--jp .page-link-list--2 {
  float: none;
  margin-top: 10px;
}

.container-outlanderphev .page-link--en .page-link-list {
  float: left;
  position: relative;
}

.container-outlanderphev .page-link--en .page-link-list--1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  float: none;
}

.container-outlanderphev .page-link--en .page-link-list--2 {
  float: none;
  margin-top: 10px;
}

.container-outlanderphev .page-link li {
  display: inline-block;
  margin-right: 40px;
  line-height: 2.5;
}

.container-outlanderphev .page-link a {
  color: #f03;
}

.container-concept {
  max-width: 1250px;
  width: 100%;
  padding: 30px 80px 250px 250px;
  margin-left: 0;
}

.container-concept--title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 30px;
}

@media screen and (max-width:767px) {
  .container-concept {
    padding: 10px 4% 100px;
  }

  .container-concept--title {
    margin: 20px 0 30px;
  }
}

.container-concept--section {
  padding: 33px 30px;
  margin-bottom: 10px;
  background-color: #000;
}

@media screen and (max-width:767px) {
  .container-concept--section {
    padding: 33px 20px;
  }
}

.container-concept--section h4 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 12px;
}

.container-concept--section .section--title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}

.container-concept--section .section--title .sub-title {
  font-size: 16px;
}

.container-concept--section .section--title--sub {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 30px;
}

.container-concept--section .section--main-img {
  width: 100%;
  margin-bottom: 30px;
}

.container-concept--section .section--body {
  margin: 0 0 2em;
  line-height: 1.8;
}

.container-concept--section .section--body dd {
  margin: 0;
}

.container-concept--section .section--body--info {
  margin-top: 30px;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 1px;
}

.container-concept--section .section--body--info a {
  word-wrap: break-word;
}

.container-concept--section .section--body--info .text-accent {
  margin-right: 5px;
  font-size: 12px;
  vertical-align: inherit;
}

.container-concept--section-text {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
}

.container-concept--section-text h3 {
  font-size: 14px;
  margin: 0 0 30px;
}

@media screen and (max-width:767px) {
  .container-concept--section-text {
    padding: 20px;
  }

  .container-concept--section-text h3 {
    margin: 0;
  }
}

.container-concept--section-text li {
  margin-bottom: .2em;
}

.container-concept--section-text li:before {
  content: "■";
  margin-right: .1em;
  color: #f03;
}

.container-photogallery {
  opacity: 0;
  width: 100%;
  max-width: 1250px;
  padding: 30px 80px 400px 250px;
  margin-left: 0;
}

.container-photogallery--title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .06em;
  margin: 0 0 30px;
}

@media screen and (max-width:767px) {
  .container-photogallery {
    padding: 10px 4% 100px;
  }

  .container-photogallery--title {
    margin: 20px 0 30px;
  }
}

.container-photogallery .card-wrapper {
  max-width: 100%;
}

.container-photogallery .card-wrapper .card {
  width: 145px;
  max-width: 145px;
  height: 130px;
  min-height: 130px;
  margin-bottom: 10px;
  background: #000;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  .container-photogallery .card-wrapper .card {
    width: 100%;
    max-width: inherit;
    height: auto;
    padding: 10px 10px 0;
  }
}

.container-photogallery .card-wrapper .card img {
  max-width: 126px;
}

.container-photogallery .card-wrapper .card .card-text {
  font-size: 12px;
  line-height: 1.64;
  text-align: right;
  padding-right: 10px;
  margin: 11px 0 0;
}

@media screen and (max-width:767px) {
  .container-photogallery .card-wrapper .card img {
    width: 100%;
    max-width: inherit;
  }

  .container-photogallery .card-wrapper .card .card-text {
    margin: 11px 0 14px;
  }
}

.container-photogallery .append-more {
  margin-top: 30px;
}

.modal-wrapper--photogallery iframe {
  height: 360px;
}

.modal-wrapper--photogallery .modal-content--title {
  position: relative;
  text-align: left;
}

@media screen and (max-width:767px) {
  .modal-wrapper--photogallery iframe {
    height: 280px;
  }

  .modal-wrapper--photogallery .modal-close {
    margin-bottom: 0;
  }

  .modal-wrapper--photogallery .slick-dots {
    margin-top: 0;
  }
}

.modal-wrapper--photogallery .slick-dots li {
  margin: 0 3px;
}

.ie8 .card-wrapper .card {
  margin-bottom: 20px;
}

.container-technology {
  max-width: 1250px;
  width: 100%;
  padding: 30px 80px 250px 250px;
  margin-left: 0;
}

.container-technology--title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .06em;
  margin: 0 0 16px;
}

@media screen and (max-width:767px) {
  .container-technology {
    padding: 10px 4% 100px;
  }

  .container-technology--title {
    margin: 20px 0 30px;
  }
}

.container-technology--section {
  padding: 33px 30px;
  margin-bottom: 10px;
  background-color: #000;
}

@media screen and (max-width:767px) {
  .container-technology--section {
    padding: 33px 20px;
  }

  .container-technology--section .section--main-img {
    display: none;
  }
}

.container-technology--section .link-text--mc a,.container-technology--section .section--body--link {
  padding-right: 18px;
  background-image: url(../img/common/i_external_w.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: #f03;
}

.container-technology--section .section--main-img-caption {
  font-weight: 700;
}

.container-technology--section .section--main-img {
  width: 100%;
  margin: 0 0 2em;
}

.container-technology--section .section--main-img--sp {
  width: 100%;
  margin: 0 0 2em;
  display: none;
}

.container-technology--section .section--title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 30px;
}

.container-technology--section .section--title--sub {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 12px;
}

.container-technology--section .section--title--movie {
  margin-top: 30px;
  margin-bottom: -10px;
}

.container-technology--section .section--title--top {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 0;
}

.container-technology--section .link-text--mc {
  margin: 0 0 30px;
}

.container-technology--section .link-text--mc a {
  font-weight: 700;
}

.container-technology--section .main-image {
  margin-bottom: 30px;
  width: 100%;
}

.container-technology--section .section--body {
  margin: 0 0 2em;
  line-height: 1.8;
}

.container-technology--section .section--body a {
  text-decoration: underline;
}

.container-technology--section .section--body a:hover {
  text-decoration: none;
}

.container-technology--section .section--body--info {
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.container-technology--section .section--body--info .text-accent {
  margin-right: 5px;
  font-size: 12px;
  vertical-align: inherit;
}

.container-technology--section .section--body--movies {
  margin: 30px 0;
  overflow: hidden;
  clear: right;
}

.container-technology--section .section--body--movies li {
  float: left;
  width: 48.25%;
  margin-left: 3.5%;
}

.container-technology--section .section--body--movies li:first-child {
  margin-left: 0;
}

@media screen and (min-width:768px) {
  .container-photogallery .card-wrapper .card img:hover,.container-technology--section .link-pdf:hover img,.container-technology--section .section--body--movies li a:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
  }
}

.container-technology--section .section--body--movies li img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.container-technology--section .section--body--movies li p {
  margin: 20px 0 0;
}

.container-technology--section .section--body .qr-image {
  float: right;
  width: 120px;
  margin: 0 0 20px 20px;
}

.container-technology--section-second {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
}

@media screen and (max-width:767px) {
  .container-technology--section .section--main-img--sp {
    display: block;
  }

  .container-technology--section-second {
    padding: 20px;
  }
}

.container-technology--section-second .section--title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 30px;
}

.container-technology--section-second--slider {
  padding: 0 50px;
  margin: 0 auto;
}

.container-technology--section-second--slider .slick-slide a {
  display: block;
  margin: 4px;
}

.container-technology .page-link--en .page-link-list--1:after,.container-technology .page-link--jp .page-link-list--1:after {
  display: none;
}

.container-technology .section-list {
  margin: 0 0 2em;
  line-height: 1.8;
}

.container-technology .section-list li {
  margin-bottom: .2em;
  padding-left: 1.4em;
  position: relative;
  z-index: 1;
}

.container-technology .section-list li:before {
  content: "■";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #f03;
}

.container-technology--section-movie {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
}

.container-technology--section-movie-title {
  margin: 0 0 30px;
}

.container-technology--section-movie ul {
  overflow: hidden;
}

.container-technology--section-movie li {
  float: left;
  width: 48.25%;
  margin-left: 3.5%;
}

.container-technology--section-movie li a:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}

.container-technology--section-movie li:first-child {
  margin-left: 0;
}

.container-technology--section-movie li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width:767px) {
  .container-technology--section-movie {
    padding: 20px;
  }

  .container-technology--section-movie li {
    width: 100%;
    float: none;
    margin-bottom: 1.25%;
    margin-left: 0;
  }
}

.container-technology .page-link-title {
  margin: 0 0 4px;
}

.container-technology .page-link {
  margin: 30px 0;
  overflow: hidden;
}

.container-technology .page-link--jp .page-link-list {
  float: left;
  position: relative;
}

.container-technology .page-link--jp .page-link-list--1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  float: none;
}

.container-technology .page-link--jp .page-link-list--2 {
  float: none;
  margin-top: 10px;
}

.container-technology .page-link--en .page-link-list {
  float: left;
  position: relative;
}

.container-technology .page-link--en .page-link-list--1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  float: none;
}

.container-technology .page-link--en .page-link-list--2 {
  float: none;
  margin-top: 10px;
}

.container-technology .page-link li {
  display: inline-block;
  margin-right: 40px;
  line-height: 2.5;
}

.container-technology .page-link a {
  color: #f03;
}

.ie8 .page-link--jp .page-link-list {
  float: left;
  position: relative;
}

.ie8 .page-link--jp .page-link-list--1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  float: none;
}

.ie8 .page-link--jp .page-link-list--1:after {
  display: none;
}

.ie8 .page-link--jp .page-link-list--2 {
  float: none;
  margin-top: 10px;
}

/*160726 追加 0804公開分*/

span.uppercase{
  text-transform: uppercase;
}

th span.tit{
  color: #f03;
}

.section--body a{
  text-decoration: underline;
  transition: all .3s ease;
}
.section--body a:hover{
  text-decoration: none;
}

.mb28{
  margin-bottom: 28px;
}

.underline{
  text-decoration: underline;
}

.red{
  color: #F00;
}
.container .list-type-01{
  padding-left: 1rem;
}

.container .list-type-01 li{
  list-style-type: disc;
  margin-bottom: .3rem;
}

.container .indent li{
  text-indent: -2.2rem;
  padding-left: 2.2rem;
}

.container .indent-02 li{
  text-indent: -1rem;
  padding-left: 1rem;
}

.container .indent-en li{
  text-indent: -1.3rem;
  padding-left: 1.3rem;
}
.item.item__title .link-area a{
  display: inline-block;
}

.item.item__title .link-area a.ml-link{
  margin-left: 5.4rem;
}

.item.item__title .link-area a.ml-link--en{
  margin-left: 4.9rem;
}

.item.item__overview{
  margin-bottom: 160px;
}

#conceptcar-img--section{
  margin-bottom: 10px;
}
.page-nav-list-1{
    margin: 30px 0;
    overflow: hidden;
}
.page-nav-list-1 ul{
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.page-nav-list-1 ul li{
    display: inline-block;
    margin-right: 40px;
    line-height: 2.5;
    color: #f03;
}

.page-nav-list-1 ul li{
}
.conceptcar-image,.logo-img{
  width: 100%;
  text-align: center;
}


.conceptcar-image img,.logo-img img{
  width: 100%;
}

.conceptcar-image span{
  display: inline-block;
  font-size: 24px;
  line-height: 200px;
}

.conceptcar-main-img{
  width: 100%;
  max-width: 920px;
  text-align: center;
}

.conceptcar-main-img img{
  width: 100%;
}

.conceptcar-main-img span{
  font-size: 36px;
  line-height: 280px;
}

.conceptcar-logo{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.conceptcar-logo img{
  width: 100%;
}
.car-items.none{
  display: none;
}

@media screen and (max-width:1023px) {
  .item.item__overview{
    margin-bottom: 0;
  }

  .tit.nowrap{
    white-space: nowrap;
  }
}


/*1600808 追加 0811公開分*/

.container-conceptcar {
  max-width: 1250px;
  width: 100%;
  padding: 30px 80px 250px 250px;
  margin-left: 0;
}

.container-conceptcar--title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: .06em;
  margin: 0 0 16px;
}

@media screen and (max-width:767px) {
  .container-conceptcar {
    padding: 10px 4% 100px;
  }

  .container-conceptcar--title {
    margin: 20px 0 30px;
  }
}

.container-conceptcar--section {
  padding: 33px 30px;
  margin-bottom: 10px;
  background-color: #000;
}

@media screen and (max-width:767px) {
  .container-conceptcar--section {
    padding: 33px 20px;
  }

  .container-conceptcar--section .section--main-img {
    display: none;
  }
}

.container-conceptcar--section .link-text--mc a,.container-conceptcar--section .section--body--link {
  padding-right: 18px;
  background-image: url(../img/common/i_external_w.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: #f03;
}

.container-conceptcar--section .section--main-img-caption {
  font-weight: 700;
}

.container-conceptcar--section .section--main-img {
  width: 100%;
  margin: 0 0 2em;
}

.container-conceptcar--section .section--main-img--sp {
  width: 100%;
  margin: 0 0 2em;
  display: none;
}

.container-conceptcar--section .section--title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 30px;
}

.container-conceptcar--section .section--title--sub {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 12px;
}

.container-conceptcar--section .section--title--movie {
  margin-top: 30px;
  margin-bottom: -10px;
}

.container-conceptcar--section .section--title--top {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 0;
}

.container-conceptcar--section .link-text--mc {
  margin: 0 0 30px;
}

.container-conceptcar--section .link-text--mc a {
  font-weight: 700;
}

.container-conceptcar--section .main-image {
  margin-bottom: 30px;
  width: 100%;
}

.container-conceptcar--section .section--body {
  margin: 0 0 2em;
  line-height: 1.8;
}

.container-conceptcar--section .section--body a {
  text-decoration: underline;
}

.container-conceptcar--section .section--body a:hover {
  text-decoration: none;
}

.container-conceptcar--section .section--body--info {
  margin-top: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.6;
}

.container-conceptcar--section .section--body--info .text-accent {
  margin-right: 5px;
  font-size: 12px;
  vertical-align: inherit;
}

.container-conceptcar--section .section--body--movies {
  margin: 30px 0;
  overflow: hidden;
  clear: right;
}

.container-conceptcar--section .section--body--movies li {
  float: left;
  width: 48.25%;
  margin-left: 3.5%;
}

.container-conceptcar--section .section--body--movies li:first-child {
  margin-left: 0;
}

@media screen and (min-width:768px) {
  .container-photogallery .card-wrapper .card img:hover,.container-conceptcar--section .link-pdf:hover img,.container-conceptcar--section .section--body--movies li a:hover img {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: .8;
  }
}

.container-conceptcar--section .section--body--movies li img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.container-conceptcar--section .section--body--movies li p {
  margin: 20px 0 0;
}

.container-conceptcar--section .section--body .qr-image {
  float: right;
  width: 120px;
  margin: 0 0 20px 20px;
}

.container-conceptcar--section-second {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
}

@media screen and (max-width:767px) {
  .container-conceptcar--section .section--main-img--sp {
    display: block;
  }

  .container-conceptcar--section-second {
    padding: 20px;
  }
}

.container-conceptcar--section-second .section--title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 30px;
}

.container-conceptcar--section-second--slider {
  padding: 0 50px;
  margin: 0 auto;
}

.container-conceptcar--section-second--slider .slick-slide a {
  display: block;
  margin: 4px;
}

.container-conceptcar .page-link--en .page-link-list--1:after,.container-conceptcar .page-link--jp .page-link-list--1:after {
  display: none;
}

.container-conceptcar .section-list {
  margin: 0 0 2em;
  line-height: 1.8;
}

.container-conceptcar .section-list li {
  margin-bottom: .2em;
  padding-left: 1.4em;
  position: relative;
  z-index: 1;
}

.container-conceptcar .section-list li:before {
  content: "■";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #f03;
}

.container-conceptcar--section-movie {
  padding: 30px;
  background: #000;
  margin-bottom: 10px;
}

.container-conceptcar--section-movie-title {
  margin: 0 0 30px;
}

.container-conceptcar--section-movie ul {
  overflow: hidden;
}

.container-conceptcar--section-movie li {
  float: left;
  width: 48.25%;
  margin-left: 3.5%;
}

.container-conceptcar--section-movie li a:hover img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  opacity: .8;
}

.container-conceptcar--section-movie li:first-child {
  margin-left: 0;
}

.container-conceptcar--section-movie li img {
  width: 100%;
  height: auto;
}

@media screen and (max-width:767px) {
  .container-conceptcar--section-movie {
    padding: 20px;
  }

  .container-conceptcar--section-movie li {
    width: 100%;
    float: none;
    margin-bottom: 1.25%;
    margin-left: 0;
  }
}

.container-conceptcar .page-link-title {
  margin: 0 0 4px;
}

.container-conceptcar .page-link {
  margin: 30px 0;
  overflow: hidden;
}

.container-conceptcar .page-link--jp .page-link-list {
  float: left;
  position: relative;
}

.container-conceptcar .page-link--jp .page-link-list--1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  float: none;
}

.container-conceptcar .page-link--jp .page-link-list--2 {
  float: none;
  margin-top: 10px;
}

.container-conceptcar .page-link--en .page-link-list {
  float: left;
  position: relative;
}

.container-conceptcar .page-link--en .page-link-list--1 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
  float: none;
}

.container-conceptcar .page-link--en .page-link-list--2 {
  float: none;
  margin-top: 10px;
}

.container-conceptcar .page-link li {
  display: inline-block;
  margin-right: 40px;
  line-height: 2.5;
}

.container-conceptcar .page-link a {
  color: #f03;
}

.conceptcar-imglist li {
  /*width: 126px;
  display: inline-block;*/
  width: 15.6%;
  float: left;
  margin-right: 1.28%;
  margin-bottom: 1.28%;
}

.conceptcar-imglist li img {
  width: 100%;
}

/*1600810 追加 0811公開分*/


.container-conceptcar--section .section--body--movies li {
  /*width: 66.5%;*/
}
