@charset "UTF-8";
/* ==================================================================

/*	clearfix
--------------------------------------------------------- */
.clearfix, .section ul.btn_conversion, .select_list .select_item, #GlobalFooter #Topics, #Sitemap .inner ul.others {
  min-height: 1px;
}
.clearfix:before, .section ul.btn_conversion:before, .select_list .select_item:before, #GlobalFooter #Topics:before, #Sitemap .inner ul.others:before, .clearfix:after, .section ul.btn_conversion:after, .select_list .select_item:after, #GlobalFooter #Topics:after, #Sitemap .inner ul.others:after {
  content: "";
  display: table;
}
.clearfix:after, .section ul.btn_conversion:after, .select_list .select_item:after, #GlobalFooter #Topics:after, #Sitemap .inner ul.others:after {
  clear: both;
}

/*	button
--------------------------------------------------------- */
.btn {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
}
.btn > a, .btn > span, .btn > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn > a:after, .btn > span:after, .btn > input:after {
  position: absolute;
  top: 50%;
}
.btn > a, .btn > span {
  padding: 0 30px 0 10px;
}
.btn > a:after, .btn > span:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  right: 10px;
  margin-top: -10px;
}

.btn_external {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
}
.btn_external > a, .btn_external > span, .btn_external > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn_external > a:after, .btn_external > span:after, .btn_external > input:after {
  position: absolute;
  top: 50%;
}
.btn_external > a, .btn_external > span {
  padding: 0 30px 0 10px;
}
.btn_external > a:after, .btn_external > span:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -16px 0px;
  right: 10px;
  margin-top: -10px;
}

.btn_pc {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
}
.btn_pc > a, .btn_pc > span, .btn_pc > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn_pc > a:after, .btn_pc > span:after, .btn_pc > input:after {
  position: absolute;
  top: 50%;
}
.btn_pc > a, .btn_pc > span {
  padding: 0 30px 0 10px;
}
.btn_pc > a:after, .btn_pc > span:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px 0px;
  right: 10px;
  margin-top: -10px;
}

.btn_back {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
}
.btn_back > a, .btn_back > span, .btn_back > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn_back > a:after, .btn_back > span:after, .btn_back > input:after {
  position: absolute;
  top: 50%;
}
.btn_back > a, .btn_back > span {
  padding: 0 10px 0 30px;
}
.btn_back > a:after, .btn_back > span:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -64px 0px;
  left: 10px;
  margin-top: -10px;
}

.btn_pdf {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
}
.btn_pdf > a, .btn_pdf > span, .btn_pdf > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn_pdf > a:after, .btn_pdf > span:after, .btn_pdf > input:after {
  position: absolute;
  top: 50%;
}
.btn_pdf > a, .btn_pdf > span {
  padding: 0 30px 0 10px;
}
.btn_pdf > a:after, .btn_pdf > span:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -112px 0px;
  right: 10px;
  margin-top: -10px;
}

.btn_mail {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
}
.btn_mail > a, .btn_mail > span, .btn_mail > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn_mail > a:after, .btn_mail > span:after, .btn_mail > input:after {
  position: absolute;
  top: 50%;
}
.btn_mail > a, .btn_mail > span {
  padding: 0 30px 0 10px;
}
.btn_mail > a:after, .btn_mail > span:after {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -240px 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
}

.btn_check {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
}
.btn_check > a, .btn_check > span, .btn_check > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn_check > a:after, .btn_check > span:after, .btn_check > input:after {
  position: absolute;
  top: 50%;
}
.btn_check > a, .btn_check > span {
  padding: 0 30px 0 10px;
}
.btn_check > a:after, .btn_check > span:after {
  width: 15px;
  height: 13px;
  content: "";
  display: block;
  background: url(../../images/common/icon_check.png) no-repeat;
  background-size: 15px 13px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}

.btn_twin {
  margin: 0 -5px 5px;
  min-height: 1px;
}
.btn_twin:before, .btn_twin:after {
  content: "";
  display: table;
}
.btn_twin:after {
  clear: both;
}
.btn_twin li {
  width: 50%;
  line-height: 1.2;
  float: left;
  list-style: none;
  margin: 0;
}
.btn_twin li > a, .btn_twin li > span {
  display: block;
  position: relative;
  margin: 0 5px 10px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn_twin li > a:before, .btn_twin li > span:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}
.btn_twin li > a.external:before, .btn_twin li > span.external:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -16px 0px;
}
.btn_twin li > a.pc:before, .btn_twin li > span.pc:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -32px 0px;
}
.btn_twin li > a span, .btn_twin li > span span {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 0 10px;
}

.btn_confirm,
.btn_send {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
}
.btn_confirm > a, .btn_confirm > span, .btn_confirm > input,
.btn_send > a,
.btn_send > span,
.btn_send > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
.btn_confirm > a:after, .btn_confirm > span:after, .btn_confirm > input:after,
.btn_send > a:after,
.btn_send > span:after,
.btn_send > input:after {
  position: absolute;
  top: 50%;
}
.btn_confirm input,
.btn_send input {
  width: 100%;
  padding: 0 20px 0 10px;
  text-align: center;
  background: #e60012;
}
.btn_confirm input:after,
.btn_send input:after {
  right: 10px;
  margin-top: -5px;
}

.btn_confirm {
  position: relative;
}
.btn_confirm input {
  -webkit-appearance: none;
}
.btn_confirm:after {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: 0px 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
}

.btn_send {
  position: relative;
}
.btn_send input {
  -webkit-appearance: none;
}
.btn_send:after {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -240px 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
}

/*
	section
--------------------------------------------------------- */
.section {
  padding: 0 10px 15px;
}
.section > h1 {
  line-height: 1.2;
  padding: 12px 10px;
  border-top: 2px solid #e60012;
  border-bottom: 1px solid lightgray;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 -10px 15px;
}
.section > h1 + h2 {
  margin-top: 0;
}
.section > h1 + dl {
  margin-top: -15px;
}
.section > h1 + dl dt:first-of-type {
  border-top: 0;
}
.section > h1 + .open_and_shut {
  margin-top: -15px;
}
.section > h1 + .open_and_shut .item:first-of-type h1 {
  border-top: 0;
}
.section > h1 + .step {
  margin-top: -15px;
  border-top: 0;
}
.section > * ~ h1 {
  margin-top: 30px;
}
.section > h2 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin: 30px 0 15px;
}
.section > h2 + h3 {
  margin-top: 0;
}
.section > h3 {
  margin: 30px 0 15px;
}
.section p {
  line-height: 1.5;
  margin: 15px 0;
}
.section p.btn, .section p.btn_external, .section p.btn_pc, .section p.btn_back {
  line-height: 1.2;
}
.section .notes {
  color: #999999;
  font-size: 78.57143%;
}
.section .notes strong {
  color: #e60012;
  font-weight: 100;
}
.section ol {
  line-height: 1.5;
  margin: 15px 0;
}
.section ol li {
  list-style-type: decimal;
  margin: 0 0 5px 2em;
}
.section ol li dl {
  margin-bottom: 10px;
}
.section ol li dl dt {
  margin-top: 5px;
  font-weight: 700;
}
.section ul {
  line-height: 1.5;
  margin: 15px 0;
}
.section ul li {
  list-style-type: disc;
  margin: 0 0 5px 2em;
}
.section ul.btn_twin {
  margin: 0 -5px 5px;
}
.section ul.btn_twin li {
  list-style: none;
  margin: 0;
}
.section ul.btn_conversion {
  margin: 0 -2px 5px;
}
.section ul.btn_conversion li {
  width: 33.3%;
  line-height: 1.2;
  float: left;
  list-style: none;
  margin: 0;
}
.section ul.btn_conversion li > a {
  height: 33px;
  padding-top: 42px;
  display: block;
  position: relative;
  margin: 0 2px 10px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  font-size: 85.71429%;
  background: #e60012;
}
.section ul.btn_conversion li > a:after {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -22px;
}
.section ul.btn_conversion li > a span {
  height: 33px;
  display: block;
  vertical-align: middle;
  padding: 0 5px;
  text-align: center;
}
.section ul.btn_conversion li.dealership a:after {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../../images/common/icon_cnv.png) no-repeat;
  background-size: 270px 45px;
  background-position: -45px 0;
}
.section ul.btn_conversion li.dealership span {
  height: 28px;
  padding-top: 7px;
}
.section ul.btn_conversion li.car_lineup a:after {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../../images/common/icon_cnv.png) no-repeat;
  background-size: 270px 45px;
  background-position: 0px 0;
}
.section ul.btn_conversion li.estimate a:after {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../../images/common/icon_cnv.png) no-repeat;
  background-size: 270px 45px;
  background-position: -90px 0;
}
.section ul.btn_conversion li.search a:after {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../../images/common/icon_cnv.png) no-repeat;
  background-size: 270px 45px;
  background-position: -180px 0;
}
.section ul.btn_conversion li.catalog a:after {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../../images/common/icon_cnv.png) no-repeat;
  background-size: 270px 45px;
  background-position: -135px 0;
}
.section ul.btn_conversion li.catalog span {
  height: 28px;
  padding-top: 7px;
}
.section ul.kome li {
  list-style-type: none;
  margin: 0 0 5px;
}
.section > dl {
  line-height: 1.5;
  margin: 0 -10px 15px;
}
.section > dl dt {
  padding: 5px 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background: #f0f0f0;
}
.section > dl dd {
  margin: 10px 10px 15px;
  font-size: 85.71429%;
}
.section table {
  line-height: 1.5;
  margin-bottom: 15px;
  width: 100%;
  border-top: 1px solid lightgray;
}
.section table thead th {
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  color: white;
  background: #3f3f3f;
}
.section table tbody th {
  vertical-align: middle;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background: #f0f0f0;
}
.section table tbody th:first-child {
  border-left: 0;
}
.section table tbody td {
  vertical-align: middle;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  text-align: center;
}
.section table tbody td:first-child {
  border-left: 0;
}
.section .abreast ul {
  width: 100%;
  display: table;
}
.section .abreast ul li {
  width: 50%;
  display: table-cell;
}
.section .abreast ul li a {
  height: 46px;
  display: block;
  text-align: center;
  background-image: url(../../images/common/abr_bck.gif);
  background-repeat: no-repeat;
  background-size: 320px 46px;
}
.section .abreast ul li a span {
  height: 34px;
  display: block;
  padding-top: 12px;
}
.section .abreast ul li.preview {
  padding-right: 5px;
}
.section .abreast ul li.preview a {
  background-position: right top;
}
.section .abreast ul li.preview a span {
  background: url(../../images/common/abr_arr_l.gif) no-repeat top left;
  background-size: 16px 46px;
}
.section .abreast ul li.next {
  padding-left: 5px;
}
.section .abreast ul li.next a {
  background-position: left top;
}
.section .abreast ul li.next a span {
  background: url(../../images/common/abr_arr_r.gif) no-repeat top right;
  background-size: 16px 46px;
}
.section .send_mail_estimate {
  text-align: center;
}
.section .send_mail_estimate a {
  display: block;
  padding: 3px 0;
  border-top: 1px solid #e60012;
  border-right: 1px solid #e60012;
  border-bottom: 1px solid #e60012;
  border-left: 1px solid #e60012;
  border-radius: 4px;
  color: #e60012;
  background: white;
}
.section .send_mail_estimate a:before {
  width: 45px;
  height: 45px;
  content: "";
  display: block;
  background: url(../../images/common/icon_cnv.png) no-repeat;
  background-size: 270px 45px;
  background-position: -225px 0;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.section .supplement {
  margin-bottom: 15px;
  padding: 10px;
  background: #f0f0f0;
}
.section .supplement h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 -10px 10px;
  font-size: 100%;
}
.section .supplement p {
  margin: 10px 0 0;
  font-size: 85.71429%;
}
.section .step {
  margin: 0 -10px;
  border-top: 1px solid lightgray;
  font-size: 71.42857%;
}
.section .step ol {
  width: 100%;
  display: table;
  border-bottom: 1px solid lightgray;
}
.section .step ol li {
  width: 16.66%;
  display: table-cell;
  border-right: 1px solid lightgray;
  color: #999999;
}
.section .step ol li dl {
  height: 5em;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 8px 2px 0;
  text-align: center;
}
.section .step ol li dl dt {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: italic;
  font-weight: 700;
  background: none;
}
.section .step ol li dl dt span {
  display: inline-block;
  font-size: 150%;
}
.section .step ol li dl dd {
  margin: 0;
  padding: 0;
}
.section .step ol li.current {
  color: white;
  background: #e60012;
}
.section .step ol li.current dl:after {
  width: 10px;
  height: 7px;
  content: "";
  display: block;
  margin-left: -5px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -7px;
  left: 50%;
  background: url(../../images/common/stp_arr.gif) no-repeat left top;
  background-size: 10px 7px;
}
.section .step ol li.past {
  color: white;
  background: #999999;
}
.section .step ol li:last-child {
  border: 0;
}

/*
	open_and_shut
--------------------------------------------------------- */
.open_and_shut {
  margin: 0 -10px 15px;
  border-bottom: 1px solid lightgray;
}
.open_and_shut .item > h1 {
  line-height: 1.25;
  position: relative;
  margin: 0;
  padding: 15px 35px 15px 10px;
  border-top: 1px solid lightgray;
  border-bottom: 0;
  font-size: 100%;
  font-weight: 100;
}
.open_and_shut .item > h1:after {
  width: 1.2em;
  height: 1.2em;
  content: '+';
  line-height: 1.2;
  position: absolute;
  top: 50%;
  right: 10px;
  bottom: auto;
  left: auto;
  margin-top: -0.6em;
  color: white;
  text-align: center;
  background: #e60012;
}
.open_and_shut .item .text {
  display: none;
  padding: 15px 10px;
  border-top: 1px solid lightgray;
  background: #f0f0f0;
}
.open_and_shut .item .text h2 {
  margin-bottom: 10px;
}
.open_and_shut .item .text > * ~ h2 {
  margin-top: 20px;
}
.open_and_shut .item .text p, .open_and_shut .item .text ul, .open_and_shut .item .text ol {
  margin: 0 0 10px;
}
.open_and_shut .item.opened > h1 {
  color: white;
  background: #e60012;
}
.open_and_shut .item.opened > h1:after {
  content: '-';
  color: #e60012;
  background: white;
}
.open_and_shut .select_list .select_item:last-of-type {
  border-bottom: 0;
}

.all_open_and_close {
  text-align: right;
}
.all_open_and_close li {
  display: inline-block;
  margin: 0 0 0 10px !important;
  text-decoration: underline;
}
.all_open_and_close li:before {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  line-height: 1.2;
  margin-right: 5px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  text-align: center;
}
.all_open_and_close li.all_open:before {
  content: '+';
  color: white;
  background: #e60012;
}
.all_open_and_close li.all_close:before {
  content: '-';
  color: #e60012;
  background: white;
}

/*
	select_list
--------------------------------------------------------- */
.select_list {
  margin: -15px -10px;
}
.select_list .select_item {
  position: relative;
  padding: 15px 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid lightgray;
  background: #f0f0f0;
}
.select_list .select_item .image {
  width: 80px;
  float: left;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 2px;
}
.select_list .select_item .summary {
  overflow: hidden;
  padding-left: 10px;
}
.select_list .select_item .summary p {
  margin: 0;
}
.select_list .select_item .summary p.price {
  font-size: 78.57143%;
}
.select_list .select_item .summary p.price strong {
  font-size: 180%;
  font-style: italic;
}
.select_list .select_item .summary p.btn {
  width: 4em;
  position: absolute;
  top: auto;
  right: 10px;
  bottom: 15px;
  left: auto;
  padding: 5px 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 4px;
  color: white;
  font-size: 85.71429%;
  text-align: center;
  background: #e60012;
}
.select_list .select_item.selected {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid #555555;
  color: white;
  background: #999999;
}
.select_list .select_item.selected .summary p.btn {
  color: #3f3f3f;
  background: white;
}








/* ==================================================================

	基礎レイアウト
------------------------------------------------------------------ */
/*
	グローバルヘッダ
--------------------------------------------------------- */
#GlobalHeader {
  width:100%;
  height: 70px;
  position: relative;
  z-index: 9999;
  background: white;
  border-top: 3px solid #e60012;
  overflow: hidden;
}
#GlobalHeader h1 {
  position: absolute;
  top: 7px;
  left: 20px;
}
#GlobalHeader h1 img {
	width:57px;
}

#GlobalHeader #GlobalMenu {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 176px;
  height: 40px;
}
#GlobalHeader #GlobalMenu li {
  position:absolute;
}

.header_mn_eng {
	top: 14px;
	left: 0;
	width: 52px;
	height: 13px;
}
.header_mn_eng img {
	width: 74px;
}

.header_mn_clip {
	right: 49px;
	width: 41px;
	height: 40px;
	cursor:pointer;
}
.header_mn_clip img {
	width: 41px;
}

.header_mn_menu {
	right: 0;
	width: 41px;
	height: 40px;
	cursor:pointer;
}
.header_mn_menu img {
	width: 41px;
}

#GlobalHeader #GlobalMenu li.opened {
	filter:alpha(opacity=60);
	-ms-filter:"alpha(opacity=60)";
	-moz-opacity:0.6;
	-khtml-opacity:0.6;
	opacity:0.6;
}




/*
	オーバーレイ共通
--------------------------------------------------------- */
.overlay {
  width: 100%;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8888;
}
.overlay .inner {
  padding: 75px 0 0;
  background: #6d6d6d;
  z-index:8888;
}
#Sitemap .inner {
	background-color:#000;
	padding-bottom:50px;
}
.overlay .inner p.close {
  margin: 0 10px;
  display: block;
  padding: 15px 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  background: white;
}
#Sitemap .inner p.close {
	margin-top:20px;
	cursor:pointer;
}
.overlay .inner p.close:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px -42px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.overlay.opened {
  overflow: visible;
}
.overlay.common {
  z-index: 3;
  background: #f0f0f0;
}
.overlay.common .inner {
  padding: 0 0 20px;
  background: #f0f0f0;
}
.overlay.common .inner .overlay_header {
  position: relative;
  padding: 15px 10px;
  background: #555555;
}
.overlay.common .inner .overlay_header h1 {
  line-height: 1.25;
  padding-right: 5em;
  color: white;
  font-size: 114.28571%;
}
.overlay.common .inner .overlay_header p.close {
  position: absolute;
  top: 50%;
  right: 10px;
  bottom: auto;
  left: auto;
  margin: -1.25em 0 0;
  padding: 0.4em 8px;
  font-size: 78.57143%;
}
.overlay.common .inner .overlay_body {
  line-height: 1.5;
  padding: 15px 10px;
}
.overlay.common .inner .overlay_body p {
  margin-bottom: 15px;
}
.overlay.common .inner .overlay_body ul {
  margin-bottom: 15px;
}
.overlay.common .inner .overlay_body ul li {
  list-style-type: disc;
  margin: 0 0 5px 2em;
}
.overlay.common .inner > p.close {
  color: white;
  background: #555555;
}
.overlay.common .inner > p.close:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px 0px;
  display: inline-block;
}

/*
	サイト内検索
--------------------------------------------------------- */
#InsideSearch .inner .freeword {
  width: 288px;
  display: table;
  margin: 30px auto;
  border: 1px solid #ccc;
  background: white;
}
#InsideSearch .inner .freeword input {
  margin: 0;
  padding: 3px;
  border: 0;
  background: none;
}
#InsideSearch .inner .freeword .input {
  width: 221px;
  display: table-cell;
  border-right: 1px solid #ccc;
}
#InsideSearch .inner .freeword .input input {
  width: 216px;
  -webkit-appearance: none;
}
#InsideSearch .inner .freeword .submit {
  width: 66px;
  display: table-cell;
}
#InsideSearch .inner .freeword .submit input {
  width: 66px;
  -webkit-appearance: none;
  border-radius: 0;
  color: white;
  background: #e60012;
}

/*
	クリップ
--------------------------------------------------------- */
#Clip {
  background: #f0f0f0;
}
#Clip .inner {
  background: #f0f0f0;
}
#Clip .inner .clip_add {
  padding: 20px 10px 30px;
}
#Clip .inner .clip_add .btn {
  width: 100%;
  display: table;
  line-height: 1.25;
  position: relative;
  cursor:pointer;
}
#Clip .inner .clip_add .btn > a, #Clip .inner .clip_add .btn > span, #Clip .inner .clip_add .btn > input {
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  text-align: left;
  background: #555555;
}
#Clip .inner .clip_add .btn > a:after, #Clip .inner .clip_add .btn > span:after, #Clip .inner .clip_add .btn > input:after {
  position: absolute;
  top: 50%;
}
#Clip .inner .clip_add .btn span:after {
  width: 24px;
  height: 24px;
  content: "";
  display: block;
  background: url(../../images/common/icon.png) no-repeat;
  background-size: 384px 96px;
  background-position: -24px 0px;
  right: 10px;
  margin-top: -12px;
}
#Clip .inner .clip_add .already_clip {
  display: none;
  text-align: center;
}
#Clip .inner .clip_add.already .btn {
  display: none;
}
#Clip .inner .clip_add.already .already_clip {
  display: block;
}
#Clip .inner .clip_list h1 {
  line-height: 1.2;
  padding-left: 7px;
  border-left: 2px solid #e60012;
  color: #555555;
  font-size: 114.28571%;
  margin: 0 10px 15px;
}
#Clip .inner .clip_list .clip_list_inner {
  border-bottom: 1px solid lightgray;
}
#Clip .inner .clip_list .clip_list_inner .item {
  width: 100%;
  display: table;
  border-top: 1px solid lightgray;
  background: white;
}
#Clip .inner .clip_list .clip_list_inner .item .title {
  display: table-cell;
  line-height: 1.5;
  vertical-align: middle;
}
#Clip .inner .clip_list .clip_list_inner .item .title a {
  display: block;
  padding: 15px 10px;
}
#Clip .inner .clip_list .clip_list_inner .item .delete {
  width: 4em;
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  font-size: 85.71429%;
}
#Clip .inner .clip_list .clip_list_inner .item .delete span {
  width: 4em;
  display: block;
  padding: 5px 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 4px;
  color: white;
  text-align: center;
  background: #e60012;
}
#Clip .inner .clip_list .clip_list_inner p.no_clip {
  display: none;
  margin: 30px 0;
  text-align: center;
}
#Clip .inner .about_myclip {
  margin-bottom: 30px;
  padding: 20px 10px 0;
  border-top: 1px solid white;
}
#Clip .inner .about_myclip h1 {
  margin-bottom: 5px;
}
#Clip .inner .about_myclip p {
  line-height: 1.5;
}
#Clip .inner > p.close {
  color: white;
  background: #555555;
  cursor:pointer;
}
#Clip .inner > p.close:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px 0;
  display: inline-block;
}

/*
	サイトマップ・ナビゲーション
--------------------------------------------------------- */


/*
	Lightbox
--------------------------------------------------------- */
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
.lightbox .lightbox_inner {
  padding: 15px;
  position: relative;
}
.lightbox .lightbox_inner .lightbox_contents {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  border-top: 2px solid #555555;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
  border-left: 2px solid #555555;
  border-radius: 6px;
  background: white;
}
.lightbox .lightbox_inner .lightbox_contents .lightbox_header {
  position: relative;
  padding: 15px 10px;
  border-radius: 2px 2px 0 0;
  background: #555555;
}
.lightbox .lightbox_inner .lightbox_contents .lightbox_header h1 {
  line-height: 1.25;
  padding-right: 5em;
  color: white;
  font-size: 114.28571%;
}
.lightbox .lightbox_inner .lightbox_contents .lightbox_header p.close {
  position: absolute;
  top: 50%;
  right: 10px;
  bottom: auto;
  left: auto;
  margin: -1.25em 0 0;
  padding: 0.4em 8px;
  font-size: 78.57143%;
}
.lightbox .lightbox_inner .lightbox_contents .lightbox_body {
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  padding: 0 15px 15px;
}
.lightbox .lightbox_inner .lightbox_contents .lightbox_body p {
  margin-top: 15px;
}
.lightbox .lightbox_inner .lightbox_contents .lightbox_body ul {
  margin-top: 15px;
}
.lightbox .lightbox_inner .lightbox_contents .lightbox_body ul li {
  list-style-type: disc;
  margin: 5px 0 0 20px;
}
.lightbox .lightbox_inner .lightbox_contents p.close {
  margin: 20px 15px 0;
  display: block;
  padding: 15px 0;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  text-align: center;
  background: white;
}
.lightbox .lightbox_inner .lightbox_contents p.close:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px -42px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.lightbox .lightbox_inner .lightbox_contents > p.close {
  color: white;
  background: #555555;
}
.lightbox .lightbox_inner .lightbox_contents > p.close:before {
  width: 16px;
  height: 21px;
  content: "";
  display: block;
  background: url(../../images/common/icon_s.png) no-repeat;
  background-size: 128px 63px;
  background-position: -48px 0px;
  display: inline-block;
}