@charset "utf-8";

.safety #Mainvis{
  margin-bottom: 30px;
}

.safety #Mainvis_inner .mainimg .txtarea_main{
  width: 820px;
}

.safety #Main .section_wrap section.tab-contents{
  width: 1160px;
  margin-bottom: 0;
  transition: all 1s ease;
  opacity: 0;
}

.safety #Main .section_wrap section.tab-contents .tit{
  color: #333;
  font-size: 40px;
}

.safety #Main .section_wrap section.tab-contents h4.tit-01,
.safety #Main .section_wrap section.tab-contents h4.tit{
  font-size: 30px;
}

.safety #Main .section_wrap section.tab-contents .tit{

}

.safety #Main .section_wrap section.tab-contents .tit.type-02{
  position: relative;
  top: -6px;
  margin-bottom: -6px;
}

.safety #Main .section_wrap section.tab-contents .tit,
.safety #Main .content-01 .tit-01,
.safety #Main .content-01 .tit-02{
  font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;
}

.safety #Main .section_wrap .content-01{
  background: #333;
  padding: 60px 100px;
  color: #FFF;
}

.safety #Main .section_wrap .content-01 p{
  color: #FFF;
}


.safety #Main .content-01 .tit-01{
  font-size: 40px;
  letter-spacing: 0.1rem;
  text-align: center;
  margin-bottom: 55px;
  color: #fff;
}

.safety #Main .content-01 .tit-02{
  font-size: 34px;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
  text-align: left!important;
}

.safety #Main .content-01 .tit-02.type-02{
  position: relative;
  top: -7px;
}

.safety #Main .content-01 .tx-01{
  font-size: 16px;
  font-weight: 400;
}

.safety #Main .content-01 .tx-02{
  font-size: 12px;
  line-height: 1.5;
  font-weight: 200;
}

.safety #Main .content-01 .box-01{
  margin-bottom: 30px;
  letter-spacing: -.5em;
}

.safety #Main .content-01 p.note-01{
  font-size: 12px;
}


.safety #Main .section_wrap .content-01 .img-01{
  margin-top: 30px;
}

.safety #Main .section_wrap .content-01 .img-02{
  margin: 10px 0;
}

.safety #Main .content-01 .box-01 .inner-01,
.safety #Main .content-01 .box-01 .inner-02{
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.safety #Main .content-01 .box-01 .inner-01{
  width: 630px;
  margin-right: 30px;
}

.safety #Main .content-01 .box-01 .inner-01 .img{
  display: inline-block;
}

.safety #Main .content-01 .box-01 .inner-01 .mov.type-01{
  margin-bottom: 40px;
}

.safety #Main .content-01 .box-01 .inner-01 .mov.type-01{
  margin-bottom: 0;
}

.safety #Main .content-01 .box-01 .inner-01 .mov-wrap-01.type-04{
  margin-bottom: 40px;
}

.safety #Main .content-01 .box-01 .inner-01 .img:first-child{
  margin-right: 7px;
}

.safety #Main .content-01 .col-2{
  width: 960px;
  letter-spacing: -.5em;
}

.safety #Main .content-01 .col-2 .column{
  display: inline-block;
  letter-spacing: normal;
  width: 465px;
  vertical-align: top;
  margin-left: 30px;
}

.safety #Main .content-01 .col-2 .column .tx-01{
  margin-top: 10px;
  font-size: 14px!important;
}

.safety #Main .content-01 .col-2 .column:first-child{
  margin-left: 0;
}

.safety #Main .content-01 .col-3{
  width: 960px;
  letter-spacing: -.5em;
  margin-bottom: 55px;
}

.safety #Main .content-01 .col-3 .column{
  display: inline-block;
  letter-spacing: normal;
  width: 300px;
  vertical-align: top;
  margin-left: 30px;
}

.safety #Main .content-01 .col-3 .column .img{
  margin-bottom: 10px;
}

.safety #Main .content-01 .col-3 .column .tx-01,
.safety #Main .content-01 .col-3 .column .tit-01{
  text-align: left;
}


.safety #Main .content-01 .col-3 .column .img img{
  width: 100%;
}

.safety #Main .content-01 .col-3 .column .tit-01{
  font-size: 18px!important;
  line-height: 1!important;
  margin-bottom: 5px;
}

.safety #Main .content-01 .col-3 .column .tx-01{
  font-size: 14px!important;
  line-height: 1;
  }

.safety #Main .content-01 .col-3 .column:first-child{
  margin-left: 0;
}

.safety #Main .content-01 .box-01 .inner-02{
  width: 300px;
}

.safety #Main .content-01 .box-01 .inner-02 .img{
  margin-top: 25px;
}

.safety #Main .section_wrap .content-02{
  padding: 60px 100px;
}

.safety #Main .content-02 .box-01{
  margin-bottom: 20px;
  letter-spacing: -.5em;
}

.safety #Main .content-02 .box-01 .inner-01,
.safety #Main .content-02 .box-01 .inner-02{
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
}

.safety #Main .content-02 .box-01 .inner-01{
  width: 330px;
  margin-right: 30px;
}

.safety #Main .content-02 .box-01 .inner-01 .mov{
  margin-bottom: 45px;
}

.safety #Main .content-02 .box-01 .inner-01 .mov-wrap-01 .mov{
  margin-bottom: 0;
}

.safety #Main .content-02 .box-01 .inner-01 .mov-wrap-01.type-01{
  /*margin-bottom: 45px;*/
}

.safety #Main .content-02 .box-01 .inner-01 .mov.type-01{
  margin-bottom: 20px;
}

.safety #Main .content-02 .box-01 .inner-01 .mov-wrap-01 .mov.type-01{
  margin-bottom: 0;
}

.safety #Main .content-02 .box-01 .inner-01 .mov-wrap-01.type-02{
  margin-bottom: 0;
}

.safety #Main .content-02 .box-01 .inner-01 .mov-wrap-01.type-03 .mov{
  margin-bottom: 0;
}

.safety #Main .content-02 .box-01 .inner-01 .mov-wrap-01.type-03{
  margin-bottom: 0;
}

.safety #Main .content-02 .box-01 .inner-02{
  width: 600px;
}

.safety #Main .content-02 .tx{
  font-weight: 400;
}

.safety #Main .content-02 .box-01 .inner-02 .note-02{
  font-size: 12px;
  margin-top: 20px;
}

.safety #Main .content-02 .box-01 .inner-02 .inner-btm{
  letter-spacing: -.5em;
}

.safety #Main .content-02 .box-01 .inner-02 .img.type-02{
  margin-top: 22px;
}

.safety #Main .content-02 .box-01 .inner-02 .img-01{
  display: inline-block;
  margin-left: 6px;
}

.ml0{
  margin-left: 0!important;
}

.safety #Main .content-02 .box-01 .inner-02 .inner-btm .tx,
.safety #Main .content-02 .box-01 .inner-02 .inner-btm .img{
  display: inline-block;
  letter-spacing: normal;
  vertical-align: middle;
  color: #333!important;
  font-weight: 700;
}

.safety #Main .content-02 .box-01 .inner-02 .inner-btm .img{
  width: 182px;
  margin-right: 12px;
}

.safety #Main .content-02 .tit-01{
    font-size: 26px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 10px;
}

.safety #Main .content-02 .tit-01.type-01{
  font-size: 36px;
  color: #666;
  text-align: center;
}

.safety #Main .content-02 .col-3.type-01 .tit-01{
  font-size: 18px;
}

.safety #Main .content-02 .tx-01{
  margin-bottom: 9px;
  color: #666;
  font-weight: 400;
}

.safety #Main .content-02 .col-3{
  width: 960px;
  letter-spacing: -.5em;
}

.safety #Main .content-02 .col-3 .column{
  display: inline-block;
  letter-spacing: normal;
  width: 300px;
  vertical-align: top;
  margin-left: 30px;
}

.safety #Main .content-02 .col-3 .column .img{
  margin-bottom: 10px;
}

.safety #Main .content-02 .col-3 .column .img img{
  width: 100%;
}

.safety #Main .content-02 .col-3 .column .tit-01{
  margin-bottom: 5px;
}

.safety #Main .content-02 .col-3 .column .tx-01{
  font-size: 14px!important;
  line-height: 1.5!important;
}

.safety #Main .content-02 .col-3 .column p{
  color: #333!important;
}

.safety #Main .content-02 .col-3 .column:first-child{
  margin-left: 0;
}

.safety #Main .content-02 .col-2{
  width: 960px;
  letter-spacing: -.5em;
  margin-bottom: 40px;
}

.safety #Main .content-02 .col-2.type-01{
  margin-bottom: 0;
}

.safety #Main .content-02 .col-2 .column{
  display: inline-block;
  letter-spacing: normal;
  width: 465px;
  vertical-align: top;
  margin-left: 30px;
}

.safety #Main .content-02 .col-2 .column .tit-01{
  font-weight: normal;
  color: #333;
  margin-bottom: 0!important;
}

.safety #Main .content-02 .col-2 .column .tit-01.type-02{
  position: relative;
  top:-5px;
}

.safety #Main .content-02 .col-2 .column .tit-02{
  margin-bottom: 70px!important;
}

.safety #Main .content-02 .col-2 .column .tx-01{
  margin-top: 10px;
  font-size: 14px!important;
}

.safety #Main .content-02 .col-2 .column .note{
  margin-top: 10px;
  font-size: 12px!important;
}

.safety #Main .content-02 .col-2 .column:first-child{
  margin-left: 0;
}
.sp-none {
  display: block;
}


@media screen and (max-width: 767px){
  .sp-none {
    display: none;
  }
  .safety #Main .section_wrap section.tab-contents .tit.type-02,
  .safety #Main .content-02 .col-2 .column .tit-01.type-02,
  .safety #Main .content-01 .tit-02.type-02{
    position: static;
  }

  .safety #Main .section_wrap section.tab-contents{
    /*width: 100%;*/
    width: 90.625%;
    margin: 0 auto 7.8%;
  }

  .safety #Main .section_wrap section.tab-contents .tit,
  .safety #Main .content-01 .tit-01{
    font-size: 30px;
  }
  .safety #Main .section_wrap section.tab-contents .tit.type-02{
    position: static;
    margin-top: 20px;
  }

  .safety #Main .content-02 .tit-01,
  .safety #Main .content-02 .tit-01.type-01,
  .safety #Main .content-01 .tit-02{
    font-size: 22px;
    margin-bottom: 5px;
    text-align: left;
  }

  .safety #Main .content-02 .tit-01{
    color: #333!important;
  }
  .safety #Main .content-02 .type-01 .tit-01{
    color: #666!important;

  }

  .safety #Main .section_wrap .content-02,
  .safety #Main .section_wrap .content-01{
    padding: 15px 0;
    margin-bottom: 40px;
  }
  .safety #Main .section_wrap section.tab-contents .tit{
    margin-bottom: 20px;
  }

  .safety #Main .section_wrap section.tab-contents .tit.type-01{
    margin-top: 20px;
  }

  .safety #Main .section_wrap section.tab-contents .tit.mt20{
    margin-top: 20px;
  }

  .safety #Main .section_wrap .content-01.type-01{
    padding: 40px 0 15px;
  }

  .safety #Main .content-01 .tit-01{
    padding: 0 15px;
    margin-bottom: 25px;
    text-align: left;
  }
  .safety #Main .content-01 .tit-01.none{
    padding: 0;
  }
  .safety #Main .content-02 .box-01 .inner-02,
  .safety #Main .content-02 .box-01 .inner-01,
  .safety #Main .content-01 .box-01 .inner-01{
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  .safety #Main .content-01 .box-01 .inner-01.none{
    margin-bottom: 0;
  }
  .safety #Main .content-02 .box-01 .inner-01{
    margin-bottom: 0;

  }
  .safety #Main .content-02 .box-01 .inner-02.type-01{
    margin-bottom: 0;

  }

  .safety #Main .content-01 .box-01 .inner-01.type-01{
    padding: 0 15px;
  }

  .safety #Main .content-01 .box-01 .inner-01 .img.w70{
    width: 67%;
    margin-right: 1%;
  }

  .safety #Main .content-01 .box-01 .inner-01 .img.w30{
    width: 30%;
  }

  .safety #Main .content-01 .box-01 .inner-02{
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .safety #Main .content-02 .box-01 .inner-01 .mov{
    margin-bottom: 0;
  }

  .safety #Main .content-02 .tx-01{
    margin-bottom: 15px;
  }

  .safety #Main .content-02 .box-01 .inner-02 .inner-btm .img{
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .safety #Main .content-02 .box-01 .inner-02 .inner-btm .tx{
    font-size: 14px;
    color: #666!important;
    font-weight: 200;
  }

  .safety #Main .content-02 .box-01 .inner-02 .tx-02{
    color: #666;
    text-align: center;
    margin-top: 40px;

  }

  .safety #Main .content-02 .col-3{
    width: 100%;
  }

  .safety #Main .content-02 .col-3 .column{
    width: 100%;
    margin: 0;
  }
  .safety #Main .content-02 .col-3 .column .tx-01{
    margin-bottom: 20px;
  }
  .safety #Main .content-02 .col-3 .column:last-child .tx-01{
    margin-bottom: 0;
  }
  .safety #Main .content-02 .col-3 .column p{
    color: #666!important;
  }

  .safety #Main .content-01 .col-3{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 25px;
    box-sizing: border-box;

  }
  .safety #Main .content-01 .col-3 .column{
    width: 100%;
    margin: 0 0 25px;
  }
  .safety .doc-plain-01{
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .safety #Main .content-01 .col-2{
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
  }

  .safety #Main .content-01 .col-2 .column{
    width: 100%;
    margin: 0 0 25px;
  }

  .safety #Main .content-02 .col-2{
    width: 100%;
    margin-bottom: 30px;
  }
  .safety #Main .content-02 .col-2.type-02{
    margin-bottom: 0;
  }

  .safety #Main .content-02 .col-2.type-02 .column{
    margin-bottom: 0;
  }

  .safety #Main .content-02 .col-2.type-02 .column:first-child{
    margin-bottom: 30px;
  }
  .safety #Main .content-02 .col-2 .column{
    width: 100%;
    margin: 0 0 10px;
  }

  .safety #Main .content-02 .col-2 .column .tit-02{
    margin-bottom: 30px!important;
  }

  .safety #Main .content-01 p.note-01{
    padding: 0 15px;
  }

  .safety #Main .content-02 .box-01.type-01{
    margin: 0 0 -15px;
  }

  .safety #Main .content-02 .box-01.type-01 .inner-02{
   margin-bottom: 0;
  }

  .safety #Main .content-02 .box-01.type-01 .inner-02 .tx{
    margin-bottom: 15px;
  }

  .safety #Main .content-02 .box-01.type-01 .inner-02 .img-01{
    display: inline-block;
    width: 30%;
    margin-left: 0;
    margin-bottom: 5px;
  }

  .safety #Main .content-02 .box-01.type-01 .inner-02 .img-01.ml0{
    width: 67%;
    display: inline-block;
    margin-right: 1%;
  }

  .content-01 .box-01 .inner-02.type-01 .tx-01{
    margin-bottom: 20px;
  }

  .content-01 .box-01 .inner-02.type-01 .img-02{
    display: inline-block;
    width: 49%;
    padding-right: 1%;
    padding-top: 2%;
    box-sizing: border-box;
    letter-spacing: normal;
    vertical-align: top;
  }
  .content-01 .box-01 .inner-02.type-01 .tx-02{
    display: inline-block;
    width: 49%;
    padding-left: 1%;
    box-sizing: border-box;
    letter-spacing: normal;
  }

  .content-01 .box-01 .inner-02.type-01 .note-01{
    margin-top: 25px;
  }


  .safety #Mainvis_inner .mainimg .txtarea_main{
    width: 100%;
    box-sizing: border-box;
  }




}
