@charset "utf-8";
body { background:#1E1E1E;}
header { position: fixed; z-index: 1000; }
#Mainvis { width:100%; background:#000;}

#Mainvis #Mainvis_inner {}
#Mainvis #Mainvis_inner #Mainvis_bg{ background:#000 ; margin:0 auto; position:relative; background-size:cover; height:630px; }
#Mainvis #Mainvis_inner .top-anim-bg {width:100%; height:100%; background: url(../../images/img-top-anim-02.jpg) no-repeat center center;}

#Mainvis #Mainvis_inner .imgstyle_01 { display:none;}
#Mainvis #Mainvis_inner .txtarea_01,
#Cont .boxstyle_01 .txtarea_01,
#Cont .boxstyle_02 .txtarea_01,
#Cont .boxstyle_03 .txtarea_01,
#Cont .boxstyle_04 .txtarea_01 { width:960px; position:absolute; left:50%; top:0; margin-left:-480px;}/* 20150914 変更 */

/*#Mainvis #Mainvis_inner .txtarea_01 .titstyle_01*/
#Mainvis #Mainvis_inner .txtarea_01.type-01 .titstyle_01,
#Mainvis #Mainvis_inner .txtarea_01.type-01 p {
  color: #FFF;
}

/* 20150914 追加 */
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_01 { padding:0; font-size:72px; color:#333; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; line-height:1.0;}
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_02 { padding:50px 0 0; font-size:13px; color:#E50012 !important; display:block; line-height:1.0; margin:10px 0; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_03 { font-size:24px; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
#Mainvis #Mainvis_inner .txtarea_01 p { width: 350px; font-size:16px; color:#333; display:block; line-height:1.0; margin-bottom:20px; font-weight:normal; line-height:22.5px}
#Mainvis #Mainvis_inner .txtarea_01 .sp_btnstyle_02 { display:none;}
#Mainvis #Mainvis_inner .txtarea_01 .img_01 { padding: 0 0 20px;}
#Mainvis #Mainvis_inner .btnstyle_01 { width:100px; position:absolute; left:50%; bottom:0; margin-left:-50px; height:55px;}
/* 20150914 追加 */

#Cont .boxstyle_01 { background:#DEE9F4; position:relative;}
#Cont .boxstyle_01 .imgstyle_02 { background:url(../../images/bg_02.png) top center no-repeat; height: 659px; }
#Cont .boxstyle_02 .imgstyle_02 { background:url(../../images/bg_03.png) top center no-repeat; height: 659px; }
#Cont .boxstyle_03 .imgstyle_02 { background:url(../../images/bg_04.png) top center no-repeat; height: 659px; }
#Cont .boxstyle_04 .imgstyle_02 { background:url(../../images/bg_05.png) top center no-repeat; height: 659px; }/* 20150914 追加 */

#Cont .boxstyle_01 .imgstyle_02 img,
#Cont .boxstyle_02 .imgstyle_02 img,
#Cont .boxstyle_03 .imgstyle_02 img,
#Cont .boxstyle_04 .imgstyle_02 img { display:none;}/* 20150914 変更 */

#Cont .boxstyle_01 .txtarea_01,
#Cont .boxstyle_02 .txtarea_01,
#Cont .boxstyle_03 .txtarea_01,
#Cont .boxstyle_04 .txtarea_01 { padding:58px 0 0 0 !important; color:#333;}/* 20150914 変更 */

#Mainvis .txtarea_01,
#Cont .boxstyle_01 .txtarea_01,
#Cont .boxstyle_02 .txtarea_01,
#Cont .boxstyle_03 .txtarea_01,
#Cont .boxstyle_04 .txtarea_01 { 
  color:#fff;
  width: 960px;
  height: 100%;
  box-sizing: border-box;
 }/* 20150914 追加 */

#Cont .boxstyle_03 .txtarea_01{
  width: 980px;
}

#Mainvis .note-box,
#Cont .boxstyle_01 .txtarea_01 .note-box,
#Cont .boxstyle_02 .txtarea_01 .note-box,
#Cont .boxstyle_03 .txtarea_01 .note-box,
#Cont .boxstyle_04 .txtarea_01 .note-box { 
  position: absolute;
  width: 100%;
  bottom: 25px;
  box-sizing: border-box;
}

#Cont .boxstyle_03 .txtarea_01 .titstyle_01{
  color: #333;
}

#Mainvis #Mainvis_inner .txtarea_01 .note-box p.tx{
  color: #FFF;
  font-size: 16px;
}

#Cont .boxstyle_03 .txtarea_01 .note-box{
  text-align: right;
  padding-right: 170px;
  color: #333;
}
.note-box p{
  font-size: 16px;
}

#Cont .boxstyle_04 .txtarea_01 .note-box{
  color: #333;
}

#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner { width:300px;}/* 20150914 変更 */

#Cont .boxstyle_01 .txtarea_01 .titstyle_01,
#Cont .boxstyle_02 .txtarea_01 .titstyle_01,
#Cont .boxstyle_03 .txtarea_01 .titstyle_01,
#Cont .boxstyle_04 .txtarea_01 .titstyle_01 { font-size:56px !important; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}/* 20150914 変更 */

#Cont .boxstyle_01 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_02 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_03 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_04 .txtarea_01 .titstyle_01 span { font-size:13px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}/* 20150914 変更 */

#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner p { margin-bottom:28px; font-size:16px; line-height:22.5px; color:#999;}/* 20150914 変更 */
#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner p{ color:#fff; }/* 20150914 追加 */
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner p { color:#333; }/* 20150917 追加 */

#Cont .boxstyle_01 .txtarea_01 .titstyle_02 { font-size:24px; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}

#Cont .boxstyle_02,
#Cont .boxstyle_03,
#Cont .boxstyle_04 { position:relative;}/* 20150914 変更 */

#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner { float:right; width:400px; display:inline; margin-right:0px;}
/* 20150914 追加 */
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner { float:left; width:635px; display:inline; margin-right:30px; padding-top: 300px;}
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner.type-01 p,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner.type-01 .titstyle_01{
  color: #333;
}

#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner .img_01 { margin-bottom:30px;}

#Mainvis #Mainvis_inner .sp_imgstyle_01,
#Mainvis #Mainvis_inner .sp_img_01,/* 20150914 追加 */
#Cont .boxstyle_01 .sp_imgstyle_02,
#Cont .boxstyle_02 .sp_imgstyle_02,
#Cont .boxstyle_03 .sp_imgstyle_02,
#Cont .boxstyle_01 .sp_btnstyle_02,
#Cont .boxstyle_02 .sp_btnstyle_02,
#Cont .boxstyle_03 .sp_btnstyle_02,
#Cont .boxstyle_03 .sp_btnstyle_03,
#Cont .boxstyle_04 .sp_btnstyle_02,/* 20150914 追加 */
#Cont .boxstyle_04 .sp_btnstyle_03,/* 20150914 追加 */
#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner .sp_img_01 { display:none;}

/* header fixed */
#Mainvis { padding-top: 120px; }
/* slideshow */
#Cont .boxstyle_04 { background: #000; }
#Cont .boxstyle_04 .box_inner { width: 960px; margin: 0 auto; padding: 56px 0 90px; }
#Cont .boxstyle_04 .titlearea01 {}
#Cont .boxstyle_04 .titlearea01 h3 { color: #FFFFFF; text-align: center; line-height: 1.0; margin-bottom: 31px; }
#Cont .boxstyle_04 .titlearea01 h3 .super { font-size:14px; margin-bottom:6px; display:inline-block;}
#Cont .boxstyle_04 .titlearea01 h3 .mtxt { font-size: 56px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9 }
#Cont .boxstyle_04 #flexslider { margin-bottom: 27px; position: relative; }
#Cont .boxstyle_04 #flexslider .slides {}
#Cont .boxstyle_04 #flexslider .slides .movie_main { width: 712px; margin: 0 auto; }
#Cont .boxstyle_04 #carousel { width: 686px; margin: 0 auto; }
#Cont .boxstyle_04 #carousel .flex-viewport { }
#Cont .boxstyle_04 #carousel .slides li { width: 155px; margin-right: 14px; cursor: pointer; display: inline; float: left; }
#Cont .boxstyle_04 #carousel .slides li .slide_thum { border: 3px solid #000; margin-bottom: 9px; }
#Cont .boxstyle_04 #carousel .slides li.flex-active-slide  .slide_thum { border: 3px solid #494f4f; }
#Cont .boxstyle_04 #carousel .slides li.last { margin-right: 0; }
#Cont .boxstyle_04 #carousel .slides li .thum_txt { font-size: 12px; color: #FFF; text-align: center; color: #c9c9c9; line-height: 1.4; }
#Cont .boxstyle_04 .movie_main { width: 712px; height: 400px; position: relative; margin: 0 auto; }
#Cont .boxstyle_04 .movie_main .movie_thumb { width: 712px; height: 400px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer; }
#Cont .boxstyle_04 #flexslider .movie_main .movie_thumb.cp_none { cursor: default;}
#Cont .boxstyle_04 #flexslider .movie_main .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1; }
#Cont .boxstyle_04 #flexslider .movie_main .movie_youtube iframe { }

/* ipad */
.ipad #Cont .boxstyle_04 .movie_main .movie_thumb { display: none; z-index: 0; }

/*add 161024  TOPにアニメーション追加*/

#Mainvis.js-anim #Mainvis_inner .anim-wrap{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 960px;
  height: 100%;
  margin: auto;
}

#Mainvis.js-anim #Mainvis_inner .txtarea_01 .titstyle_02,
#Mainvis.js-anim #Mainvis_inner .txtarea_01 .titstyle_01,
#Mainvis.js-anim #Mainvis_inner .txtarea_01 .btnstyle_02,
#Mainvis.js-anim #Mainvis_inner .top-anim-bg,
#Mainvis.js-anim #Mainvis_inner .txtarea_01 .tx{
  opacity: 0;
  transition:transform 1.6s ease, opacity 1.3s ease;
}


#Mainvis.js-anim #Mainvis_inner .top-anim-01{
  position: absolute;
  width: 563px;
  height: 374px;
  top: 190px;
  left: 270px;
  transition:transform .7s ease, opacity 1s ease;
  opacity: 0
}

  

#Mainvis.js-anim #Mainvis_inner .top-anim-01.anim{
 transform: translate3d(70px,0,0);
}

#Mainvis.js-anim #Mainvis_inner #Mainvis_bg{
  opacity: 0;
  transition: all .5s ease;
}

#Mainvis.js-anim #Mainvis_inner #Mainvis_bg.active,
#Mainvis.js-anim #Mainvis_inner .txtarea_01 .titstyle_02.active,
#Mainvis.js-anim #Mainvis_inner .txtarea_01 .titstyle_01.active,
#Mainvis.js-anim #Mainvis_inner .txtarea_01 .btnstyle_02.active,
#Mainvis.js-anim #Mainvis_inner .top-anim-01.active,
#Mainvis.js-anim #Mainvis_inner .top-anim-bg.active,
#Mainvis.js-anim #Mainvis_inner .txtarea_01 .tx.active{
  opacity: 1;
}

#Mainvis.js-anim #Mainvis_inner .anim-wrap-sp{
  display: none;
}


@media screen and (max-width: 767px) {
  #Mainvis.js-anim #Mainvis_inner .top-anim-01{
    display: none;
  }
#Mainvis.js-anim #Mainvis_inner .anim-wrap{
  width: 100%;
  position: static;
}

/*アニメーション ver*/

  #Mainvis.js-anim #Mainvis_inner .top-anim-01{
    transition:transform .8s ease, opacity .5s ease;
  }

  #Mainvis.js-anim #Mainvis_inner .top-anim-01.anim{
   transform: translate3d(18%,0,0);
  }

  #Mainvis.js-anim #Mainvis_inner .anim-wrap-sp{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 80%;
  }

  #Mainvis.js-anim #Mainvis_inner .anim-wrap-sp .top-anim-01 {
    display: block;
    width: 52%;
    top: 41%;
    left: 23%;
    height: auto;

  }


 section #Mainvis{
    background: #000;
  }
  #Mainvis #Mainvis_inner .top-anim-bg{
    background-size: contain;
  }
  #Mainvis.js-anim #Mainvis_inner .sp_imgstyle_01{
    opacity: 0;
    transition: all .5s ease;
  }
  #Mainvis.js-anim #Mainvis_inner .sp_imgstyle_01.active{
    opacity: 1;
  }

/*   #Mainvis #Mainvis_inner .txtarea_01 .titstyle_01{
    font-size: 36px;
  }
  #Mainvis #Mainvis_inner .txtarea_01{
    width: 100%;
    left: 0;
    margin: 0;
  }
  #Mainvis.js-anim #Mainvis_inner .txtarea_01 .titstyle_02{
    padding-top: 0;
  }
  #Mainvis.js-anim #Mainvis_inner .anim-wrap{
    width: 80%;
  }
  #Mainvis.js-anim #Mainvis_inner .top-anim-01{
    width: 48%;
    top: 34%;
    left: 20%;
  }
  #Mainvis.js-anim #Mainvis_inner .txtarea_01 .titstyle_02{
  padding-top: 10px;
  }
  #Mainvis.js-anim #Mainvis_inner .txtarea_01.type-01 p, #Mainvis #Mainvis_inner .txtarea_01 p{
    color: #FFF;
    font-size: 12px;
  }*/
}

