/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flexslider_in a:active,
.flex-container a:focus,
.flexslider a:focus,
.flexslider_in a:focus  {outline: none;}
.slides,
.slides_in,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}



/* FlexSlider Necessary Styles
*********************************/
.flexslider,
.flexslider_in {margin: 0; padding: 0;}
/*  .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

.slides_in:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides_in {display: block;}
* html .slides_in {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
.no-js .slides_in > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider,
.flexslider_in {
	margin: 0;
	position: relative;
	zoom: 1;
}
.flexslider_in {
	width:241px !important;
	height:153px !important;
	margin:0 auto;
}
	
.flex-viewport { max-height: 522px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }


.flexslider_in .flex-viewport {
	width:241px !important;
	height:153px !important;
}

.flexslider_in .flex-viewport,
.flexslider_in .slides_in > li {

}

.loading .flex-viewport { max-height: 300px; }
.flexslider .slides,
.flexslider_in .slides_in { zoom: 1; }
.carousel li { margin-right: 5px; }



/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  {
	text-decoration:none;
	display: block;
	width: 17px;
	height: 41px;
	margin: -20px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 1;
	cursor: pointer;
}
.flex-direction-nav .flex-prev { left: -22px; }
.flex-direction-nav .flex-next { right: -22px; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

.flex-direction-nav a.flex-next  {
	background:url(../images/arrow_next.png) no-repeat 0 0;
}
.flex-direction-nav a.flex-prev  {
	background:url(../images/arrow_prev.png) no-repeat 0 0;
}





/* Pause/Play */
.flex-pauseplay a {
	width: 0;
	height: 0;
	position: absolute;
	bottom: -2px;
	left: -2px;
	overflow: hidden;
	line-height:0;
}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center; }
.flex-control-nav li { display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {
	position: absolute;
	overflow: hidden;
	right:0;
	bottom:0;
	background-color:#151515;
	margin:0 5px 5px 0 !important;
	padding:5px 0 5px 5px !important;
	width:505px;
	display:table;
}
.flex-control-thumbs li {
	display: table-cell;
	width:122px !important;
	height:52px;
	margin-right:5px !important;
	padding:0 !important;
}
.flex-control-thumbs img {width: 120px; display: block; opacity: 1; cursor: pointer; border:1px solid #151515; }
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default; border:1px solid #ef0041;}