html{
	width: 100%;
	font-size: 62.5%;
}

body{
	width: 100%;
	background: #000 none;
}
img{
	width: 100%;
}
.simply-scroll{
	display: none;
}
.sp_only{
	display:block;
}

/*=====header=====*/
header{
	width: 100%;
	background:#fff none;
	border-bottom: 2px solid #f53739;
	padding: 2% 0;
	margin: 0;
	height: auto;
}

#header_logo img{
	width: 15.5%;
	height: auto;
}
#header_logo{
	padding-left: 15px;
	width: 64%;
}
#btn_language{
	width:28%;
	padding-left:4%
}
#btn_language ul {
	float: right;
	margin-right: 2.3rem;
}
#btn_language ul li a,
#btn_language ul li span{
	font-size: 1.4rem;
	padding: 1% 10% 1% 0;
	font-family: "NotoSans_Regular";
}
#btn_language ul li span,
#btn_language ul li a{
	display: block;
	margin: auto;
}
#btn_language ul li:last-child span{
	padding: 1% 0 1% 10%;
}

/*=====#contents=====*/
#contents{
	width: 100%;
	min-height: intrinsic;
	margin: 0 auto;
}
#main_title{
	position: relative;
	margin-bottom: 0;
}
#main_title h2{
	position:absolute;
	text-align: center;
	z-index: 2;
	top: 50%;
	left: 0;
	right: 0;
	width: 70%;
	margin: auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align:center;
}
#main_title h2 img{
	height: auto;
}
/*=====#tabs=====*/
#tabs{
	width: 90%;
	margin:0 auto 8%;
}
#tabs ul{
	width: 100%;
	height: 30px;
}
#tabs ul li{
	padding: 3% 0;
	font-size: 1.1rem;
}
#contents .text{
	font-size: 1.6rem;
	line-height: 2;
	width: 90%;
	text-align: left;
	margin:0 auto 12%;
	padding-bottom: 10%;
	text-align: center;
}
#contents .item-text{
	text-align: center;
	font-size:1.4rem;
	margin-bottom: 10%;
	letter-spacing: .1em;
}

.area{
	width: 90%;
	margin: auto;
}
#details{
	width: 90%;
}
.data-text dt{
	font-size: 1.5rem;
}
.data-text .big-text{
	font-size:3.0rem;
	font-weight: 700;
	vertical-align:sub;
}
#details dl{
	color: #FFF;
	border-left: 1px solid #888888;
	padding-left:5%;
	margin-right: 10%;
	display: table-cell;
	width: 53%;
	/*float: none;*/
}
#details dl:last-child{
	width: 26%;
}
#details dt{
	font-size: 1.4rem;
	font-weight:700;
	margin-bottom:5%;
}
.data-text dd{
	font-size: 1.2rem;
	letter-spacing: .15em;
}
#details dd{
	font-size: 1.0rem;
}
/*=====photo=====*/
#photo{
	width: 100%;
	margin-bottom: 5%;
}
#photo ul:before,
#photo ul:after{
	content: "";
	display: table;
}
#photo ul:after{
	clear: both;
}
#photo ul{
	width: 100%;
	margin-bottom: 10px;
}
#photo ul li{
	float: left;
	width: 31.6699%;
}
#photo ul li:nth-child(2){
	margin: 0 2.49%;
}
/*=====footer=====*/
.btn a{
	font-size: 1.6rem;
}
footer{
	border-top: 2px solid #f53739;
	background:#cac9ca none;
	padding: 3% 0;
}
address{
	text-align: center;
	font-size:1.2rem;
}
