﻿/*
	#eyecatch
------------------------------------------------*/
#eyecatch {
	width: 920px;
	height: 428px;
	position: relative;
	background: #fff;
}
#eyecatch .inner {
	width: 920px;
	height: 428px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
}
#eyecatch .copy{
	width: 920px;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 97px;
	z-index: 11;
}
#eyecatch .copy p {
	display: block;
	margin: 0 auto;
}
#eyecatch .copy p.text1 { margin-bottom: 3px; }
#eyecatch .copy p.text2 { margin-bottom: 8px; }
#eyecatch .copy p.text3 { margin-bottom: 5px; }
#eyecatch p.link {
	position: absolute;
	right: 18px;
	bottom: 18px;
	text-align: left;
	z-index: 11;
}
#eyecatch p.image {
	position: absolute;
	top: -166px;
	left: 0;
	z-index: 1;
}
#eyecatch .white {
	width: 920px;
	height: 428px;
	display: none;
	background: #fff;
	top: 0;
	left: 0;
	z-index: 12;
	position: absolute;
}
/*
	#topMainArea
------------------------------------------------*/
#topMainArea {
display:inline-block;
padding:21px 0 35px;
background:url(../images/index_bg_01.gif) no-repeat top left;
}
#topMainArea:after {
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
}
#topMainArea {
display:block;
}

#releaseBlock h2 {
margin:0 0 0 16px;
padding-top:11px;
background:none;
}

#releaseBlock {
width:609px;
background:url(../images/release_bg_02.gif) repeat top left;
line-height:1.4;
}

#releaseBlock .blockInnerTop {
background:url(../images/release_bg_01.gif) repeat-x top left;
}
#releaseBlock .blockInnerBottom {
display:inline-block;
padding-bottom:14px;
background:url(../images/release_bg_03.gif) repeat-x bottom left;
}
#releaseBlock .blockInnerBottom:after {
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
}
#releaseBlock .blockInnerBottom {
display:block;
}

#releaseBlock .head {
position:relative;
height:45px;
}
#releaseBlock p {
position:absolute;
top:13px;
right:12px;
}

#pressRelease {
margin-right:17px;
}

#whatsNew,
#pressRelease {
float:left;
width:296px;
}
#releaseBlock dl {
width:250px;
margin:12px 0 0 22px;
}
#releaseBlock dt {
font-weight:bold;
padding:10px 0 5px 0;
border-top:dotted 1px #aaa;
}
#releaseBlock dt.first {
border-top:none;
padding-top:0;
}
#releaseBlock dd {
padding:0 0 10px 0;
}


#linkArea  {
clear:both;
margin:12px 0 0 0;
width:609px;
background:url(../images/linkarea_bg_02.gif) repeat-y top left;
}
#linkArea  .blockInnerTop {
padding-top:7px;
background:url(../images/linkarea_bg_01.gif) no-repeat top left;
}
#linkArea  .blockInnerBottom {
display:inline-block;
padding:0 10px 10px;
background:url(../images/linkarea_bg_03.gif) no-repeat bottom left;
}
#linkArea  .blockInnerBottom:after {
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
}
#linkArea  .blockInnerBottom {
display:block;
}
#linkArea .linkBox {
width:273px;
}

#linkArea .linkBox p {
float:left;
}
#linkArea .linkBox ul {
float:right;
width:180px;
}
#linkArea .linkBox li li {
margin-top:3px;
}

#linkArea p a {
display:block;
}


#bannerBlockA {
border-bottom:solid 1px #aaa;
margin-bottom:15px;
}
#bannerBlockA li {
padding-bottom:10px;
}

#bannerBlockB {
}
#bannerBlockB li {
margin-top:10px;
}


#relatedLinkArea h2 {
margnin:0;
padding:0;
}

#relatedLinkArea ul {
margin:5px 0 0 10px;
width:274px;
}
#relatedLinkArea li {
padding:0.5em 0;
border-top:dotted 1px #aaa;
}
#relatedLinkArea li.first {
border-top:none;
}
