#eyecatch .inner {
	cursor: pointer;
}
#eyecatch .copy {
	top: 97px;
}
#eyecatch .copy p.text1,
#eyecatch .copy p.text2,
#eyecatch .copy p.text3,
#eyecatch p.link {
	display: none;
}
#eyecatch p.image {
	top: -41px;
}
#eyecatch .white {
	display: block;
}