@charset "utf-8";
.cFix:after {
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
a {
  text-decoration: none;
  color: #000;
}
.e-03-nav {
  background: #f5f5f5;
  padding: 15px 0 15px;
}
.e-03-nav ul {
  width: 960px;
  padding:0;
  margin: 0 auto;
}
.e-03-nav ul li {
  font-size: 14px;
  font-weight: bold;
}
.e-03-nav ul li a {
  background: url(../images/e_03_01/icn_arr.png) left center no-repeat;
  float: left;
  padding: 0 2% 0 2%;
  position: relative;
}
/*.e-03-nav ul li a:before {
  background-size: 100%;
  content: "";
  width: 7px;
  height: 8px;
  position: absolute;
  top: 30%;
  left: 2%;
}*/

.e-03-nav ul li a:hover,
.e-03-nav ul li a.act-col {
  color: #ef1a53;
}
.back-to {
  font-size: 14px;
  margin: 30px 0 -10px;
  text-align: left;
}

.e-03-inner {
  width: 87.5%;
  margin: 0 auto;
}
.e-03 {
  text-align: left;
}
.e-03 .info_section h1 {
  text-align: center;
}
.e-03_section_ttl {
  width: 89%;
  margin: 0 auto 25px;
  font-size: 22px;
  text-align: left;
}

.e-03_section_ttl {
  background: #ef1a53;
  padding: 0 3%;
  color: #fff;
  line-height: 2.3em;
  font-weight: normal;
}
.e-03 .pwd {
  width: 89%;
  margin: 0 auto 15px;
  text-align: left;
}
.e-03 .taisaku-img {
  margin-top: 40px;
}
.e-cause {
  background: #f5f5f5;
  padding: 10px 0 35px;
  margin-bottom: 20px;
}
.e-03 dl {
  margin: 0;
  text-align: left;
}
.e-cause dt {
  width: 92%;
  margin: 10px auto 10px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}
.e-cause dd {
   line-height: 1.5;
   margin-left: 5%;
}
.e-cause dd span {
  margin-left: 1.2%;
}
.e03-01 .e-measure {
  width: 89%;
  margin: auto;
  padding: 5%;
  border: 4px solid #ffaec4;
  box-sizing: border-box;
}
.e-measure dt a:link,
.e-measure dt a:visited {
  text-decoration: none !important;
}
.arrow {
  width: 13%;
  margin: 0 auto 20px;
}
.e-measure {
  margin-bottom: 40px;
}
.e-measure ul {
  padding-left: 10px;
}
.e-measure dt {
  font-weight: bold;
  font-size: 18px;
}
.e-measure dt span {
  font-weight: normal;
  font-size: 14px;
}
.e-measure dd {
  line-height: 2.3;
  margin-left: 2%;
}
.e-03 .e-measure dd p {
  line-height: 2.3;
  margin-left: 2%;
  text-indent: -0.1em;
  padding-left: 2.6em;
}
.e-measure ul li {
  line-height: 1.8;
  font-size: 14px;
}
.e-03 dd span {
  float: left;
}
.e-03 .e-cause p,.e-03 .e-measure p {
  width: 92%;
  padding-left: 2.3%;
}
.e-03 .e-cause p {
   text-indent: -1em;
   padding-left: 1em;
}
.e-measure .pdf_link {
  display: inline;
  padding: 2px;
  text-decoration: underline;
}
.e-measure .pdf_link i {
  display: inline-block;
  background: url(../images/pdf_icon.png) center no-repeat;
  background-size: cover;
  width: 13px;
  height: 13px;
  margin-left: 5px;
  vertical-align: text-top;
}
.e-point a {
  color: #000;
  text-decoration: none;
}
.e-point a span {
  border-bottom: 1px solid #000;
}
.e-point a img {
  margin: 0 0.5% 0 0.3%;
}
.e-point a span:hover {
  border-bottom: none;
  color: #ef1a53;
}
.e-point img {
  margin-bottom: 30px;
}
.e02-link {
  margin: 55px 0 25px;
}
.e02-link li {
  text-indent: -1em;
  padding-left: 1em;
  font-size: 14px;
  line-height: 1.8em;
  list-style-image: url(../images/e-list.png);
  list-style-position: inside;
  text-decoration: underline;
}

/* -------------end of pc--------------------------------- */

@media screen and (max-width: 960px) {
.e-03-nav ul {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
}
.e-03-nav ul li {
  line-height: 1.8em;
}
    #headerpop {
    /*border-bottom: none;
    padding-top:25px;*/
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 745px) {
}
