.headerpopArea{
  height: 68px;
}

img{max-width: 100%;}
ul,li{
  list-style-type: none;
}
.notice-link{
  padding-left: 15px;
  background: url(/share/images/link_icon_03.gif) no-repeat 0 4px;
}
.notice-link img{
  vertical-align: middle;
  margin-left: 5px;
}
.notice-link a:hover{
  text-decoration: none;
}

.popcontents{
  margin: 0 auto;
  width: 960px;
  font-size: 14px;
}
.main_section{
  margin: 60px 0 30px;
}
.main_section .main_pdf {
  width: 420px;
  margin: 10px auto 50px auto;
}

.main_section .main_pdf a:hover {
  opacity: 0.8;
}

.press_section .h2_title h2{
  margin-bottom: 20px;
  border-left: 4px solid #f2003c;
}

.popcontents .press_section{
  height: auto;
  margin: 0 0 50px;
}
.press_section dl{
  text-align: left;
  margin-bottom: 15px;
}
.press_section dt,
.press_section dd{
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.press_section dt{
  width: 17%;
}
.press_section dd{
  width: 82%;
}

.info_section{
  padding: 30px 0;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 1px solid #cac9ca;
  text-align: center;
}
.info_section h1{
  width: 89%;
  margin: 0 auto;
  border-bottom: 2px solid #cac9ca;
  padding-bottom: 35px;
  margin-bottom: 45px;
  font-size: 2rem;
  font-weight: 700;
}
.info_section h1 span{font-size: 1.2rem;}
.info_section .inner{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.8;
}
.info_section .inner p{
  margin-bottom: 1.5rem;
}
.info_section .inner p .notice{
  font-size: .8rem;
}
.tel-number1{
  margin-bottom: 20px;
}
.info_section h3{
  margin-bottom: 25px;
}
.linkStd{
  text-align: right;
}
.linkStd.ta-l{
  text-align: left;
}
.linkStd.mt40 p{ margin-top: 15px; }
.linkStd p {margin-top: 1em;}
.linkStd a.point{ color: #4460dd; }
.linkStd a:hover.point{ text-decoration: none; }
.linkStd span {
    display: inline-block;
    font-size: 13px;
    padding-left: 15px;
    background: url(/share/images/link_icon_03.gif) no-repeat 0 0.3em;
}
.ta-r{text-align: right;}

/* acrobat */
div.GetAcrobat {
border:1px solid #cbcbcb;
margin:25px 0;
padding:10px;
width:auto;
display:inline-table;
height:1%;
}
div.GetAcrobat:after {
content:".";
display: block;
height:0px;
clear:both;
visibility:hidden;
line-height: 0;
}
div.GetAcrobat .adobeLeft {
display:inline;
float:left;
width:80%;
}
div.GetAcrobat .adobeRight {
display:inline;
float:right;
}
div.GetAcrobat {
display:block;
}

/*==========

   0929

===========*/
.page_top {
  position: relative;
  padding-bottom: 70px;
}
.page_top a {
  position: absolute;
  right: 0;
  top: 0;
}


.info_section .ant-txt {
  font-size: 0.9em;
}

@media screen and (max-width: 960px) {
  body{
    font-family: Arial,Verdana,sans-serif;
  }
  .popcontents{
    width: 94%;
    margin: 0 auto;
  }
  .popcontents .main_section{
    width: 100%;
    margin: 60px auto 1rem;
    box-sizing: border-box;

  }
  .main_section .main_pdf{
    width: 82%;
    margin: 0 auto 13%;
  }
  .info_section h1 {
      width: 98%;
      margin: 0 auto;
      border-bottom: 3px solid #cac9ca;
      padding-bottom: 1.5rem;
      margin-bottom: 1.8rem;
      font-size: 1.2rem;
      font-weight: 700;
  }
  .info_section h1 span {
      font-size: 1rem;
      display: inline;
  }
  .info_section .inner {
      width: 95%;
  }
  .popcontents .press_section{
    width: 100%;
    height: auto;
    padding: 0 2%;
    box-sizing: border-box;
  }

  .press_section dl{
    margin-bottom: 15px;
  }

  .press_section dt,
  .press_section dd{
    display: block;
    width: 100%;
  }
  .press_section dt{
    margin-bottom: .2rem;
  }
  .info_section{
    padding: 5% 3%;
  }
  .info_section h3, .info_section .tel-number {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
  .info_section p{
    text-align: left;
  }
  .info_section p.ta-r{
    text-align: right;
  }
  .info_section span{
    display: block;
  }
  span.spNone{
    display: none;
  }

  #footerpop .copyrightArea {
    font-size: 1.1rem;
    text-align: center;
  }

  .tel-number1 {
    text-align: center !important;
  }


  /*==========

     0929

  ===========*/
  .page_top {
    width: 100%;
    padding: 0 0 22%;
  }
  .page_top a {
    width: 10%;
    display: block;
    height: auto;
    text-align: right;
  }

  .page_top a img {
    width: 100%;
  }

}
