@charset "UTF-8";
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */html{
font-family:sans-serif;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%
}
html{
height:100%;
}
body{
height:100%;
margin:0
min-width:1229px;
}
div{
min-width:1229px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
display:block
}
audio,canvas,progress,video{
display:inline-block;
vertical-align:baseline
}
audio:not([controls]){
display:none;
height:0
}
[hidden],template{
display:none
}
a{
background:0 0
}
a:active,a:hover{
outline:0
}
abbr[title]{
border-bottom:1px dotted
}
b,strong{
font-weight:700
}
dfn{
font-style:italic
}
h1{
font-size:2em;
margin:.67em 0
}
mark{
background:#ff0;
color:#000
}
small{
font-size:80%
}
sub,sup{
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline
}
sup{
top:-.5em
}
sub{
bottom:-.25em
}
img{
border:0
}
svg:not(:root){
overflow:hidden
}
figure{
margin:1em 40px
}
hr{
-moz-box-sizing:content-box;
box-sizing:content-box;
height:0
}
pre{
overflow:auto
}
code,kbd,pre,samp{
font-family:monospace,monospace;
font-size:1em
}
button,input,optgroup,select,textarea{
color:inherit;
font:inherit;
margin:0
}
button{
overflow:visible
}
button,select{
text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
-webkit-appearance:button;
cursor:pointer
}
button[disabled],html input[disabled]{
cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
border:0;
padding:0
}
input{
line-height:normal
}
input[type=checkbox],input[type=radio]{
box-sizing:border-box;
padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
height:auto
}
input[type=search]{
-webkit-appearance:textfield;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
-webkit-appearance:none
}
fieldset{
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em
}
legend{
border:0;
padding:0
}
textarea{
overflow:auto
}
optgroup{
font-weight:700
}
table{
border-collapse:collapse;
border-spacing:0
}
td,th{
padding:0
}
body{
background:#fff;
color:#333;
font-family:"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",sans-serif;
font-size:16px
}
li,ol,ul{
margin:0;
padding:0;
list-style:none
}
a{
color:inherit;
text-decoration:none
}
.clearfix:after{
content:"";
display:table;
clear:both
}
.flex-container a:active,.flex-container a:focus,.flexslider a:active,.flexslider a:focus{
outline:0
}
.flex-control-nav,.flex-direction-nav,.slides{
margin:0;
padding:0;
list-style:none
}
@font-face{
font-family:flexslider-icon;
src:url(fonts/flexslider-icon.eot);
src:url(fonts/flexslider-icon.eot?#iefix) format("embedded-opentype"),url(fonts/flexslider-icon.woff) format("woff"),url(fonts/flexslider-icon.ttf) format("truetype"),url(fonts/flexslider-icon.svg#flexslider-icon) format("svg");
font-weight:400;
font-style:normal
}
.flexslider{
padding:0
}
.flexslider .slides>li{
display:none;
-webkit-backface-visibility:hidden
}
.flexslider .slides img{
width:100%;
display:block
}
.flex-pauseplay span{
text-transform:capitalize
}
.slides:after{
content:"\0020";
display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0
}
html[xmlns] .slides{
display:block
}
* html .slides{
height:1%
}
.no-js .slides>li:first-child{
display:block
}
.flexslider{
margin:0 0 60px;
background:#fff;
border:4px solid #fff;
position:relative;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-o-border-radius:4px;
border-radius:4px;
-webkit-box-shadow:0 1px 4px rgba(0,0,0,.2);
-moz-box-shadow:0 1px 4px rgba(0,0,0,.2);
-o-box-shadow:0 1px 4px rgba(0,0,0,.2);
box-shadow:0 1px 4px rgba(0,0,0,.2);
zoom:1
}
.flex-viewport{
max-height:2000px;
-webkit-transition:all 1s ease;
-moz-transition:all 1s ease;
-o-transition:all 1s ease;
transition:all 1s ease
}
.loading .flex-viewport{
max-height:300px
}
.flexslider .slides{
zoom:1
}
.carousel li{
margin-right:5px
}
.flex-direction-nav{
*height:0
}
.flex-direction-nav a{
text-decoration:none;
display:block;
width:40px;
height:40px;
margin:-20px 0 0;
position:absolute;
top:50%;
z-index:10;
overflow:hidden;
opacity:0;
cursor:pointer;
color:rgba(0,0,0,.8);
text-shadow:1px 1px 0 rgba(255,255,255,.3);
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
transition:all .3s ease
}
.flex-direction-nav .flex-prev{
left:-50px
}
.flex-direction-nav .flex-next{
right:-50px;
text-align:right
}
.flexslider:hover .flex-prev{
opacity:.7;
left:10px
}
.flexslider:hover .flex-next{
opacity:.7;
right:10px
}
.flexslider:hover .flex-next:hover,.flexslider:hover .flex-prev:hover{
opacity:1
}
.flex-direction-nav .flex-disabled{
opacity:0!important;
filter:alpha(opacity=0);
cursor:default
}
.flex-direction-nav a:before{
font-family:flexslider-icon;
font-size:40px;
line-height:1;
display:inline-block;
content:'\f001'
}
.flex-direction-nav a.flex-next:before{
content:'\f002'
}
.flex-pauseplay a{
display:block;
width:20px;
height:20px;
position:absolute;
bottom:5px;
left:10px;
opacity:.8;
z-index:10;
overflow:hidden;
cursor:pointer;
color:#000
}
.flex-pauseplay a:before{
font-family:flexslider-icon;
font-size:20px;
display:inline-block;
content:'\f004'
}
.flex-pauseplay a:hover{
opacity:1
}
.flex-pauseplay a.flex-play:before{
content:'\f003'
}
.flex-control-nav{
width:100%;
position:absolute;
bottom:-40px;
text-align:center
}
.flex-control-nav li{
margin:0 12px;
display:inline-block;
zoom:1;
*display:inline
}
.flex-control-paging li a{
width:11px;
height:11px;
display:block;
background:url(../img/main/pager.png) no-repeat center;
cursor:pointer;
text-indent:-9999px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
-o-border-radius:20px;
border-radius:20px
}
.flex-control-paging li a:hover{
background:url(../img/main/pager_act.png) no-repeat center
}
.flex-control-paging li a.flex-active{
background:url(../img/main/pager_act.png) no-repeat center;
cursor:default
}
.flex-control-thumbs{
margin:5px 0 0;
position:static;
overflow:hidden
}
.flex-control-thumbs li{
width:25%;
float:left;
margin:0
}
.flex-control-thumbs img{
width:100%;
display:block;
opacity:.7;
cursor:pointer
}
.flex-control-thumbs img:hover{
opacity:1
}
.flex-control-thumbs .flex-active{
opacity:1;
cursor:default
}
@media screen and (max-width:860px){
.flex-direction-nav .flex-prev{
opacity:1;
left:10px
}
.flex-direction-nav .flex-next{
opacity:1;
right:10px
}

}
.g_header{
height:67px;
border-bottom:1px solid #ef0041;
background:#FFF;
overflow:hidden
}
.g_header .logo{
height:55px;
padding:10px 0 0 14px;
border-bottom:2px solid #cac9ca
}
.page_nav{
background:#58130e;
position:relative;
z-index:3;
width:100%;
top:0;
left:0
}
.page_nav.fixed{
position:fixed
}
.page_nav ul{
width:1229px;
margin:0 auto;
overflow:hidden
}
.page_nav ul li{
/*width:410px;*/
float:left;
}
.page_nav ul li a{
display:block;
height:70px;
line-height:1;
text-align:center
}
.page_nav ul li a:hover{
background:#FFF
}
.page_nav ul li a:hover img:first-child{
display:none
}
.page_nav ul li a:hover img:first-child+img{
display:inline
}
.page_nav ul li a.active{
background:#FFF
}
.page_nav ul li a.active img:first-child{
display:none
}
.page_nav ul li a.active img:first-child+img{
display:inline
}
.page_nav ul li a img{
vertical-align:middle
}
.page_nav ul li a img:first-child+img{
display:none
}
.g_footer{
border-top:1px solid #EF0041;
background:#CAC9CA;
overflow:hidden
}
.g_footer .copyright{
margin:0;
text-align:right;
padding-right:1em
}
.g_footer .copyright small{
font-size:13px
}
.link_btn{
text-align:center;
margin:32px 0 0
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
background:url(../img/main/modal_bg_alpha.png);
width:100%;
height:100%;
z-index:100
}
.modal .close_wrap{
position:fixed;
width:834px;
top:2%;
left:50%;
margin-left:-417px;
text-align:right
}
.modal_conte{
text-align:center;
color:#FFF;
padding:0 0 32px;
background:#000
}
.modal_conte>img{
margin:25px auto 10px;
display:block
}
.modal_conte>p{
font-size:14px;
line-height:2;
margin:0 auto 5px;
width:560px;
text-align:left
}
.modal_conte p.copy{
font-size:16px;
font-weight:700;
text-align:center
}
.modal_conte .bold{
font-weight:700;
font-size:15px
}
.modal_conte .under{
margin:0 auto 15px
}
.modal_conte .underlast{
margin-bottom:20px
}
.modal_conte table{
width:560px;
margin:0 auto
}
.modal_conte table th{
font-weight:400;
border:1px solid #fff;
text-align:center;
padding:5px 0
}
.modal_conte table th:first-child{
width:100px
}
.modal_conte table td{
width:385px;
border:1px solid #fff;
text-align:left;
text-align:center;
font-size:14px;
padding:5px 0
}
.modal_conte table td:first-child{
width:100px
}
.modalG{
display:none;
position:fixed;
top:0;
left:0;
background:url(../img/main/modal_bg_alpha.png);
width:100%;
height:100%;
z-index:100
}
.modalG_inner{
height:100%
}
.modalG .close_wrap{
position:absolute;
top:50%;left:50%;
margin-left:340px;
margin-top:290px
}
.modalG_conte{
text-align:center;
color:#FFF;
padding:0 0 32px;
background:#000
}
.gallery{
min-width:auto;
position:absolute;
top:50%;
left:50%;
width:800px;
text-align:center;
margin-left:-400px;
margin-top:-240px
}
.gallery_nav_btn{
position:absolute;
top:50%;
margin-top:-16px;
cursor:pointer
}
.gallery_nav_btn.prev{
left:8px
}
.gallery_nav_btn.next{
right:8px
}
.m_close_wrap{
display:inline;
vertical-align:top;
margin-left:16px
}
.m_close_wrap img{
vertical-align:top
}
body>iframe{
display:none
}
.load_img{
display:block;
height:85%;
background:#000000
}
.load_img img{
position: absolute;
top:50%;
left:50%
}
.main_bg{
background:#000000;
}
.main_conte{
background:#000000;
display:none;
}
.top_conte.fixed{
padding-top:70px
}
.top_conte_bg{
height:2070px;
overflow:hidden;
background:#000000 url("../img/main/bg_top_conte.jpg") no-repeat center;
}
.join_us{
padding-top:70px;
margin-top:-70px;
}
.join_us_bg{
height:2937px;
overflow:hidden;
background:#000000 url("../img/main/bg_join_us.jpg") no-repeat center;
}
.concept_car{
padding-top:70px;
margin-top:-70px;
}
.concept_car_bg{
height:3504px;
overflow:hidden;
background:#000000 url("../img/main/bg_concept_car.jpg") no-repeat center;
}
.concept_car_top{
height:825px;
overflow:hidden;
}
.concept_car_xr{
height:1275px;
overflow:hidden;
}
.concept_car_s{
height:1403px;
overflow:hidden;
}
.concept_car_img{
width:1229px;
height:722px;
margin:127px auto 0px;
}
.xr_img_area{
width:1229px;
height:791px;
margin:127px auto 0px;
}
.xr_movie_area{
width:637px;
height:357px;
margin:0px auto;
}
.xr_movie_area .movie{
text-align:right;
width:637px;
height:357px;
}
.s_img_area{
width:1229px;
height:791px;
margin:127px auto 0px;
}
.s_movie_area{
width:637px;
height:357px;
margin:0px auto;
}
.s_movie_area .movie{
text-align:right;
width:637px;
height:357px;
}
.location{
padding-top:70px;
margin-top:-70px;
}
.movie_modal_inner{
width:860px;
position:relative;
text-align:center;
top:50%;
margin:-225px auto 0
}

.location_bg{
height:1185px;
overflow:hidden;
background:#000000 url("../img/main/bg_location.jpg") no-repeat center;
}
.location_conte{
height:990px;
}

.jp_en_link{
color:#FFFFFF;
width:1170px;
margin:30px auto;
text-align:right;
}
.jp_en_link span{
color:#FF0000;
}
.jp_en_link a{
color:#FFFFFF;
text-decoration:none;
}
.jp_en_link a:hover{
color:#FF0000;
text-decoration:none;
}

.share_link{
width:1170px;
margin:30px auto;
text-align:center;
}
.share_link a{
margin:0 10px;
}
.concept_xr_main{
height:1868px;
overflow:hidden;
background:#000000 url("../img/main/bg_concept_xr.jpg") no-repeat center;
}
.concept_s_main{
height:1868px;
overflow:hidden;
background:#000000 url("../img/main/bg_concept_s.jpg") no-repeat center;
}
.img_area{
width:1229px;
height:792px;
margin:127px auto 10px;
}

.thumb_area{
min-width:auto;
width:1190px;
margin:58px auto 0px;
}

.thumb_area ul{
margin:0px 55px;
}

.thumb_area ul li{
margin:10px 4px;
float:left;
}
.text_area{
width:1229px;
margin:0 auto 1628px;
}
.tt1{
margin-top:210px;
margin-left:100px;

}
.tt2{
width:615px;
height:708px;
line-height:28px;
font-weight:bold;
color:#4d4d4d;
font-size:13px;
margin-top:330px;
margin-left:99px;
}
.tt3{
margin:58px 105px 0;
}
.tt4{
margin:23px 200px 0 95px;
line-height:28px;
font-weight:bold;
color:#ffffff;
font-size:13px;
}
.tt5{
text-align:right;
margin:20px 100px 0;
}
.tt6 {
  margin: 1450px 100px 0px 150px;
}
.tt7 {
  margin: 0px 100px 0px 150px;
}
