@charset "utf-8";

#dirPath { background: #EEE;}
#dirPath .dirpath_inner { width: 960px; height:10px; margin: 0 auto; padding:8px 0 11px; }
#dirPath ul li { display:inline; float:left; font-size:12px; color:#525252; font-weight: bold;}
#dirPath ul li a { margin-right:0.5em; background:url(../images/icon_dirpath.png) no-repeat right center; padding-right:12px; color:#0085B2; font-weight: bold; text-decoration: none;}
#Main { padding-top:120px; }
#Main .titlearea01,
#Mainvis .titlearea01 { text-align:center;}
#Main h2,
#Mainvis h2 { text-align: center;}
#Main h2 span.super, 
#Mainvis h2 span.super{ font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:6px; display:block; font-weight:bold;}
#Main h2 span.mtxt,
#Mainvis h2 span.mtxt { font-size:56px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1;}
#Main h2.titlestyle01,
#Mainvis h2.titlestyle01 { display:inline-block; border-bottom:solid 1px #DCDCDC; }
#Main .titlearea01 h2.titlestyle01 { padding: 0 20px 5px;}

/* =========================================================
 ◆ Design Page CSS
========================================================= */
/* 追加分 */

/* Web Font [AlternateGothicCom-No2] */
.design #Mainvis h2 span.mtxt, .design .mow h2, .design .mow .balance h3, .design .exterior h2, .design .exterior ul li figure h3, .design .interior h2, .design .interior h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

/* Web Font [Helvetica] */
.design #Mainvis h2 span.super, .design #Mainvis ul.bxslider01 li figcaption { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; }

/* header fix */
.design header { position: fixed; z-index: 1000; }

/* Main */
.design #Mainvis { background:url(../../design/images/bg_gradation.png) repeat-x left bottom #fff; margin-bottom:0px; padding-bottom:50px; }
.design #Mainvis #Mainvis_inner { width:960px; position: relative; margin:0 auto; padding-top:58px; }
.design #Mainvis h2 { margin:0 auto 7px; }
.design #Mainvis ul.bxslider01 { height:401px; overflow:hidden; }
.design #Mainvis ul.bxslider01 li { width:auto; float:left; }
.design #Mainvis ul.bxslider01 li figure img { margin-bottom: 18px; }
.design #Mainvis ul.bxslider01 li figcaption { font-size:12px; color:#666; line-height:1.2; text-align: center; }

.design .section_wrap { background:#fff; padding:59px 0 0; }
.design .mow { width:960px; background:url(../../design/images/bg_gradation_mow.png) repeat-x left top #f2faff; margin:0 auto 95px; }
.design .mow .mow_inner { padding:56px 30px 60px; }

.design .mow .mow_inner_L { width: 600px; float:left; }
.design .mow .mow_inner_R { width: 267px; float:right; }

.design .mow h2 { font-size:48px; color:#333; line-height:1; margin-bottom:37px; text-align: left !important; }
.design .mow p.mow_read { font-size:16px; color:#666; line-height:22.5px; }
.design .mow .lowco2 h3 { font-size:32px; color:#666; line-height:1; letter-spacing:0.3px; margin-bottom:30px; padding-bottom:8px; border-bottom:solid 1px #ddd; }
.design .mow .lowco2 .img_left { width:240px; float: left; padding: 10px 0 0 50px; }
.design .mow .lowco2 .txt_right { width:600px; float:right; }
.design .mow .lowco2 .txt_right p { margin-bottom: 15px; font-size:16px; color:#666; line-height:22.5px; }
.design .mow .lowco2 .txt_right p.last { margin-bottom:0;}
.design .mow .lowco2 .txt_right .txtstyle_01 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }
.design .mow .lowco2 .txt_right img { display:none; }

.design .exterior { width:960px; margin:0 auto 48px; }
.design .exterior h2 { font-size:48px; color:#333; line-height:1; margin-bottom:39px; text-align: left !important; }
.design .exterior ul li { width:300px; float:left; margin:0 30px 42px 0; }
.design .exterior ul li figure img { margin-bottom: 12px; }
.design .exterior ul li figure h3{ font-size:24px; color:#333; line-height:1; margin-bottom:2px; }
.design .exterior ul li figure p{ font-size:16px; color:#666; line-height:22.5px;}
.design .exterior .txtstyle_01 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }

.design .interior { background: #000; }
.design .interior .interior_inner { width:960px; margin:0 auto; padding:53px 0 125px; }
.design .interior h2 { font-size:56px; color:#fff; line-height:1; text-align:center; width:185px; border-bottom:solid 1px #666; margin:0 auto 34px; padding-bottom:4px; }
.design .interior h3 { font-size:48px; color:#999; line-height:1; text-align:center; margin-bottom:1px; }
.design .interior p { font-size:16px; color:#ccc; line-height:22.5px; width:690px; margin:0 auto 46px; }
.design .interior .interior_slider { margin-bottom: 60px; }

.design .interior h4 { font-size:32px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; padding: 30px 0 6px; border-bottom: 1px solid #666; margin-bottom: 30px; }
.design .interior .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#FFF; margin-bottom:7px; }

/* 修正分20140911 */
.design .interior .seat_panel h3 { margin-bottom:30px; }
.design .interior .seat_panel .l_box01 { width:465px; display:inline; float:left; margin-right:30px; }
.design .interior .seat_panel .r_box01 { width:465px; display:inline; float:left; }
.design .interior .seat_panel .l_box01 p { color:#FFFFFF; }



.design .interior .seat_panel ul.relaxbox { margin-bottom:30px; }
.design .interior .seat_panel ul.relaxbox li { width:300px; float:left; margin:0 30px 0 0; }
.design .interior .seat_panel ul.relaxbox li figure img { margin-bottom: 12px; }
.design .interior .seat_panel ul.relaxbox li figure h5{ font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#999999; margin-bottom:7px; }
.design .interior .seat_panel ul.relaxbox li figure p{ font-size:16px; color:#666; line-height:22.5px;}
.design .interior .seat_panel ul.relaxbox .txtstyle_01 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }
.design .interior .seat_panel ul.ride_list li { color: #999999; }



.design .interior ul.seat_panel_list.last { margin-bottom:0; }
.design .interior ul.seat_panel_list li { width:465px; display:inline; float:left; margin:0 30px 20px 0; }
.design .interior ul.seat_panel_list li.even_img { margin-right:0; }
.design .interior ul.seat_panel_list li.last { margin-bottom:0; }

.design .interior .left_img { width:465px; display:inline; float:left; margin-right:30px; }
.design .interior .right_img { width:465px; display:inline; float:left; }
.design .interior .txtstyle_01 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }
/* 修正分20140911 */
.design .interior .txtstyle_02 { font-size:16px; color:#ccc; line-height:22.5px; width:465px; }

#highlights { margin-top: -200px; padding-top: 200px; }

/* =========================================================
 ◆ Models Page CSS
========================================================= */
.models #dirPath { margin-bottom: 58px;}
.models .titlearea01 { margin-bottom: 16px;}
.models .titlearea01 .titlestyle02 { border-bottom:none;}
.models .models_tab { width: 960px; margin: 0 auto;}
.models .models_tab #Tabs { margin-bottom: 100px;}
.models .models_tab .tabList { background: url(../../models/images/models_tab_bg.png) left bottom repeat-x; }

.models .models_tab .tabList li { display: inline; float: left; background: #EEEEEE; margin-right: 10px; width: 183px; }
/*.models .models_tab .tabList li:first-child { width: 312px; }*/
.models .models_tab .tabList li.active { background: #FFF; }
.models .models_tab .tabList li.last { margin-right: 0; float: right; }
.models .models_tab .tabList li a { font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 24px; color: #666666; text-decoration: none; padding: 15px 0; display: block; text-align: center; border: 1px solid #EEEEEE; border-bottom: 1px solid #d7d7d7; }
.models .models_tab .tabList li a:hover { background: #e1e1e1; border-color: #e1e1e1; }
.models .models_tab .tabList li.active a { border: 1px solid #D7D7D7; border-bottom: none; color: #333; border-bottom: 1px solid #FFFFFF;  }
.models .models_tab .tabList li.active a:hover { background: #FFF; }

.models .models_tab .tabBox { border-right: solid 1px #D7D7D7; border-bottom: solid 1px #D7D7D7; border-left: solid 1px #D7D7D7;}
.models .models_tab .tabBox .img_area { margin-bottom: 43px;}
.models .models_tab .tabBox .img_area .img_area_l { width: 518px; padding: 61px 25px 0 86px; display: inline; float: left;} 
.models .models_tab .tabBox .img_area .img_area_l .model_name { margin-bottom: 10px;font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 28px; color: #666; }
.models .models_tab .tabBox .img_area .img_area_r { width: 270px; padding: 41px 29px 0 30px; display: inline; float: left;}
.models .models_tab .tabBox .img_area .img_area_r a { display: block; position:relative; outline:none; }
.models .models_tab .tabBox .img_area .img_area_r a .image { position:relative; top:0; left:0; }
.models .models_tab .tabBox .img_area .img_area_r a .zoom { position:absolute; right:10px; bottom:10px; }
.models .models_tab .tabBox .img_area .img_area_r .img_inner_l {margin-bottom: 20px;}
.models .models_tab .tabBox .txt_area { width: 900px; margin: 0 auto 50px;}
.models .models_tab .tabBox .txt_area .tit_area { padding-bottom: 9px; margin-bottom: 27px; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 28px; color: #666; border-bottom: solid 1px #DDDDDD;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner { display: inline; float: left; width: 842px; padding-left: 13px; margin-right: 30px;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner02 { width: 416px; padding-left: 18px; margin-right: 0;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner li { margin-bottom: 8px; line-height:22.5px; font-size: 16px; list-style-image: url(../../models/images/icon_list.png);}
.models .models_tab .tabBox .txt_area .spec_list_wrap .memo { clear: both; padding-top: 10px; }
.models .models_tab .tabBox .txt_area .spec_list_wrap .memo p { font-size:12px; font-style:italic; color:#999; line-height:1.4; }
.models .models_tab .tabBox .logo_sportero img { display:inline; width:195px; height:auto; padding-left:10px; }

/* =========================================================
 ◆ performance CSS
========================================================= */
.perfomance #Mainvis { margin-bottom:60px; padding-top:0; }
.perfomance #dirPath { padding-top:120px; }
.perfomance #Main { padding-top:0; }
.perfomance #Mainvis h2 { text-align: left; }
.perfomance #Mainvis h2 span.mtxt { font-size: 72px; color:#FFFFFF; }
.perfomance #Mainvis { width:100%; overflow:hidden;}
.perfomance #Mainvis #Mainvis_inner { width:100%;}
.perfomance #Mainvis .titlearea01 { margin-bottom: 3px; }
.perfomance #Mainvis #Mainvis_inner .mainimg { width:100%; height:760px; margin:0 auto; background:url(../../performance/images/bg_main.png) center top no-repeat; }

.perfomance #Mainvis #Mainvis_inner .mainimg .mainimg_inner { position: relative; width:960px; margin:0 auto; }
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { display:none; }
.perfomance #Mainvis_inner .mainimg .txtarea_main { position: absolute; top: 50px; left: 0; width:520px; }
.perfomance #Mainvis_inner .mainimg .txtarea_main p { width:520px; text-align:left; font-size:14px; margin-left:0; color:#FFFFFF; line-height: 22.5px; }
.perfomance #Mainvis_inner .mainimg .txtarea_main .titlearea01 { text-align: left; }

.perfomance .txtstyle_01 { font-size:16px; color:#666666; line-height:22.5px; }
.perfomance .txtstyle_02 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }
.perfomance .txtstyle_03 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; border-bottom:solid 1px #DDDDDD; padding-bottom:4px; }
/* 追加分20140911 */
.perfomance .txtstyle_04 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:24px; color:#333; }
.perfomance .txtstyle_05 { font-size:14px; color:#666; }
.perfomance .txtstyle_06 { font-size:16px; color:#FFF; line-height:22.5px; }
.perfomance .txtstyle_center { text-align:center }

/* super_select_box */
.perfomance .super_select_box { width:960px; margin:0 auto 40px; }
.perfomance .super_select_box .super_select_box_L { width:300px; float:left; margin-right:30px; }
.perfomance .super_select_box .super_select_box_R { width:630px; float:left; }

/* road_box */
.perfomance .road_box { width:910px; margin:0 auto 40px; background-color: #E7E3DA; padding:25px; }
.perfomance .road_box_inner li { float:left; width:217px; margin-right:14px; text-align:left; }
.perfomance .road_box_inner li.last { margin-right:0; }
.perfomance .road_box_lock_logo { margin-bottom:20px; }
.perfomance .road_box_lock_logo img { height:54px; }

/* easy_select_box */
.perfomance .easy_select_box { width:960px; margin:0 auto 40px; }
.perfomance .easy_select_box .easy_select_box_L { width:300px; float:left; margin-right:30px; }
.perfomance .easy_select_box .easy_select_box_R { width:630px; float:left; }

/* all_terrain_box */
.perfomance .all_terrain_box { width:960px; margin:0 auto 40px; background-color:#F2F2F2; }
.perfomance .all_terrain_box .all_terrain_box_inner { padding:25px; }
.perfomance .all_terrain_box .all_terrain_angle { margin-bottom:30px; }
.perfomance .all_terrain_box .all_terrain_angle_text { float:left; width: 440px; }
.perfomance .all_terrain_box .all_terrain_angle_img { float:right; width: 440px; }

/* suspension_box */
.perfomance .suspension_box { width:960px; margin:0 auto 30px; }
.perfomance .suspension_box .suspension_box_L { width:465px; float:left; }
.perfomance .suspension_box .suspension_box_R { width:465px; float:right; }

/* steering_hybrid_box */
.perfomance .steering_hybrid_box { width:960px; margin:0 auto 50px; }
.perfomance .steering_hybrid_box .steering_hybrid_box_L { width:465px; float:left; }
.perfomance .steering_hybrid_box .steering_hybrid_box_R { width:465px; float:right; }
.perfomance .steering_hybrid_box .steering_hybrid_box_img { margin-bottom: 10px; }

/* .LSD_box */
.perfomance .LSD_box .LSD_box_L { width:260px; float:left; }
.perfomance .LSD_box .LSD_box_R { width:170px; float:right; }


/* dynamic_power_box */
.perfomance .dynamic_power_box { width:960px; margin:0 auto 50px; padding: 368px 0 70px; background: url(../../performance/images/bg_dynamic_pc.png) 0 0 no-repeat #000; }
.perfomance .dynamic_power_box h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:48px; color:#FFF; line-height:1; margin-bottom:10px; text-align: left !important; }
.perfomance .dynamic_power_box_L { width:297px; float:left; margin-left:70px; }
.perfomance .dynamic_power_box_R{ width:480px; float:right; margin-right:60px; }

/* doch_box */
.perfomance .doch_box { width:960px; margin:0 auto 50px; }
.perfomance .doch_box .txtstyle_04 { color:#666; }
.perfomance .doch_box h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:48px; color:#333; line-height:1; margin-bottom:10px; }
.perfomance .doch_box_400 { margin-bottom:30px; }
.perfomance .doch_box_400_L { width:630px; float:left; margin-right:30px; }
.perfomance .doch_box_400_R { width:300px; float:right; }
.perfomance .doch_box_model li { float:left; width:217px; margin-right:30px; }
.perfomance .doch_box_model li.last { margin-right:0; }
.perfomance .doch_box_model .doch_box_model_img { padding-bottom:15px; }

/* sohc_box */
.perfomance .sohc_box { width:960px; margin:0 auto 90px; }
.perfomance .sohc_box h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:48px; color:#333; line-height:1; margin-bottom:10px; }
.perfomance .sohc_box_layout { margin-bottom:30px; }
.perfomance .sohc_box_layout_L { width:465px; float:left; }
.perfomance .sohc_box_layout_R { width:465px; float:right; }
.perfomance .sohc_box_list li { float:left; width:300px; margin:0 30px 42px 0; }
.perfomance .sohc_box_list li.last { margin-right:0; }
.perfomance .sohc_box_list li figure img { margin-bottom: 12px; }
.perfomance .sohc_box_list li figure h3 { font-size:24px; color:#333; line-height: 1; margin-bottom:5px; padding-bottom: 0; }
.perfomance .sohc_box_list li figure p{ font-size:16px; color:#666; line-height:22.5px;}


/* =========================================================
 ◆ gallery CSS
========================================================= */
.gallery #Main .titlearea01 { margin-bottom:45px;}
.gallery #Main .scenes_inner { width:960px; margin:0 auto 0px; padding:58px 0 121px;}
.gallery #Main .scenes_inner #flexslider { position: relative; padding-bottom: 27px; } 
.gallery #Main .scenes_inner #carousel { position: relative; width: 870px; margin: 0 auto; } 
.gallery #Main .scenes_inner #carousel .slides li { height: 91px; float:left; display:inline; cursor: pointer; }
.gallery #Main .scenes_inner #carousel .slides li img { height: 85px; margin-right:14px; }
.gallery #Main .scenes_inner #carousel .slides li.last img { margin-right:0;}
.gallery #Main .scenes_inner #carousel .slides li.flex-active-slide img { border: solid 3px #858585; }
.gallery #Main .scenes_inner #carousel li img { display: inline;}
.gallery #Main .movie { background: #EEE;}
.gallery #Main .movie .movie_inner { width: 960px; padding: 53px 0 90px; margin: 0 auto;}
.gallery #Main .movie .movie_inner .titlearea01 { margin-bottom:40px; }
.gallery #Main .movie .movie_inner .movie_main {width: 712px; height: 400px; margin: 0 auto; position: relative;}
.gallery #Main .movie .movie_inner .movie_main.first {margin-bottom: 30px;}
.gallery #Main .movie .movie_inner .movie_thumb {width: 712px; height: 400px; position: absolute; left: 0; top: 0; z-index: 2; cursor: pointer; background: #EEE;}
.gallery #Main .movie .movie_inner .movie_thumb img { opacity: 1;}
.gallery #Main .movie .movie_inner .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1;}
.gallery #Main .movie .movie_inner .movie_youtube  iframe { visibility:hidden; }
.gallery #Main .views360 { background: url(../../gallery/images/bg_views360.png) repeat-x left bottom #fff;}
.gallery #Main .views360 .views360_inner { padding-top: 53px; padding-bottom: 70px;}
.gallery #Main .views360 .views360_inner .titlearea01 { margin-bottom:0; }
.gallery #Main .views360 .views360_inner .views360_main { width: 960px; margin: 0 auto; position: relative;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area { width: 900px; height: 400px; margin: 0 auto; position: relative; cursor: url(../../gallery/images/rotate/icon_cursor.png), e-resize;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area .loading_img { width: 20px; height: 20px; position: absolute; top: 50%; left: 50%; margin-left: -10px; margin-top: -10px; background: url(../../gallery/images/rotate/load.gif) no-repeat left top;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img { visibility: hidden;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img.current-img { visibility: visible; width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area #Loading_list img.previous-img { visibility: hidden; width:0;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav {}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_left { position: absolute; top: 164px; right: 0;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_right { position: absolute; top: 164px; left: 1px;}

/* 追加分20140909 */
.gallery .flex-direction-nav a:link,
.gallery .flex-direction-nav a:visited,
.gallery .flex-direction-nav a:active,
.gallery .flex-direction-nav a:hover { outline: none; }


/* =========================================================
 ◆ Safety CSS
========================================================= */
.safety #Main h2 span.mtxt { font-size: 72px; }
.safety #Main h3,
.safety #Main h4,
.safety #Main h5 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.safety #Main h3 { font-size:32px; color:#666666; padding-bottom: 6px; border-bottom: 1px solid #DDDDDD; margin-bottom: 30px; }

.safety #Main .section_wrap p { font-size:16px; color: #666666; line-height:22.5px; }
.safety #Main .section_wrap section { width: 960px; margin: 0 auto 40px; }

.safety #Main .cont_head { margin-bottom: 30px; }
.safety #Main .cont_head .cont_head_inner { padding-top: 60px; } 
.safety #Main .cont_head .cont_head_inner p { width: 705px; margin: 0 auto; font-size:16px; color: #666666; line-height:22.5px; }

/* rise body */
.safety #Main .rise_body .main_img { width: 800px; margin:0 auto 30px auto; }

.safety #Main .safety_list .safety_list_box01 { margin-bottom:50px }
.safety #Main .safety_list.last .safety_list_box01 { margin-bottom:100px }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_L { width: 465px; display: inline; float: left; margin-right: 30px; }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_R { width: 465px; display: inline; float: left; }
.safety #Main .safety_list h4 { font-size: 24px; color: #333333; }
.safety #Main .safety_list img { margin-bottom: 10px; }

.safety #Main .airbags { margin-bottom:52px !important; }
.safety #Main .airbags .airbags_box01 { margin-bottom:50px }
.safety #Main .airbags .airbags_box01.last { margin-bottom:0 }
.safety #Main .airbags .airbags_box01 .airbags_box_L { width: 300px; display: inline; float: left; margin-right: 30px; }
.safety #Main .airbags .airbags_box01 .airbags_box_R { width: 630px; display: inline; float: left; }
.safety #Main .airbags h4 { font-size: 24px; color: #333333; }
.safety #Main .airbags img { margin-bottom: 9px; }

.safety #Main .acc { margin-bottom:50px !important; }
.safety #Main .acc .acclist {}
.safety #Main .acc .acclist li { width: 300px; display: inline; float: left; margin-right: 30px; }
.safety #Main .acc .acclist li.last { margin-right: 0; }
.safety #Main .acc .acclist li figure {}
.safety #Main .acc .acclist li figure img { margin-bottom: 9px; }
.safety #Main .acc .acclist li.last figure { margin-bottom: 15px; }
.safety #Main .acc .acclist li.last figure img { margin-bottom: 7px; }
/*.safety #Main .acc .acclist li.last figure p { font-style: italic; font-size: 12px; color: #999999; line-height:1.4; }*/
.safety #Main .acc .acclist li figure figcaption h4 { font-size: 24px; color: #333333; }

.safety #Main .fcm { margin-bottom:100px !important; }
.safety #Main .fcm .fcm_box01 {}
.safety #Main .fcm .fcm_box01 .fcm_box01_L { width: 630px; display: inline; float: left; margin-right: 30px; }
.safety #Main .fcm .fcm_box01 .fcm_box01_L figure {}
.safety #Main .fcm .fcm_box01 .fcm_box01_L figure img { margin-bottom: 10px; }
.safety #Main .fcm .fcm_box01 .fcm_box01_R { width: 300px; display: inline; float: left; }
.safety #Main .fcm .fcm_box01 .fcm_box01_R figure { margin-bottom: 15px; }
.safety #Main .fcm .fcm_box01 .fcm_box01_R figure img { margin-bottom: 4px; }
/*.safety #Main .fcm .fcm_box01 .fcm_box01_R figure p { font-style: italic; font-size: 12px; color: #999999; line-height:1.4; }*/

.safety #Main p.txtstyle_01 { font-style: italic; font-size: 12px; color: #999999; }


/* =========================================================
 ◆ Reliability CSS
========================================================= */
.reliability .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; margin-bottom:7px; }
.reliability .txtstyle_01 { font-size:16px; color:#666666; line-height:22.5px; }
.reliability .txtstyle_02 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:24px; color:#333; }
.reliability .txtstyle_03 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:32px; color:#666666; padding-bottom: 6px; border-bottom: 1px solid #DDDDDD; margin-bottom: 30px; }


.reliability #Mainvis { padding-top:0; }
.reliability #dirPath { padding-top:120px; }
.reliability #Main { padding-top:0; }
.reliability #Mainvis { width:100%; overflow:hidden; margin-bottom:60px;}
.reliability #Mainvis_inner { width:100%;}
.reliability #Mainvis_inner .mainimg { width:100%; margin:0 auto; background:url(../../reliability/images/bg_main.png) center top no-repeat #2F291E; }
.reliability #Mainvis_inner .mainimg_inner { width:960px; margin:0 auto; }

.reliability #Mainvis_inner .txtarea_main01 { text-align:center; width:750px; padding-top:58px; margin:0 auto; }
.reliability #Mainvis_inner .txtarea_main02 { padding: 530px 0 40px 0; text-align:left; width:900px; }
.reliability #Mainvis_inner .txtarea_main02 p { font-size:16px; color:#FFF; line-height: 22.5px; }
.reliability #Mainvis_inner .txtarea_main02 h2{ text-align:left; }
.reliability #Mainvis_inner .txtarea_main02 h2 span.mtxt { font-size: 72px; color:#FFF; }

/* rise_body */
.reliability .rise_body { position:relative; width: 960px; margin: 0 auto 40px; }
.reliability .rise_body_text { position:absolute; top:0; left:0; width:300px; }
.reliability .rise_body_text h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:48px; color:#333; line-height:1; margin-bottom:10px; }
.reliability .rise_body_img { padding:60px 0 0 160px; }

/* suspension_box */
.reliability .suspension_box { width: 960px; margin: 0 auto 40px; }
.reliability .suspension_box .suspension_box_L { width:465px; float:left; }
.reliability .suspension_box .suspension_box_R { width:465px; float:right; }

/* spare_box */
.reliability .spare_box { width:960px; margin:0 auto 90px; }
.reliability .spare_box .spare_box_L { width:465px; display:inline; float:left; margin-right:30px; }
.reliability .spare_box .spare_box_R { width:465px; display:inline; float:left; }
.reliability .spare_box .spare_box_img { padding-bottom:10px; }
.reliability .spare_box .txtstyle_01 { margin-bottom:25px; }
.reliability .spare_box .cab_box { margin-bottom: 40px; }

/* durable_box */
.reliability .durable_box { margin-bottom: 40px; }
.reliability .durable_box .durable_box_L { width:465px; float:left; }
.reliability .durable_box .durable_box_R { width:465px; float:right;  }

/* hooks_box */
.reliability .hooks_box { margin-bottom: 40px; }
.reliability .hooks_box .hooks_box_L { width:465px; float:left; }
.reliability .hooks_box .hooks_box_R { width:465px; float:right;  }
.reliability .hooks_box .hooks_box_img { padding-bottom:10px; }

/* cargo_box */
.reliability .cargo_box { width:960px; margin:0 auto 90px; }
.reliability .cargo_box .cargo_box_L { width:465px; float:left; margin-right:30px; }
.reliability .cargo_box .cargo_box_R { width:465px; float:left; }
.reliability .cargo_box .cargo_box_img { padding-bottom:10px; }
.reliability .cargo_box .txtstyle_01 { margin-bottom:25px; }

/* convenience_box_box */
.reliability .rodust_box { width:960px; margin:0 auto 50px; }
.reliability .rodust_box li { float:left; width:300px; margin:0 30px 0 0; }
.reliability .rodust_box li.last { margin-right:0; }
.reliability .rodust_box li figure img { margin-bottom: 12px; }




/* =========================================================
 ◆ utility-entertainment CSS
========================================================= */
.utility #Main h2 span.mtxt { font-size: 72px; }
.utility #Main h3,
.utility #Main h4,
.utility #Main h5 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
.utility #Main h3 { font-size:32px; color:#666666; padding-bottom: 6px; border-bottom: 1px solid #DDDDDD; margin-bottom: 30px; }

.utility #Main { padding-top:60px; }
.utility #dirPath {  padding-top:120px; }

.utility .titlearea01 { margin-bottom:58px; }
.utility .titlearea01 p { width: 705px; margin: 0 auto; font-size:16px; color: #666666; line-height:22.5px; text-align:left; }

.utility .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; margin-bottom:7px; }
.utility .txtstyle_01 { font-size:16px; color:#666666; line-height:22.5px; }
.utility .txtstyle_02 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }

/* convenience_box_box */
.utility .convenience_box { width:960px; margin:0 auto 50px; }
.utility .convenience_box li { float:left; width:300px; margin:0 30px 42px 0; }
.utility .convenience_box li.last { margin-right:0; }
.utility .convenience_box li figure img { margin-bottom: 12px; }
.utility #Main .convenience_box li figure h3{ font-size:24px; color:#333; line-height: 1; border-bottom: none; margin-bottom:2px; padding-bottom: 0; }
.utility .convenience_box li figure p{ font-size:16px; color:#666; line-height:22.5px;}



.utility .convenience_box .convenience_audio_main_img { margin-bottom:30px; }
.utility .convenience_box .convenience_audio_box { margin-bottom:40px; }
.utility .convenience_box .convenience_audio_box_L { float:left; width:465px; }
.utility .convenience_box .convenience_audio_box_R { float:right; width:465px; }
.utility .convenience_box .convenience_audio_text_list li { float:none; width:100%; margin:0; }
.utility .convenience_box .convenience_audio_text_list li .titstyle_01 { margin-bottom: 0; line-height:1.4; }

.utility .convenience_box .convenience_audio_img_list { margin-bottom: 0; }
.utility .convenience_box .convenience_audio_img_list li { float:left; width:225px; margin:0 15px 15px 0; }
.utility .convenience_box .convenience_audio_img_list li img { width:100%; height:auto; }



.utility .convenience_box .keyless_list li { float:left; margin-bottom: 0; }
.utility .convenience_box .keyless_list li.img { width: 217px; }
.utility .convenience_box .keyless_list li.text { width: 217px; }

/* standard_box_box */
.utility .standard_box { width:960px; margin:0 auto 50px; }
.utility .standard_box .standard_box_L { width:465px; display:inline; float:left; margin-right:30px; }
.utility .standard_box .standard_box_R { width:465px; display:inline; float:left; }
.utility .standard_box .standard_img { padding-bottom:10px; }

/* feature_box */
.utility .feature_box { width:960px; margin:0 auto 50px; }
.utility .feature_box .etacs_box { background-color:#F2F2F2; padding:25px; }
.utility .feature_box .etacs_box_L { width:440px; display:inline; float:left; margin-right:30px; }
.utility .feature_box .etacs_box_R { width:440px; display:inline; float:left; }
.utility .feature_box .etacs_box_L li,
.utility .feature_box .etacs_box_R li { margin-bottom:30px; }
.utility .feature_box .etacs_box_L .etacs_inner_L,
.utility .feature_box .etacs_box_R .etacs_inner_L { width:100px; display:inline; float:left; margin-right:20px; }
.utility .feature_box .etacs_box_L .etacs_inner_R,
.utility .feature_box .etacs_box_R .etacs_inner_R { width:320px; display:inline; float:left; }

/* =========================================================
 ◆ Entertainment Page CSS
========================================================= */

/* Web Font [AlternateGothicCom-No2] */
.entertainment h2,
.entertainment h3,
.entertainment p span.h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
/* Web Font [Helvetica] */
.entertainment p,
.entertainment .sound_system_list li { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; font-size:16px; color:#666; line-height:22.5px; }

/* Main */
.entertainment .titlearea01 { width:960px; position:relative; margin:0 auto; padding-top:58px; }
.entertainment .titlearea01 { font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:6px; display:block; font-weight:bold; }

.entertainment .section_wrap { background:#fff; padding:58px 0 100px; }
.entertainment .entry_block { width:960px; margin:0 auto 0px; }
.entertainment .entry_block ul { margin-bottom:25px; }
.entertainment .entry_block ul li { width:300px; float:left; margin:0 30px 46px 0; }
.entertainment .entry_block ul li figure img { margin-bottom:12px; }
.entertainment .entry_block ul li figure figcaption h3 { font-size:24px; color:#333; line-height:1; margin-bottom:3px; }
.entertainment .entry_block p.note { font-size:12px; color: #999999; line-height:1.2; margin-bottom:45px; font-style: italic; }

.entertainment .entry_block .audio_block { margin-bottom:60px; }
.entertainment .entry_block .audio_block.last { margin-bottom:0;}
.entertainment .entry_block .audio_block .main_img { width:630px; float:left; }
.entertainment .entry_block .audio_block .caption_block { width:300px; float:right; }
.entertainment .entry_block .audio_block .caption_block h3 { font-size:24px; color:#333; line-height:1; margin-bottom:3px; }
.entertainment .entry_block .audio_block .caption_block p.txt { margin-bottom:29px; }
.entertainment .entry_block .audio_block .caption_block p.italic_title { font-size:12px; font-style:italic; line-height:1.2; color: #999999; }
.entertainment .entry_block .audio_block .caption_block img { margin-bottom:9px;}
.entertainment .registered { font-size:70%; vertical-align:super; }

/* =========================================================
 ◆ Specifications Page CSS
========================================================= */
/* Web Font [AlternateGothicCom-No2] */
.specifications h3,
.specifications .warning p.tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }
/* Web Font [Helvetica] */
.specifications th, .specifications td { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; font-size:16px; color:#666; line-height:22.5px; }

/* Main */
.specifications .titlearea01 { margin-bottom:52px; }
.specifications section.wrap { width:960px; padding:59px 0 0; margin:0 auto 96px; }

/* section_header */
.specifications .section_head { margin-bottom: 7px; }
.specifications .section_head h3 { width:auto; float:left; font-size:24px; color:#333; line-height:1.4; letter-spacing:0.4px;}
.specifications .section_head .check_wrap { width:auto; float:right; padding-top:11px; }
.specifications .section_head .check_wrap ul li { width:auto; float:left; background-repeat:no-repeat; background-position:0px 3px; -webkit-background-size: 10px; background-size: 10px; font-size:14px; color:#333; line-height:1.2; padding-left:17px; margin-right:16px; }
.specifications .section_head .check_wrap ul li.last { margin-right:0; }
.specifications .section_head .check_wrap ul li.available { background-image: url(../../specifications/images/icon_standard.png);  }
.specifications .section_head .check_wrap ul li.standard { background-image: url(../../specifications/images/icon_standard.png); }
.specifications .section_head .check_wrap ul li.optional { background-image: url(../../specifications/images/icon_optional.png); }
.specifications .section_head .check_wrap ul li.not_available { background-image: url(../../specifications/images/icon_not.png); }

/* table cell  */
.specifications .table_wrap { width:100%; }
.specifications table { width:100%; table-layout: fixed; border-collapse: collapse; border-top:solid 1px #333; }
.specifications th,
.specifications td { border-style:solid; font-size:14px; color:#333; line-height:1.4; }
.specifications th { border-width:1px 1px 0 0; vertical-align:top; padding:11px 16px 12px; }
.specifications td { border-width:1px 0 0 1px; text-align:center; vertical-align:middle; padding:11px 0 12px; }
.specifications th.tit { width:270px; font-weight:bold; padding-left:0; }
.specifications th.sub_th { padding-left:7px; }
.specifications th.fixed { width:16px; border-width:1px 0 0 0 !important; padding:0 !important; line-height:22.5px; }
.specifications th i { font-size:12px; color:#666; }
.specifications td img.icon { display:inline; width:10px; vertical-align:middle; }
.specifications td.note { padding-left: 0.3em;}

/* table border  */
.specifications tbody.type_01.last { border-bottom:solid 1px #dddddd; }
.specifications tbody.type_02.last { border-bottom:solid 1px #cccccc; }

/* table bg color  */
.specifications tbody.type_01 th,
.specifications tbody.type_01 td { border-color:#dddddd; }
.specifications tbody.type_01 th { background: #f5f5f5; }
.specifications tbody.type_01 td { background: #fafafa; }
.specifications tbody.type_02 td,
.specifications tbody.type_02 th { border-color:#cccccc; }
.specifications tbody.type_02 th { background: #e5e5e5; }
.specifications tbody.type_02 td { background: #eeeeee; }

/* car figure  */
.specifications p.note { font-size:12px; font-style:italic; color:#999; line-height:1.4; margin:12px 0 38px;}
.specifications .dimensional .section_head { margin-bottom:23px; }
.specifications .dimensional figure .ttl { font-size:14px; color:#666; line-height:1.2; text-align: left; font-weight:bold; }
.specifications .dimensional figure { margin-bottom:25px; }
.specifications .dimensional figure.last { margin-bottom:0; }
.specifications .dimensional figure img { }
.specifications .dimensional figure figcaption { margin-top:5px; font-size:12px; font-style:italic; color:#999; line-height:1.2; text-align: left; }
.specifications .dimensional { margin-bottom: 40px; }

/* table 微調整 */
.specifications .exterior table th,
.specifications .exterior table td { word-break:break-all; }
.specifications th.ttl { width:270px; font-weight:bold; padding-left:0; }
.specifications th.th01 { width:28%; }
.specifications .exterior th.ttl { width:30%; }
.specifications .standard th.ttl { width:20%; }
.specifications .technical th.ttl { width:14%; }

.specifications th.th-01 { width:26%; }
.specifications .standard th.tit { width:12%; }
.specifications .technical th.tit { width:14%; }

.specifications table .brn { border-right:none !important; }
.specifications table .bln { border-left:none !important; }
.specifications .standard th.center { text-align:center; vertical-align:middle; }

/* table sp pdf */
.specifications .sp_pdf_dl { width: 99.2907%; margin: 0 auto;}
.specifications .sp_pdf_dl .sp_dl_btn { margin-bottom: 15px;}
.specifications .sp_pdf_dl p.note { font-size: 12px; font-style: italic; color: #999; line-height: 1.4; margin: 12px 0 0;}

/* specifications_tab */
.specifications .specifications_tab { width: 960px; margin: 0 auto;}
.specifications .specifications_tab #Tabs { margin-bottom: 50px;}

.specifications .specifications_tab .tabList { background: url(../../specifications/images/specifications_tab_bg.png) left bottom repeat-x; }
.specifications .specifications_tab .tabList li { display: inline; float: left; background: #EEEEEE; margin-right: 30px; width: 300px; }
.specifications .specifications_tab .tabList li.active { background: #FFF; }
.specifications .specifications_tab .tabList li.last { margin-right: 0; float: right; }
.specifications .specifications_tab .tabList li a { font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 24px; color: #666666; text-decoration: none; padding: 15px 0; display: block; text-align: center; border: 1px solid #EEEEEE; border-bottom: 1px solid #d7d7d7; }
.specifications .specifications_tab .tabList li a:hover { background: #e1e1e1; border-color: #e1e1e1; }
.specifications .specifications_tab .tabList li.active a { border: 1px solid #D7D7D7; border-bottom: none; color: #333; border-bottom: 1px solid #FFFFFF;  }
.specifications .specifications_tab .tabList li.active a:hover { background: #FFF; }

.specifications .specifications_tab .tabBox { border-right: solid 1px #D7D7D7; border-bottom: solid 1px #D7D7D7; border-left: solid 1px #D7D7D7;}
.specifications .specifications_tab .tabBox .tab_cont { padding: 50px 10px 0 10px;}

.specifications .coming_soon { padding: 110px 0 145px 0; font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:15px !important; line-height:1.0; text-align:center; }

.specifications .catalogimg a { display:inline; }
.specifications .catalogimg img { display:inline; }
.specifications .catalogimg { margin-bottom:30px; }


/* =========================================================
 ◆ Accessories Page CSS
========================================================= */
/* Web Font [AlternateGothicCom-No2] */
.accessories #Mainvis h2 span.mtxt,
.accessories .interior_inner h2,
.accessories .interior h2,
.accessories .bed h2,
.accessories .electric h2 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; }

/* Web Font [Helvetica] */
.accessories #Mainvis h2 span.super, .accessories #Mainvis ul.bxslider01 li figcaption { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; }
.accessories p { font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; font-size:16px; color:#666; line-height:22.5px; }
.accessories .note { font-size:12px; font-style:italic; color:#999; line-height:1.4; margin:12px 0 0;}

/* header fix */
.accessories header { position: fixed; z-index: 1000; }

/* Main */
.accessories #Mainvis { background:url(../../accessories/images/bg_gradation.png) repeat-x left bottom #fff; margin-bottom:0px; padding-bottom:50px; }
.accessories #Mainvis #Mainvis_inner { width:960px; position: relative; margin:0 auto; padding-top:58px; }
.accessories #Mainvis h2 { margin:0 auto 35px; }

.accessories #Mainvis .main_img { width:846px; margin:0 auto; }
.accessories #Mainvis .sub_img { width:846px; margin: 0 auto; }

.accessories #Mainvis .exterior_box_R { width:465px; display:inline; float:left; margin-left:30px; }
.accessories #Mainvis .exterior_box_L { width:465px; display:inline; float:left; padding-top:40px; }

.accessories .slides p { font-size:15px; color:#333; line-height:1.4; text-align:center; margin:10px 0 0; }
.accessories .interior .slides p,
.accessories .electric .slides p { font-size:15px; color:#999; line-height:1.4; text-align:center; margin:10px 0 0; }

.accessories .exterior_slide { background: #FFF; }
.accessories .exterior_slide .exterior_slide_inner { width:960px; margin:0 auto; padding:80px 0 100px; }
.accessories .exterior_slide h2 { display:inline-block; font-size:56px; color:#333; line-height:1; text-align:center; border-bottom:solid 1px #DCDCDC; margin:0 auto 34px; padding: 0 20px 4px; }

.accessories .interior { background: #000; }
.accessories .interior .interior_inner { width:960px; margin:0 auto; padding:53px 0 100px; }
.accessories .interior h2 { display:inline-block; font-size:56px; color:#FFF !important; line-height:1; text-align:center; border-bottom:solid 1px #DCDCDC; margin:0 auto 34px; padding: 0 20px 4px; }
.accessories .interior h2.titlestyle01 span.mtxt { color:#FFF !important; }

.accessories .bed { background: #FFF; }
.accessories .bed .bed_inner { width:960px; margin:0 auto; padding:53px 0 50px; }
.accessories .bed h2 { display:inline-block; font-size:56px; color:#333; line-height:1; text-align:center; border-bottom:solid 1px #DCDCDC; margin:0 auto 34px; padding: 0 20px 4px; }

.accessories .electric { background: #000; }
.accessories .electric .electric_inner { width:960px; margin:0 auto; padding:53px 0 50px; }
.accessories .electric h2 { display:inline-block; font-size:56px; color:#333; line-height:1; text-align:center; border-bottom:solid 1px #DCDCDC; margin:0 auto 34px; padding: 0 20px 4px; }
.accessories .electric h2.titlestyle01 span.mtxt { color:#FFF !important; }

.accessories .flex-direction-nav a:link,
.accessories .flex-direction-nav a:visited,
.accessories .flex-direction-nav a:active,
.accessories .flex-direction-nav a:hover { outline: none; }

.accessories .page_caption { width:960px; margin:0 auto; padding:0 0 100px; font-size:12px; font-style:italic; color:#999; line-height:1.4; }

/* =========================================================
 ◆ catalog CSS
========================================================= */
.catalog #dirPath { padding-top:120px; }
.catalog #Main { padding-top:59px; }
.catalog #Mainvis { padding-top:0; }
.catalog .titlearea01 { margin-bottom:60px; }
.catalog .catalogarea { width:960px; margin:0 auto; }
.catalogimg { margin-bottom:9px; }
.catalogimg_sp { display:none; }
/* .catalogimg .downloadbtn { width:217px; height:45px; position:absolute; bottom:0; } */
.catalogbox a:hover { opacity:0.7; }
.catalogbox .catalog_tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; font-size:24px; }
.catalogbox .language { color:#666666; font-size:16px; }
.catalogbox .catalog-models { color:#666666; font-size:14px; }
.catalog .note { font-size:12px; font-style:italic; color:#999; line-height:1.4; margin:12px 0 0;}

.catalog .titstyle_01 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; border-bottom:solid 1px #DDDDDD; padding-bottom:4px; }
.catalog .catalogbox ul.catalogList { margin-bottom:30px; }
.catalog .catalogbox .type_ab img { width:40px; height:15px; }

.catalogbox ul li { display:inline; float:left; margin-right:30px; }
.catalogbox ul li.first { margin-bottom:40px; }
.catalogbox ul li.last { margin-right:0 !important; }
.catalogarea .titstyle_03 { font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:30px; line-height:1.0; }
.catalogarea .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom:4px;}
.catalogarea .f_box { display:inline; width:465px; float:left; }
.catalog01 { margin-bottom:42px; }
.catalog02 { margin-bottom:90px; }
.gcc { margin-right:30px; }

.catalog .coming_soon { padding: 100px 0 200px 0; font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:15px !important; line-height:1.0; text-align:center; }



