﻿@charset "utf-8";
/* =========================================================
 ◆ Responsive TOP PAGE CSS
========================================================= */

/* screens default
***************************************/

/* screens smaller than 1440
***************************************/
@media screen and (max-width: 1440px){


}

/* screens smaller than 960
***************************************/
@media screen and (max-width: 960px){


}

/* screens smaller than 768
**************************************/
@media screen and (max-width: 767px){

#dirPath { display:none; }

#Head { position: fixed; max-width: none; min-width: 0; }
#Gnav { position: fixed; max-width: none; min-width: 0; top: 0; }
#Main { padding-top: 50px; }
.old_android #Main { padding-top: 0; }

#Main .titlearea01 h2.titlestyle01 { padding: 0 14px;}
#Main h2 span.super,
#Mainvis h2 span.super{ font-size:14px; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9; color:#E50012; line-height:1; margin-bottom:9px; display:block; font-weight:bold;}
#Main h2 span.mtxt,
#Mainvis h2 span.mtxt { font-size:37px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333; line-height:1;}
.titlearea01 { padding-top:26px !important; }

/* =========================================================
 ◆ performance CSS
========================================================= */
/*.perfomance #Main { margin-bottom: 50px; padding-top: 0; }*/
.perfomance #Main { margin-bottom: 0; padding-top: 0; }
.perfomance #Mainvis { width:100%; overflow:hidden; margin-bottom:50px; padding-top:50px; }
.old_android #Mainvis { padding-top: 0; }
.perfomance #Mainvis .titlearea01 { margin-bottom: 7px; }
.perfomance #Mainvis h2 { text-align: center; }
.perfomance #Mainvis h2 span.mtxt { font-size: 45px; color:#333; }

.perfomance #Mainvis #Mainvis_inner { width:100%; }
.perfomance #Mainvis #Mainvis_inner .mainimg { width:100%; height:560px; margin:0 auto; background:url(../../performance/images/bg_main_sp.png) center bottom no-repeat; -webkit-background-size: cover !important; background-size: cover !important; }

.perfomance #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100% !important; height:auto; margin:0 auto; }
.perfomance #Mainvis #Mainvis_inner .mainimg .imgstyle_01 { display:none; }
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 { width:100% !important; height:auto; margin:0 auto; display:block !important;}
.perfomance #Mainvis #Mainvis_inner .mainimg .sp_imgstyle_01 img{ width:100% !important; height:auto;}
.perfomance #Mainvis_inner .mainimg .txtarea_main { position: static; text-align:center; width:auto; padding:0 6.25% !important;}
.perfomance #Mainvis_inner .mainimg .txtarea_main p { text-align:left; font-size: 14px; color:#666; margin-left:0 !important; width:auto; margin-bottom:23px; }

/* super_select_box */
.perfomance .super_select_box { width:87.5%; margin:0 auto 30px; }
.perfomance .super_select_box .super_select_box_L { width:100%; margin-right: 0; margin-bottom:10px; }
.perfomance .super_select_box .super_select_box_R { width:100%; }

/* road_box */
.perfomance .road_box { width:87.5%; margin:0 auto 30px; padding: 0; }
.perfomance .road_box_inner { padding: 20px; }
.perfomance .road_box_inner li { width:100%; margin-right: 0; margin-bottom:20px; }
.perfomance .road_box_inner li.last { margin-bottom:0; }
.perfomance .road_box_lock_logo { margin-bottom:15px; }
.perfomance .road_box_lock_logo img { height:60px; }

/* easy_select_box */
.perfomance .easy_select_box { width:87.5%; margin:0 auto 30px; }
.perfomance .easy_select_box .easy_select_box_L { width:100%; margin-right: 0; margin-bottom:10px; }
.perfomance .easy_select_box .easy_select_box_R { width:100%; }

/* all_terrain_box */
.perfomance .all_terrain_box { width:87.5%; margin:0 auto 30px; }
.perfomance .all_terrain_box .all_terrain_box_inner { padding:20px; }
.perfomance .all_terrain_box .all_terrain_angle { margin-bottom:30px; }
.perfomance .all_terrain_box .all_terrain_angle_text { float:none; width:100%; margin-left: 0; }
.perfomance .all_terrain_box .all_terrain_angle_img { float:none; width:100%; }

/* suspension_box */
.perfomance .suspension_box { width:87.5%; margin:0 auto 30px; }
.perfomance .suspension_box .suspension_box_L { width:100%; margin-bottom:10px; }
.perfomance .suspension_box .suspension_box_R { width:100%; }

/* steering_hybrid_box */
.perfomance .steering_hybrid_box { width:87.5%; margin:0 auto 35px; }
.perfomance .steering_hybrid_box .steering_hybrid_box_L { width:100%; }
.perfomance .steering_hybrid_box .steering_hybrid_box_R { width:100%; }
.perfomance .steering_hybrid_box .steering_hybrid_box_img { margin-bottom: 10px; }
.steering_hybrid_box_img.SP img { margin-bottom: 15px; }
.txtstyle_01.SP { max-width: 100%; }
.txtstyle_01.SP img { width: 100%; margin-bottom: 15px; }

/* .LSD_box */
.perfomance .LSD_box .LSD_box_L { width:100%; margin-bottom:30px; }
.perfomance .LSD_box .LSD_box_R { width:100%;  }


/* dynamic_power_box */
.perfomance .dynamic_power_box { width:87.5%; margin:0 auto 40px; padding: 170px 0 20px; background: url(../../performance/images/bg_dynamic_sp.png) 0 0 no-repeat #000; -webkit-background-size: cover !important; background-size: cover !important; }
.perfomance .dynamic_power_box_inner { padding: 0 20px; }
.perfomance .dynamic_power_box h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:28px; color:#FFF; line-height:1; margin-bottom:10px; text-align: left !important; }
.perfomance .dynamic_power_box_L { width:100%; float:none; margin: 0 0 20px 0; }
.perfomance .dynamic_power_box_L img { width:60%; }
.perfomance .dynamic_power_box_R{ width:100%; float:none; margin-right:0; }

/* doch_box */
.perfomance .doch_box { width:87.5%; margin:0 auto 40px; }
.perfomance .doch_box .txtstyle_04 { margin-bottom:10px; color:#666; line-height:1; }
.perfomance .doch_box .txtstyle_01 { margin-bottom:10px; }
.perfomance .doch_box h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:32px; color:#333; line-height:1; margin-bottom:15px; }
.perfomance .doch_box_400 { margin-bottom:30px; }
.perfomance .doch_box_400_L { width:100%; float:none; margin-right:0; }
.perfomance .doch_box_400_R { width:100%; float:none; }
.perfomance .doch_box_400_R img { width:70%; margin: 0 auto; }
.perfomance .doch_box_model li { width:100%; margin-right: 0; margin-bottom:20px; }
.perfomance .doch_box_model li.last { margin-bottom:0; }
.perfomance .sohc_box_layout_R.doch_box_217,
.perfomance .doch_box_217 { margin-bottom:30px; }
.perfomance .doch_box_217_L { width:100%; float:none; margin-right:0; }
.perfomance .doch_box_217_R { width:100%; float:none; }
.perfomance .doch_box_217_R img { width:70%; margin: 0 auto; }

/* sohc_box */
.perfomance .sohc_box { width:87.5%; margin:0 auto 55px; }
.perfomance .sohc_box h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:32px; color:#333; line-height:1; margin-bottom:15px; }
.perfomance .sohc_box_layout { margin-bottom:30px; }
.perfomance .sohc_box_layout_L { width:100%; float:none; margin-bottom:20px; }
.perfomance .sohc_box_layout_R { width:100%; float:none; }
.perfomance .sohc_box_list li { width:100%; float:none; margin:0 0 20px; }
.perfomance .sohc_box_list li.last { margin-bottom: 0; }
.perfomance .sohc_box_list li figure img { margin-bottom: 10px; width: 100%; }
.perfomance .sohc_box_list li figure h3{ font-size:24px; color:#333; line-height: 1; border-bottom: none; margin-bottom:2px; padding-bottom: 0; }
.perfomance .sohc_box_list li figure p{ font-size:16px; color:#666; line-height:22.5px;}


/* =========================================================
 ◆ Models Page CSS
========================================================= */
.models .titlearea01 { padding-top: 25px; margin-bottom: 13px;}
.models .models_tab { width: 87.5%; margin: 0 auto 48px;}
.models .models_tab #Tabs {margin-bottom: 0;}
.models .sort_box { margin-bottom: 20px;}
.models .sort_box .sort_name { display: block; background: #EEEEEE; -webkit-box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); cursor: pointer; position: relative; z-index: 50; padding: 12px 0; }
.models .sort_box .sort_name span { display: block; font-size: 123.1%; line-height: 1.2; width: 91%; margin: 0 auto; background: url(../../models/images/sort_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
.models .sort_box .sort_name span.active { background: url(../../models/images/sort_name_close.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; }
.models .sort_box .sort_btn { background: #EEEEEE; position: relative; z-index: 10; width: 100%; display: none; }
.models .sort_box .sort_btn li { width: 100%; display: block; float: none; margin-right: 0px; background: #EEEEEE; text-align: center; border: none; border-bottom: 1px solid #FFFFFF; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 44px; }

.models .sort_box .sort_btn li.last { border-right:none;}
.models .sort_box .sort_btn li a { display: block; color: #333333; text-decoration: none; font-size:138.5%; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.models .sort_box .sort_btn li.active { background: #D2D2D2; }
.models .models_tab .tabBox { border: none;}
.models .models_tab .tabBox .img_area { margin-bottom: 20px;}
.models .models_tab .tabBox .img_area .img_area_l { display: block; float: none; width: 97%; padding: 0; margin: 0 auto 15px;}
.models .models_tab .tabBox .img_area .img_area_l .model_name { margin-bottom: 10px;font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 24px; color: #666; }
.models .models_tab .tabBox .img_area .img_area_r { display: block; float: none; width: 100%; padding: 0;}

.models .models_tab .tabBox .img_area .img_area_r a { cursor:default; }
.models .models_tab .tabBox .img_area .img_area_r a img { width:100%; }
.models .models_tab .tabBox .img_area .img_area_r a .zoom { display: none; }

.models .models_tab .tabBox .img_area .img_area_r .img_inner_l { width: 100%; margin-right:0; margin-bottom: 10px; }
.models .models_tab .tabBox .img_area .img_area_r .img_inner_r { width: 100%; }
.models .models_tab .tabBox .txt_area { width: 100%; margin-bottom: 0;}
.models .models_tab .tabBox .txt_area .tit_area { padding-bottom: 2px; margin-bottom: 11px; font-size: 182%;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner { display: block; float: none;  width: 95%; margin: 0; padding-left: 4.6%;}
.models .models_tab .tabBox .txt_area .spec_list_wrap .spec_list_inner li { font-size: 108%;}
.models .models_tab .tabBox .logo_sportero img { display:block; width:130px; height:auto; padding-left:0; padding-top:10px; }



/* =========================================================
 ◆ Design Page CSS
========================================================= */
.design #Mainvis { padding-bottom:20px; }
.design #Mainvis #Mainvis_inner { width:100%; padding-top: 0; }
.design #Mainvis h2 { margin-bottom:24px; }
.design #Main .titlearea01 h2.titlestyle01 { padding-bottom:2px; }
.design .section_wrap { padding:25px 4.5% 0; }

.design .mow { width:100%; margin-bottom:56px; }
.design .mow .mow_inner { padding:27px 5.6% 30px; }
.design .mow .mow_inner_L { width: 100%; margin-bottom:15px; }
.design .mow .mow_inner_R { width: 72%; margin:0 auto; float:none; }

.design .mow h2 { font-size:28px; margin-bottom:5px; }

.design .exterior { width:96%; margin-bottom:55px; }
.design .exterior h2 { font-size:28px; margin-bottom:19px; }
.design .exterior ul li { width:100%; float:none; margin:0 0 20px; }
.design .exterior ul li.last { margin-bottom: 0; }
.design .exterior ul li figure figcaption { height:auto !important; }
.design .exterior ul li figure img { margin-bottom: 10px; width: 100%; }
.design .exterior ul li figure h3{ font-size:21px; margin-bottom:0; }

.design .interior .interior_inner { width:100%; padding:25px 0 31px; }
.design .interior h2 { font-size:36px; padding-bottom:2px; width:130px; margin-bottom:22px; }
.design .interior h3 { font-size:27px; text-align:left; width:87%; margin:0 auto 7px; }
.design .interior p { width:87%; margin-bottom:25px; }
.design .interior .seat_panel { width: 87.5%; margin: 0 auto 15px; }

/* 修正分20140911 */
.design .interior .seat_panel h3 { margin-bottom:15px; width: 100%; }
.design .interior .seat_panel .relaxbox { margin-bottom:30px; }
.design .interior .seat_panel .l_box01 { width:100%; margin-bottom: 0;  }
.design .interior .seat_panel .r_box01 { width:100%; }
.design .interior .txtstyle_02 { width:100%; }


.design .interior .seat_panel ul.relaxbox { margin-bottom:30px; }
.design .interior .seat_panel ul.relaxbox li { width:100%;; float:none; margin:0 0 20px 0; }
.design .interior .seat_panel ul.relaxbox li.last {  margin-bottom:0px; }
.design .interior .seat_panel ul.relaxbox li figure img { margin-bottom: 12px; }
.design .interior .seat_panel ul.relaxbox li figure h5{ font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#999999; margin-bottom:7px; }
.design .interior .seat_panel ul.relaxbox li figure p{ font-size:16px; color:#666; line-height:22.5px;}
.design .interior .seat_panel ul.relaxbox .txtstyle_01 { font-size:12px; color:#999999; line-height:1.4; font-style:italic; }
.design .interior .seat_panel ul.ride_list li { margin-bottom:0px; color: #999999; }



.design .interior h4 { font-size:24px; padding: 20px 0 6px; margin-bottom: 15px; }
.design .interior .titstyle_01 { color:#999; }

.design .interior .seat_panel img { width: 100%; height:auto; }
.design .interior ul.seat_panel_list li { width:100%; display:inline; float:left; margin:0 0 20px 0; }

.design.old_android header { position: static; }

#highlights { margin-top: -100px; padding-top: 100px; }


/* =========================================================
 ◆ Safety CSS
========================================================= */
.safety #Main h2 { margin-bottom: 10px; }
.safety #Main h2 span.super { font-size: 15px; }
.safety #Main h2 span.mtxt { font-size: 37px; }
.safety #Main h4,
.safety #Main h3 { font-size: 24px; color:#666666; padding-bottom: 5px; margin-bottom: 15px; }
.safety #Main h3 { padding-bottom: 2px; margin-bottom:11px; }
.safety #Main .rise_body_text h3 { font-size: 24px; }

.safety #Main .section_wrap img { width: 100%; }
.safety #Main .section_wrap section { width: 87.5%; margin-bottom: 15px !important; }

.safety #Main .cont_head { margin-bottom:30px; }
.safety #Main .cont_head .cont_head_inner { padding-top: 23px; }
.safety #Main .cont_head .cont_head_inner p { width: 87.5%; }

/* rise body */
.safety #Main .rise_body .main_img { width: 100%; margin:0 auto 30px auto; }


.safety #Main .safety_list .safety_list_box01 { margin-bottom:30px !important; }
.safety #Main .safety_list.last .safety_list_box01 { margin-bottom:40px }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 30px; }
.safety #Main .safety_list .safety_list_box01 .safety_list_box_R { width: 100%; display: block; float: none; }
.safety #Main .safety_list h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }

.safety #Main .airbags { margin-bottom:40px !important; }
.safety #Main .airbags .airbags_box01 { margin-bottom:30px; }
.safety #Main .airbags .airbags_box01.last { margin-bottom:0; }
.safety #Main .airbags .airbags_box01 .airbags_box_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .airbags .airbags_box01 .airbags_box_R { width: 100%; display: block; float: none; }
.safety #Main .airbags h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }

.safety #Main .acc { margin-bottom: 45px !important; }
.safety #Main .acc h3 { margin-bottom:15px; }
.safety #Main .acc .acclist {}
.safety #Main .acc .acclist li { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .acc .acclist li.last { margin-bottom: 0; }
.safety #Main .acc .acclist li.last figure { margin-bottom: 0; }
.safety #Main .acc .acclist li figure {}
.safety #Main .acc .acclist li figure img { margin-bottom: 10px; }
.safety #Main .acc .acclist li.last figure { }
.safety #Main .acc .acclist li.last figure img { }
.safety #Main .acc .acclist li.last figure p { }
.safety #Main .acc .acclist li figure figcaption h4 { margin-bottom:1px; padding-bottom:0; line-height:1; }

.safety #Main .fcm { margin-bottom: 45px !important; }
.safety #Main .fcm .fcm_box01 {}
.safety #Main .fcm .fcm_box01 .fcm_box01_L { width: 100%; display: block; float: none; margin-right: 0; margin-bottom: 20px; }
.safety #Main .fcm .fcm_box01 .fcm_box01_L figure {}
.safety #Main .fcm .fcm_box01 .fcm_box01_L figure img { }
.safety #Main .fcm .fcm_box01 .fcm_box01_R { width: 100%; display: block; float: none; }
.safety #Main .fcm .fcm_box01 .fcm_box01_R figure { }
.safety #Main .fcm .fcm_box01 .fcm_box01_R figure img { }
.safety #Main .fcm .fcm_box01 .fcm_box01_R figure p { }


/* =========================================================
 ◆ Reliability CSS
========================================================= */
.reliability .titstyle_01 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; margin-bottom:0; }
.reliability .txtstyle_01 { margin-bottom:10px; }
.reliability .txtstyle_03 { font-size: 24px; color:#666666; padding-bottom: 5px; margin-bottom: 15px; }

.reliability #Main { padding-top:0; }
.reliability #Mainvis { width:100%; overflow:hidden; margin-bottom:20px; padding-top:50px; }
.old_android #Mainvis { padding-top: 0; }
.reliability #Mainvis h2 span.mtxt { font-size: 45px; }
.reliability #Mainvis #Mainvis_inner { width:100%; }

.reliability #Mainvis #Mainvis_inner .mainimg { width:100%; height:100%; margin:0 auto; background:url(../../reliability/images/bg_main_sp.png) center top no-repeat #2F291E; -webkit-background-size: cover !important; background-size: cover !important; }
.reliability #Mainvis #Mainvis_inner .mainimg .mainimg_inner { width:100% !important; height:auto; margin:0 auto; }

.reliability #Mainvis_inner .txtarea_main01 { text-align:center; width:auto; padding:0 6.25% !important;}
.reliability #Mainvis_inner .txtarea_main02 { width:auto; padding:220px 6.25% 30px !important;}
.reliability #Mainvis .txtarea_main02 h2{ text-align:center; width:100%; margin-bottom: 10px; color:#FFF; }
.reliability #Mainvis .txtarea_main02 h2 span.mtxt { font-size: 45px; }
.reliability #Mainvis_inner .txtarea_main02 p { text-align:left; font-size:108%; color:#FFF; margin-left:0 !important; width:auto; }

/* rise_body */
.reliability .rise_body { position:relative; width: 87.5%; margin-bottom:30px; }
.reliability .rise_body_text { position:static; width:100%; margin-bottom:10px; }
.reliability .rise_body_text h3 { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size:32px; color:#333; line-height:1; margin-bottom:10px; }
.reliability .rise_body_img { padding:0 0 0 0; }

/* suspension_box */
.reliability .suspension_box { width: 87.5%;  margin-bottom:25px; }
.reliability .suspension_box .suspension_box_L { width:100%; margin-bottom:10px; }
.reliability .suspension_box .suspension_box_R { width:100%; }

/* spare_box */
.reliability .spare_box { width: 87.5%; margin:0 auto 30px; }
.reliability .spare_box .spare_box_L { width:100%; margin-right: 0; margin-bottom:20px; }
.reliability .spare_box .spare_box_R { width:100%;  }
.reliability .spare_box .spare_box_img { padding-bottom:10px; }
.reliability .spare_box .txtstyle_01 { margin-bottom:15px; }
.reliability .spare_box .cab_box { margin-bottom:25px; }

/* durable_box */
.reliability .durable_box { margin-bottom: 20px; }
.reliability .durable_box .durable_box_L { width:100%; margin-bottom:10px; }
.reliability .durable_box .durable_box_R { width:100%; }

/* durable_box */
.reliability .durable_box { margin-bottom: 20px; }
.reliability .durable_box .durable_box_L { width:100%; margin-bottom:10px; }
.reliability .durable_box .durable_box_R { width:100%; }

/* hooks_box */
.reliability .hooks_box { margin-bottom: 20px; }
.reliability .hooks_box .hooks_box_L { width:100%; margin-bottom:20px; }
.reliability .hooks_box .hooks_box_R { width:100%; }

/* convenience_box_box */
.reliability .rodust_box { width:87.5%; margin:0 auto 30px; }
.reliability .rodust_box ul { margin-bottom: 30px }
.reliability .rodust_box li { width:100%; float:none; margin:0 0 20px; }
.reliability .rodust_box li.last { margin-bottom: 0; }
.reliability .rodust_box li figure img { margin-bottom: 10px; width: 100%; }


/* =========================================================
 ◆ gallery CSS
========================================================= */
.gallery #Main h2 span.mtxt,
.gallery #Mainvis h2 span.mtxt { font-size:38px;}
.gallery #Main h2 span.super { margin-bottom: 5px; }
.gallery #Main .scenes_inner .titlearea01 { margin-bottom: 2px; padding-top: 23px !important; }
.gallery #Main .scenes_inner { width:100%; padding: 0 0 30px; }
.gallery .scenes h2 { font-size:36px; padding-bottom:2px; margin-bottom:23px; }
.gallery #Main .titlearea01 { margin-bottom: 8px !important; }
.gallery #Main .titlearea01 .titlestyle01 { padding: 0 14px;}
.gallery #Main .movie { width: 100%;}
.gallery #Main .movie .movie_inner {width: 87.5%; margin: 0 auto; padding: 8% 0 9.375%; display: block; position: relative; }
.gallery #Main .movie .movie_inner .titlearea01 { padding-top: 0 !important; }
.gallery #Main .movie .movie_inner .titlearea01 .titlestyle01 { padding-bottom: 2px; margin-bottom: 17px; }
.gallery #Main .movie .movie_inner .movie_main { width: 100%; display: block; height: auto; overflow: hidden; }
.gallery #Main .movie .movie_inner .movie_main.first {margin-bottom: 20px;}
.gallery #Main .movie .movie_inner .movie_thumb { width: 100%; height: auto; }
.gallery #Main .movie .movie_inner .movie_thumb img { width: 100%;}
.gallery #Main .movie .movie_inner .movie_youtube { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 300px; }

.movie_sp_wrap{ position: relative ; margin:0px ; padding-top: 0px ; padding-bottom: 57% ; overflow: hidden ; }
.movie_sp_wrap iframe { position: absolute ; top: 0 ; left: 0 ; height: 100% ; width: 100% ; }

.gallery #Main .views360 .views360_inner { padding-top: 0px; padding-bottom: 37px;}
.gallery #Main .views360 .views360_inner .titlearea01 .titlestyle01 { padding-bottom:2px; }
.gallery #Main .views360 .views360_inner .views360_main { width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area { width: 84%; height: auto; margin: 0 auto;}
.gallery #Main .views360 .views360_inner .views360_main .Rotation_area img {width: 100%;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_right { width: 14px; top: 50%; left: 4.68%; margin-top: -10px;}
.gallery #Main .views360 .views360_inner .views360_main #Rotation_nav .rotation_left { width: 14px; top: 50%; right: 4.68%; margin-top: -10px;}


/* =========================================================
 ◆ Entertainment Page CSS
========================================================= */
/* Main */
.entertainment #Mainvis #Mainvis_inner { width:100%; padding-top: 0; }
.entertainment .titlearea01 { width:87.5%; margin:0 auto; }

.entertainment .section_wrap { padding:15px 0 57px; }
.entertainment .entry_block { width:auto; padding:0 6.2% 0; }
.entertainment .entry_block ul { margin-bottom:10px; }
.entertainment .entry_block ul li { width:100%; float:none; margin:0 0 16px; }
.entertainment .entry_block ul li.mb0 { margin-bottom:16px !important; }
.entertainment .entry_block ul li figure img { margin-bottom:10px; width:100%; }
.entertainment .entry_block ul li figure figcaption { height:auto !important; }
.entertainment .entry_block ul li figure figcaption h3 { font-size:21px; }
.entertainment .entry_block p.note { margin-bottom:25px; }

.entertainment .entry_block .audio_block { margin-bottom:20px; }
.entertainment .entry_block .audio_block .main_img { width:100%; float:none; margin-bottom:11px; }
.entertainment .entry_block .audio_block .caption_block { width:100%; float:none; }
.entertainment .entry_block .audio_block .caption_block p.txt { margin-bottom:0px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.h3 { display:block; width:48%; float:left; font-size:21px; color:#333; line-height:1; margin-bottom:2px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block { display:block; width:48.4%; float:right; padding-top:2px; margin-left:3%; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block img { display:block; width:100%; margin-bottom:1px; }
.entertainment .entry_block .audio_block .caption_block p.txt span.sp_block span.italic_title { display:block; font-size:10px; }
.entertainment .entry_block .audio_block .caption_block .italic_title { font-size:12px; font-style:italic; line-height:1.2; }
.entertainment .entry_block .audio_block .caption_block img { margin-bottom:9px; }

.entertainment .sound_system .ss_inner { width:auto; padding:0 6.2%; }
.entertainment .sound_system h2 { font-size:25px; margin-bottom:13px; padding-bottom:4px; }

.entertainment .sound_system .sound_system_box .sound_system_box_L { width:100%; float:left; margin-right: 30px; }
.entertainment .sound_system .sound_system_box .sound_system_box_R { width:100%; float:left; margin-bottom: 10px; }
.entertainment .sound_system .sound_system_box .sound_system_box_innerL { width:45%; float:left; margin-right: 5%; }
.entertainment .sound_system .sound_system_box .sound_system_box_innerL img { width:100%; height:auto; }
.entertainment .sound_system .sound_system_box .sound_system_box_innerR { width:50%; float:left; }


/* =========================================================
 ◆ utility-entertainment CSS
========================================================= */
.utility #Main { padding-top:50px; }
.old_android #Main { padding-top: 0; }

.utility #Main h2 { margin-bottom: 10px; }
.utility #Main h2 span.super { font-size: 15px; }
.utility #Main h2 span.mtxt { font-size: 37px; }
.utility #Main h4,
.utility #Main h3 { font-size: 24px; color:#666666; padding-bottom: 5px; margin-bottom: 15px; }
.utility #Main h3 { padding-bottom: 2px; margin-bottom:11px; }

.utility .titlearea01 { margin-bottom:15px; }
.utility .titlearea01 p { width: 87.5%; }
.utility .titstyle_01 { }
.utility .txtstyle_01 { }

/* convenience_box_box */
.utility .convenience_box { width:87.5%; margin:0 auto 30px; }
.utility .convenience_box ul { margin-bottom: 30px }
.utility .convenience_box li { width:100%; float:none; margin:0 0 20px; }
.utility .convenience_box li.last { margin-bottom: 0; }
.utility .convenience_box li figure img { margin-bottom: 10px; width: 100%; }
.utility #Main .convenience_box li figure h3{ font-size:24px; color:#333; line-height: 1; border-bottom: none; margin-bottom:2px; padding-bottom: 0; }
.utility .convenience_box li figure p{ font-size:16px; color:#666; line-height:22.5px;}

.utility .convenience_box .convenience_audio_main_img { margin-bottom:20px; }
.utility .convenience_box .convenience_audio_box { margin-bottom:40px; }
.utility .convenience_box .convenience_audio_box_L { width:100%; margin-bottom:20px; }
.utility .convenience_box .convenience_audio_box_R { width:100%; }
.utility .convenience_box .convenience_audio_text_list { margin-bottom:20px; }
.utility .convenience_box .convenience_audio_text_list li { float:none; width:100%; margin:0 0 10px 0; }
.utility .convenience_box .convenience_audio_text_list li .titstyle_01 { margin-bottom: 0; padding-bottom:0; line-height:1; }

.utility .convenience_box .convenience_audio_img_list li { width:100%; margin:0 0 15px 0; }
.utility .convenience_box .convenience_audio_img_list li.last { margin-bottom:0;  }
.utility .convenience_box .convenience_audio_img_list li img { width:100%; height:auto; }


.utility .convenience_box .keyless_list { margin-bottom: 0; }
.utility .convenience_box .keyless_list li { float:none; margin:0 0 20px; }
.utility .convenience_box .keyless_list li figure img { margin-bottom: 10px; width: 100%; }
.utility .convenience_box .keyless_list li.img { width:100%; }
.utility .convenience_box .keyless_list li.text { width:100%; }

/* standard_box_box */
.utility .standard_box { width:87.5%; margin:0 auto 30px; }
.utility .standard_box .standard_box_L { width:100%; margin-right: 0; margin-bottom:20px; }
.utility .standard_box .standard_box_R { width:100%;  }
.utility .standard_box .standard_img { padding-bottom:10px; }

/* feature_box */
.utility .feature_box { width:87.5%; margin:0 auto 30px; }
.utility .feature_box .etacs_box { background-color:#F2F2F2; padding:25px; }
.utility .feature_box .etacs_box_L { width:100%; margin-right: 0; margin-bottom:0; }
.utility .feature_box .etacs_box_R { width:100%; }
.utility .feature_box .etacs_box_L li,
.utility .feature_box .etacs_box_R li { margin-bottom:35px; }
.utility .feature_box .etacs_box_L .etacs_inner_L,
.utility .feature_box .etacs_box_R .etacs_inner_L { width:100%; margin-right:0; margin-bottom:10px; }
.utility .feature_box .etacs_box_L .etacs_inner_R,
.utility .feature_box .etacs_box_R .etacs_inner_R { width:100%; }
.utility .feature_box .etacs_box_L .etacs_inner_L .etacs_img,
.utility .feature_box .etacs_box_R .etacs_inner_L .etacs_img { width:50%; margin:0 auto 5px auto; }



/* =========================================================
 ◆ Specifications Page CSS
========================================================= */
/* Main */
.specifications .titlearea01 { margin-bottom:19px; }
.specifications section.wrap { width:100%; padding: 0; margin-bottom:50px; }

.specifications .section_head h3 { width:auto; float:none; font-size:21px;}
.specifications .section_head .check_wrap { width:auto; float:none; padding-top:14px; }
.specifications .section_head .check_wrap ul li { width:auto; float:left; background-repeat:no-repeat; background-position:0px 3px; -webkit-background-size: 10px; background-size: 10px; font-size:14px; color:#333; line-height:1.2; padding-left:17px; margin-right:16px; }
.specifications .section_head .check_wrap ul li.last { margin-right:0; }
.specifications .section_head .check_wrap ul li.standard { background-image: url(../../specifications/images/icon_standard.png); }
.specifications .section_head .check_wrap ul li.optional { background-image: url(../../specifications/images/icon_optional.png); }
.specifications .section_head .check_wrap ul li.not_available { background-image: url(../../specifications/images/icon_not.png); }

.specifications .exterior { margin-bottom:51px; }
.specifications .exterior.ex2 h3 { margin-bottom:11px; }
.specifications .table_wrap_outer { position: relative; overflow: hidden; padding-bottom: 11px; }
.specifications .table_wrap_outer:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 100%; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }
.specifications .table_wrap { overflow-x:scroll; margin-bottom:0; position: relative; }
/*.specifications .table_wrap:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 100%; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }*/
.specifications .table_wrap::-webkit-scrollbar { height:10px; }
.specifications .table_wrap::-webkit-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .table_wrap::-webkit-scrollbar-thumb { border-radius:6px; background:#ccc; }

.specifications table { width:960px; margin-bottom:0 !important; }
.specifications th.col-02 { width:50px; }
.specifications th.col-03 { width:65px; }

.specifications p.note { margin-bottom:0;}
.specifications .dimensional { margin-bottom: 52px; }
.specifications .dimensional figure { position: relative; overflow: hidden; }
.specifications .dimensional figure .image { width:100%; height:150px; overflow-x:scroll; overflow-y: hidden; margin-bottom:14px; position: relative; }
.specifications .dimensional figure .image::-webkit-scrollbar { height:10px; }
.specifications .dimensional figure .image::-webkit-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .dimensional figure .image::-webkit-scrollbar-thumb { border-radius:6px; background:#ccc; }
.specifications .dimensional figure .image::-moz-scrollbar { height:10px; }
.specifications .dimensional figure .image::-moz-scrollbar-track { box-shadow:0 0 2px rgba(0,0,0,0.15) inset; background:#f0f0f0; }
.specifications .dimensional figure .image::-moz-scrollbar-thumb { border-radius:6px; background:#ccc; }
.specifications .dimensional figure:after { position: absolute; top: 0; right: 0; width: 50px; margin: 0 -50px 0 0; height: 150px; border-radius: 10px 0 0 10px / 50% 0 0 50%; box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25); content: ''; }
.specifications .dimensional figure img { width:960px; margin-bottom:0; max-width:960px; }
.specifications .dimensional figure figcaption { text-align: left; }

/* table 微調整 */
.specifications .annotation { margin-bottom:34px;}
.specifications .annotation p.left_txt { width:auto; float:none; margin-bottom:6px; }
.specifications .annotation p.right_txt { width:auto; float:none; }

.specifications .warning { margin-bottom:53px; }
.specifications .warning .warning_inner { padding:13px 16px; }
.specifications .warning p.tit { margin:0 0 4px; }
.specifications .warning ul { padding:0; }
.specifications .warning ul li { list-style-position:inside; }
.specifications .warning ul li.left_txt { width:auto; float:none; margin-bottom:2px; }
.specifications .warning ul li.right_txt { width:auto; float:none; }

.specifications .equipment h3 { margin-bottom:1px; }
.specifications .equipment .check_wrap { margin-bottom:4px; }

/* specifications_tab */
.specifications .specifications_tab { width: 960px; margin: 0 auto;}
.specifications .specifications_tab #Tabs { margin-bottom: 100px;}

.specifications .specifications_tab .tabBox { border-right: solid 1px #D7D7D7; border-bottom: solid 1px #D7D7D7; border-left: solid 1px #D7D7D7;}
.specifications .specifications_tab .tabBox .tab_cont { padding: 0 10px 0 10px;}

.specifications .specifications_tab { width: 87.5%; margin: 0 auto 48px;}
.specifications .specifications_tab #Tabs {margin-bottom: 0;}
.specifications .sort_box { margin-bottom: 20px;}
.specifications .sort_box .sort_name { display: block; background: #EEEEEE; -webkit-box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); cursor: pointer; position: relative; z-index: 50; padding: 12px 0; }
.specifications .sort_box .sort_name span { display: block; font-size: 123.1%; line-height: 1.2; width: 91%; margin: 0 auto; background: url(../../specifications/images/sort_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
.specifications .sort_box .sort_name span.active { background: url(../../specifications/images/sort_name_close.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; }
.specifications .sort_box .sort_btn { background: #EEEEEE; position: relative; z-index: 10; width: 100%; display: none; }
.specifications .sort_box .sort_btn li { width: 100%; display: block; float: none; margin-right: 0px; background: #EEEEEE; text-align: center; border: none; border-bottom: 1px solid #FFFFFF; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 44px; }

.specifications .sort_box .sort_btn li.last { border-right:none;}
.specifications .sort_box .sort_btn li a { display: block; color: #333333; text-decoration: none; font-size:138.5%; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
.specifications .sort_box .sort_btn li.active { background: #D2D2D2; }
.specifications .specifications_tab .tabBox { border: none;}

.specifications .coming_soon { padding: 40px 0 60px 0; font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:15px !important; line-height:1.0; text-align:center; }


/* =========================================================
 ◆ Accessories Page CSS
========================================================= */
.accessories #Mainvis { padding-bottom:20px; }
.accessories #Mainvis #Mainvis_inner { width:87%; padding-top: 0; }
.accessories #Mainvis h2 { margin-bottom:24px; }
.accessories #Main .titlearea01 h2.titlestyle01 { padding-bottom:2px; }
.accessories .section_wrap { padding:25px 4.5% 0; }

.accessories .note { width:87%; margin:10px auto 0 auto; }

.accessories #Mainvis .main_img { width:100%; margin-bottom:15px; }
.accessories #Mainvis .sub_img { width:100%; margin: 0 0 15px 0; }
.accessories #Mainvis .exterior_box_R { width:100%; margin-left:0; }
.accessories #Mainvis .exterior_box_L { width:100%; padding-top:0; margin-bottom:20px; }

.accessories .exterior_slide .exterior_slide_inner { width:100%; padding:0 0 31px; }
.accessories .exterior_slide h2 { margin-bottom:20px; }

.accessories .interior .interior_inner { width:100%; padding:25px 0 31px; }
.accessories .interior h2 { font-size:36px; padding-bottom:2px; width:130px; margin-bottom:22px; }
.accessories .interior h3 { font-size:27px; text-align:left; width:87%; margin:0 auto 7px; }
.accessories .interior p { width:87%; margin:10px auto 0 auto; }
.accessories .interior .slides p { width:100% }
.accessories .interior .titlearea01 { padding-top:0 !important; }

.accessories .bed .bed_inner { width:100%; padding:25px 0 50px; }
.accessories .bed .titlearea01 { padding-top:0 !important; }
.accessories .bed h2 { margin-bottom:20px; }

.accessories .electric .electric_inner { width:100%; padding:25px 0 50px; }
.accessories .electric .titlearea01 { padding-top:0 !important; }
.accessories .electric h2 { margin-bottom:20px; }

.accessories.old_android header { position: static; }

.accessories .interior .interior_inner { width:100%; padding:25px 0 31px; }
.accessories .page_caption { width:87%; margin:0 auto; padding:0 0 40px; font-size:12px; font-style:italic; color:#999; line-height:1.4; }

/* =========================================================
 ◆ catalog CSS
========================================================= */
.catalog #Main { padding-top:50px; }
.old_android #Main { padding-top: 0; }
.catalog #Mainvis { padding-top:0; }
.catalog .titlearea01 { margin-bottom:20px; }
.catalog .catalogarea { width:87.5%; margin:0 auto; padding:0 6.25%; }
.catalog01 { margin-bottom:0 !important; }
.catalog02 { margin-bottom:35px !important; }
.catalogimg { display:none; }
.catalogimg_sp { margin-bottom:9px; display:inline; }
/* .catalogimg .downloadbtn_sp { display:inline; width:100%; height:15.8% !important; position:absolute; bottom:0;}
.catalogimg .downloadbtn { display:none; } */
.catalogbox { width:100%; }
.catalogbox a:hover { opacity:0.7; }
.catalogbox .catalog_tit { font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#333333; font-size:21px; }
.catalogbox .language { color:#666666; font-size:14px; }
.catalogbox .catalog-models { color:#666666; font-size:14px; }
.catalogbox ul li { display:inline; float:left; margin-right:3.57%; width:48.21% !important; margin-bottom:23px; }
.catalogimg {}
.catalogimg img { width:100%; }
.downloadbtn { width:100% !important; }

.catalog .titstyle_01 { font-size:28px; margin-bottom:15px; line-height:1.0; }
.catalog .catalogbox ul li a img.over { display: none; }
.catalog .catalogbox .type_ab img{ width:40px; height:15px }

.catalogbox ul li img { width:100%; }
.catalogbox ul li.last ,.catalogbox ul li.even_num { margin-right:0 !important; }
.catalogarea .titstyle_03 { font-size:24px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:15px !important; line-height:1.0; }
.catalogarea .titstyle_03_inner { border-bottom:solid 1px #DDDDDD; padding-bottom:4px;}
.catalogarea .f_box { display:block; width:100%; }
.gcc { margin-right:0 !important; }

.catalog .coming_soon { padding: 40px 0 60px 0; font-size:36px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; color:#666666; margin-bottom:15px !important; line-height:1.0; text-align:center; }


/*1121追加*/
#Gnav #Gnav_inner .assist_nav li.last {
  float: left;
  border-right: 1px solid #555555;
}

/*1121追加*/
#acce #acce_inner { padding: 5%; }
/*.specifications */
.dimensional,
.spc-list-area {
  box-sizing: border-box;
  padding: 5%;
}
.spc-list-area-contents {
  float: none;
  width: 100%;
  margin-bottom: 10%;
}
.dimensional,
.spc-list-area-contents img {
  width: 100%;
  margin: auto;
}
.spc-list-area-contents img.over {
  display: none;
}
.spc-list-area-contents h3 {
  float: none;
  border-bottom: 1px solid #686868;
  margin-bottom: 30px;
  padding-bottom: 5px;
  color: #686868 !important;
}
.specifications .section_head h3 {
  float: none !important;
  color: #686868 !important;
}
.spc-list-area-contents ul {
  overflow: hidden;
  width: 100%;
}
.spc-list-area-contents ul li {
  float: left;
  width: 47.5%;
}
.spc-list-area-contents ul li:first-child { margin-right: 5%; }
.spc-list-area-contents:nth-child(2) ul li:first-child {
  float: left;
  margin: 0;
}
.specifications .exterior { margin-bottom: 5%; }
.specifications .dimensional { margin-bottom: 5%; }
.specifications .section_head,
.specifications .dimensional .section_head { margin-bottom: 0; }
/*.performance */
.perfomance .doch_box_model .doch_box_model_img img {
  width: 465px;
  max-width: 100%;
}
.perfomance .nav-tab-01 .tab-btns { margin-left: 0; }
.perfomance .nav-tab-01>ul>li { width: 45%; }
.perfomance .nav-tab-01>ul>li.one-line a {
  padding: 0;
  line-height: 3;
}
.perfomance .all_terrain_box .all_terrain_box_inner .txtstyle_05 {
  font-family: "AlternateGothicCom-No2",Arial\9 , Helvetica\9 , sans-serif\9;
  font-size: 32px;
  color: #333;
  line-height: 1;
  margin-bottom: 15px;
}

/*.special*/
.special .txtstyle_02 { padding-left: 0; }

}

/* screens smaller than 614
**************************************/
@media screen and (max-width: 614px){
.entertainment #Mainvis h2 .para01 { display: block; }
}

/* screens smaller than 433
**************************************/
@media screen and (max-width: 433px){
.entertainment #Mainvis h2 .para01 { display: inline; }
.entertainment #Mainvis h2 .para02 { display: block; }
}
