﻿@charset "utf-8";
/* =========================================================
　◆　Responsive CSS
========================================================= */

/* screens default
***************************************/
.SP { display:none; }
.SP_inline { display:none; }
.PC { display:block; }
.PC_inline { display:inline; }
.PC_absolute { position:absolute; }

/* screens smaller than 1280
***************************************/
@media screen and (max-width: 1440px){

body { background:none;}
.wrapper { width:100%;}

}

/* screens smaller than 960
***************************************/
@media screen and (max-width: 960px){
#Head { width: 100%; }
#Head.active { -webkit-box-shadow: 0px 2px 4px rgb(0, 0, 0); box-shadow: 0px 2px 4px rgb(0, 0, 0); }
#Head #Head_inner { width: auto; }

}

@media screen and (min-width: 769px){
#Gnav { display: block !important; }
#Gnav #Gnav_wrap { position: static !important; }

}
/* screens smaller than 768
**************************************/
@media screen and (max-width: 767px){
.SP { display:block; }
.SP_inline { display:inline; }
.PC { display:none; }
.PC_inline { display:none; }
.PC_absolute { position:static; }
.wrapper  { position: relative; min-width: 0; }

/* =========================================================
　◆Head
========================================================= */
#Head { width: 100%; height: 50px; background: #FFFFFF; position: fixed; z-index: 1000; -webkit-box-shadow: 0px 2px 4px rgba(51,51,51,0.5); box-shadow: 0px 2px 4px rgba(51,51,51,0.5); max-width: none; min-width: 0; left: 0; }
#Head.active { -webkit-box-shadow: 0px 2px 4px rgb(0, 0, 0); box-shadow: 0px 2px 4px rgb(0, 0, 0); }
#Head #Head_inner { width: 100%; margin: 0 auto; padding-top: 0; position: relative; }
#Head #Head_inner h1.logo { width: 159px; height: 15px; padding-top: 18px; margin-left: 55px;}
#Head #Head_inner h1.logo a { display: block; width: 159px; height: 15px; }
#Head #Head_inner h1.logo img { width: 159px; height: 15px; }
#Head #Head_inner .pc_head_nav { display: none; }
#Head #Head_inner .logo_ci { position: absolute; width: 25px; height: 29px; left: 15px; top: 10px; }
#Head #Head_inner .logo_ci a { display: block; }
#Head #Head_inner .logo_ci img { pointer-events: none; width:25px; height:29px; display: block; }
#Head #Head_inner #Gnav_switch { display: block; width: 50px; height: 50px; position: absolute; right: 0; top: 0; cursor: pointer; }

/* old_android */
.old_android #Head { position: relative; }

/* =========================================================
　◆Gnav
========================================================= */
#Gnav { width: 100%; background: #333333; height: 100%; display: none; position: fixed; top: 50px; left: 0; -webkit-box-shadow: 0px 2px 4px rgba(51,51,51,0.5); box-shadow: 0px 2px 4px rgba(51,51,51,0.5); z-index: 100; max-width: none; min-width: 0; top: 0px; }
#Gnav #Gnav_wrap { width: 100%; position: absolute; overflow: auto; top: 50px; bottom: 0; }
#Gnav #Gnav_inner { width: auto; }
#Gnav #Gnav_inner .nav_link { display: block; float: none; }
#Gnav #Gnav_inner .nav_link li { border-left: none; display: block; float: none; border-bottom: 1px solid #555555; text-align: center; }
#Gnav #Gnav_inner .nav_link li.last { border-right: none; }
#Gnav #Gnav_inner .nav_link li a { padding: 0; font-size: 21px; line-height: 50px; }

#Gnav #Gnav_inner .assist_nav { display: block; float: none; }
#Gnav #Gnav_inner .assist_nav li { display: inline; float: left; width: 50%; border-right: 1px solid #555555; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; margin:0 ; -moz-box-sizing: border-box; }
#Gnav #Gnav_inner .assist_nav li.bdb { border-bottom: 1px solid #555555; }
#Gnav #Gnav_inner .assist_nav li.even { float: right; border-right: none; }
#Gnav #Gnav_inner .assist_nav li a { display: block; color: #FFFFFF; font-size: 10px; line-height: 40px; text-decoration: none; }
#Gnav #Gnav_inner .assist_nav li.active a { color: #E90000; }
#Gnav #Gnav_inner .option_nav { display: block; background: #FFFFFF; }
#Gnav #Gnav_inner .option_nav li { display: inline; float: left; width: 50%; border-right: 1px solid #EEEEEE; -webkit-box-sizing: border-box; box-sizing: border-box; margin:0; -moz-box-sizing: border-box;}
#Gnav #Gnav_inner .option_nav li.last { float: right; border-right: none; }
#Gnav #Gnav_inner .option_nav li a { display: block; }
#Gnav #Gnav_inner .option_nav li a img { width: 100%; }
#Gnav_over { width: 100%; height: 200%; position: fixed; background: #666666; left: 0; top: 0; z-index:2; }

/* old_android */
.old_android #Gnav { position: relative; height: 430px; }
.old_android #Gnav #Gnav_wrap { top: 0; }
.old_android #Gnav_over { z-index: 50; }

/* =========================================================
　◆Global_area
========================================================= */
#Global_area { max-height: 610px; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; background-image: url(../images/sp_globalnet_bg.jpg); }
#Global_area #Global_area_inner { width: 90.625%; margin: 0 auto; padding: 8% 0 10%; position: relative; }
/*.iphone #Global_area #Global_area_inner { padding: 8.15% 0 9.375%; }*/
#Global_area #Global_area_inner .global_tit { margin-bottom: 3.8%; text-align: center; font-size: 30px; line-height: 1.0; color: #FFFFFF; }
.iphone #Global_area #Global_area_inner .global_tit { margin-bottom: 3.2%; }

/*gn調整分*/
#Global_area #Global_area_inner .view_all { position: static; width: 92.7%; margin: 0 auto; }
#Global_area #Global_area_inner .view_all { width: 100%; height: auto; }
#Global_area #Global_area_inner .view_all img { width: auto; height: auto; }
#Global_area #Global_area_inner .view_all img.over { display: none; }
#Global_area img { width: 100% !important; max-width: 100% !important; }

/*
#Global_area #Global_area_inner .global_map { position: relative; margin: 0 auto 3.5%; width: 92.7%;}
#Global_area #Global_area_inner .global_map .area_icons { display: none; }

#Global_area #Global_area_inner .view_all { position: static; width: 33.79310344827586%; margin: 0 auto; }
#Global_area #Global_area_inner .view_all a { width: 100%; height: auto; }
#Global_area #Global_area_inner .view_all a img { width: auto; height: auto; }
#Global_area #Global_area_inner .view_all a img.over { display: none; }
#Global_area img { width: 100% !important; max-width: 100% !important; }
*/

/* =========================================================
　◆More_info
========================================================= */
#SP_dirPath { display: block; background: #EEEEEE; }
#SP_dirPath #SP_dirPath_inner { width: 90.625%; margin: 0 auto; padding: 9px 0 8px; }
#SP_dirPath #SP_dirPath_inner li { font-size: 18px; color: #535353; margin-right: 7px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; display: inline-block; float: left; }
#SP_dirPath #SP_dirPath_inner li a { color: #0085B2; font-size: 18px; background: url(../images/sp_icon_dirpath.png) right 3px no-repeat; padding-right: 13px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; -webkit-background-size: 6px 10px; background-size: 6px 10px; text-decoration: none; }

/* =========================================================
　◆More_info
========================================================= */
#More_info { }
#More_info #More_info_inner { width: 100%; margin: 0 auto; padding: 6.25% 0 3.9%; position:static; }
#More_info #More_info_inner .logo { margin: 0 auto 6.25%; width: 64.375%; }
#More_info #More_info_inner .logo img { width: 100%; }
#More_info #More_info_inner .sns_area { width: 90.625%; margin: 0 auto 20px; border-top: 1px solid #DCDCDC; border-bottom: 1px solid #DCDCDC; margin-bottom: 5.9%; clear:both; position:static; display:block; border-right: none !important; border-left: none !important;}
#More_info #More_info_inner .sns_area .sns_area_inner { padding:15px 0; border-right: none !important; border-left: none !important; width: 244px; margin: 0 auto; }
#More_info #More_info_inner .sns_area .sns_area_inner ul { text-align: left; }
#More_info #More_info_inner .sns_area .sns_area_inner li { margin-right:15px; height: 20px; display: inline; float: left; }
#More_info #More_info_inner .sns_area .sns_area_inner li.sns_fb { width: 78px; }
#More_info #More_info_inner .sns_area .sns_area_inner li.sns_tw { width: 78px; }
#More_info #More_info_inner .sns_area .sns_area_inner li.sns_gplus { width: 58px; margin:0;}
#More_info #More_info_inner .more_info_bnr { width: 90.625%; margin: 0 auto 7.8%; clear:both; }
#More_info #More_info_inner .more_info_bnr li { width: 100%; display: block; float: none; margin-bottom: 3.4%; }
#More_info #More_info_inner .more_info_bnr li.last { float: none; margin-bottom: 0; }
#More_info #More_info_inner .more_info_bnr li a { display: block; background: none; }
#More_info #More_info_inner .more_info_bnr li a img { width: 100%; height: auto; }
#More_info #More_info_inner .more_info_bnr li a img.over { display: none; }

#More_info #More_info_inner .more_info_menu { padding-bottom: 0; border-bottom: none; border-top: 1px solid #DCDCDC; margin-bottom: 0; }
#More_info #More_info_inner .more_info_menu>ul>li { width: 100%; margin-right: 0; display: block; float: none; text-align: center; border-bottom: 1px solid #DCDCDC; }
#More_info #More_info_inner .more_info_menu>ul>li.list01,
#More_info #More_info_inner .more_info_menu>ul>li.list02,
#More_info #More_info_inner .more_info_menu>ul>li.list03,
#More_info #More_info_inner .more_info_menu>ul>li.list04,
#More_info #More_info_inner .more_info_menu>ul>li.list05,
#More_info #More_info_inner .more_info_menu>ul>li.list06,
#More_info #More_info_inner .more_info_menu>ul>li.list07{ width: 100%; }
#More_info #More_info_inner .more_info_menu>ul>li>a { text-decoration: none; font-size: 18px; margin-bottom: 0; display: block; padding: 16px 0 14px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-weight: normal; }
#More_info #More_info_inner .more_info_menu>ul>li .sub_info_menu { display: none; }
#More_info #More_info_inner .more_info_menu>ul>li>a:hover,
#More_info #More_info_inner .more_info_menu>ul>li .sub_info_menu li a:hover { text-decoration: none; }

#More_info #More_info_inner .more_sub_menu { margin-bottom: 4.375%; }
#More_info #More_info_inner .more_sub_menu.odd { border-bottom: 1px solid #DCDCDC; }
#More_info #More_info_inner .more_sub_menu ul { text-align: center; width: 100%; }
#More_info #More_info_inner .more_sub_menu ul:after { content: ""; clear: both; display: block; }
#More_info #More_info_inner .more_sub_menu ul li { display: inline; width: 50%; border-left: none; border-right: 1px solid #DCDCDC; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-box-sizing: border-box; float: left; border-bottom: 1px solid #DCDCDC; }
#More_info #More_info_inner .more_sub_menu ul li:nth-child(even) { border-right: none; }
#More_info #More_info_inner .more_sub_menu ul li.last { border-right: none; }
#More_info #More_info_inner .more_sub_menu ul li.odd { border-right: 1px solid #DCDCDC; border-bottom: none }
#More_info #More_info_inner .more_sub_menu ul li a { font-size: 10px; display: block; padding: 15px 0; line-height: 1.0; text-decoration: none; color: #0085B2; }
#More_info #More_info_inner .more_sub_menu ul li a:hover { text-decoration: none; }
#More_info #More_info_inner .more_info_description { width: 90.625%; margin: 0 auto; }
#More_info #More_info_inner .more_info_description p { font-size: 10px; line-height: 1.2; text-align: center; font-style: italic; }

/* =========================================================
　◆Pickup_bnr
========================================================= */
#Pickup_bnr { padding: 0; background: #EEEEEE; }
#Pickup_bnr #Pickup_bnr_inner { width: auto; margin: 0 auto; }
#Pickup_bnr #Pickup_bnr_inner li { width: 100%; display: block; float: none; -webkit-box-shadow: none; box-shadow: none; }
#Pickup_bnr #Pickup_bnr_inner li.last { float: none; }
#Pickup_bnr #Pickup_bnr_inner li a { display: block; background: #000000; }
#Pickup_bnr #Pickup_bnr_inner li a img { width: 100%; height: auto; filter:alpha(opacity=100) !important;-moz-opacity:1.0 !important;opacity:1.0 !important;  }

/* =========================================================
　◆Foot
========================================================= */
#Foot { width: 100%; background: #333333; }
#Foot #Foot_inner { width: auto; margin: 0 auto; padding: 11px 0 19px; }
.iphone #Foot #Foot_inner { padding: 9px 0 19px; }
#Foot #Foot_inner .foot_description { display: none; }
#Foot #Foot_inner .foot_link { display: block; float: none; margin-bottom: 10px; }
#Foot #Foot_inner .foot_link ul { text-align: center; }
#Foot #Foot_inner .foot_link li { display: inline-block; float: none; }
#Foot #Foot_inner .foot_link li.last { margin-left: 12px; }
#Foot #Foot_inner .foot_link li a { font-size: 10px; line-height: 1.0; color: #999999; text-decoration: none; }
#Foot #Foot_inner .foot_link li a:hover { text-decoration: none; }
#Foot #Foot_inner #Copy { font-size: 10px; line-height: 1.0; display: block; float: none; text-align: center; }


/*1121追加*/
#Gnav #Gnav_inner .assist_nav li.last {
  float: left;
  border-right: 1px solid #555555;
}
#Global_area_sort_btn { margin-top: 20px; margin-bottom: 20px; }
#Global_area { /*max-height: 610px;*/ max-height: none; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; background-image: none;/*background-image: url(../images/sp_globalnet_bg.jpg);*/ }/* 20150917 編集 */
#Global_area #Global_area_inner { width: 90.625%; max-height: 610px; margin: 0 auto; padding: 8% 4.6875% 10% 4.6875%; position: relative; background-image: url(../images/sp_globalnet_bg.jpg); -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; }/* 20150917 編集 */
/*.iphone #Global_area #Global_area_inner { padding: 8.15% 0 9.375%; }*/
#Global_area #Global_area_inner .global_tit { margin-bottom: 3.8%; text-align: center; font-size: 30px; line-height: 1.0; color: #FFFFFF; text-decoration:none; }
.iphone #Global_area #Global_area_inner .global_tit { margin-bottom: 3.2%; text-decoration:none; }
#Global_area a #Global_area_inner .global_tit { text-decoration:none; }

/*gn調整分*/
#Global_area #Global_area_inner .view_all { position: static; width: 92.7%; margin: 0 auto; }
#Global_area #Global_area_inner .view_all { width: 100%; height: auto; }
#Global_area #Global_area_inner .view_all img { width: auto; height: auto; }
#Global_area #Global_area_inner .view_all img.over { display: none; }
#Global_area img { width: 100% !important; max-width: 100% !important; }
#Global_area .ga_sort_box { width: 90.625%; margin: 0 auto; }
#Global_area .ga_sort_box .ga_sort_name { display: block; background: #EEEEEE; -webkit-box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5); cursor: pointer; position: relative; z-index: 50; padding: 12px 0; }
#Global_area .ga_sort_box .ga_sort_name span { display: block; font-size: 123.1%; line-height: 1.2; width: 91%; margin: 0 auto; background: url(../../../images/sort_name_open.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; font-family: 'AlternateGothicCom-No2'; }
#Global_area .ga_sort_box .ga_sort_name span.active { background: url(../../../images/sort_name_close.png) right center no-repeat; -webkit-background-size: 15px 9px;  -moz-background-size: 15px 9px; background-size: 15px 9px; }
#Global_area .ga_sort_box .ga_sort_btn { background: #EEEEEE; position: relative; z-index: 10; width: 100%; display: none; }
#Global_area .ga_sort_box .ga_sort_btn li { width: 100%; display: block; float: none; margin-right: 0px; background: #EEEEEE; text-align: center; border: none; border-bottom: 1px solid #FFFFFF; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 44px; }
#Global_area .ga_sort_box .ga_sort_btn li.last { border-right:none;}
#Global_area .ga_sort_box .ga_sort_btn li a { display: block; color: #333333; text-decoration: none; font-size:138.5%; font-family: "AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}
#Global_area .ga_sort_box .ga_sort_btn li.active { background: #D2D2D2; }

.more_info_description p {
    font-size: 12px;
    line-height: 1.2;
    text-align: left;
    font-style: italic;
    padding: 20px 4%;
}
}
