.nav-tab-01 .tab-btns{
  text-align: center;
  font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;
  letter-spacing: -.5em;
  margin-left: 0px;
  margin-bottom: 50px;
}

.nav-tab-01 .tab-btns.type-02{
  border-bottom: 4px solid #e90000;
}
.nav-tab-01.active .tab-contents {
    display:none;
    margin-bottom: 60px;
}

.nav-tab-01.active .tab-contents.active {
    display:block;
    opacity: 1!important;
}
.nav-tab-01>ul>li{
  position: relative;
  display: inline-block;
  width: 246px;
  letter-spacing: normal;
  margin-left: 10px;
  vertical-align: top;
  cursor: pointer;
}

/*.nav-tab-01 li.active:after{
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  background: url(../images/tab-arrow.png) no-repeat;
  width: 14px;
  height: 15px;
  margin: auto;
}

.nav-tab-01 li.on:after{
  content: "";
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  background: url(../images/tab-arrow.png) no-repeat;
  width: 14px;
  height: 15px;
  margin: auto;
}
*/
.nav-tab-01 .tab-btns.type-01>ul>li.on:after,
.nav-tab-01 .tab-btns.type-01>ul>li.active:after{
  transform: rotate(180deg);
}


.nav-tab-01>ul>li.one-line a{
  line-height: 2.4;
  display: block;
}


.nav-tab-01 li a{
  display: block;
  background-color: #eee;
  color: #000!important;
  font-size: 20px;
  padding: 12px 0;
  text-decoration: none;
  transition: all .3s ease;
}

.nav-tab-01 li a:hover,
.nav-tab-01 li a:active{
  background-color: #e90000;
  color: #FFF!important;

}

.nav-tab-01 li.active a{
  background-color: #e90000;
  color: #FFF!important;
}

.pc-none{
  display: none!important;
}

@media screen and (max-width: 767px){
  .pc-none{
    display: block!important;
    line-height: 1;
  }
/*
  .nav-tab-01 .tab-btns {
    display: none!important;
  }*/
  .safety .nav-tab-01 .tab-btns {
    display: block!important;
    margin-bottom: 25px;
    margin-left: 0;
  }
  .safety .nav-tab-01 .tab-btns li.one-line a{
    line-height: 1.2;

  }

  .nav-tab-01 .tab-btns {
    width: 100%;
  }
  .nav-tab-01 .tab-btns li{
    width: 30%;
    margin-left: 3.333%;
    font-weight: 200;
    vertical-align: bottom;
  }
  .nav-tab-01 .tab-btns li:first-child{
    margin-left: 0;
  }
  .nav-tab-01 li a{
    font-size: 14px;
  }

  .safety .nav-tab-01{
    width: 100%;
    /*width: 90.625%;*/
    /*margin: 0 auto 7.8%;*/
    box-sizing: border-box;
  }


  .nav-tab-01 li.active:after{
    right: 6px;
    background: url(../images/tab-arrow.png) no-repeat;
    background-size: contain;
    width: 10.5px;
    height: 10.75px;
    margin: auto;
  }

    .nav-tab-01 li.on:after{
    right: 6px;
    background: url(../images/tab-arrow.png) no-repeat;
    background-size: contain;
    width: 10.5px;
    height: 10.75px;
    margin: auto;
  }

}
