@charset "utf-8";
body { background:#1E1E1E;}
#Mainvis { width:100%; background:#000;}

#Main {	margin-top:-100px; padding-top:100px; }
#Mainvis #Mainvis_inner {}
#Mainvis #Mainvis_inner #Mainvis_bg { background:url(../../images/bg_01.jpg) no-repeat center center; margin:0 auto; position:relative; background-size:cover; /* height:720px !important; */ }
#Mainvis #Mainvis_inner #Mainvis_bg #Mainvis_more_btn {	/*position: absolute; */ bottom: 0; left: 0; right: 0; color: #FFF; width: 100%; margin: 0 auto; z-index: 1; background: #333; }
#Mainvis_more_btn a { position: relative; display: block; width: 100%; color: #FFF; text-decoration: none; text-align: center; padding: 8px 0; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; font-size: 20px; }
#Mainvis_more_btn a::after { content: ""; position: absolute; top: 12px; left: 58px; right: 0; width: 7px; height: 7px; border-top: 1px solid #FFF; border-right: 1px solid #FFF; -webkit-transform: rotate(135deg); transform: rotate(135deg); margin: 0 auto; }
#Mainvis_more_btn a:hover { display: block; background-color: #000; border-radius: 5px; }
#Mainvis #Mainvis_inner .imgstyle_01 { display:none;}
#Mainvis #Mainvis_inner .txtarea_01,
#Cont .boxstyle_02 .txtarea_01 {
	width: 699px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -480px;
}
#Cont .boxstyle_03 .txtarea_01 { width:480px; position:absolute; left:50%; top:0; }
#Mainvis #Mainvis_inner .txtarea_01 { display: none; }
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_01 { padding:48px 0 0; font-size:80px; color:#FFF; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; line-height:1.0;}
#Mainvis #Mainvis_inner .txtarea_01 .car_sub { font-size:24px; color:#FFF; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9; line-height:1.0; padding:0 ; margin-left:5px;}
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_02 { font-size:13px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:20px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}
#Mainvis #Mainvis_inner .txtarea_01 p { width: 300px; font-size:16px; color:#FFF; display:block; line-height:1.0; margin-bottom:28px; font-weight:normal; line-height:22.5px}
#Mainvis #Mainvis_inner .txtarea_01 .sp_btnstyle_02 { display:none;}
#Mainvis #Mainvis_inner .btnstyle_01 { width:100px; position:absolute; left:50%; bottom:0; margin-left:-50px; height:55px;}
#Cont .boxstyle_02 .txtarea_01 .thumb_img,
#Cont .boxstyle_03 .txtarea_01 .thumb_img{ width:362px; height:204px;overflow:hidden; position:relative;}
/*#Cont .boxstyle_02 .txtarea_01 .thumb_img .thumb_img_ov,
#Cont .boxstyle_03 .txtarea_01 .thumb_img .thumb_img_ov{ width:100%; height:100%; position:absolute; top:0; left:0;background:url(../../images/ov_bg02.png);}*/

#Cont #sec_design_01 .boxstyle_03 .txtarea_01 .thumb_img{background:url(../../images/img_01_off.png) 1px top no-repeat; transition: .3s;}
#Cont #sec_design_01 .boxstyle_03 .txtarea_01 .thumb_img:hover{background:url(../../images/img_01_on.png) 1px top no-repeat;}
#Cont #sec_design_02 .boxstyle_02 .txtarea_01 .thumb_img{background:url(../../images/img_02_off.png)  1px top no-repeat; transition: .3s;;}
#Cont #sec_design_02 .boxstyle_02 .txtarea_01 .thumb_img:hover{background:url(../../images/img_02_on.png)  1px top no-repeat;}
#Cont #sec_performance_01 .boxstyle_03 .txtarea_01 .thumb_img{background:url(../../images/img_03_off.png) 1px top no-repeat; transition: .3s;}
#Cont #sec_performance_01 .boxstyle_03 .txtarea_01 .thumb_img:hover{background:url(../../images/img_03_on.png) 1px top no-repeat;}
#Cont #sec_performance_02 .boxstyle_02 .txtarea_01 .thumb_img{background:url(../../images/img_04_off.png) 1px top  no-repeat; transition: .3s;}
#Cont #sec_performance_02 .boxstyle_02 .txtarea_01 .thumb_img:hover{background:url(../../images/img_04_on.png) 1px top  no-repeat}
#Cont .thumb_img .thumb_movie_ov{position:absolute; top:0; left:0;background:url(../../images/ov_bg.png) top left no-repeat;width:362px; height:114px; padding-top:90px;}
#Cont .thumb_img .thumb_movie_wrap{ position:absolute; opacity:0; top:0; left:1px; width:360px; height:202px;}
#Cont .thumb_img { margin-bottom: 30px; }

#Cont .boxstyle_02 .imgstyle_02 ,
#Cont .boxstyle_03 .imgstyle_02 { height: 720px; position:relative; overflow:hidden; width:100%;}

#Cont #sec_design_02 .boxstyle_02 .imgstyle_02 { margin-bottom:-1px;}

#Cont .boxstyle_03 .imgstyle_02 .pc_bg{ position:absolute; top:0; width:720px; height:720px; overflow:hidden; left:0;}
#Cont .boxstyle_02 .imgstyle_02 .pc_bg{ position:absolute; top:0; width:720px; height:720px; overflow:hidden; right:0;}

#Cont .boxstyle_03 .imgstyle_02 .pc_bg img,
#Cont .boxstyle_02 .imgstyle_02 .pc_bg img{ max-width:none !important;}

#Cont #sec_design_02 .boxstyle_02 .imgstyle_02 .pc_bg img{ position:absolute; right:0;}

#Cont #sec_performance_02 .boxstyle_02 .imgstyle_02 .pc_bg.istablet { background-position:140px top;}

/* slide */
#Cont #sec_design_02 .boxstyle_02 .imgstyle_02 .pc_bg img{
	transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
}
#Cont #sec_design_02 .boxstyle_02 .imgstyle_02 .pc_bg.istablet img{
	transition:none;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
}
#Cont #sec_design_02 .boxstyle_02 .imgstyle_02 .pc_bg img:hover{right:-60px;}

/* zoom */
#Cont #sec_design_01 .boxstyle_03 .imgstyle_02 .pc_bg img,
#Cont #sec_performance_01 .boxstyle_03 .imgstyle_02 .pc_bg img,
#Cont #sec_performance_02 .boxstyle_02 .imgstyle_02 .pc_bg img{
	transition: all 3s ease-out;
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	position: absolute;
	top: 0; left: 0;
}
#Cont #sec_design_01 .boxstyle_03 .imgstyle_02 .pc_bg.istablet img,
#Cont #sec_performance_01 .boxstyle_03 .imgstyle_02 .pc_bg.istablet img,
#Cont #sec_performance_02 .boxstyle_02 .imgstyle_02 .pc_bg.istablet img{
	transition:none;
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
}
#Cont #sec_design_01 .boxstyle_03 .imgstyle_02 .pc_bg:hover img,
#Cont #sec_performance_01 .boxstyle_03 .imgstyle_02 .pc_bg:hover img,
#Cont #sec_performance_02 .boxstyle_02 .imgstyle_02 .pc_bg:hover img{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
}
/*#Cont .boxstyle_02 .imgstyle_02 .pc_bg img,
#Cont .boxstyle_03 .imgstyle_02 .pc_bg img{ width:100%;}*/
#Cont .boxstyle_02 .imgstyle_02 .pc_bg{ right:0;}
#Cont .boxstyle_03 .imgstyle_02 .pc_bg{ left:0;}

#Cont .boxstyle_02 .imgstyle_02 .sp_bg,
#Cont .boxstyle_03 .imgstyle_02 .sp_bg { display:none;}

#Cont .boxstyle_02 .txtarea_01,
#Cont .boxstyle_03 .txtarea_01 { padding:0 !important; color:#333; }

#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner { width:440px; height: 662px; padding-top: 110px; padding: 58px 40px 0 0; background: #FFF; }

#Cont .boxstyle_02 .txtarea_01 .titstyle_01,
#Cont .boxstyle_03 .txtarea_01 .titstyle_01 { font-size:56px !important; line-height:1.0; margin-bottom:5px; font-family:"AlternateGothicCom-No2",Arial\9, Helvetica\9, sans-serif\9;}

#Cont .boxstyle_02 .txtarea_01 .titstyle_01 span,
#Cont .boxstyle_03 .txtarea_01 .titstyle_01 span  { font-size:14px; color:#E50012 !important; display:block; line-height:1.0; margin-bottom:5px; font-weight:bold; font-family:"Helvetica",Arial\9, Helvetica\9, sans-serif\9;}

#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner p { margin-bottom:13px; font-size:16px; line-height:25px; color:#666;}

#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner .btnstyle_02,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner .btnstyle_02 { width: 105px; height: 40px; }
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner .btnstyle_02 a,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner .btnstyle_02 a { display: block; }

#Cont .boxstyle_02,
#Cont .boxstyle_03 { position:relative; overflow:hidden;}

#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner { float:right; width:440px; display:inline; height: 662px; padding-top: 110px; padding: 58px 0 0 40px; background: #FFF; }

#Mainvis #Mainvis_inner .sp_imgstyle_01,
#Cont .boxstyle_02 .sp_imgstyle_02,
#Cont .boxstyle_03 .sp_imgstyle_02,
#Cont .boxstyle_02 .sp_btnstyle_02,
#Cont .boxstyle_03 .sp_btnstyle_02 { display:none;}


/* header fixed */
#Mainvis { padding-top: 120px; }

#Mainvis .player_wrap{
	opacity:0;
  position:absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#Mainvis .player_wrap:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
  background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 11%, rgba(0,0,0,0) 89%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%); /* IE */
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 11%, rgba(0,0,0,0) 89%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 11%, rgba(0,0,0,0) 89%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient( left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 11%, rgba(0,0,0,0) 89%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*	background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 14%, rgba(0,0,0,0) 86%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%); /* IE */
/*	background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 14%, rgba(0,0,0,0) 86%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
/*	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 14%, rgba(0,0,0,0) 86%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
/*	background: linear-gradient( left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 14%, rgba(0,0,0,0) 86%, rgba(0,0,0,1) 94%, rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	opacity: 1;
}
#mainvis_pla{ position:absolute;}
/* #mainvis_pla { left: 5.5%!important; }/*20161202??*/
#mainvis_pla { margin: 0 auto; }/*20161202??*/
#Mainvis_bg{ overflow:hidden; width:100%;}
#Mainvis_ov{ width:100%; height:100%; position:absolute; top:0; left:0; background:url(../../images/clear.gif) repeat;}


/*11/21追加*/
#Mainvis #Mainvis_inner .txtarea_01 {
	top: inherit;
	left: inherit;
	bottom: 100px;	/* 12/7修正 */
	right: -80px;
}
#Mainvis #Mainvis_inner .btnstyle_01 {
  position: relative;
  left: inherit;
  height: 55px;
  margin: 15px auto 0 0;
}
#Cont .thumb_img .thumb_movie_ov .thumb_txt_bg {
  position: absolute;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	bottom: 2px;
	left: 1px;
	width: 360px;
  height: 50px;
  background: rgba( 0, 0, 0, .5);
}
#Cont .thumb_img .thumb_movie_ov img {
  position: absolute;
  right: 20px;
  bottom: 16px;
  padding-top: 0;
}
/*
#Cont .thumb_img .thumb_movie_ov img,
#Cont .thumb_img .thumb_movie_ov img:hover {
  opacity: 1 !important;
} */

/*11/25追加*/
#Cont #sec_performance_02 .boxstyle_02 .imgstyle_02 .pc_bg {
  position: relative;
  right: -50%;
}

#Cont .border {
	width: 780px;
	border: #CCCBCB 1px solid;
	padding: 10px;
	margin: 60px auto 30px;
}

#Cont .note {
	font-size: 12px !important;
	font-style: italic;
	color: #999 !important;
	line-height: 22.5px;
	text-align: center;
}
