html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Noto Sans Japanese', serif;
	vertical-align: baseline;
}
html{
	overflow-x: hidden;
}
img {
	vertical-align: bottom;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
}
.inner {
	width: 960px;
	margin: auto;
	position: relative;
}
body {
	line-height: 1;
	background:url(../images/bg_main.jpg) no-repeat left top #000;
}
#wrapper {
	width: 100%;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
.clearfix {
	min-height: 1%;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
}
* html .clearfix {
	height: 1px;
}
.clearfix {
	display: block;
}
.Fleft {
	float: left;
}
.Fright {
	float: right;
}
.Tcenter {
	text-align: center;
}
.sp_only{
	display: none;
}
/*=====header=====*/
header{
	width: 100%;
	background: url(../images/bg_header.gif) repeat-x center center;
	height: 68px;
	display: table;
	table-layout: fixed;
	margin-bottom: 50px;

}
#header_logo{
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
	width: 95%;
}
#btn_language{
	display: table-cell;
	vertical-align: middle;
}
#btn_language ul{
	display: table;
	table-layout: fixed;
}
#btn_language ul li{
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	color: #cccccc;
	border-right: #949494 1px solid;
	padding: 1px 4px 1px 0;
}
#btn_language ul li:last-child{
	border-left: 1px solid #bcbcbc;
	border-right:none;
	padding: 1px 0 1px 4px;
}
#btn_language ul li a{
	color: #000;
	text-decoration: none;
}
/*=====footer=====*/
footer{
	width: 100%;
	background: url(../images/bg_footer.gif) repeat-x center center;
	display: table;
	table-layout: fixed;
	height: 25px;
}
address{
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	font-style: normal;
	padding-right: 10px;
}

/*=====contents=====*/
#main_title{
	margin-bottom: 50px;
}
#contents{
	width: 600px;
	margin:0 auto 65px;
	position: relative;
	min-height: 675px;
}

#tabs{
	width: 500px;
	margin:0 auto 30px;
}
#tabs ul{
	display: table;
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;
}
#tabs .active{
	background: #FFF;
}
#tabs ul li{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: 2px solid #ffffff;
	cursor: pointer;
	padding: 5px 0 8px;
}
#tabs ul li a{
	text-decoration: none;
	color: #fff;
}
#tabs .active a{
	color: #000;
}
#tabs ul li:last-child{
	border-left: 0;
}
#contents .text{
	font-size: 18px;
	line-height: 2;
	color: #FFF;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 100;
	border-bottom: 1px solid #4d4d4d;
	padding-bottom: 30px;

}
#contents .item-text{
	text-align: center;
	color: #FFF;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: .12em;
}

.data-text{
	text-align: center;
	color: #FFF;
	margin-bottom: 35px;
}
.data-text dt{
	margin-bottom: 25px;
	font-size: 22px;
}
.data-text dd{
	font-weight: 100;
	letter-spacing: .22em;

}
.data-text .big-text{
	font-size: 42px;
	font-weight: 700;
	vertical-align:sub;
}
.bd {
	border-bottom: 1px solid #4d4d4d;
}

#details:before,
#details:after{
	display: table;
	content: "";
}
#details:after{
	clear: both;
}
#details{
	width: 540px;
	margin: 0 auto 40px;
}
#details dl{
	color: #FFF;
	border-left: 1px solid #888888;
	padding-left: 20px;
	float: left;
	margin-right: 60px;
}
#details dl:last-child{
	margin-right: 0;
}
#details dt{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
#details dd{
	font-size: 13px;
	line-height: 2;
	font-weight: 100;
}
.area{
	display: none;
}

.btn a{
	display: block;
	color: #FFF;
	width: 180px;
	text-decoration: none;
	padding:17px 0;
	text-align: center;
	margin:0 auto 30px;
	background: url(../images/btn.png) no-repeat center center;
}
.btn a:hover{
	opacity: 0.8;
}
#box2 dd:first-of-type{
	margin-bottom: 60px;
}
