
/******
**
Dynamicshield
**/

#c07 > div.pic01 {
  height: auto;
  display: block;
  margin: 15px auto 0;
  width: 80%;
}
  #c07 > div.pic01 a img{
    border: 1px solid #CCCCCC;
  }

@media only screen and (min-width: 769px) {
  #c07 > div.pic01 {
/*    height: 326px;
    min-height: 360px;*/
    width: 100%;
    height: auto;
    text-align: center;
  }
}
#c07 > div.pic01 > img,
#c07 > div.pic01 a > img {
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c07 > div.pic01 > img,
  #c07 > div.pic01 a > img {
    /*display: block;*/
/*    margin-left: -476px;
    left: 50%;
    position: relative;*/
    /*width: 952px;*/
    width: 537px;
  }
}
#c07 > a {
  border: 1px solid #BBBBBB;
  color: #cccccc;
  font-family: "NotoSans_Medium";
  font-size: 1rem;
  display: block;
  left: 50%;
  letter-spacing: 0.05rem;
  margin-left: -40%;
  margin-top: 20px;
  padding: 1.2rem 0;
  position: relative;
  text-align: center;
  width: 80%;
}
@media only screen and (min-width: 769px) {
  #c07 > a {
      font-size: 1.2rem;
      margin-left: -139px;
      margin-top: 28px;
      margin-bottom: 34px;
      width: 278px;
  }
}
/******
**
Concept Cars Slide
**/

#c08 > div.gallerys > div.slideBox {
  height: 310px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 1200px;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox {
    height: inherit;
    width: 4000px;
  }
}
#c08 > div.gallerys > div.slideBox > div {
  background-repeat: no-repeat;
  background-position: left center;
  height: inherit;
  position: absolute;
  top: 0;
  width: 260px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div {
    width: 960px;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox {
  margin-left: 0px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 260px;
  z-index: 2;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.rightbox {
    margin-left: 0px;
    left: auto;
    top: 0;
    width: auto;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox > p.txt {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  font-family: "NotoSans_Light";
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.3rem;
  margin: 10px 0;
  position: relative;
  text-align: center;
  width: 260px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.rightbox > p.txt {
    font-size: 4rem;
    letter-spacing: 0.6rem;
    line-height: 4rem;
    margin: 20px 0 30px 0;
    text-align: left;
    width: 296px;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox > a.pic {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
  float: right;
  display: block;
  height: 88px;
  font-family: "NotoSans_Medium";
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 0;
  margin-right: 2px;
  overflow: hidden;
  padding: 2rem 0;
  position: relative;
  text-align: center;
  width: 88px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.rightbox > a.pic {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    float: none;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;
    width: 296px;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox a.mov {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid #CCCCCC;
  display: block;
  height: 88px;
  float: none;
  margin-left: 2px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 158px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.rightbox a.mov {
    display: block;
    height: 165px;
    margin-left: 0;
    width: 296px;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.bg {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  height: 210px;
  min-height: 210px;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 535px;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.bg {
    height: 526px;
    min-height: 526px;
    width: 1300px;
  }
}

/*160930追加 car4*/
#c08 > div.gallerys > div.slideBox > div.car4 {
  left: 0px;
}
#c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox > p.txt {
  height: 35px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox > p.txt {
    height: 80px;
  }
}
/*movie 1つ*/
#c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox  a.mov {
  background-image: url('../images/concept_car4_mov.png');
}


#c08 > div.gallerys > div.slideBox > div.car4 > div.bg {
  background-image: url('../images/conceputCar-Slide04_sp.png');
  left: -29px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car4 > div.bg {
    background-image: url('../images/conceputCar-Slide04.png');
    left: -70px;
  }
}
/**/

/*160805追加 car3*/
#c08 > div.gallerys > div.slideBox > div.car3 {
  left: 300px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car3 {
    left: 1060px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.rightbox > p.txt {
  height: 35px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car3 > div.rightbox > p.txt {
    height: 80px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.rightbox > a.mov {
  background-image: url('../images/concept_car0_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.bg {
  background-image: url('../images/conceputCar-Slide00_sp.png');
  left: -29px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car3 > div.bg {
    background-image: url('../images/conceputCar-Slide00.png');
    left: -70px;
  }
}
/**/

/*car2*/
#c08 > div.gallerys > div.slideBox > div.car2 {
  left: 600px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car2 {
    left: 2120px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.rightbox > p.txt {
  height: 35px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car2 > div.rightbox > p.txt {
    height: 80px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.rightbox > a.mov {
  background-image: url('../images/concept_car1_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.bg {
  background-image: url('../images/conceputCar-Slide01_sp.png');
  left: -29px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car2 > div.bg {
    background-image: url('../images/conceputCar-Slide01.png');
    left: -70px;
  }
}

/*car1*/
#c08 > div.gallerys > div.slideBox > div.car1 {
  left: 900px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car1 {
    left: 3180px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.rightbox > p.txt {
  height: 45px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car1 > div.rightbox > p.txt {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 3rem;
    height: 90px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.rightbox > a.mov {
  background-image: url('../images/concept_car2_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.bg {
  background-image: url('../images/conceputCar-Slide02_sp.png');
  left: -39px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car1 > div.bg {
    background-image: url('../images/conceputCar-Slide02.png');
    left: -70px;
  }
}

/*car0*/
#c08 > div.gallerys > div.slideBox > div.car0 {
  left: 1200px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car0 {
    left: 4240px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car0 > div.rightbox > p.txt {
  height: 45px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car0 > div.rightbox > p.txt {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 3rem;
    height: 90px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car0 > div.rightbox > a.mov {
  background-image: url('../images/concept_car3_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car0 > div.bg {
  background-image: url('../images/conceputCar-Slide03_sp.png');
  left: -34px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car0 > div.bg {
    background-image: url('../images/conceputCar-Slide03.png');
    left: -70px;
  }
}


/******
**
Concept Cars Local Nav
**/


#c08 > div.gallerys > div.local_nav {
  height: 31px;
/*  left: 50%;
  margin-left: -120px;*/
  position: absolute;
  top: 320px;
  width: 261px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.local_nav {
    height: 31px;
    /*left: 50%;*/
    /*margin-left: -120px;*/
    position: absolute;
    top: 460px;
    /*width: 261px; nav 3つの場合*/
    /*width: 345px; nav 4つの場合*/
    width: 375px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
#c08 > div.gallerys > div.local_nav > ul > li {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 31px;
  display: inline-block;
  position: absolute;
  width: 31px;
}
#c08 > div.gallerys > div.local_nav > ul > li > a {
  display: block;
  height: inherit;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: inherit;
}
#c08 > div.gallerys > div.local_nav > ul > li.prev {
  left: 0;
}
#c08 > div.gallerys > div.local_nav > ul > li.prev > a {
  background-image: url('../images/arrowleft_icon.png');
  background-size: 31px;
}

/*slide nav*/
#c08 > div.gallerys > div.local_nav > ul > li.p1 {
  margin-left: -85px;
  left: 50%;
}
#c08 > div.gallerys > div.local_nav > ul > li.p1 > a {
  background-image: url('../images/conceptcar_lnav_dot.png');
  background-size: 31px;
}

#c08 > div.gallerys > div.local_nav > ul > li.p2 {
  margin-left: -50px;
  left: 50%;
}
#c08 > div.gallerys > div.local_nav > ul > li.p2 > a {
  background-image: url('../images/conceptcar_lnav_dot.png');
  background-size: 31px;
}

#c08 > div.gallerys > div.local_nav > ul > li.p3 {
/*  margin-left: -20px;
  left: 50%;*/
  left: 0;
  right: 0;
  margin: auto;
}
#c08 > div.gallerys > div.local_nav > ul > li.p3 > a {
  background-image: url('../images/conceptcar_lnav_dot.png');
  background-size: 31px;
}

/*0805追加*/
#c08 > div.gallerys > div.local_nav > ul > li.p4 {
  margin-left: 20px;
  left: 50%;
}
#c08 > div.gallerys > div.local_nav > ul > li.p4 > a {
  background-image: url('../images/conceptcar_lnav_dot.png');
  background-size: 31px;
}

/*0930追加*/
#c08 > div.gallerys > div.local_nav > ul > li.p5 {
  margin-left: 55px;
  left: 50%;
}
#c08 > div.gallerys > div.local_nav > ul > li.p5 > a {
  background-image: url('../images/conceptcar_lnav_dot.png');
  background-size: 31px;
}

#c08 > div.gallerys > div.local_nav > ul > li.next {
  right: 0;
}
#c08 > div.gallerys > div.local_nav > ul > li.next > a {
  background-image: url('../images/arrowright_icon.png');
  background-size: 31px;
}
#c08 > div.gallerys > div.local_nav > ul > li.v > a {
  background-image: url('../images/conceptcar_lnav_dot_v.png');
  background-size: 31px;
}

/******
**
Concept Cars Movie Nav
**/

  #c08 .gallerys .mov_nav{
    display: none;
  }
@media only screen and (min-width: 769px) {

  #c08 .gallerys .mov_nav{
    display: block;
    text-align: center;
  }
}
#c08 .gallerys .mov_nav li{
  display: inline-block;
}

#c08 .gallerys .mov_nav li a{
  background-repeat: no-repeat;
  background-position: 50% 0;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: block;
}

#c08 .gallerys .mov_nav li.dot a{
  background-image: url('../images/conceptcar_lnav_dot.png');
  background-size: 31px;
  width: 16px;
  height: 20px;

}
#c08 .gallerys .mov_nav li.next a{
  background-image: url('../images/mov_slide_next.png');
  width: 28px;
  background-position: 50% 100%;
  bottom: -1px;
}

#c08 .gallerys .mov_nav li.prev a{
  background-image: url('../images/mov_slide_prev.png');
  width: 28px;
  background-position: 50% 100%;
  bottom: -1px;
}

#c08 .gallerys .mov_nav li.dot.v a{
  background-image: url('../images/conceptcar_lnav_dot_v.png');
}


/******
**
Concept Cars Movie Slide
**/

#c08 .movSlideBox a.mov{
  display: inline-block!important;
}

#c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox a.mov.slide-01{
  background-image: url('../images/concept_car4_mov1_sp.png');
}
.jp #c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox a.mov.slide-02 {
  background-image: url('../images/concept_car4_mov2_sp_jp.png');
}

.en #c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox a.mov.slide-02 {
  background-image: url('../images/concept_car4_mov2_sp_en.png');
}

#c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox .movSlideBox a{
  border: none;
  height: 40px;
  margin-left: 0;
  margin-bottom: 3px;
  width: 160px;
}

#c08 .movSlideBox{
  position: relative;
  overflow: hidden;
  width: 160px;
  height: 87px;
}

@media only screen and (min-width: 769px) {
  #c08 .movSlideBox{
    position: relative;
    overflow: hidden;
    width: 296px;
    height: 169px;
  }

  #c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox .movSlideBox a{
    border: 1px solid #CCCCCC;
    width: 296px;
    height: 165px;
    margin-bottom: 0;
  }

  #c08 .movSlideBox .inner{
    position: absolute;
    top: 0;
    z-index: 1;
  }


  #c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox a.mov.slide-01{
    background-image: url('../images/concept_car4_mov1.png');
  }
  .jp #c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox a.mov.slide-02 {
    background-image: url('../images/concept_car4_mov2_jp.png');
  }
  .en #c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox a.mov.slide-02 {
    background-image: url('../images/concept_car4_mov2_en.png');
  }
}

/******
**
Movie Modal
**/

#modal_dynamicshield > div.inner a, #modal_movie a.js-close {
  background-image: url('../images/modal_close_icon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  overflow: hidden;
  position: fixed;
  right: 30px;
  text-indent: -9999px;
  top: 30px;
  width: 24px;
}

@media only screen and (max-width: 769px) {
  #modal_dynamicshield > div.inner a, #modal_movie a.js-close {
    top: 30px!important;
  }

}

/******
**
Dynamicshield Modal
**/

#modal_dynamicshield {
  background-color: rgba(0, 0, 0, 0.7);
}
#modal_dynamicshield > div.inner {
  background-color: black;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  overflow: hidden;
}

#modal_dynamicshield > div.inner div.car2 > div.car {
  background-image: url('../images/roots_car_2.png');
}
#modal_dynamicshield > div.inner div.car2 > div.p1 {
  background-image: url('../images/roots_car_2_parts_1.png');
}
#modal_dynamicshield > div.inner div.car2 > div.p2 {
  background-image: url('../images/roots_car_2_parts_2.png');
}
#modal_dynamicshield > div.inner div.car2 > div.p3 {
  background-image: url('../images/roots_car_2_parts_3.png');
}

#modal_dynamicshield > div.inner div.box1 {
  left: 50%;
  margin-left: -470px;
  position: absolute;
  top: 445px;
  width: 280px;
}
#modal_dynamicshield > div.inner div.box1 > h2 {
  background-image: url('../images/roots_txt_01.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 19px;
  left: 50%;
  margin-left: -87px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 174px;
}

#modal_dynamicshield > div.inner div.box1 > h3 {
  color: #FFF;
  font-size: 1.5rem;
  left: 50%;
  margin: 15px 0 15px -140px;
  position: relative;
  text-align: center;
  width: 280px;
}

#modal_dynamicshield > div.inner div.car3 {
  height: 184px;
  left: 50%;
  margin-left: 208px;
  position: absolute;
  top: 255px;
  width: 236px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
#modal_dynamicshield > div.inner div.car3 > div {
  background-position: center center;
  background-repeat: no-repeat;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}
#modal_dynamicshield > div.inner div.car3 > div.car {
  background-image: url('../images/roots_car_3.png');
}
#modal_dynamicshield > div.inner div.car3 > div.p1 {
  background-image: url('../images/roots_car_3_parts_1.png');
}
#modal_dynamicshield > div.inner div.box2 {
  left: 50%;
  margin-left: 188px;
  position: absolute;
  top: 445px;
  width: 280px;
}

#modal_dynamicshield > div.inner div.box2 > h2 {
  background-image: url('../images/roots_txt_02.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 19px;
  left: 50%;
  margin-left: -103px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 206px;
}
#modal_dynamicshield > div.inner div.box2 > h3 {
  color: #FFF;
  font-size: 1.5rem;
  left: 50%;
  margin: 15px 0 15px -140px;
  position: relative;
  text-align: center;
  width: 280px;
}

#modal_dynamicshield > div.inner div.box3 > h2 {
  background-image: url('../images/roots_txt_03.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 55px;
  left: 50%;
  margin-left: -107px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 0px;
  width: 215px;
}

#modal_dynamicshield > div.inner div.arrow {
  background-image: url('../images/roots_arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 293px;
  left: 50%;
  margin-left: -409px;
  position: absolute;
  top: 80px;
  width: 818px;
}

#modal_dynamicshield .next-slide{
  background-image: url(../images/modal_next_arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 24px!important;
  height: 47px!important;
  text-indent: -9999px;
}

#modal_dynamicshield .prev-slide{
  background-image: url(../images/modal_prev_arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 24px!important;
  height: 47px!important;
  text-indent: -9999px;
}

#modal_dynamicshield > div.inner div.car1 {
  height: 271px;
  left: 50%;
  margin-left: -191px;
  position: absolute;
  top: 313px;
  width: 382px;
}
#modal_dynamicshield > div.inner div.car1 > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}

#modal_dynamicshield > div.inner div.car1 > div.car {
  background-image: url('../images/DynamicShield-center.png');
}
#modal_dynamicshield > div.inner div.car1 > div.p1 {
  background-image: url('../images/dynamicshield_car_center_parts_1.png');
}
#modal_dynamicshield > div.inner div.car1 > div.p2 {
  background-image: url('../images/dynamicshield_car_center_parts_2.png');
}
#modal_dynamicshield > div.inner div.car1 > div.p3 {
  background-image: url('../images/dynamicshield_car_center_parts_3.png');
}
#modal_dynamicshield > div.inner div.car1 > div.p4 {
  background-image: url('../images/dynamicshield_car_center_parts_4.png');
}

#modal_dynamicshield > div.inner div.box3 {
  left: 50%;
  margin-left: -140px;
  position: absolute;
  top: 178px;
  width: 280px;
}

#modal_dynamicshield > div.inner div.car2 {
  height: 185px;
  left: 50%;
  margin-left: -450px;
  position: absolute;
  top: 255px;
  width: 252px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

#modal_dynamicshield > div.inner div.car2 > div {
  background-position: center center;
  background-repeat: no-repeat;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}

#modal_dynamicshield > div.inner div.box0,
#modal_dynamicshield > div.inner div.box6{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #BBBBBB;
  margin: auto;
  z-index: 9999;
  text-align: center
}

#modal_dynamicshield > div.inner div.box0 p,
#modal_dynamicshield > div.inner div.box6 p{
  font-weight: 700;

}


#modal_dynamicshield > div.inner div.box1 > p {
  color: #BBBBBB;
  font-size: 1.4rem;
  left: 50%;
  line-height: 2.4rem;
  margin-left: -140px;
  position: relative;
  width: 319px;
  z-index: 100;
}

.en #modal_dynamicshield > div.inner div.box1 > p {
  width: 350px;

}

#modal_dynamicshield > div.inner div.box2 > p {
  color: #BBBBBB;
  font-size: 1.4rem;
  left: 50%;
  line-height: 2.4rem;
  margin-left: -140px;
  position: relative;
  width: 280px;
}

#modal_dynamicshield > div.inner div.box3 > p {
  color: #BBBBBB;
  font-size: 1.4rem;
  left: 50%;
  line-height: 2.4rem;
  margin-left: -140px;
  position: absolute;
  top: 65px;
  width: 280px;
}

/*160930 更新*/
#modal_dynamicshield{
  overflow: hidden;
}
#modal_dynamicshield .prev-slide,
#modal_dynamicshield .next-slide{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 36px;
  height: 36px;
  margin: auto;
  opacity: 0;
  transition: opacity 2s ease;
  cursor: pointer;
}

#modal_dynamicshield .box4,
#modal_dynamicshield .box5,
#modal_dynamicshield .box6{
  position: absolute;
  display: none;
}

#modal_dynamicshield .box4{
  opacity: 0;
}


#modal_dynamicshield .box4{
  bottom: 45px;
  left: 0;
  right: 0;
  width: 850px;
  height: 430px;
  margin: auto;
}

#modal_dynamicshield .box4 .img-01,
#modal_dynamicshield .box4 .img-02{
  position: absolute;
  top: 0;

}

#modal_dynamicshield .box4 .img-02{
  opacity: 0;
}

#modal_dynamicshield .box5{
  top: 230px;
  left: 50%;
  width: 320px;
  height: 230px;
  margin-left: 167px;
}
#modal_dynamicshield .box5 #cv-01{
  position: absolute;
  top: 58px;
  right: 7px;
}

#modal_dynamicshield .box5 #cv-02{
  position: absolute;
  bottom: 25px;
  left: 45px;
}


#modal_dynamicshield .box5 .text-01,
#modal_dynamicshield .box5 .text-02{
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}

#modal_dynamicshield .box5 .text-01{
  background-image: url(../images/dynamicshield_car_center_parts_7.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  width: 100%;
  height: 46px;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 2s ease 1s;
}

#modal_dynamicshield .box5 .text-01.active{
  opacity:1;
}

#modal_dynamicshield .box5 .text-02{
  position: absolute;
  top: 120px;
  right: 10px;
  background-image: url(../images/dynamicshield_car_center_parts_8.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 2s ease 1s;
}

#modal_dynamicshield .box5 .text-02.active{
  opacity:1;
}


#modal_dynamicshield .box5 .circle-01{
  background-color: #00b7ee;
  position: absolute;
  top: 137px;
  left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#modal_dynamicshield .box5 .circle-02{
  background-color: #00b7ee;
  position: absolute;
  bottom: 22px;
  left: 41px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#modal_dynamicshield .box6{
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

#modal_dynamicshield .box6 p{
  display: inline-block;
  line-height: 1.8;
  /*text-align: left;*/
}

#modal_dynamicshield.active .js-close,
#modal_dynamicshield.active .prev-slide,
#modal_dynamicshield.active .next-slide{
  opacity: 1;
  transition: opacity .5s ease;
}
 #modal_dynamicshield.active .js-close:hover,
#modal_dynamicshield.active .prev-slide:hover,
#modal_dynamicshield.active .next-slide:hover{
  opacity: .7;
}

#modal_dynamicshield .prev-slide{
  left: 30px;
}

#modal_dynamicshield .next-slide{
  right: 30px;
}


#modal_dynamicshield .slider{
  position: relative;
  width: 100%;
  height: 700px;
  float: left;
}

/* #modal_dynamicshield .js-close{
  position: absolute;
  right: 30px;
  background-image: url('../images/modal_close_icon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
  width: 24px;
  opacity: 0;
  transition: opacity 2s ease;
 }*/
 #modal_dynamicshield .js-close{
  background-image: url(../images/modal_close_icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 18px;
  top: 50%;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  transition: opacity .4s ease;
}


