@charset "UTF-8";
/*

  ベースCSS

*/
/* web font */
@font-face {
  font-family: "NotoSans_Light";
  src: url('../fonts/NotoSansCJKjp-Light.otf') format('opentype');
}
@font-face {
  font-family: "NotoSans_Regular";
  src: url('../fonts/NotoSansCJKjp-Regular.otf') format('opentype');
}
@font-face {
  font-family: "NotoSans_Medium";
  src: url('../fonts/NotoSansCJKjp-Medium.otf') format('opentype');
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, img {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

body {
  background-color: #000;
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
  color: #fff;
  font-family: "NotoSans_Regular";
  -webkit-text-size-adjust: 100%;
}

ul, li {
  list-style-position: inside;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

a:active {
  color: #FFF;
  text-decoration: none;
}

a:focus, *:focus {
  outline: none;
}

/* ヘッダー */
header {
  background-color: #FFF;
  border-bottom: 1px solid #ef0041;
  box-sizing: border-box;
  height: 68px;
  overflow: hidden;
  position: relative;
  z-index: 11;
}
header > h1 {
  height: inherit;
  border-bottom: 2px solid #cac9ca;
  box-sizing: border-box;
  padding: 12px 0 0 15px;
  width: 100%;
}
header > h1 > a {
  background-image: url('../images/lg.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 45px;
  overflow: hidden;
  text-indent: -9999px;
  width: 69px;
}
header > p {
  color: #CCCCCC;
  font-size: 1.4em;
  line-height: 68px;
  position: absolute;
  right: 2.3em;
  text-align: right;
  top: 0;
  width: 100px;
}
header > p > span {
  color: #000;
  padding: 0 0.2em;
}
header > p > a,
header > p > a:visited,
header > p > a:hover,
header > p > a:active {
  color: #000;
}

/* フッター */
footer {
  background: #CAC9CA;
  border-top: 1px solid #EF0041;
  bottom: 0;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 11;
}
footer > p.copyright {
  color: #000;
  line-height: 1;
  margin: 0;
  padding: 0.6rem 1rem 0.4rem 0;
  font-size: 1.4em;
  text-align: right;
}

span.br_pc {
  display: inline;
}

span.br_sp {
  display: none;
}

/* メインコンテナ */
#container {
  box-sizing: border-box;
  display: block;
  height: auto;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  /* roots.html */
  /* concept_ex.html */
}
#container > nav {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 68px;
  width: 100%;
  z-index: 99;
}
#container > nav > a.head {
  border-bottom: 1px solid #222222;
  box-sizing: border-box;
  cursor: pointer;
  color: #BABABA;
  display: block;
  font-family: "NotoSans_Medium";
  font-size: 12px;
  letter-spacing: 0.1em;
  padding: 2em 3em;
  position: relative;
  width: 100%;
}
#container > nav > a.head > span {
  background-image: url('../images/nav_back_icon.png');
  background-repeat: no-repeat;
  background-position: 100%;
  display: block;
  height: 10px;
  position: absolute;
  left: 1em;
  top: 2.5em;
  width: 9px;
}
#container > section.roots {
  height: auto;
  padding: 100px 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
#container > section.roots > div.pajero {
  background-image: url('../images/roots_pic_01.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 177px;
  left: 50%;
  margin-left: -120px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 240px;
}
#container > section.roots > div.box1 {
  padding: 15px 0 50px 0;
  position: relative;
}
#container > section.roots > div.box1 > h2 {
  background-image: url('../images/roots_txt_01.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 19px;
  left: 50%;
  margin-left: -87px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 174px;
}
#container > section.roots > div.box1 > h3 {
  color: #FFF;
  font-family: "NotoSans_Medium";
  font-size: 15px;
  left: 50%;
  margin: 15px 0 15px -140px;
  position: relative;
  text-align: center;
  width: 280px;
}
#container > section.roots > div.box1 > p {
  color: #BBBBBB;
  font-family: "NotoSans_Medium";
  font-size: 14px;
  left: 50%;
  line-height: 2.4em;
  margin-left: -140px;
  position: relative;
  width: 280px;
}
#container > section.roots > div.lancer {
  background-image: url('../images/roots_pic_02.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 161px;
  left: 50%;
  margin-left: -103px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 206px;
}
#container > section.roots > div.box2 {
  padding: 30px 0 50px 0;
  position: relative;
}
#container > section.roots > div.box2 > h2 {
  background-image: url('../images/roots_txt_02.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 19px;
  left: 50%;
  margin-left: -103px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 206px;
}
#container > section.roots > div.box2 > h3 {
  color: #FFF;
  font-family: "NotoSans_Medium";
  font-size: 15px;
  left: 50%;
  margin: 15px 0 15px -140px;
  position: relative;
  text-align: center;
  width: 280px;
}
#container > section.roots > div.box2 > p {
  color: #BBBBBB;
  font-family: "NotoSans_Medium";
  font-size: 14px;
  left: 50%;
  line-height: 2.4em;
  margin-left: -140px;
  position: relative;
  width: 280px;
}
#container > section.roots > div.box3 {
  background-image: url('../images/roots_pic_03.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 442px;
  left: 50%;
  margin-left: -160px;
  overflow: hidden;
  position: relative;
  width: 320px;
}
#container > section.roots > div.box3 > h2 {
  background-image: url('../images/roots_txt_03.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 46px;
  left: 50%;
  margin-left: -91px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 135px;
  width: 227px;
}
#container > section.roots > div.box3 > p {
  color: #BBBBBB;
  font-family: "NotoSans_Medium";
  font-size: 14px;
  left: 50%;
  line-height: 2.4em;
  margin-left: -140px;
  position: absolute;
  top: 195px;
  width: 280px;
}
#container > section.gallery {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
#container > section.gallery > h2 {
  display: block;
  font-family: "NotoSans_Light";
  font-size: 24px;
  height: 100px;
  position: relative;
  line-height: 100px;
  text-align: center;
  width: 100%;
  z-index: 1;
}
#container > section.gallery > h2.geoseek_concept {
  height: 60px;
  line-height: 30px;
  padding-top: 25px;
}
#container > section.gallery > h3.geoseek_concept {
  background-image: url('../images/t13_2_pc.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 65px;
  left: 50%;
  margin: 10px 0 0 -306px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 613px;
}
#container > section.gallery > div.list {
  display: block;
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
#container > section.gallery > div.list > div.pics {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
}
#container > section.gallery > div.list > div.pics > div.inner {
  height: inherit;
  position: relative;
  width: inherit;
}
#container > section.gallery > div.list > div.pics > div.inner > a {
  box-sizing: border-box;
  display: block;
  float: left;
  height: auto;
  overflow: hidden;
  width: 33.33%;
}
#container > section.gallery > div.list > div.pics > div.inner > a > img {
  height: auto;
  width: 100%;
  margin: 0 0 1px 1px;
  position: relative;
}
#container > section.gallery > div.list > div.pics > div.inner > a:nth-child(3n+1) > img {
  margin: 0 0 1px 0;
}
#container > section.gallery > div.list > div.pics > div.inner > div.waku {
  border: 1px solid #FFF;
  box-sizing: border-box;
  display: none;
  left: 0;
  height: 50px;
  position: absolute;
  top: 0;
  width: 78px;
}
#container > section.gallery > div.list > a {
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  height: 50px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 50px;
  z-index: 2;
}
#container > section.gallery > div.list > a.prev {
  background-image: url('../images/arrowleft_icon.png');
  left: -50px;
}
#container > section.gallery > div.list > a.next {
  background-image: url('../images/arrowright_icon.png');
  right: -50px;
}
#container > section.gallery > div.list > div.local_nav {
  display: none;
  height: 70px;
  position: relative;
  padding: 0;
  width: 100%;
  z-index: 2;
}
#container > section.gallery > div.list > div.local_nav > ul {
  display: block;
  height: 31px;
  left: 50%;
  margin-top: 13px;
  position: relative;
}
#container > section.gallery > div.list > div.local_nav > ul > li {
  background-image: url('../images/conceptcar_lnav_dot.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  height: 31px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 31px;
}
#container > section.gallery > div.list > div.local_nav > ul > li.v {
  background-image: url('../images/conceptcar_lnav_dot_v.png');
  cursor: default;
}
#container > section.gallery > div.otherBox {
  background-color: #111111;
  border-top: 1px solid #111111;
  position: relative;
  width: 100%;
}
#container > section.gallery > div.otherBox > h3 {
  display: block;
  font-family: "NotoSans_Light";
  font-size: 20px;
  position: relative;
  margin: 35px 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
#container > section.gallery > div.otherBox > div.cars {
  display: block;
  left: 50%;
  overflow: hidden;
  max-width: 930px;
  padding-bottom: 50px;
  position: relative;
  width: 300px;
  z-index: 1;
}
#container > section.gallery > div.otherBox > div.cars > div.inner {
  height: inherit;
  position: relative;
  left: 0;
  overflow: visible;
  width: 300px;
}
#container > section.gallery > div.otherBox > div.cars > div.inner > a {
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  height: auto;
  float: left;
  position: relative;
  width: 150px;
}
#container > section.gallery > div.otherBox > div.cars > div.inner > a > img {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
#container > section.gallery > div.otherBox > div.cars > div.inner > a > p.txt {
  bottom: -10px;
  color: #999999;
  height: 30px;
  font-family: "NotoSans_Medium";
  font-size: 10px;
  left: 3%;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: 94%;
  z-index: 2;
}
#container > section.gallery > div.otherBox > a {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 120px;
  width: 50px;
  z-index: 2;
}
#container > section.gallery > div.otherBox > a.prev {
  background-image: url('../images/arrowleft_icon.png');
  margin-left: -25px;
}
#container > section.gallery > div.otherBox > a.next {
  background-image: url('../images/arrowright_icon.png');
  margin-left: -25px;
}
#container > section.gallery > div.movBox {
  background-color: #111111;
  border-top: 1px solid #111111;
  height: 270px;
  position: relative;
  text-align: center;
  width: 100%;
}
#container > section.gallery > div.movBox > a {
  display: inline-block;
  height: 169px;
  margin: 50px auto;
  width: 298px;
}
#container > section.gallery > div.movBox > a > img {
  height: auto;
  width: 100%;
}
#container > section.modal {
  background-color: #000;
  display: none;
  height: 100%;
  left: 50%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#container > section.modal > div.inner {
  height: 100%;
  margin-top: 0;
  position: relative;
  top: 0;
  width: 100%;
}
#container > section.modal > div.inner > div.pics {
  height: inherit;
  left: 30px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 260px;
  z-index: 1;
}
#container > section.modal > div.inner > div.pics > div {
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  height: inherit;
  overflow: visible;
  position: relative;
  top: 0;
}
#container > section.modal > div.inner > div.pics > div > img {
  display: block;
  height: auto;
  margin-left: -50%;
  margin-top: -50%;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100%;
}
#container > section.modal > div.inner > a {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  z-index: 2;
}
#container > section.modal > div.inner > a.prev {
  background-color: transparent;
  height: 200px;
  margin-top: -100px;
  left: 0px;
  top: 50%;
  width: 40px;
}
#container > section.modal > div.inner > a.prev > span {
  background-image: url('../images/arrowleft_icon.png');
  background-position: center center;
  background-size: 31px;
  display: block;
  height: 31px;
  margin-top: -15px;
  position: absolute;
  right: 4px;
  top: 50%;
  width: 31px;
}
#container > section.modal > div.inner > a.next {
  background-color: transparent;
  height: 200px;
  margin-top: -100px;
  right: 0px;
  top: 50%;
  width: 40px;
}
#container > section.modal > div.inner > a.next > span {
  background-image: url('../images/arrowright_icon.png');
  background-position: center center;
  background-size: 31px;
  display: block;
  height: 31px;
  margin-top: -15px;
  position: absolute;
  left: 4px;
  top: 50%;
  width: 31px;
}
#container > section.modal > div.inner > a.close {
  background-image: url('../images/modal_close_icon.png');
  background-position: center center;
  display: block;
  height: 54px;
  right: 15px;
  top: 15px;
  width: 54px;
}

#modal_movie {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#modal_movie > div.inner {
  height: 700px;
  margin-top: -350px;
  position: relative;
  top: 50%;
  width: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#modal_movie > div.inner > a {
  background-image: url('../images/modal_close_icon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  overflow: hidden;
  position: absolute;
  right: 30px;
  text-indent: -9999px;
  top: 30px;
  width: 24px;
}
#modal_movie > div.inner > iframe {
  border: 1px solid #FFF;
  height: 360px;
  left: 50%;
  margin-left: -320px;
  margin-top: -180px;
  position: absolute;
  top: 50%;
  width: 640px;
}

body.en #container > section.roots > div.box1 > p {
  margin-left: -137px;
  width: 275px;
}
body.en #container > section.roots > div.box2 > p {
  margin-left: -152px;
  width: 305px;
}
body.en #container > section.roots > div.box3 > p {
  margin-left: -150px;
  width: 300px;
}
