/**************************************
**  Modal CSS
**************************************/
html.modal-html{
  margin-right: 15px;
  overflow: hidden !important;
  width: auto;
}

html.modal-html body{
  /*position: relative;*/
}
html.modal-html #overlay{
  overflow: auto;
  overflow-y: scroll;
}

#overlay{
  z-index: 12;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.85);
}

.modal{
  position: absolute;
  display: none;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
  width: 100%;
  height: 100%;
  /*background: #000;*/
}

#close-btn{
  background-image: url(../images/modal_close_icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  right: 30px;
  top: 50%;
  /*top: 30px;*/
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  opacity: 0;
  z-index: 9999;
  transition: opacity .4s ease;
}

#close-btn:hover{
  opacity: .7!important;
}

h1#recruit-tit{
  position: fixed;
  top: 50%;
  width: 100%;
  font-size: 32px;
  text-align: center;
  opacity:0;
  z-index: 101;
}

.modal-iframe{
  position: fixed;
  top: 50%;
  left:0;
  right:0;
  margin: auto;
  overflow:auto;
  z-index: 1111;
  -webkit-overflow-scrolling:touch;
}

@media screen and (max-width: 769px) {
html.modal-html body{
  /*overflow: hidden!important;*/
}

#close-btn{
  top: 30px;
}

.modal{
  width: 90%;
}

html.modal-html{
  overflow: auto;
}

html.modal-html{
  margin: 0;
}
.modal-iframe{
  /*position: relative;*/
}
  h1#recruit-tit{
    font-size: 26px;
  }

  #overlay{

  }
}