
/**************************************
**  Recruit CSS
**************************************/

body.modal-child{
  background-color: transparent;
}

body.en li{
  margin-bottom: .4rem;
}

body.en .parent .child dl{
  margin-bottom: 10px;
  line-height: 1.7;
}

#recruit-wrap{
  /*max-width: 768px;*/
  height: 100%;
  margin: 0 auto;
}

.recruit-box{
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  /*background-color: #000*/
}

.parent{
  padding: 30px 0 30px 2px;
  border-bottom: 1px solid #888;
  cursor: pointer;
}

.recruit-list .parent:last-child{
  border-bottom: none;
}

.job-name{
  position:relative;
  font-size: 18px;
  font-weight: 200;
  color: #ccc;
  padding-right: 40px;
  transition: color .4s ease;
}

.parent:hover .job-name,
.parent.on .job-name{
  color: #fff;
}

.job-name .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 24px;
  height: 24px;
  margin: auto;
  transition: all .3s ease;
}

.parent.on .icon{
  transform: rotate(90deg);
}

.job-name .icon img{
  width: 100%;
}

.parent .child{
  display: none;
  font-size: 14px;
  padding-top: 40px;
}

.parent .child dl{
  display: table;
  width: 98%;
  /*margin-bottom: 20px;*/
}

.parent .child dt{
  display: table-cell;
  width: 15%;
}
.parent .child dd{
  display: table-cell;
  width: 85%;
  border-left: 2%;
  color: #ccc;
  box-sizing: border-box;
}

.parent .child .recruit-link {
  padding-bottom: 10px;
  border:none!important;
}
.parent .child .recruit-link a{
  /*color: #ccc;*/
  text-decoration: underline;
  transition: all .4s ease;
}

.parent .child .recruit-link a:hover{
  /*color: #FFF;*/
  text-decoration: none;
}

.parent .child dd ul{
  margin-bottom: 10px;
}

.parent .child dd li{
  text-indent: -1em;
  padding-left: 1em;
}

.parent .child dd li.not-indent{
  text-indent: 0;
  padding-left:0;
}

.parent .child .tx{
  color: #fff;
  margin-bottom: 1rem;
}

  .parent .child .qualifications-block{
    width: 98%;
    display: block;
    overflow: hidden;
  }

  .parent .child .qualifications-block dt{
    display: block;
    width: 100%;
  }

  .parent .child .qualifications-block dd{
    display: block;
    width: 85%;
    float: right;
  }

@media screen and (max-width: 769px) {
  .job-name .icon {
    right: 7px;
  }
  .parent .child{
    padding-top: 20px;
  }

  .parent .child dl{
    width: 98%;
    display: block;
  }

  .parent .child dt{
    display: block;
    width: 100%;
  }

  .parent .child dd{
    display: block;
    width: 100%;
  }

  .parent .child .qualifications-block dd{
    width: 100%;
    floa:none;
  }


  .parent .child .tx{
    border-bottom: 1px dashed #999;
    padding-bottom: 1rem;
  }

}

