@charset "UTF-8";
/*

  ベースCSS

*/
/* web font */
@font-face {
  font-family: "NotoSans_Light";
  src: url('../fonts/NotoSansCJKjp-Light.otf') format('opentype');
}
@font-face {
  font-family: "NotoSans_Regular";
  src: url('../fonts/NotoSansCJKjp-Regular.otf') format('opentype');
}
@font-face {
  font-family: "NotoSans_Medium";
  src: url('../fonts/NotoSansCJKjp-Medium.otf') format('opentype');
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, img {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

body {
  background-color: #000;
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
  color: #fff;
  font-family: "NotoSans_Regular";
  -webkit-text-size-adjust: 100%;
}

ul, li {
  list-style-position: inside;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

a:active {
  color: #FFF;
  text-decoration: none;
}

a:focus, *:focus {
  outline: none;
}

/* ヘッダー */
header {
  background-color: #FFF;
  border-bottom: 1px solid #ef0041;
  box-sizing: border-box;
  height: 68px;
  overflow: hidden;
  position: relative;
  z-index: 11;
}
header > h1 {
  height: inherit;
  border-bottom: 2px solid #cac9ca;
  box-sizing: border-box;
  padding: 12px 0 0 15px;
  width: 100%;
}
header > h1 > a {
  background-image: url('../images/lg.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 45px;
  overflow: hidden;
  text-indent: -9999px;
  width: 69px;
}
header > p {
  color: #CCCCCC;
  font-size: 1.4em;
  line-height: 68px;
  position: absolute;
  right: 2.3em;
  text-align: right;
  top: 0;
  width: 100px;
}
header > p > span {
  color: #000;
  padding: 0 0.2em;
}
header > p > a,
header > p > a:visited,
header > p > a:hover,
header > p > a:active {
  color: #000;
}

/* フッター */
footer {
  background: #CAC9CA;
  border-top: 1px solid #EF0041;
  bottom: 0;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 11;
}
footer > p.copyright {
  color: #000;
  line-height: 1;
  margin: 0;
  padding: 0.6rem 1rem 0.4rem 0;
  font-size: 1.4em;
  text-align: right;
}

span.br_pc {
  display: inline;
}

span.br_sp {
  display: none;
}

/* メインコンテナ */
#skrollr-body {
  box-sizing: border-box;
  display: block;
  height: auto;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}
#skrollr-body > nav {
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 68px;
  width: 100%;
  z-index: 99;
}
#skrollr-body > nav > p.head {
  border-bottom: 1px solid #222222;
  box-sizing: border-box;
  cursor: pointer;
  color: #BABABA;
  display: none;
  font-family: "NotoSans_Medium";
  font-size: 12px;
  letter-spacing: 0.1em;
  padding: 2em 2em;
  position: relative;
  width: 100%;
}
#skrollr-body > nav > p.head > span {
  background-image: url('../images/nav_icon.png');
  background-repeat: no-repeat;
  background-position: 100%;
  display: block;
  height: 15px;
  position: absolute;
  right: 2.5em;
  top: 2em;
  width: 16px;
}
#skrollr-body > nav > p.head > span.open {
  background-image: url('../images/nav_close_icon.png');
}
#skrollr-body > nav > p.head > span.new {
  display: none;
}
#skrollr-body > nav ul {
  position: relative;
  width: 100%;
  display: block;
  height: 50px;
  text-align: center;
}
#skrollr-body > nav ul > li {
  box-sizing: border-box;
  font-family: "NotoSans_Medium";
  margin: 0 1.5em;
  display: inline-block;
  margin: 0 1em;
  letter-spacing: 0.2em;
  text-align: center;
  position: relative;
}
#skrollr-body > nav ul > li > a {
  box-sizing: border-box;
  color: #AAAAAA;
  display: block;
  position: relative;
  transition-timing-function: ease-out;
  transition-property: color;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
  padding: 0;
  line-height: 49px;
}
#skrollr-body > nav ul > li > a.v {
  color: #FFF;
  border-bottom: 1px solid #FFF;
}
#skrollr-body > nav ul > li > a:hover {
  color: #FFF;
}
#skrollr-body > nav ul > li > span.new {
  background-color: #FF3008;
  border-radius: 10px;
  color: #fff;
  display: block;
  font-family: "NotoSans_Medium";
  font-size: 1rem;
  padding: 3px 8px;
  position: absolute;
  right: -43px;
  top: 6px;
}
#skrollr-body > nav ul > li.underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}
#skrollr-body > nav ul > li.underline:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}
#skrollr-body > nav ul > li.underline:hover:before,
#skrollr-body > nav ul > li.underline:focus:before,
#skrollr-body > nav ul > li.underline:active:before {
  right: 0;
}
#skrollr-body > div.bg {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
#skrollr-body > section {
  box-sizing: border-box;
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
#skrollr-body > section > article {
  box-sizing: border-box;
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

#intro {
  height: auto;
  min-height: auto;
  position: relative;
  z-index: 1;
}
#intro #c01 {
  height: 600px;
  overflow: visible;
}
#intro #c01 > div.t01_1 {
  background-image: url('../images/t01_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 77px;
  left: 50%;
  margin-left: -47px;
  margin-top: -108px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 50%;
  width: 94px;
}
#intro #c01 > h2.t01_2 {
  background-image: url('../images/t01_2_sp.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 129px;
  left: 50%;
  margin-left: -108px;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 50%;
  width: 217px;
}
#intro #c02 {
  height: auto;
  overflow: visible;
  position: relative;
  top: 0;
  margin-bottom: 50px;
  width: 100%;
}
#intro #c02 > p.t02_1 {
  font-size: 32px;
  height: 27px;
  display: block;
  position: relative;
  left: 60%;
  top: 70px;
  width: 400px;
}
#intro #c02 > p.t02_1 > span {
  display: inline;
  position: relative;
}
#intro #c02 > p.t02_2 {
  font-size: 32px;
  height: 28px;
  display: block;
  margin-top: 20px;
  position: relative;
  left: 60%;
  top: 70px;
  width: 400px;
}
#intro #c02 > p.t02_3 {
  font-size: 32px;
  height: 28px;
  display: block;
  margin-top: 20px;
  position: relative;
  left: 60%;
  top: 70px;
  width: 400px;
}
#intro #c02 > div.bg {
  background-image: url('../images/StoryArea-chap01.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: inherit;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: inherit;
  z-index: -1;
}
#intro #c02 > div.bg > img {
  display: none;
}
#intro #c03 {
  height: auto;
  overflow: visible;
  position: relative;
  top: 0;
  margin-bottom: 50px;
}
#intro #c03 > p.t03_1 {
  font-size: 32px;
  height: 27px;
  display: block;
  left: 10%;
  margin-top: 20px;
  position: relative;
  top: 15px;
  width: 600px;
}
#intro #c03 > p.t03_2 {
  font-size: 32px;
  height: 73px;
  display: block;
  left: 10%;
  margin-top: 40px;
  position: relative;
  top: 0;
  width: 600px;
}
#intro #c03 > div.bg {
  background-image: url('../images/StoryArea-chap02.png');
  background-position: left center;
  background-repeat: no-repeat;
  height: inherit;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: inherit;
  z-index: -1;
}
#intro #c03 > div.bg > img {
  display: none;
}
#intro #c04 {
  height: 600px;
  overflow: visible;
  position: relative;
  top: 0;
}
#intro #c04 > p {
  background-repeat: no-repeat;
  left: 50%;
  position: relative;
  text-align: center;
}
#intro #c04 > p.t04_1 {
  font-size: 32px;
  height: 30px;
  margin-left: -200px;
  top: 120px;
  width: 400px;
}
#intro #c04 > p.t04_2 {
  font-size: 32px;
  height: 30px;
  margin-left: -200px;
  top: 270px;
  width: 400px;
}
#intro #c04 > p.t04_3 {
  font-size: 32px;
  height: 26px;
  margin-left: -230px;
  top: 360px;
  width: 460px;
}
#intro #c04 > p.t04_4 {
  font-size: 32px;
  height: 110px;
  margin-left: -200px;
  top: 250px;
  width: 400px;
}
#intro #c04 > div.msk {
  background-image: url('../images/StoryArea-chap03_msk_sp.png');
  background-repeat: repeat-x;
  bottom: 0;
  height: 200px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#intro #c04 > div.movie {
  background-image: url('../images/StoryArea-chap03_sp.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  display: block;
  overflow: visible;
  position: absolute;
  top: 0px;
  width: inherit;
  z-index: -2;
}
#intro #c04 > div.movie #video {
  display: none;
}
#intro #c05 {
  height: 600px;
  overflow: visible;
  position: relative;
  top: 0;
}
#intro #c05 > div.wout {
  background-color: #FFF;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#intro #c05 > p {
  background-repeat: no-repeat;
  left: 50%;
  position: absolute;
  text-align: center;
}
#intro #c05 > p.t05_1 {
  font-size: 32px;
  height: 125px;
  margin-left: -230px;
  top: 130px;
  width: 460px;
}
#intro #c05 > div.bg {
  background-image: url('../images/StoryArea-chap04_sp.png');
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  display: block;
  position: absolute;
  top: 0;
  width: inherit;
  z-index: -1;
}

#c06 {
  height: 350px;
  min-height: 250px;
  overflow: visible;
  position: relative;
  top: 0;
  z-index: 1;
}
#c06 > p {
  font-family: "NotoSans_Light";
  background-repeat: no-repeat;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 50%;
  font-size: 32px;
  letter-spacing: 0.3em;
  line-height: 1.8;
}
#c06 > p.t06_1 {
  height: 137px;
  margin-left: -340px;
  margin-top: -68px;
  width: 680px;
}

#c07 {
  height: auto;
  margin-bottom: 140px;
  min-height: auto;
  position: relative;
  z-index: 1;
}
#c07 > div.head {
  height: auto;
  display: block;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
#c07 > div.head > img {
  height: auto;
  width: 100%;
}
#c07 > div.head > div.animateBox {
  display: none;
}
#c07 > div.pic01 {
  height: auto;
  display: block;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
#c07 > div.pic01 > img {
  height: auto;
  width: 100%;
}
#c07 > h3 {
  background-image: url('../images/t07_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  height: 95px;
  margin-left: -253px;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 506px;
}
#c07 > p {
  color: #BABABA;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.8;
  left: 50%;
  position: relative;
  margin-bottom: 20px;
  margin-left: -300px;
  width: 600px;
}
#c07 > p.t2 {
  margin-top: -80px;
}
#c07 > a {
  border: 1px solid #BBBBBB;
  color: #cccccc;
  font-family: "NotoSans_Medium";
  display: block;
  left: 50%;
  letter-spacing: 0.3em;
  padding: 12px 0;
  position: relative;
  text-align: center;
  font-size: 12px;
  margin-left: -139px;
  margin-top: 30px;
  width: 278px;
}

#c08 {
  height: auto;
  margin-bottom: 60px;
  min-height: auto;
  position: relative;
  z-index: 1;
}
#c08 > h3 {
  background-image: url('../images/t08_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 19px;
  left: 50%;
  margin-bottom: 20px;
  margin-left: -100px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 222px;
}
#c08 > p {
  color: #cccccc;
  font-family: "NotoSans_Light";
  font-size: 16px;
  line-height: 1.6;
  margin-left: -130px;
  left: 50%;
  position: relative;
  text-align: center;
  width: 260px;
}
#c08 > div.gallerys {
  box-sizing: border-box;
  height: 360px;
  margin-top: 30px;
  min-height: 360px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
#c08 > div.gallerys > div.slideBox {
  height: 310px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 1200px;
  z-index: 1;
}
#c08 > div.gallerys > div.slideBox > div {
  background-repeat: no-repeat;
  background-position: left center;
  height: inherit;
  position: absolute;
  top: 0;
  width: 260px;
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox {
  margin-left: 0px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 260px;
  z-index: 2;
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox > p.txt {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  font-family: "NotoSans_Light";
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.3em;
  margin: 10px 0;
  position: relative;
  text-align: center;
  width: 260px;
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox > a.pic {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
  float: right;
  display: block;
  height: 88px;
  font-family: "NotoSans_Medium";
  font-size: 12px;
  line-height: 2em;
  margin-bottom: 0;
  margin-right: 2px;
  overflow: hidden;
  padding: 2em 0;
  position: relative;
  text-align: center;
  width: 88px;
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox > a.mov {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid #CCCCCC;
  display: block;
  float: left;
  height: 88px;
  margin-left: 2px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 158px;
}
#c08 > div.gallerys > div.slideBox > div > div.bg {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  height: 210px;
  min-height: 210px;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 535px;
  z-index: 1;
}
#c08 > div.gallerys > div.slideBox > div.car1 {
  left: 0px;
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.rightbox > p.txt {
  height: 35px;
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.rightbox > a.mov {
  background-image: url('../images/concept_car1_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.bg {
  background-image: url('../images/conceputCar-Slide01_sp.png');
  left: -29px;
}
#c08 > div.gallerys > div.slideBox > div.car2 {
  left: 300px;
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.rightbox > p.txt {
  height: 45px;
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.rightbox > a.mov {
  background-image: url('../images/concept_car2_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.bg {
  background-image: url('../images/conceputCar-Slide02_sp.png');
  left: -39px;
}
#c08 > div.gallerys > div.slideBox > div.car3 {
  left: 600px;
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.rightbox > p.txt {
  height: 45px;
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.rightbox > a.mov {
  background-image: url('../images/concept_car3_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.bg {
  background-image: url('../images/conceputCar-Slide03_sp.png');
  left: -34px;
}
#c08 > div.gallerys > div.local_nav {
  display: none;
}

#c09 {
  border-top: 1px solid #000;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 720px;
  min-height: 720px;
}
#c09 > h3 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 50%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  background-image: url('../images/t09_1_pc.png');
  height: 25px;
  margin-left: -189px;
  margin-top: 70px;
  width: 378px;
}
#c09 > p.t1 {
  color: #FFF;
  font-family: "NotoSans_Medium";
  line-height: 1.6;
  letter-spacing: 0.2em;
  left: 50%;
  position: relative;
  margin-left: 0px;
  margin-top: 130px;
  font-size: 32px;
  max-width: 520px;
  width: 50%;
}
#c09 > p.t2 {
  color: #FFF;
  font-family: "NotoSans_Medium";
  line-height: 1.6;
  margin-top: 20px;
  left: 50%;
  position: relative;
  margin-left: 0px;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: left;
  max-width: 520px;
  width: 50%;
}
#c09 > div.btns {
  box-sizing: border-box;
  margin-bottom: 30px;
  left: 50%;
  overflow: hidden;
  position: relative;
  margin-left: 0px;
  margin-top: 40px;
  max-width: 520px;
  text-align: left;
  width: 50%;
}
#c09 > div.btns > a.mov {
  background-image: url('../images/designTheFuture-mov_btn.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  float: left;
  display: block;
  margin-right: 10px;
  min-height: 90px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  height: 166px;
  width: 296px;
}
#c09 > div.btns > a.recruit {
  background-image: url('../images/designTheFuture-recruit_btn.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  color: #ffffff;
  float: left;
  display: block;
  font-family: "NotoSans_Regular";
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 1.8;
  min-height: 90px;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 166px;
  width: 166px;
}
#c09 > div.btns > a.recruit > span.t {
  display: block;
  position: relative;
  top: 50%;
  line-height: 1.4;
  　　　　　　　　margin-top: -0.5em;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-align: center;
}
#c09 > div.bg {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-image: url('../images/DesignTheFuture-Main.png');
  background-position: center center;
  height: 720px;
}

#c10 {
  border-top: 1px solid #000;
  height: auto;
  min-height: auto;
  position: relative;
  z-index: 1;
}
#c10 > h3 {
  background-image: url('../images/t10_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 50%;
  margin-bottom: 0px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  height: 25px;
  margin-left: -255px;
  margin-top: 180px;
  width: 510px;
}
#c10 > p {
  color: #EAE5F2;
  font-family: "NotoSans_Light";
  font-size: 23px;
  line-height: 1.6;
  margin-bottom: 70px;
  margin-top: 35px;
  position: relative;
  text-align: center;
  width: 100%;
}
#c10 > div.studioBox {
  background-repeat: no-repeat;
  background-position: left bottom;
  display: block;
  height: auto;
  overflow: visible;
  padding: 0;
  position: relative;
  width: 100%;
  left: 50%;
}
#c10 > div.studioBox > ul.btns {
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  display: table;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#c10 > div.studioBox > ul.btns > li {
  background-color: rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  color: #CCCCCC;
  display: table-cell;
  font-family: "NotoSans_Medium";
  font-weight: normal;
  font-size: 15px;
  height: auto;
  line-height: 1.4;
  overflow: hidden;
  padding: 2.5em 0;
  position: relative;
  text-align: center;
  width: 33%;
}
#c10 > div.studioBox > ul.btns > li > span.icon {
  bottom: 1.5rem;
  display: block;
  margin-left: -5px;
  position: absolute;
  left: 50%;
}
#c10 > div.studioBox > ul.btns > li.studio1 {
  width: 33%;
}
#c10 > div.studioBox > ul.btns > li.studio2 {
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  box-sizing: border-box;
  width: 34%;
}
#c10 > div.studioBox > ul.btns > li.studio3 {
  width: 33%;
}
#c10 > div.studioBox > div.detailBox {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: block;
  left: 0;
  position: relative;
  width: 100%;
}
#c10 > div.studioBox > div.detailBox > div {
  padding-bottom: 70px;
}
#c10 > div.studioBox > div.detailBox > div > p {
  font-family: "NotoSans_Medium";
  left: 50%;
  padding-bottom: 15px;
  position: relative;
  font-size: 17px;
  line-height: 3.6em;
  letter-spacing: 0.1em;
  margin-left: -300px;
  padding-top: 70px;
  width: 600px;
}
#c10 > div.studioBox > div.detailBox > div > p.address {
  font-family: "NotoSans_Regular";
  line-height: 1.8;
  font-size: 13px;
  padding-left: 25px;
  padding-top: 0px;
  text-align: left;
}
#c10 > div.studioBox > div.detailBox > div > p.address > span.icon {
  background-image: url('../images/address_icon.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 17px;
  position: absolute;
  width: 12px;
  left: 5px;
  margin-left: 0px;
  top: 2px;
}
#c10 > div.studioBox > div.detailBox > div > a {
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid #BBBBBB;
  color: #BABABA;
  font-family: "NotoSans_Regular";
  display: block;
  left: 50%;
  letter-spacing: 0.3em;
  padding: 1.2em 0;
  position: relative;
  text-align: center;
  font-size: 14px;
  margin-left: -300px;
  margin-top: 15px;
  width: 200px;
}
#c10 > div.studioBox > div.detailBox > div.detail1 {
  display: none;
}
#c10 > div.studioBox > div.detailBox > div.detail2 {
  display: none;
}
#c10 > div.studioBox > div.detailBox > div.detail3 {
  display: none;
}
#c10 > div.detail1 {
  background-image: url('../images/local-01.png');
}
#c10 > div.detail1 > ul.btns > li {
  background-color: rgba(0, 0, 0, 0.8);
}
#c10 > div.detail1 > ul.btns > li > span.icon {
  transform: rotate(0deg);
}
#c10 > div.detail1 > ul.btns > li.studio1 {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}
#c10 > div.detail1 > ul.btns > li.studio1 > span.icon {
  transform: rotate(180deg);
}
#c10 > div.detail1 > div.detailBox {
  border-left: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
}
#c10 > div.detail2 {
  background-image: url('../images/local-02.png');
}
#c10 > div.detail2 > ul.btns > li {
  background-color: rgba(0, 0, 0, 0.8);
}
#c10 > div.detail2 > ul.btns > li > span.icon {
  transform: rotate(0deg);
}
#c10 > div.detail2 > ul.btns > li.studio2 {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}
#c10 > div.detail2 > ul.btns > li.studio2 > span.icon {
  transform: rotate(180deg);
}
#c10 > div.detail2 > div.detailBox {
  border-left: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
}
#c10 > div.detail3 {
  background-image: url('../images/local-03.png');
}
#c10 > div.detail3 > ul.btns > li {
  background-color: rgba(0, 0, 0, 0.8);
}
#c10 > div.detail3 > ul.btns > li > span.icon {
  transform: rotate(0deg);
}
#c10 > div.detail3 > ul.btns > li.studio3 {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}
#c10 > div.detail3 > ul.btns > li.studio3 > span.icon {
  transform: rotate(180deg);
}
#c10 > div.detail3 > div.detailBox {
  border-left: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
}
#c10 > div.bg {
  background-image: url('../images/location-Map.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 669px;
}

#c11 {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#c11 > div.pic {
  box-sizing: border-box;
  float: left;
  height: auto;
  overflow: hidden;
  width: 33.33%;
}
#c11 > div.pic > img {
  height: 100%;
  width: 100%;
  margin: 0 0 1px 1px;
  position: relative;
}
#c11 > div.pic:nth-child(3n+1) > img {
  margin: 0 0 1px 0;
}

#c12 {
  border-top: 1px solid #000;
  height: auto;
  min-height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#c12 > h3 {
  background-image: url('../images/t12_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 50%;
  margin-bottom: 0px;
  margin-top: 75px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  height: 25px;
  margin-left: -148px;
  width: 296px;
}
#c12 > div.banner {
  display: block;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 40px 0 40px -482px;
  left: 50%;
  width: 965px;
}
#c12 > div.banner > a {
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  margin-left: -1px;
  margin-right: 0px;
  display: inline-block;
  height: 252px;
  width: 480px;
}
#c12 > div.banner > a > img {
  height: auto;
  width: 100%;
}
#c12 > div.banner > a:first-child {
  margin-left: 0px;
  margin-right: -1px;
}
#c12 div.columm1 > a {
  margin-left: -240px;
  left: 50%;
  height: 252px;
  width: 480px;
}
#c12 div.columm1 > a:first-child {
  margin-left: -240px;
  margin-right: 0px;
}
#c12 > div.share > h4 {
  font-family: "NotoSans_Regular";
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
}
#c12 > div.share > div.icons {
  margin: 15px 0 40px 0;
  text-align: center;
}
#c12 > div.share > div.icons > a {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 30px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 30px;
}
#c12 > div.share > div.icons > a.tw {
  background-image: url('../images/icon_tw.png');
}
#c12 > div.share > div.icons > a.fb {
  background-image: url('../images/icon_fb.png');
  margin: 0 10px;
}
#c12 > div.share > div.icons > a.gp {
  background-image: url('../images/icon_gp.png');
}

#c13 {
  border-top: 1px solid #000;
  height: auto;
  margin: 80px 0 0 0;
  min-height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#c13 > div.inner {
  background-size: contain;
  margin: 0 auto;
  position: relative;
  background-image: url('../images/designAcrtivity_bg_pc.png');
  height: 540px;
  max-width: 960px;
  width: 100%;
}
#c13 > div.inner > h3 {
  background-image: url('../images/t13_1.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  margin: 0 7%;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  height: 24px;
  left: 50%;
  margin-left: -148px;
  padding: 70px 0 0 0;
  width: 295px;
}
#c13 > div.inner > h4 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
  padding: 0px 0 0px 0;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  background-image: url('../images/t13_2_pc.png');
  height: 65px;
  left: 50%;
  margin: 30px 0 0 -306px;
  width: 613px;
}
#c13 > div.inner > a {
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: auto;
  line-height: 40px;
  margin: 20px auto;
  position: relative;
  width: 20%;
}

#scrollarrow {
  display: none;
}

#modal_dynamicshield, #modal_movie {
  background-color: #000;
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#modal_dynamicshield > div.inner, #modal_movie > div.inner {
  height: 100%;
  margin-top: 0;
  position: relative;
  top: 0;
  width: 100%;
}
#modal_dynamicshield > div.inner > a, #modal_movie > div.inner > a {
  background-image: url('../images/modal_close_icon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 40px;
  overflow: hidden;
  position: absolute;
  left: 95%;
  text-indent: -9999px;
  top: 30px;
  width: 24px;
}

#modal_dynamicshield {
  background-color: rgba(0, 0, 0, 0.7);
}
#modal_dynamicshield > div.inner {
  background-color: black;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}
#modal_dynamicshield > div.inner > div.car2 {
  height: 185px;
  left: 50%;
  margin-left: -450px;
  position: absolute;
  top: 255px;
  width: 252px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
#modal_dynamicshield > div.inner > div.car2 > div {
  background-position: center center;
  background-repeat: no-repeat;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}
#modal_dynamicshield > div.inner > div.car2 > div.car {
  background-image: url('../images/roots_car_2.png');
}
#modal_dynamicshield > div.inner > div.car2 > div.p1 {
  background-image: url('../images/roots_car_2_parts_1.png');
}
#modal_dynamicshield > div.inner > div.car2 > div.p2 {
  background-image: url('../images/roots_car_2_parts_2.png');
}
#modal_dynamicshield > div.inner > div.car2 > div.p3 {
  background-image: url('../images/roots_car_2_parts_3.png');
}
#modal_dynamicshield > div.inner > div.box1 {
  left: 50%;
  margin-left: -470px;
  position: absolute;
  top: 445px;
  width: 280px;
}
#modal_dynamicshield > div.inner > div.box1 > h2 {
  background-image: url('../images/roots_txt_01.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 19px;
  left: 50%;
  margin-left: -87px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 174px;
}
#modal_dynamicshield > div.inner > div.box1 > h3 {
  color: #FFF;
  font-size: 15px;
  left: 50%;
  margin: 15px 0 15px -140px;
  position: relative;
  text-align: center;
  width: 280px;
}
#modal_dynamicshield > div.inner > div.box1 > p {
  color: #BBBBBB;
  font-size: 14px;
  left: 50%;
  line-height: 2.4em;
  margin-left: -140px;
  position: relative;
  width: 280px;
}
#modal_dynamicshield > div.inner > div.car3 {
  height: 184px;
  left: 50%;
  margin-left: 208px;
  position: absolute;
  top: 255px;
  width: 236px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
#modal_dynamicshield > div.inner > div.car3 > div {
  background-position: center center;
  background-repeat: no-repeat;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}
#modal_dynamicshield > div.inner > div.car3 > div.car {
  background-image: url('../images/roots_car_3.png');
}
#modal_dynamicshield > div.inner > div.car3 > div.p1 {
  background-image: url('../images/roots_car_3_parts_1.png');
}
#modal_dynamicshield > div.inner > div.box2 {
  left: 50%;
  margin-left: 188px;
  position: absolute;
  top: 445px;
  width: 280px;
}
#modal_dynamicshield > div.inner > div.box2 > h2 {
  background-image: url('../images/roots_txt_02.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 19px;
  left: 50%;
  margin-left: -103px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 206px;
}
#modal_dynamicshield > div.inner > div.box2 > h3 {
  color: #FFF;
  font-size: 15px;
  left: 50%;
  margin: 15px 0 15px -140px;
  position: relative;
  text-align: center;
  width: 280px;
}
#modal_dynamicshield > div.inner > div.box2 > p {
  color: #BBBBBB;
  font-size: 14px;
  left: 50%;
  line-height: 2.4em;
  margin-left: -140px;
  position: relative;
  width: 280px;
}
#modal_dynamicshield > div.inner > div.box3 {
  left: 50%;
  margin-left: -140px;
  position: absolute;
  top: 178px;
  width: 280px;
}
#modal_dynamicshield > div.inner > div.box3 > h2 {
  background-image: url('../images/roots_txt_03.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 55px;
  left: 50%;
  margin-left: -107px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 0px;
  width: 215px;
}
#modal_dynamicshield > div.inner > div.box3 > p {
  color: #BBBBBB;
  font-size: 14px;
  left: 50%;
  line-height: 2.4em;
  margin-left: -140px;
  position: absolute;
  top: 65px;
  width: 280px;
}
#modal_dynamicshield > div.inner > div.arrow {
  background-image: url('../images/roots_arrow.png');
  background-position: center center;
  background-repeat: no-repeat;
  height: 293px;
  left: 50%;
  margin-left: -409px;
  position: absolute;
  top: 80px;
  width: 818px;
}
#modal_dynamicshield > div.inner > div.car1 {
  height: 271px;
  left: 50%;
  margin-left: -191px;
  position: absolute;
  top: 313px;
  width: 382px;
}
#modal_dynamicshield > div.inner > div.car1 > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
}
#modal_dynamicshield > div.inner > div.car1 > div.car {
  background-image: url('../images/DynamicShield-center.png');
}
#modal_dynamicshield > div.inner > div.car1 > div.p1 {
  background-image: url('../images/dynamicshield_car_center_parts_1.png');
}
#modal_dynamicshield > div.inner > div.car1 > div.p2 {
  background-image: url('../images/dynamicshield_car_center_parts_2.png');
}
#modal_dynamicshield > div.inner > div.car1 > div.p3 {
  background-image: url('../images/dynamicshield_car_center_parts_3.png');
}
#modal_dynamicshield > div.inner > div.car1 > div.p4 {
  background-image: url('../images/dynamicshield_car_center_parts_4.png');
}

#modal_movie > div.inner > iframe {
  border: 1px solid #FFF;
  left: 50%;
  position: absolute;
  top: 50%;
  height: 360px;
  margin-left: -320px;
  margin-top: -180px;
  width: 640px;
}

#bout {
  background-color: #000;
  display: none;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}
