@charset "UTF-8";
/*

  ベースCSS

*/
/* web font */
@font-face {
  font-family: "NotoSans_Light";
  src: url('../fonts/en/NotoSansCJKjp-Light.otf') format('opentype');
}
@font-face {
  font-family: "NotoSans_Regular";
  src: url('../fonts/en/NotoSansCJKjp-Regular.otf') format('opentype');
}
@font-face {
  font-family: "NotoSans_Medium";
  src: url('../fonts/en/NotoSansCJKjp-Medium.otf') format('opentype');
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, img {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

body {
  background-color: #000;
  width: 100%;
  margin: 0;
  height: 100%;
  padding: 0;
  color: #fff;
  font-family: "NotoSans_Regular";
  -webkit-text-size-adjust: 100%;
}

ul, li {
  list-style-position: inside;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

a:active {
  color: #FFF;
  text-decoration: none;
}

a:focus, *:focus {
  outline: none;
}

/* ヘッダー */
header {
  background-color: #FFF;
  border-bottom: 1px solid #ef0041;
  box-sizing: border-box;
  height: 68px;
  overflow: hidden;
  position: relative;
  z-index: 11;
}
header > h1 {
  height: inherit;
  border-bottom: 2px solid #cac9ca;
  box-sizing: border-box;
  padding: 12px 0 0 15px;
  width: 100%;
}
header > h1 > a {
  background-image: url('../images/lg.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 45px;
  overflow: hidden;
  text-indent: -9999px;
  width: 69px;
}
header > p {
  color: #CCCCCC;
  font-size: 1.4rem;
  line-height: 68px;
  position: absolute;
  right: 2.3rem;
  text-align: right;
  top: 0;
  width: 100px;
}
header > p > span {
  color: #000;
  padding: 0 0.2rem;
}
header > p > a,
header > p > a:visited,
header > p > a:hover,
header > p > a:active {
  color: #000;
}

/* フッター */
footer {
  background: #CAC9CA;
  border-top: 1px solid #EF0041;
  bottom: 0;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 11;
}
footer > p.copyright {
  color: #000;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  text-align: center;
  padding: 0.6rem 1rem 0.4rem 0;
}
@media only screen and (min-width: 769px) {
  footer > p.copyright {
    font-size: 1.4rem;
    text-align: right;
  }
}

span.br_pc {
  display: none;
}
@media only screen and (min-width: 769px) {
  span.br_pc {
    display: inline;
  }
}

span.br_sp {
  display: inline;
}
@media only screen and (min-width: 769px) {
  span.br_sp {
    display: none;
  }
}

/* メインコンテナ */
#skrollr-body {
  box-sizing: border-box;
  display: block;
  height: auto;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}
#skrollr-body > nav {
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 68px;
  width: 100%;
  z-index: 99;
}
#skrollr-body > nav > p.head {
  border-bottom: 1px solid #222222;
  box-sizing: border-box;
  cursor: pointer;
  color: #BABABA;
  display: block;
  font-family: "NotoSans_Medium";
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 2rem 2rem;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav > p.head {
    display: none;
  }
}
#skrollr-body > nav > p.head > span.icon {
  background-image: url('../images/nav_icon.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 16px;
  display: block;
  height: 15px;
  position: absolute;
  right: 2.5rem;
  top: 2rem;
  width: 16px;
}
#skrollr-body > nav > p.head > span.open {
  background-image: url('../images/nav_close_icon.png');
}
#skrollr-body > nav > p.head > span.new {
  background-image: url('../images/icon_new.png');
  background-size: contain;
  height: 18px;
  right: 3.5rem;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  width: 35px;
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav > p.head > span.new {
    display: none;
  }
}
#skrollr-body > nav ul {
  display: none;
  height: auto;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav ul {
    display: block;
    height: 50px;
    text-align: center;
  }
}
#skrollr-body > nav ul > li {
  border-bottom: 1px solid #222222;
  box-sizing: border-box;
  display: block;
  font-family: "NotoSans_Medium";
  font-size: 1rem;
  margin: 0 1.5rem;
  position: relative;
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav ul > li {
    border-bottom: none;
    display: inline-block;
    margin: 0 1rem;
    letter-spacing: 0.2rem;
    text-align: center;
  }

  #skrollr-body > nav ul > li.nav-li-new {
    margin: 0 3.5rem 0 1rem;
  }

}
#skrollr-body > nav ul > li > a {
  box-sizing: border-box;
  color: #AAAAAA;
  display: block;
  padding: 2rem 1rem;
  position: relative;
  transition-timing-function: ease-out;
  transition-property: color;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav ul > li > a {
    padding: 0;
    line-height: 49px;
  }
}
#skrollr-body > nav ul > li > a.v {
  color: #FFF;
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav ul > li > a.v {
    border-bottom: 1px solid #FFF;
  }
}
#skrollr-body > nav ul > li > a:hover {
  color: #FFF;
}
#skrollr-body > nav ul > li > span.new {
  background-image: url('../images/icon_new.png');
  background-size: contain;
  display: block;
  height: 18px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  text-indent: -9999px;
  top: 18px;
  width: 35px;
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav ul > li > span.new {
    display: block;
    right: -35px;
    top: 6px;
  }
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav ul > li.underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
  }
}
#skrollr-body > nav ul > li.underline:before {
  display: none;
}
@media only screen and (min-width: 769px) {
  #skrollr-body > nav ul > li.underline:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fff;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
  }
}
#skrollr-body > nav ul > li.underline:hover:before,
#skrollr-body > nav ul > li.underline:focus:before,
#skrollr-body > nav ul > li.underline:active:before {
  right: 0;
}
#skrollr-body > div.bg {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}
#skrollr-body > section {
  box-sizing: border-box;
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}
#skrollr-body > section > article {
  box-sizing: border-box;
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

#intro {
  height: auto;
  min-height: auto;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #intro {
    height: 26400px;
  }
}
#intro #c01 {
  height: 600px;
  overflow: visible;
}
#intro #c01 > div.t01_1 {
  background-image: url('../images/t01_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 77px;
  left: 50%;
  margin-left: -47px;
  margin-top: -108px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 50%;
  width: 94px;
}
@media only screen and (min-width: 769px) {
  #intro #c01 > div.t01_1 {
    height: 115px;
    margin-left: -70px;
    margin-top: -106px;
    width: 140px;
  }
}
#intro #c01 > h2.t01_2 {
  background-image: url('../images/t01_2_sp.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 129px;
  left: 50%;
  margin-left: -108px;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 50%;
  width: 217px;
}
@media only screen and (min-width: 769px) {
  #intro #c01 > h2.t01_2 {
    background-image: url('../images/t01_2_pc.png');
    height: 39px;
    margin-left: -371px;
    margin-top: 50px;
    width: 742px;
  }
}
#intro #c02 {
  height: 250px;
  overflow: visible;
  position: relative;
  top: 0;
  margin-bottom: 50px;
}
@media only screen and (min-width: 769px) {
  #intro #c02 {
    margin-bottom: 0;
    position: fixed;
  }
}
#intro #c02 > p.t02_1 {
  background-image: url('../images/t02_1_en_sp.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  display: block;
  right: 10%;
  margin-top: -55px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 50%;
  width: 181px;
}
@media only screen and (min-width: 769px) {
  #intro #c02 > p.t02_1 {
    background-image: none;
    display: table;
    height: 62px;
    left: 50%;
    margin-left: -210px;
    margin-top: -81px;
    width: 421px;
  }
}
#intro #c02 > p.t02_1 > span {
  background-repeat: no-repeat;
  display: inline;
  position: relative;
  height: 19px;
}
@media only screen and (min-width: 769px) {
  #intro #c02 > p.t02_1 > span {
    background-image: url('../images/t02_1_en_pc.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: table-cell;
    height: 62px;
  }
}
#intro #c02 > p.t02_1 > span.f_1 {
  background-position: 0 0;
  width: 86px;
}
#intro #c02 > p.t02_1 > span.f_2 {
  background-position: -86px 0;
  width: 53px;
}
#intro #c02 > p.t02_1 > span.f_3 {
  background-position: -139px 0;
  width: 59px;
}
#intro #c02 > p.t02_1 > span.f_4 {
  background-position: -198px 0;
  width: 43px;
}
#intro #c02 > p.t02_1 > span.f_5 {
  background-position: -241px 0;
  width: 48px;
}
#intro #c02 > p.t02_1 > span.f_6 {
  background-position: -289px 0;
  width: 77px;
}
#intro #c02 > p.t02_1 > span.f_7 {
  background-position: -366px 0;
  width: 56px;
}
#intro #c02 > p.t02_2 {
  background-image: url('../images/t02_2_en_sp.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 59px;
  display: block;
  right: 10%;
  margin-top: -11px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 50%;
  width: 174px;
}
@media only screen and (min-width: 769px) {
  #intro #c02 > p.t02_2 {
    background-image: none;
    display: table;
    height: 62px;
    left: 50%;
    margin-left: -311px;
    margin-top: 19px;
    width: 623px;
  }
}
#intro #c02 > p.t02_2 > span {
  background-repeat: no-repeat;
  display: inline;
  position: relative;
  height: 23px;
}
@media only screen and (min-width: 769px) {
  #intro #c02 > p.t02_2 > span {
    background-image: url('../images/t02_2_en_pc.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: table-cell;
    height: 62px;
  }
}
#intro #c02 > p.t02_2 > span.f_1 {
  background-position: 0 0;
  width: 54px;
}
#intro #c02 > p.t02_2 > span.f_2 {
  background-position: -54px 0;
  width: 60px;
}
#intro #c02 > p.t02_2 > span.f_3 {
  background-position: -114px 0;
  width: 51px;
}
#intro #c02 > p.t02_2 > span.f_4 {
  background-position: -165px 0;
  width: 47px;
}
#intro #c02 > p.t02_2 > span.f_5 {
  background-position: -212px 0;
  width: 75px;
}
#intro #c02 > p.t02_2 > span.f_6 {
  background-position: -287px 0;
  width: 53px;
}
#intro #c02 > p.t02_2 > span.f_7 {
  background-position: -340px 0;
  width: 64px;
}
#intro #c02 > p.t02_2 > span.f_8 {
  background-position: -404px 0;
  width: 51px;
}
#intro #c02 > p.t02_2 > span.f_9 {
  background-position: -455px 0;
  width: 56px;
}
#intro #c02 > p.t02_2 > span.f_10 {
  background-position: -511px 0;
  width: 50px;
}
#intro #c02 > p.t02_2 > span.f_11 {
  background-position: -561px 0;
  width: 62px;
}
#intro #c02 > div.bg {
  background-image: url('../images/StoryArea-chap01.png');
  background-position: 85% center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: inherit;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: inherit;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  #intro #c02 > div.bg {
    background-image: url('../images/StoryArea-chap01-bg.jpg');
    background-position: center top;
    background-size: cover;
    position: fixed;
  }
}
#intro #c02 > div.bg > img {
  display: none;
  height: 100%;
  position: absolute;
  top: 0px;
  width: auto;
}
@media only screen and (min-width: 769px) {
  #intro #c02 > div.bg > img {
    display: block;
  }
}
#intro #c03 {
  height: 350px;
  overflow: visible;
  position: relative;
  top: 0;
  margin-bottom: 50px;
}
@media only screen and (min-width: 769px) {
  #intro #c03 {
    margin-bottom: 0;
    position: fixed;
  }
}
#intro #c03 > p.t03_1 {
  background-image: url('../images/t03_1_en_sp.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 60px;
  display: block;
  left: 10%;
  margin-top: -2px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 15px;
  width: 217px;
}
@media only screen and (min-width: 769px) {
  #intro #c03 > p.t03_1 {
    background-image: none;
    display: table;
    height: 45px;
    left: 50%;
    margin-left: -366px;
    margin-top: -62px;
    top: 50%;
    width: 733px;
  }
}
#intro #c03 > p.t03_1 > span {
  background-repeat: no-repeat;
  display: inline;
  position: relative;
  height: 47px;
}
@media only screen and (min-width: 769px) {
  #intro #c03 > p.t03_1 > span {
    background-image: url('../images/t03_1_en_pc.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: table-cell;
    height: 45px;
  }
}
#intro #c03 > p.t03_1 > span.f_1 {
  background-position: 0 0;
  width: 53px;
}
#intro #c03 > p.t03_1 > span.f_2 {
  background-position: -53px 0;
  width: 40px;
}
#intro #c03 > p.t03_1 > span.f_3 {
  background-position: -93px 0;
  width: 30px;
}
#intro #c03 > p.t03_1 > span.f_4 {
  background-position: -123px 0;
  width: 40px;
}
#intro #c03 > p.t03_1 > span.f_5 {
  background-position: -163px 0;
  width: 55px;
}
#intro #c03 > p.t03_1 > span.f_6 {
  background-position: -218px 0;
  width: 39px;
}
#intro #c03 > p.t03_1 > span.f_7 {
  background-position: -257px 0;
  width: 40px;
}
#intro #c03 > p.t03_1 > span.f_8 {
  background-position: -297px 0;
  width: 62px;
}
#intro #c03 > p.t03_1 > span.f_9 {
  background-position: -359px 0;
  width: 31px;
}
#intro #c03 > p.t03_1 > span.f_10 {
  background-position: -390px 0;
  width: 49px;
}
#intro #c03 > p.t03_1 > span.f_11 {
  background-position: -439px 0;
  width: 29px;
}
#intro #c03 > p.t03_1 > span.f_12 {
  background-position: -468px 0;
  width: 52px;
}
#intro #c03 > p.t03_1 > span.f_13 {
  background-position: -520px 0;
  width: 30px;
}
#intro #c03 > p.t03_1 > span.f_14 {
  background-position: -550px 0;
  width: 39px;
}
#intro #c03 > p.t03_1 > span.f_15 {
  background-position: -589px 0;
  width: 35px;
}
#intro #c03 > p.t03_1 > span.f_16 {
  background-position: -624px 0;
  width: 46px;
}
#intro #c03 > p.t03_1 > span.f_17 {
  background-position: -670px 0;
  width: 43px;
}
#intro #c03 > p.t03_1 > span.f_18 {
  background-position: -713px 0;
  width: 20px;
}
#intro #c03 > p.t03_2 {
  background-image: url('../images/t03_2_en_sp.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 60px;
  display: block;
  left: 10%;
  margin-top: 79px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 0;
  width: 205px;
}
@media only screen and (min-width: 769px) {
  #intro #c03 > p.t03_2 {
    background-image: none;
    display: table;
    height: 44px;
    left: 50%;
    margin-left: -306px;
    margin-top: 12px;
    top: 50%;
    width: 612px;
  }
}
#intro #c03 > p.t03_2 > span {
  background-repeat: no-repeat;
  display: inline;
  position: relative;
  height: 86px;
}
@media only screen and (min-width: 769px) {
  #intro #c03 > p.t03_2 > span {
    background-image: url('../images/t03_2_en_pc.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: table-cell;
    height: 44px;
  }
}
#intro #c03 > p.t03_2 > span.f_1 {
  background-position: 0 0;
  width: 40px;
}
#intro #c03 > p.t03_2 > span.f_2 {
  background-position: -40px 0;
  width: 32px;
}
#intro #c03 > p.t03_2 > span.f_3 {
  background-position: -72px 0;
  width: 39px;
}
#intro #c03 > p.t03_2 > span.f_4 {
  background-position: -111px 0;
  width: 40px;
}
#intro #c03 > p.t03_2 > span.f_5 {
  background-position: -151px 0;
  width: 48px;
}
#intro #c03 > p.t03_2 > span.f_6 {
  background-position: -199px 0;
  width: 31px;
}
#intro #c03 > p.t03_2 > span.f_7 {
  background-position: -230px 0;
  width: 44px;
}
#intro #c03 > p.t03_2 > span.f_8 {
  background-position: -274px 0;
  width: 44px;
}
#intro #c03 > p.t03_2 > span.f_9 {
  background-position: -318px 0;
  width: 28px;
}
#intro #c03 > p.t03_2 > span.f_10 {
  background-position: -346px 0;
  width: 43px;
}
#intro #c03 > p.t03_2 > span.f_11 {
  background-position: -389px 0;
  width: 37px;
}
#intro #c03 > p.t03_2 > span.f_12 {
  background-position: -426px 0;
  width: 45px;
}
#intro #c03 > p.t03_2 > span.f_13 {
  background-position: -471px 0;
  width: 22px;
}
#intro #c03 > p.t03_2 > span.f_14 {
  background-position: -493px 0;
  width: 47px;
}
#intro #c03 > p.t03_2 > span.f_15 {
  background-position: -540px 0;
  width: 31px;
}
#intro #c03 > p.t03_2 > span.f_16 {
  background-position: -571px 0;
  width: 49px;
}
#intro #c03 > div.bg {
  background-image: url('../images/StoryArea-chap02.png');
  background-position: 20% top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: inherit;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: inherit;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  #intro #c03 > div.bg {
    background-image: url('../images/StoryArea-chap02-bg.jpg');
    background-position: center top;
    background-size: cover;
    position: fixed;
  }
}
#intro #c03 > div.bg > img {
  display: none;
  height: 100%;
  position: absolute;
  top: 0px;
  width: auto;
}
@media only screen and (min-width: 769px) {
  #intro #c03 > div.bg > img {
    display: block;
  }
}
#intro #c04 {
  height: 600px;
  overflow: visible;
  position: relative;
  top: 0;
}
@media only screen and (min-width: 769px) {
  #intro #c04 {
    position: fixed;
  }
}
#intro #c04 > p {
  background-repeat: no-repeat;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
}
@media only screen and (min-width: 769px) {
  #intro #c04 > p {
    top: 50%;
  }
}
#intro #c04 > p.t04_1 {
  background-image: url('../images/t04_1_en_sp.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 27px;
  margin-left: -120px;
  top: 180px;
  width: 241px;
}
@media only screen and (min-width: 769px) {
  #intro #c04 > p.t04_1 {
    background-image: url('../images/t04_1_en_pc.png');
    height: 44px;
    margin-left: -200px;
    margin-top: -100px;
    top: 50%;
    width: 401px;
  }
}
#intro #c04 > p.t04_2 {
  background-image: url('../images/t04_2_en_sp.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 21px;
  margin-left: -134px;
  top: 230px;
  width: 268px;
}
@media only screen and (min-width: 769px) {
  #intro #c04 > p.t04_2 {
    background-image: url('../images/t04_2_en_pc.png');
    height: 35px;
    margin-left: -203px;
    margin-top: -17px;
    top: 50%;
    width: 407px;
  }
}
#intro #c04 > p.t04_3 {
  background-image: url('../images/t04_3_en_sp.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 27px;
  margin-left: -139px;
  top: 280px;
  width: 278px;
}
@media only screen and (min-width: 769px) {
  #intro #c04 > p.t04_3 {
    background-image: url('../images/t04_3_en_pc.png');
    height: 44px;
    margin-left: -257px;
    margin-top: 63px;
    top: 50%;
    width: 515px;
  }
}
#intro #c04 > p.t04_4 {
  background-image: url('../images/t04_4_en_sp.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 72px;
  margin-left: -124px;
  bottom: 30px;
  width: 248px;
}
@media only screen and (min-width: 769px) {
  #intro #c04 > p.t04_4 {
    background-image: url('../images/t04_4_en_pc.png');
    height: 60px;
    margin-left: -331px;
    margin-top: -30px;
    top: 50%;
    width: 663px;
  }
}
#intro #c04 > div.msk {
  background-image: url('../images/StoryArea-chap03_msk_sp.png');
  background-repeat: repeat-x;
  bottom: 0;
  height: 200px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  #intro #c04 > div.msk {
    display: none;
  }
}
#intro #c04 > div.movie {
  background-image: url('../images/StoryArea-chap03_sp.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  height: inherit;
  display: block;
  overflow: visible;
  position: absolute;
  top: 0px;
  width: inherit;
  z-index: -2;
}
@media only screen and (min-width: 769px) {
  #intro #c04 > div.movie {
    position: fixed;
  }
}
#intro #c04 > div.movie #video {
  display: none;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: auto;
}
@media only screen and (min-width: 769px) {
  #intro #c04 > div.movie #video {
    display: block;
  }
}
#intro #c05 {
  height: 600px;
  overflow: visible;
  position: relative;
  top: 0;
}
@media only screen and (min-width: 769px) {
  #intro #c05 {
    position: fixed;
  }
}
#intro #c05 > div.wout {
  background-color: #FFF;
  height: inherit;
  position: absolute;
  top: 0;
  width: inherit;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#intro #c05 > p {
  background-repeat: no-repeat;
  left: 50%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
}
#intro #c05 > p.t05_1 {
  background-image: url('../images/t05_1_en_sp.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 82px;
  margin-left: -110px;
  top: 190px;
  width: 221px;
}
@media only screen and (min-width: 769px) {
  #intro #c05 > p.t05_1 {
    background-image: url('../images/t05_1_en_pc.png');
    height: 80px;
    margin-left: -445px;
    margin-top: -134px;
    top: 40%;
    width: 891px;
  }
}
#intro #c05 > div.bg {
  background-image: url('../images/StoryArea-chap04_sp.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: inherit;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 25px;
  width: inherit;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  #intro #c05 > div.bg {
    background-image: url('../images/StoryArea-chap04-bg.jpg');
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0px;
  }
}

#c06 {
  height: 250px;
  min-height: 200px;
  overflow: visible;
  position: relative;
  top: 0;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c06 {
    height: 350px;
    min-height: 250px;
  }
}
#c06 > p {
  font-family: "NotoSans_Light";
  font-size: 2.4rem;
  letter-spacing: 0rem;
  background-repeat: no-repeat;
  left: 50%;
  line-height: 4rem;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 50%;
}
@media only screen and (min-width: 769px) {
  #c06 > p {
    font-size: 3.2rem;
    letter-spacing: 0.3rem;
    line-height: 1.8;
  }
}
#c06 > p.t06_1 {
  height: 118px;
  margin-left: -150px;
  margin-top: -10px;
  width: 300px;
}
@media only screen and (min-width: 769px) {
  #c06 > p.t06_1 {
    background-image: none;
    height: 137px;
    margin-left: -340px;
    margin-top: -68px;
    width: 680px;
  }
}

#c07 {
  height: auto;
  margin-bottom: 140px;
  min-height: auto;
  position: relative;
  z-index: 1;
}
#c07 > div.head {
  height: auto;
  display: block;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c07 > div.head {
    height: 360px;
    min-height: 360px;
  }
}
#c07 > div.head > img {
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c07 > div.head > img {
    display: none;
  }
}
#c07 > div.head > div.animateBox {
  display: none;
}
@media only screen and (min-width: 769px) {
  #c07 > div.head > div.animateBox {
    display: block;
    position: relative;
  }
}
#c07 > div.head > div.animateBox > div {
  background-position: center top;
  background-repeat: no-repeat;
}
#c07 > div.head > div.animateBox > div.car_left1 {
  background-image: url('../images/DynamicShield-left03.png');
  height: 230px;
  margin-left: -635px;
  left: 50%;
  position: absolute;
  top: 5px;
  width: 274px;
}
#c07 > div.head > div.animateBox > div.car_left2 {
  background-image: url('../images/DynamicShield-left02.png');
  height: 204px;
  margin-left: -500px;
  left: 50%;
  position: absolute;
  top: 19px;
  width: 241px;
}
#c07 > div.head > div.animateBox > div.car_left3 {
  background-image: url('../images/DynamicShield-left01.png');
  height: 230px;
  margin-left: -365px;
  left: 50%;
  position: absolute;
  top: 24px;
  width: 274px;
}
#c07 > div.head > div.animateBox > div.car_right1 {
  background-image: url('../images/DynamicShield-right01.png');
  height: 215px;
  margin-left: 88px;
  left: 50%;
  position: absolute;
  top: 20px;
  width: 276px;
}
#c07 > div.head > div.animateBox > div.car_right2 {
  background-image: url('../images/DynamicShield-right02.png');
  height: 185px;
  margin-left: 248px;
  left: 50%;
  position: absolute;
  top: 12px;
  width: 239px;
}
#c07 > div.head > div.animateBox > div.car_right3 {
  background-image: url('../images/DynamicShield-right03.png');
  height: 162px;
  margin-left: 385px;
  left: 50%;
  position: absolute;
  top: 0px;
  width: 200px;
}
#c07 > div.head > div.animateBox > div.car_center {
  background-image: url('../images/DynamicShield-center.png');
  height: 346px;
  margin-left: -243px;
  left: 50%;
  position: absolute;
  top: 13px;
  width: 486px;
}
#c07 > div.head > div.animateBox > div.parts1 {
  background-image: url('../images/dynamicshield_car_center_parts_1.png');
  height: 346px;
  margin-left: -243px;
  left: 50%;
  position: absolute;
  top: 13px;
  width: 486px;
}
#c07 > div.head > div.animateBox > div.parts2 {
  background-image: url('../images/dynamicshield_car_center_parts_2.png');
  height: 346px;
  margin-left: -243px;
  left: 50%;
  position: absolute;
  top: 13px;
  width: 486px;
}
#c07 > div.head > div.animateBox > div.parts3 {
  background-image: url('../images/dynamicshield_car_center_parts_3.png');
  height: 346px;
  margin-left: -243px;
  left: 50%;
  position: absolute;
  top: 13px;
  width: 486px;
}
#c07 > div.head > div.animateBox > div.parts4 {
  background-image: url('../images/dynamicshield_car_center_parts_4.png');
  height: 346px;
  margin-left: -243px;
  left: 50%;
  position: absolute;
  top: 13px;
  width: 486px;
}
#c07 > div.pic01 {
/*  height: auto;
  display: block;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
  padding: 20px 0;*/
}
@media only screen and (min-width: 769px) {
  #c07 > div.pic01 {
    height: 326px;
    min-height: 360px;
    width: 100%;
    padding: 0 0;
  }
}
#c07 > div.pic01 > img,
#c07 > div.pic01 a > img {
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c07 > div.pic01 > img,
  #c07 > div.pic01 a > img {
/*    display: block;
    margin-left: -476px;
    left: 50%;
    position: relative;
    width: 952px;*/
  }
}
#c07 > h3 {
  background-image: url('../images/t07_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 45px;
  left: 50%;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: -120px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 241px;
}
@media only screen and (min-width: 769px) {
  #c07 > h3 {
    height: 95px;
    margin-left: -253px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 506px;
  }
}
#c07 > p {
  color: #BABABA;
  font-size: 1.4rem;
  margin-bottom: 0;
  margin-left: -40%;
  line-height: 1.8;
  left: 50%;
  position: relative;
  width: 80%;
}
@media only screen and (min-width: 769px) {
  #c07 > p {
    /*margin-bottom: 20px;*/
    margin-left: -300px;
    width: 600px;
    letter-spacing: 0.1rem;
  }
}
#c07 > p.t2 {
  margin-top: 0;
}
@media only screen and (min-width: 769px) {
  #c07 > p.t2 {
    margin-top: -80px;
  }
}
@media only screen and (min-width: 769px) {
  #c07 > a {
    font-size: 1.2rem;
    margin-left: -139px;
    margin-top: 30px;
    width: 278px;
    letter-spacing: 0.3rem;
  }
}

#c08 {
  height: auto;
  margin-bottom: 60px;
  min-height: auto;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c08 {
    margin-bottom: 140px;
  }
}
#c08 > h3 {
  background-image: url('../images/t08_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 19px;
  left: 50%;
  margin-bottom: 20px;
  margin-left: -100px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 222px;
}
@media only screen and (min-width: 769px) {
  #c08 > h3 {
    height: 25px;
    margin-left: -130px;
    width: 300px;
  }
}
#c08 > p {
  color: #cccccc;
  font-family: "NotoSans_Light";
  font-size: 1.6rem;
  line-height: 1.6;
  margin-left: -130px;
  left: 50%;
  letter-spacing: 0.1rem;
  position: relative;
  text-align: center;
  width: 260px;
}
@media only screen and (min-width: 769px) {
  #c08 > p {
    font-size: 2.5rem;
    margin-left: -300px;
    width: 600px;
  }
}
#c08 > div.gallerys {
  box-sizing: border-box;
  height: 360px;
  margin-top: 30px;
  min-height: 360px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys {
    height: 510px;
    margin-bottom: 0px;
    margin-top: 60px;
    min-height: 510px;
  }
}
#c08 > div.gallerys > div.slideBox {
  height: 310px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 1200px;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox {
    height: inherit;
    width: 3080px;
  }
}
#c08 > div.gallerys > div.slideBox > div {
  background-repeat: no-repeat;
  background-position: left center;
  height: inherit;
  position: absolute;
  top: 0;
  width: 260px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div {
    width: 960px;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox {
  margin-left: 0px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 260px;
  z-index: 2;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.rightbox {
    margin-left: 0px;
    left: auto;
    top: 0;
    width: auto;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox > p.txt {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  font-family: "NotoSans_Light";
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.3rem;
  margin: 10px 0;
  position: relative;
  text-align: center;
  width: 260px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.rightbox > p.txt {
    font-size: 4rem;
    letter-spacing: 0.6rem;
    line-height: 4rem;
    margin: 20px 0 30px 0;
    text-align: left;
    width: 296px;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox > a.pic {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
  float: right;
  display: block;
  height: 88px;
  font-family: "NotoSans_Medium";
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 0;
  margin-right: 2px;
  overflow: hidden;
  padding: 2rem 0;
  position: relative;
  text-align: center;
  width: 88px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.rightbox > a.pic {
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    float: none;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    margin-right: 0;
    padding: 0;
    width: 296px;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.rightbox > a.mov {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid #CCCCCC;
  display: block;
  float: left;
  height: 88px;
  margin-left: 2px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 158px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.rightbox > a.mov {
    display: block;
    float: none;
    height: 165px;
    margin-left: 0;
    width: 296px;
  }
}
#c08 > div.gallerys > div.slideBox > div > div.bg {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  height: 210px;
  min-height: 210px;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 535px;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div > div.bg {
    height: 526px;
    min-height: 526px;
    width: 1300px;
  }
}
/*160930追加 car4*/
#c08 > div.gallerys > div.slideBox > div.car4 {
  left: 0px;
}
#c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox > p.txt {
  height: 35px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox > p.txt {
    height: 80px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car4 > div.rightbox > a.mov {
  background-image: url('../images/concept_car4_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car4 > div.bg {
  background-image: url('../images/conceputCar-Slide04_sp.png');
  left: -29px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car4 > div.bg {
    background-image: url('../images/conceputCar-Slide04.png');
    left: -70px;
  }
}
/**/

/*160805追加 car3*/
#c08 > div.gallerys > div.slideBox > div.car3 {
  left: 300px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car3 {
    left: 1060px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.rightbox > p.txt {
  height: 35px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car3 > div.rightbox > p.txt {
    height: 80px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.rightbox > a.mov {
  background-image: url('../images/concept_car0_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car3 > div.bg {
  background-image: url('../images/conceputCar-Slide00_sp.png');
  left: -29px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car3 > div.bg {
    background-image: url('../images/conceputCar-Slide00.png');
    left: -70px;
  }
}
/**/

/*car2*/
#c08 > div.gallerys > div.slideBox > div.car2 {
  left: 600px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car2 {
    left: 2120px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.rightbox > p.txt {
  height: 35px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car2 > div.rightbox > p.txt {
    height: 80px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.rightbox > a.mov {
  background-image: url('../images/concept_car1_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car2 > div.bg {
  background-image: url('../images/conceputCar-Slide01_sp.png');
  left: -29px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car2 > div.bg {
    background-image: url('../images/conceputCar-Slide01.png');
    left: -70px;
  }
}

/*car1*/
#c08 > div.gallerys > div.slideBox > div.car1 {
  left: 900px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car1 {
    left: 3180px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.rightbox > p.txt {
  height: 45px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car1 > div.rightbox > p.txt {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 3rem;
    height: 90px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.rightbox > a.mov {
  background-image: url('../images/concept_car2_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car1 > div.bg {
  background-image: url('../images/conceputCar-Slide02_sp.png');
  left: -39px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car1 > div.bg {
    background-image: url('../images/conceputCar-Slide02.png');
    left: -70px;
  }
}

/*car0*/
#c08 > div.gallerys > div.slideBox > div.car0 {
  left: 1200px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car0 {
    left: 4240px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car0 > div.rightbox > p.txt {
  height: 45px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car0 > div.rightbox > p.txt {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    line-height: 3rem;
    height: 90px;
  }
}
#c08 > div.gallerys > div.slideBox > div.car0 > div.rightbox > a.mov {
  background-image: url('../images/concept_car3_mov.png');
}
#c08 > div.gallerys > div.slideBox > div.car0 > div.bg {
  background-image: url('../images/conceputCar-Slide03_sp.png');
  left: -34px;
}
@media only screen and (min-width: 769px) {
  #c08 > div.gallerys > div.slideBox > div.car0 > div.bg {
    background-image: url('../images/conceputCar-Slide03.png');
    left: -70px;
  }
}


#c09 {
  border-top: 1px solid #000;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c09 {
    height: 720px;
    min-height: 720px;
  }
}
#c09 > h3 {
  background-image: url('../images/t09_2_pc.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 22px;
  left: 0;
  right:0;
  /*margin-bottom: 20px;*/
  /*margin-top: 55px;*/
  /*margin-left: -84px;*/
  margin: 40px auto 35px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 267px;
}
@media only screen and (min-width: 769px) {
  #c09 > h3 {
    background-image: url('../images/t09_2_pc.png');
    height: 25px;
/*    margin-left: -189px;
    margin-top: 70px;*/
    margin: 70px auto 0;
    width: 296px;
  }
}
#c09 > p.t1 {
  color: #FFF;
  font-family: "NotoSans_Medium";
  font-size: 1.7rem;
  line-height: 1.6;
  margin-left: -40%;
  letter-spacing: 0.2rem;
  margin-top: 250px;
  left: 50%;
  position: relative;
  width: 80%;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  #c09 > p.t1 {
    margin-left: 0px;
    margin-top: 50px;
    font-size: 3.2rem;
    max-width: 520px;
    width: 50%;
    text-align: left;
  }
}
#c09 > p.t2 {
  color: #FFF;
  font-family: "NotoSans_Medium";
  font-size: 1.4rem;
  line-height: 1.6;
  margin-left: -130px;
  margin-top: 20px;
  left: 50%;
  position: relative;
  text-align: center;
  width: 260px;
}
@media only screen and (min-width: 769px) {
  #c09 > p.t2 {
    margin-left: 0px;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    text-align: left;
    max-width: 520px;
    width: 50%;
  }
}
#c09 > div.btns {
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-left: -132px;
  margin-top: 30px;
  left: 50%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 264px;
}
@media only screen and (min-width: 769px) {
  #c09 > div.btns {
    margin-left: 0px;
    margin-top: 40px;
    max-width: 520px;
    text-align: left;
    width: 50%;
  }
}
#c09 > div.btns > a.mov {
  background-image: url('../images/designTheFuture-mov_btn.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  float: left;
  display: block;
  height: 90px;
  margin-right: 10px;
  /*max-height: 90px;*/
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 160px;
  margin: 0 auto 20px;
}
@media only screen and (min-width: 769px) {
  #c09 > div.btns > a.mov {
    height: 166px;
    width: 296px;
    background-image: url(../images/designTheFuture-mov_btn.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    float: left;
    display: block;
    height: 90px;
    margin-right: 30px;
    margin-bottom: 10px;
    min-height: 168px;
    overflow: hidden;
    position: relative;
    /*left: 55px;*/
    text-indent: -9999px;
    width: 160px;
  }
}
#c09 > div.btns > a.recruit {
  background-image: url('../images/designTheFuture-recruit_btn.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  color: #ffffff;
  float: right;
  font-family: "NotoSans_Regular";
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  height: 90px;
  line-height: 1.8;
  max-height: 40px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 12px;
  /* margin-top: 0px; */
  width: 90px;
  /* margin-left: 11.2%; */
}
#c09 > div.btns > a.recruit:last-child {
  /*margin-left: 20px;*/
}
@media only screen and (min-width: 769px) {
  #c09 > div.btns > a.recruit {
    height: 166px;
    width: 166px;
    background-image: url('../images/designTheFuture-recruit_btn.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid #BBBBBB;
    color: #ffffff;
    float: left;
    display: block;
    font-family: "NotoSans_Regular";
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    height: 90px;
    line-height: 1.8;
    max-height: 74px;
    overflow: hidden;
    position: relative;
    text-align: center;
    /* left: 44px; */
    width: 90px;
    margin: 0 0 20px 0;
  }
  #c09 > div.btns > a.recruit:last-child {
    margin-left: 0;
  }
}
#c09 > div.btns > a.recruit > span.t {
  display: block;
  margin-top: -1.4rem;
  position: relative;
  top: 50%;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
}
@media only screen and (min-width: 769px) {
  #c09 > div.btns > a.recruit > span.t {
    margin-top: -1.4em;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    text-align: center;
  }
}
#c09 > div.btns.col1-movie {
  margin-left: -81px;
  width: 162px;
}
@media only screen and (min-width: 769px) {
  #c09 > div.btns.col1-movie {
    margin-left: 0px;
    width: 50%;
  }
}
#c09 > div.btns.col1-recruit {
  margin-left: -46px;
  width: 92px;
  width: 162px;
}
@media only screen and (min-width: 769px) {
  #c09 > div.btns.col1-recruit {
    margin-left: 0px;
    width: 50%;
  }
}
#c09 > div.btns.col2 {
  margin-left: -132px;
  width: 264px;
}
@media only screen and (min-width: 769px) {
  #c09 > div.btns.col2 {
    margin-left: 0px;
    width: 50%;
  }
}
#c09 > div.bg {
  background-image: url('../images/designTheFuture-Main_sp.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  height: 380px;
  min-height: 380px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  #c09 > div.bg {
    background-image: url('../images/DesignTheFuture-Main.png');
    background-position: center center;
    height: 720px;
    min-height: 720px;
  }
}

#c10 {
  border-top: 1px solid #000;
  height: auto;
  min-height: auto;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 769px) {
  #c10 {
    padding-bottom: 50px;
    height: 669px;
    min-height: 669px;
  }
}
#c10 > h3 {
  background-image: url('../images/t10_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 12px;
  left: 50%;
  margin-bottom: 0px;
  margin-top: 75px;
  margin-left: -122px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 245px;
}
@media only screen and (min-width: 769px) {
  #c10 > h3 {
    height: 25px;
    margin-left: -255px;
    margin-top: 180px;
    width: 510px;
  }
}
#c10 > p {
  color: #EAE5F2;
  font-family: "NotoSans_Light";
  font-size: 1.7rem;
  margin: 0 auto;
  line-height: 1.6;
  padding: 0 10%;
  margin-bottom: 40px;
  margin-top: 35px;
  position: relative;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c10 > p {
    font-size: 2.3rem;
    left: 50%;
    margin-left: -385px;
    margin-bottom: 70px;
    width: 771px;
  }
}
#c10 > div.studioBox {
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  height: auto;
  overflow: hidden;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox {
    margin-left: -481px;
    left: 50%;
    max-width: 962px;
    min-width: 771px;
  }
}
#c10 > div.studioBox > ul.btns {
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  display: table;
  left: 0;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox > ul.btns {
    border: 1px solid #BBBBBB;
  }
}
#c10 > div.studioBox > ul.btns > li {
  background-color: rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
  color: #CCCCCC;
  display: table-cell;
  font-family: "NotoSans_Medium";
  font-weight: normal;
  font-size: 1.2rem;
  height: auto;
  line-height: 1.4;
  overflow: hidden;
  padding: 2rem 0 4rem 0;
  position: relative;
  text-align: center;
  width: 33%;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox > ul.btns > li {
    letter-spacing: 0.1rem;
    padding: 2.5rem 0;
  }
}
#c10 > div.studioBox > ul.btns > li > span.icon {
  bottom: 1.5rem;
  display: block;
  margin-left: -5px;
  position: absolute;
  left: 50%;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox > ul.btns > li > span.icon {
    bottom: auto;
    display: inline-block;
    margin-left: 1.5rem;
    position: relative;
    left: auto;
  }
}
#c10 > div.studioBox > ul.btns > li.studio1 {
  width: 33%;
}
#c10 > div.studioBox > ul.btns > li.studio2 {
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  box-sizing: border-box;
  width: 34%;
}
#c10 > div.studioBox > ul.btns > li.studio3 {
  width: 33%;
}
#c10 > div.studioBox > div.detailBox {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: block;
  position: relative;
  width: 100%;
}
#c10 > div.studioBox > div.detailBox > div {
  padding-bottom: 70px;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox > div.detailBox > div {
    width: inherit;
  }
}
#c10 > div.studioBox > div.detailBox > div > p {
  font-family: "NotoSans_Medium";
  font-size: 1.4rem;
  left: 50%;
  line-height: 1.8;
  padding-bottom: 15px;
  letter-spacing: 0.1rem;
  margin-left: -40%;
  padding-top: 40px;
  position: relative;
  width: 80%;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox > div.detailBox > div > p {
    font-size: 1.7rem;
    line-height: 3.6rem;
    letter-spacing: 0.1rem;
    margin-left: -300px;
    padding-top: 70px;
    width: 600px;
  }
}
#c10 > div.studioBox > div.detailBox > div > p.address {
  font-family: "NotoSans_Regular";
  font-size: 1.1rem;
  line-height: 1.8;
  padding-top: 20px;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox > div.detailBox > div > p.address {
    font-size: 1.3rem;
    padding-left: 25px;
    padding-top: 0px;
    text-align: left;
  }
}
#c10 > div.studioBox > div.detailBox > div > p.address > span.icon {
  background-image: url('../images/address_icon.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 17px;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  top: 0;
  width: 12px;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox > div.detailBox > div > p.address > span.icon {
    left: 5px;
    margin-left: 0px;
    top: 2px;
  }
}
#c10 > div.studioBox > div.detailBox > div > a {
  background-color: rgba(0, 0, 0, 0.45);
  border: 1px solid #BBBBBB;
  color: #BABABA;
  font-family: "NotoSans_Regular";
  font-size: 1.2rem;
  display: block;
  left: 50%;
  letter-spacing: 0.05rem;
  margin-left: -130px;
  padding: 1.2rem 0;
  position: relative;
  text-align: center;
  width: 260px;
}
@media only screen and (min-width: 769px) {
  #c10 > div.studioBox > div.detailBox > div > a {
    font-size: 1.4rem;
    margin-left: -300px;
    margin-top: 15px;
    width: 200px;
  }
}
#c10 > div.studioBox > div.detailBox > div.detail1 {
  display: none;
}
#c10 > div.studioBox > div.detailBox > div.detail2 {
  display: none;
}
#c10 > div.studioBox > div.detailBox > div.detail3 {
  display: none;
}
#c10 > div.detail1 {
  background-image: url('../images/local-01.png');
}
#c10 > div.detail1 > ul.btns > li {
  background-color: rgba(0, 0, 0, 0.8);
}
#c10 > div.detail1 > ul.btns > li > span.icon {
  transform: rotate(0deg);
}
#c10 > div.detail1 > ul.btns > li.studio1 {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}
#c10 > div.detail1 > ul.btns > li.studio1 > span.icon {
  transform: rotate(180deg);
}
@media only screen and (min-width: 769px) {
  #c10 > div.detail1 > div.detailBox {
    border-left: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
  }
}
#c10 > div.detail2 {
  background-image: url('../images/local-02.png');
}
#c10 > div.detail2 > ul.btns > li {
  background-color: rgba(0, 0, 0, 0.8);
}
#c10 > div.detail2 > ul.btns > li > span.icon {
  transform: rotate(0deg);
}
#c10 > div.detail2 > ul.btns > li.studio2 {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}
#c10 > div.detail2 > ul.btns > li.studio2 > span.icon {
  transform: rotate(180deg);
}
@media only screen and (min-width: 769px) {
  #c10 > div.detail2 > div.detailBox {
    border-left: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
  }
}
#c10 > div.detail3 {
  background-image: url('../images/local-03.png');
}
#c10 > div.detail3 > ul.btns > li {
  background-color: rgba(0, 0, 0, 0.8);
}
#c10 > div.detail3 > ul.btns > li > span.icon {
  transform: rotate(0deg);
}
#c10 > div.detail3 > ul.btns > li.studio3 {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
}
#c10 > div.detail3 > ul.btns > li.studio3 > span.icon {
  transform: rotate(180deg);
}
@media only screen and (min-width: 769px) {
  #c10 > div.detail3 > div.detailBox {
    border-left: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
  }
}
#c10 > div.bg {
  background-image: url('../images/location-Map.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  height: 300px;
  min-height: 300px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  #c10 > div.bg {
    height: 669px;
    min-height: 669px;
  }
}

#c11 {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#c11 > div.pic {
  box-sizing: border-box;
  float: left;
  height: auto;
  overflow: hidden;
  width: 25%;
}
#c11 > div.pic > img {
  height: 100%;
  width: 100%;
  padding-bottom: 1px;
  margin: 0 0 0 1px;
  position: relative;
}
@media only screen and (min-width: 769px) {
  #c11 > div.pic {
    cursor: default;
  }
}
#c11 > div.pic:nth-child(3n+1) > img {
  margin: 0 0 0 1px;
}
#c11 > div.pic:nth-child(4n+1) {
  margin: 0 0 0 0;
}

#c12 {
  border-top: 1px solid #000;
  height: auto;
  min-height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#c12 > h3 {
  background-image: url('../images/t12_1.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 19px;
  left: 50%;
  margin-bottom: 0px;
  margin-top: 75px;
  margin-left: -115px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 230px;
}
@media only screen and (min-width: 769px) {
  #c12 > h3 {
    height: 25px;
    margin-left: -148px;
    width: 296px;
  }
}
#c12 > div.banner {
  display: block;
  height: auto;
  margin: 20px 0 40px 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c12 > div.banner {
    margin: 40px 0 40px -482px;
    left: 50%;
    width: 965px;
  }
}
#c12 > div.banner > a {
  display: block;
  height: auto;
  margin-bottom: 1px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c12 > div.banner > a {
    margin-bottom: 0;
    margin-left: -1px;
    margin-right: 0px;
    display: inline-block;
    height: 252px;
    width: 480px;
  }
}
#c12 > div.banner > a > img {
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c12 > div.banner > a:first-child {
    margin-left: 0px;
    margin-right: -1px;
  }
}
@media only screen and (min-width: 769px) {
  #c12 div.columm1 > a {
    margin-left: -240px;
    left: 50%;
    height: 252px;
    width: 480px;
  }
}
@media only screen and (min-width: 769px) {
  #c12 div.columm1 > a:first-child {
    margin-left: -240px;
    margin-right: 0px;
  }
}
#c12 > div.share > h4 {
  font-family: "NotoSans_Regular";
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  text-align: center;
  width: 100%;
}
#c12 > div.share > div.icons {
  margin: 15px 0 40px 0;
  text-align: center;
}
@media only screen and (min-width: 769px) {
  #c12 > div.share > div.icons {
    margin: 15px 0 50px 0;
  }
}
#c12 > div.share > div.icons > a {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 30px;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 30px;
}
@media only screen and (min-width: 769px) {
  #c12 > div.share > div.icons > a {
    height: 40px;
    width: 40px;
  }
}
#c12 > div.share > div.icons > a.tw {
  background-image: url('../images/icon_tw.png');
}
#c12 > div.share > div.icons > a.fb {
  background-image: url('../images/icon_fb.png');
  margin: 0 10px;
}
@media only screen and (min-width: 769px) {
  #c12 > div.share > div.icons > a.fb {
    margin: 0 17px 0 15px;
  }
}
#c12 > div.share > div.icons > a.gp {
  background-image: url('../images/icon_gp.png');
}

#c13 {
  border-top: 1px solid #000;
  height: auto;
  margin: 80px 0 0 0;
  min-height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#c13 > div.inner {
  background-image: url('../images/designAcrtivity_bg_sp.png');
  background-size: contain;
  height: 520px;
  margin: 0 auto;
  position: relative;
  width: 560px;
}
@media only screen and (min-width: 769px) {
  #c13 > div.inner {
    background-image: url('../images/designAcrtivity_bg_pc.png');
    height: 540px;
    max-width: 960px;
    width: 100%;
  }
}
#c13 > div.inner > h3 {
  background-image: url('../images/t13_1.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 17%;
  left: 0;
  margin: 0 7%;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 86%;
}
@media only screen and (min-width: 769px) {
  #c13 > div.inner > h3 {
    height: 25px;
    left: 50%;
    margin-left: -157px;
    padding: 70px 0 0 0;
    width: 314px;
  }
}
#c13 > div.inner > h4 {
  background-image: url('../images/t13_2_sp.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 25%;
  left: 0;
  margin: 0 0%;
  overflow: hidden;
  padding: 0px 0 0px 0;
  position: relative;
  text-align: center;
  text-indent: -9999px;
  width: 100%;
}
@media only screen and (min-width: 769px) {
  #c13 > div.inner > h4 {
    background-image: url('../images/t13_2_pc.png');
    height: 65px;
    left: 50%;
    margin: 30px 0 0 -308px;
    width: 616px;
  }
}
#c13 > div.inner > a {
  border: 1px solid #CCCCCC;
  bottom: 40px;
  color: #CCCCCC;
  display: block;
  font-size: 1.4rem;
  margin: 0 5%;
  line-height: 70px;
  position: absolute;
  text-align: center;
  width: 90%;
}
@media only screen and (min-width: 769px) {
  #c13 > div.inner > a {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: auto;
    line-height: 40px;
    margin: 20px auto;
    position: relative;
    width: 20%;
  }
}

#scrollarrow {
  top: 50%;
  height: 50px;
  display: none;
  left: 50%;
  margin-left: -25px;
  margin-top: 25%;
  position: fixed;
  width: 50px;
  z-index: 12;
}
#scrollarrow > p {
  cursor: pointer;
  display: block;
  height: 50px;
  margin-top: -25px;
  position: relative;
  width: 50px;
  border: 1px solid #BBB;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
#scrollarrow > p span {
  position: absolute;
  left: 20px;
  top: 0;
  width: 8px;
  height: 8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s 2;
  animation: sdb 2s 2;
  opacity: 1;
  box-sizing: border-box;
}
#scrollarrow > p span:nth-of-type(1) {
  top: 12px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#scrollarrow > p span:nth-of-type(2) {
  top: 18px;
  -webkit-animation-delay: .25s;
  animation-delay: .25s;
}
#scrollarrow > p span:nth-of-type(3) {
  top: 24px;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes sdb {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#modal_dynamicshield, #modal_movie {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#modal_dynamicshield > div.inner, #modal_movie > div.inner {
  height: 100%;
  margin-top: 0;
  position: relative;
  top: 0;
  width: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media only screen and (min-width: 769px) {
  #modal_dynamicshield > div.inner, #modal_movie > div.inner {
    height: 700px;
    margin-top: -350px;
    position: relative;
    top: 50%;
    width: 100%;
  }
}
#modal_dynamicshield > div.inner > a, #modal_movie > div.inner > a {
  background-image: url('../images/modal_close_icon.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  overflow: hidden;
  position: absolute;
  right: 30px;
  text-indent: -9999px;
  top: 30px;
  width: 24px;
}

#modal_dynamicshield > div.inner div.box1 > p {
  color: #BBBBBB;
  font-size: 1.4rem;
  left: 50%;
  line-height: 2.4rem;
  margin-left: -140px;
  position: relative;
  width: 265px;
}

#modal_dynamicshield > div.inner div.box2 > p {
  color: #BBBBBB;
  font-size: 1.4rem;
  left: 50%;
  line-height: 2.4rem;
  margin-left: -140px;
  position: relative;
  width: 300px;
}

#modal_dynamicshield > div.inner div.box3 > p {
  color: #BBBBBB;
  font-size: 1.4rem;
  left: 50%;
  line-height: 2.4rem;
  margin-left: -145px;
  position: absolute;
  top: 65px;
  width: 290px;
}

#modal_movie > div.inner > iframe {
  border: 1px solid #FFF;
  height: 147px;
  left: 50%;
  margin-left: -130px;
  margin-top: -73px;
  position: absolute;
  top: 50%;
  width: 260px;
}
@media only screen and (min-width: 650px) {
  #modal_movie > div.inner > iframe {
    height: 360px;
    margin-left: -320px;
    margin-top: -180px;
    width: 640px;
  }
}

#modal_pic {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  min-height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#modal_pic > div.inner {
  height: 100%;
  margin-top: 0;
  position: relative;
  top: 0;
  width: 100%;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#modal_pic > div.inner > div.pics {
  height: inherit;
  left: 30px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 260px;
  z-index: 1;
}
#modal_pic > div.inner > div.pics > div {
  float: left;
  height: inherit;
  overflow: visible;
  position: relative;
  top: 0;
}
#modal_pic > div.inner > div.pics > div > img {
  display: block;
  height: auto;
  position: absolute;
  left: 30px;
  top: 0;
  width: 100%;
}
#modal_pic > div.inner > a {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  z-index: 2;
}
#modal_pic > div.inner > a.prev {
  background-color: rgba(0, 0, 0, 0.4);
  height: 200px;
  margin-top: -100px;
  left: 0px;
  top: 50%;
  width: 40px;
}
#modal_pic > div.inner > a.prev > span {
  background-image: url('../images/arrowleft_icon.png');
  background-position: center center;
  background-size: 31px;
  display: block;
  height: 31px;
  margin-top: -15px;
  position: absolute;
  right: 4px;
  top: 50%;
  width: 31px;
}
#modal_pic > div.inner > a.next {
  background-color: rgba(0, 0, 0, 0.4);
  height: 200px;
  margin-top: -100px;
  right: 0px;
  top: 50%;
  width: 40px;
}
#modal_pic > div.inner > a.next > span {
  background-image: url('../images/arrowright_icon.png');
  background-position: center center;
  background-size: 31px;
  display: block;
  height: 31px;
  margin-top: -15px;
  position: absolute;
  left: 4px;
  top: 50%;
  width: 31px;
}
#modal_pic > div.inner > a.close {
  background-image: url('../images/modal_close_icon.png');
  background-position: center center;
  background-size: 24px;
  display: block;
  height: 54px;
  right: 15px;
  top: 15px;
  width: 54px;
}

#bout {
  background-color: #000;
  display: none;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.scaleIn {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.scaleOut {
  -moz-transform: scale(0.1, 0.1);
  -ms-transform: scale(0.1, 0.1);
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
}

/*

  ローダーCSS

*/
#loader {
  background: #000;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}
#loader > div.logo {
  background-image: url('../images/t01_1.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 77px;
  left: 50%;
  margin-left: -47px;
  margin-top: -68px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-indent: -9999px;
  top: 50%;
  width: 94px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
@media only screen and (min-width: 769px) {
  #loader > div.logo {
    height: 115px;
    margin-left: -70px;
    margin-top: -64px;
    width: 140px;
  }
}
#loader .throbber {
  top: 50%;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: 25%;
  position: absolute;
  width: 50px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
#loader .throbber:after {
  margin-top: -27px;
  display: block;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: rotate 0.6s linear infinite;
  -moz-animation: rotate 0.6s linear infinite;
  -ms-animation: rotate 0.6s linear infinite;
  -o-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border-top: 1px solid #444;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #444;
  border-right: 1px solid #fff;
  content: '';
  opacity: 1;
}
#loader .indi {
  display: block;
  height: 50px;
  margin-top: -25px;
  position: relative;
  width: 53px;
  color: #fff;
  font-family: "NotoSans_Medium";
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 46px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
@-o-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
.btn_pt10 {
  padding-top: 10px;
}
