﻿body {
font-family:"ＭＳ Ｐゴシック", "Osaka", sans-serif;
/*font-family:Verdana, 'ＭＳ Ｐゴシック', Osaka, Arial, sans-serif;*/
font-size:13px;
/* IE */ 
* font-size:small; 
color:#151515;
background:#fff;
} 
html>/**/body {  
font-size:small\9;  
}  


#subContents #localNavigation a {
font-size:85%;
}

#hierarchical_2nd h2 {
font-size:116%;
}

h2.normal {
font-size:123.1%;
}

.subLinks {
line-height:1.7;
font-size:85%;
}

h1 {
font-size:138.5%;
}

sup, sub {
font-size:85%;
}

#header,#footer,
#crumb,
.pagetopLink_line1 a,
.pagetopLink {
font-size:85%;
}
.notes,
.notesArea p,
.notesArea li { 
font-size:85%;
line-height:1.5;
}

.home #releaseBlock dt,
.home #linkArea {
font-size:77%;
}
.home #releaseBlock dd,
.home #relatedLinkArea {
font-size:85%;
}