#SmartphoneButton {
	width: 950px;
	margin: 20px auto 40px;
}
#SmartphoneButton a {
	display: block;
	line-height: 1;
	padding: 30px 0;
	border: 1px solid #7d7d7d;
	border-radius: 6px;
	color: #333;
	font-size: 36px;
	text-align: center;
	text-decoration: none;
	background-color: #f0f0f0;
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #D4D4D4 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #D4D4D4 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #D4D4D4 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #D4D4D4 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #D4D4D4 100%);
}