﻿@charset "utf-8";
/* =========================================================
　◆　Responsive TOP PAGE CSS
========================================================= */

/* screens default
***************************************/
.SP { display:none; }
.SP_inline { display:none; }
.PC { display:block; }
.PC_inline { display:inline; }
.PC_absolute { position:absolute; }

/* screens smaller than 1440
***************************************/
@media screen and (max-width: 1440px){


}

/* screens smaller than 980
***************************************/
@media screen and (max-width: 980px){
body.tablet #Cont .boxstyle_01 .imgstyle_02 { background-position:90% 0; }
body.tablet #Cont .boxstyle_02 .imgstyle_02 { background-position:65% 0; }

}

/* screens smaller than 768
**************************************/
@media screen and (max-width: 767px){

.wrapper { width:100%;}
.SP { display:block; }
.SP_inline { display:inline; }
.PC { display:none; }
.PC_inline { display:none; }
.PC_absolute { position:static; }

#Mainvis { width:100%; height:30%; -webkit-box-shadow: 0px 2px 4px rgba(51,51,51,0.5); box-shadow: 0px 2px 4px rgba(51,51,51,0.5); position: relative; z-index: 10; }
#Mainvis #Mainvis_inner { width:100%;}
#Mainvis #Mainvis_inner #Mainvis_bg { background:none; width:100%; position:relative; height:auto;}
#Mainvis #Mainvis_inner .imgstyle_01 img { margin:0 auto;}
#Mainvis #Mainvis_inner .txtarea_01 { width:100%; position:static; margin:0; background:#EEEEEE;}
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_01 { font-size:45px; text-align:center; padding: 2.85% 0 5%; line-height:0.9; color:#333333;}
#Mainvis #Mainvis_inner .txtarea_01 .txtarea_01_inner { display: block; width:90.8%; float:none; padding:0 4.6% 7.75%!important; margin:0 !important; text-shadow: none;}
#Mainvis #Mainvis_inner .txtarea_01 .car_sub { font-size:18px; text-align:center; padding: 7px 0 20px; line-height:1.0; color:#333333;}
#Mainvis #Mainvis_inner .txtarea_01 .titstyle_02 { font-size:14px; text-align:center; padding-top: 8%;}
#Mainvis #Mainvis_inner .txtarea_01 p { width:100%; font-size:16px; color: #868686; display:block; line-height:1.0; margin-bottom:20px; font-weight:normal; line-height:22.5px}
#Mainvis #Mainvis_inner .txtarea_01 .sp_btnstyle_02 { display:block; width:114px; margin:0 auto;}
#Mainvis #Mainvis_inner .txtarea_01 .btnstyle_02 { display:none;}
#Mainvis #Mainvis_inner .btnstyle_01 { display:none;}

#Cont .boxstyle_01 .txtarea_01,
#Cont .boxstyle_02 .txtarea_01,
#Cont .boxstyle_03 .txtarea_01,
#Cont .boxstyle_04 .txtarea_01,
#Cont .boxstyle_05 .txtarea_01 { background:#FFF; position:static; margin:0 !important; padding:0 !important; width:100% !important; clear:both;}
#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner,
#Cont .boxstyle_05 .txtarea_01 .txtarea_01_inner { display: block; width:90.8%; float:none; padding:23px 4.6% 18.75%!important; margin:0 !important; text-shadow:none; }
#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_02 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_03 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_04 .txtarea_01 .txtarea_01_inner p,
#Cont .boxstyle_05 .txtarea_01 .txtarea_01_inner p { color: #868686;}
#Cont .boxstyle_01 .txtarea_01 .titstyle_01,
#Cont .boxstyle_02 .txtarea_01 .titstyle_01,
#Cont .boxstyle_03 .txtarea_01 .titstyle_01,
#Cont .boxstyle_04 .txtarea_01 .titstyle_01,
#Cont .boxstyle_05 .txtarea_01 .titstyle_01 { font-size:36px !important; text-align:center; padding:0; line-height:1.0; color:#333333; margin-bottom: 9px;}
#Cont .boxstyle_01 .btnstyle_01 { display:none;}
#Cont .boxstyle_01 .txtarea_01 .titstyle_02 { font-size:21px; line-height:1.0; margin-bottom:15px;}
.sp_img_01 { margin-bottom:15px;}
.sp_img_01 img { width:100%;}

#Cont .boxstyle_01 .imgstyle_02,
#Cont .boxstyle_02 .imgstyle_02,
#Cont .boxstyle_03 .imgstyle_02,
#Cont .boxstyle_04 .imgstyle_02,
#Cont .boxstyle_05 .imgstyle_02 { background:none; height:auto;}

#Mainvis #Mainvis_inner .sp_imgstyle_01,
#Cont .boxstyle_01 .imgstyle_02 img,
#Cont .boxstyle_02 .imgstyle_02 img,
#Cont .boxstyle_03 .imgstyle_02 img,
#Cont .boxstyle_04 .imgstyle_02 img,
#Cont .boxstyle_05 .imgstyle_02 img,
#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner .sp_img_01 { display:block;}
#Cont .boxstyle_01 .sp_btnstyle_02,
#Cont .boxstyle_02 .sp_btnstyle_02,
#Cont .boxstyle_03 .sp_btnstyle_02,
#Cont .boxstyle_04 .sp_btnstyle_02,
#Cont .boxstyle_05 .sp_btnstyle_02 { display:block; width:114px; margin:0 auto;}

#Mainvis #Mainvis_inner .sp_imgstyle_01 img,
#Cont .boxstyle_01 .imgstyle_02 img,
#Cont .boxstyle_02 .imgstyle_02 img,
#Cont .boxstyle_03 .imgstyle_02 img,
#Cont .boxstyle_04 .imgstyle_02 img,
#Cont .boxstyle_05 .imgstyle_02 img,
#Cont .boxstyle_01 .txtarea_01 .txtarea_01_inner .sp_img_01 { width:100%;}
#Cont .border-note { width: 90%; padding: 10px; line-height: 22.5px; margin: 0 auto 30px;}

/* #Mainvis  { overflow: hidden;} */
#Mainvis_bg .sp_imgstyle_01 { overflow: hidden; background: #000; }
#Mainvis #Mainvis_inner .sp_imgstyle_01 img {
  -moz-animation: fadein 2.0s ease-in forwards normal;
  -webkit-animation: fadein 2.0s ease-in forwards normal;
  -o-animation: fadein 2.0s ease-in forwards normal;
  -ms-animation: fadein 2.0s ease-in forwards normal;
  animation: fadein 2.0s ease-in forwards normal;
}

@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#Cont .boxstyle_01 .img_01,
#Cont .boxstyle_01 .btnstyle_02,
#Cont .boxstyle_02 .btnstyle_02,
#Cont .boxstyle_03 .btnstyle_02,
#Cont .boxstyle_04 .btnstyle_02,
#Cont .boxstyle_05 .btnstyle_02 { display:none;}

/* header fixed */
#Mainvis { padding-top: 50px; }

/* old_android */
.old_android #Mainvis { padding-top: 0; }

}
